<template>
    <resource-dashboard
        :resourceName="resourceName"
        :viaResource="viaResource"
        :viaResourceId="viaResourceId"
        :viaRelationship="viaRelationship"
        :relationshipType="relationshipType"
        :field="field">
        <template v-slot:resource="props">
            <div class="flex items-center text-sm">
                <div class="px-3">
                    <span class="mdi mdi-domain text-4xl"></span>
                </div>
                <div class="flex-1 px-3 leading-normal">
                    <strong>{{ $attributeValue(props.resource, 'name') }}</strong><br>
                </div>
            </div>
        </template>
    </resource-dashboard>
</template>
<script>
    import ResourceDashboard from "../../components/ResourceDashboard";

    export default {
        components: {ResourceDashboard},

        props: {
            field: {
                type: Object,
            },
            resourceName: {
                type: String,
                required: true,
            },
            viaResource: {
                default: '',
            },
            viaResourceId: {
                default: '',
            },
            viaRelationship: {
                default: '',
            },
            relationshipType: {
                type: String,
                default: '',
            },
            disablePagination: {
                type: Boolean,
                default: false,
            },
        },
    }
</script>
