<template>
    <default-field :field="field" :errors="errors" :full-width-content="true">
        <template slot="field">
            <query-builder
                :id="field.name"
                class="w-full"
                :rules="field.rules"
                :options="field.options"
                :labels="field.labels"
                :styled="false"
                v-model="query"/>
        </template>
    </default-field>
</template>

<script>
import { FormField, HandlesValidationErrors } from 'laravel-nova'
import QueryBuilder from "./QueryBuilder";"./QueryBuilder";

export default {
    components: {QueryBuilder},

    mixins: [FormField, HandlesValidationErrors],

    props: ['resourceName', 'resourceId', 'field'],

    data: () => ({
        query: [],
    }),

    watch: {
        query: {
            handler(value) {
                this.handleChange(value);
            },
            deep: true,
        }
    },

    methods: {
        /*
         * Set the initial, internal value for the field.
         */
        setInitialValue() {
            if (this.field.value) {
                this.query = JSON.parse(this.field.value);
            }
        },

        /**
         * Fill the given FormData object with the field's internal value.
         */
        fill(formData) {
            formData.append(this.field.attribute, this.value || '')
        },

        /**
         * Update the field's internal value.
         */
        handleChange(value) {
            this.value = JSON.stringify(value);
        },
    },
}
</script>
