<template>
  <div class="vqb-rule">
    <div class="flex items-center justify-between">
      <label class="inline-block text-80 leading-tight">{{ rule.label }}</label>

      <select
          class="form-control form-select"
          v-if="typeof rule.operands !== 'undefined'"
          v-model="query.selectedOperand">
        <option v-for="operand in rule.operands">{{ operand }}</option>
      </select>

    <div class="px-4" v-if="options.enableOperators && typeof rule.operators !== 'undefined' && rule.operators.length > 1">
      <select
          class="form-control form-select"
          v-model="query.selectedOperator">
        <option v-for="operator in rule.operators" v-bind:value="operator">
          {{ __(operator) }}
        </option>
      </select>
    </div>
        <div class="px-4" v-if="rule.inputType === 'text' || rule.inputType === 'number' || rule.inputType === 'date'" >

      <input class="w-full form-control form-input form-input-bordered" v-if="rule.inputType === 'text'" type="text" v-model="query.value" :placeholder="labels.textInputPlaceholder">
      <input class="w-full form-control form-input form-input-bordered" v-if="rule.inputType === 'number'" type="number" v-model="query.value">
      <input class="w-full form-control form-input form-input-bordered" v-if="rule.inputType === 'date'" type="date" v-model="query.value">
        </div>
      <template v-if="isCustomComponent">
        <component :value="query.value" @input="updateQuery" :is="rule.component"></component>
      </template>

      <div v-if="rule.inputType === 'checkbox'">
        <label class="px-2 inline-flex items-center text-80 leading-tight" v-for="choice in rule.choices">
          <input class="checkbox mr-2" type="checkbox" :value="choice.value" v-model="query.value"> {{ choice.label }}
        </label>
      </div>

      <div class="radio" v-if="rule.inputType === 'radio'">
        <label class="px-2" v-for="choice in rule.choices">
          <input type="radio" :value="choice.value" v-model="query.value"> {{ choice.label }}
        </label>
      </div>

      <select
        class="form-control form-select ml-3"
        v-if="rule.inputType === 'select'"
        :multiple="rule.type === 'multi-select'"
        v-model="query.value">

        <template v-for="(option, option_key) in selectOptions">
          <option v-if="!Array.isArray(option)" :value="option.value">
            {{ option.label }}
          </option>
          <optgroup v-if="Array.isArray(option)" :label="option_key">
            <option v-for="sub_option in option" :value="sub_option.value">{{ sub_option.label }}</option>
          </optgroup>
        </template>

      </select>
      <input data-title="notesInput" class="mx-1 w-full form-control form-input form-input-bordered" v-model="query.notes" :placeholder="labels.noteInputPlaceholder">
      <button type="button" class="inline-flex appearance-none cursor-pointer text-70 hover:text-primary" @click="remove" :title="labels.removeRule">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" aria-labelledby="delete" role="presentation" class="fill-current"><path fill-rule="nonzero" d="M6 4V2a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2h5a1 1 0 0 1 0 2h-1v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V6H1a1 1 0 1 1 0-2h5zM4 6v12h12V6H4zm8-2V2H8v2h4zM8 8a1 1 0 0 1 1 1v6a1 1 0 0 1-2 0V9a1 1 0 0 1 1-1zm4 0a1 1 0 0 1 1 1v6a1 1 0 0 1-2 0V9a1 1 0 0 1 1-1z"></path></svg>
      </button>
    </div>
  </div>
</template>

<script>
import deepClone from '../utilities.js';

export default {
  name: "query-builder-rule",

  props: ['query', 'index', 'rule',, 'labels', 'options'],

  beforeMount () {
    if (this.rule.type === 'custom-component') {
      this.$options.components[this.id] = this.rule.component;
    }
  },

  methods: {
    remove: function() {
      this.$emit('child-deletion-requested', this.index);
    },
    updateQuery(value) {
      let updated_query = deepClone(this.query);
      updated_query.value = value;
      this.$emit('update:query', updated_query);
    },
  },

  computed: {
    isCustomComponent () {
      return this.rule.type === 'custom-component';
    },

    selectOptions () {
      if (typeof this.rule.choices === 'undefined') {
        return {};
      }

      return this.rule.choices.reduce(function(groups, item, index) {
        let key = item['group'];
        if (typeof key !== 'undefined') {
          groups[key] = groups[key] || [];
          groups[key].push(item);
        } else {
          groups[index] = item;
        }

        return groups;
      }, {});
    },
  },

  mounted () {
    let updated_query = deepClone(this.query);

    // Set a default value for these types if one isn't provided already
    if(this.query.value === null){
      if (this.rule.inputType === 'checkbox') {
          updated_query.value = [];
      }
      if (this.rule.type === 'select') {
          updated_query.value = this.rule.choices[0].value;
      }
      if (this.rule.type === 'custom-component') {
        updated_query.value = null;
        if(typeof this.rule.default !== 'undefined') {
          updated_query.value = deepClone(this.rule.default)
        }
      }

      this.$emit('update:query', updated_query);
    }
  }
}
</script>
