<template>
    <div class="vqb-group" :class="classObject">
        <div class="vqb-group-heading">
            <div class="match-type-container flex items-center justify-between"
                 :class="depth > 1 ? '-mx-4 -mt-4 px-4 py-4 border-b-1 border-50' : ''"
                  v-if="options.enableMatchType">
                <div class="flex items-center">
                    <label class="inline-block text-80 leading-tight" for="vqb-match-type">{{ labels.matchType }}</label>
                    <select id="vqb-match-type" class="form-control form-select ml-3" v-model="query.logicalOperator">
                        <option v-for="(label, index) in labels.matchTypes" :key="index" :value="label.id">{{ __(label.label) }}
                        </option>
                    </select>
                </div>
                <button type="button" class="inline-flex appearance-none cursor-pointer text-70 hover:text-primary"
                        v-if="this.depth > 1" @click="remove" :title="labels.removeGroup">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"
                         aria-labelledby="delete" role="presentation" class="fill-current">
                        <path fill-rule="nonzero"
                              d="M6 4V2a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2h5a1 1 0 0 1 0 2h-1v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V6H1a1 1 0 1 1 0-2h5zM4 6v12h12V6H4zm8-2V2H8v2h4zM8 8a1 1 0 0 1 1 1v6a1 1 0 0 1-2 0V9a1 1 0 0 1 1-1zm4 0a1 1 0 0 1 1 1v6a1 1 0 0 1-2 0V9a1 1 0 0 1 1-1z"></path>
                    </svg>
                </button>
            </div>
        </div>

        <div class="vqb-group-body">
            <div class="rule-actions py-4">
                <div class="flex justify-start py-2">

                    <select v-model="selectedRule" class="form-control form-select">
                        <option v-for="(rule, index) in rules" :key="index" :value="rule">{{ __(rule.label) }}</option>
                    </select>

                    <button type="button" @click="addRule"
                            class="btn btn-link dim cursor-pointer text-80 ml-6"
                            v-html="labels.addRule"></button>
                    <button type="button"
                            class="btn btn-link dim cursor-pointer text-80 ml-6"
                            v-if="options.enableGroups && this.depth < this.maxDepth" @click="addGroup" v-html="labels.addGroup"></button>
                </div>
            </div>

            <div class="children">
                <component class="border-t-1 border-r-1 border-b-1 border-l-1 border-50 p-4 mb-4"
                           v-for="(child, index) in query.children"
                           :key="index"
                           :is="child.type"
                           :type="child.type"
                           :query.sync="child.query"
                           :ruleTypes="ruleTypes"
                           :rules="rules"
                           :rule="ruleById(child.query.rule)"
                           :index="index"
                           :maxDepth="maxDepth"
                           :depth="depth + 1"
                           :labels="labels"
                           :options="options"
                           v-on:child-deletion-requested="removeChild">
                </component>
            </div>
        </div>
    </div>
</template>

<script>
    import QueryBuilderRule from './QueryBuilderRule.vue';
    import deepClone from '../utilities.js';

    export default {
        name: "query-builder-group",

        components: {
            QueryBuilderRule
        },

        props: ['ruleTypes', 'type', 'query', 'rules', 'index', 'maxDepth', 'depth', 'labels', 'options'],

        methods: {
            ruleById(ruleId) {
                var rule = null;

                this.rules.forEach(function (value) {
                    if (value.id === ruleId) {
                        rule = value;
                        return false;
                    }
                });

                return rule;
            },

            addRule() {
                let updated_query = deepClone(this.query);
                let child = {
                    type: 'query-builder-rule',
                    query: {
                        rule: this.selectedRule.id,
                        selectedOperator: this.selectedRule.operators[0],
                        selectedOperand: typeof this.selectedRule.operands === "undefined" ? this.selectedRule.label : this.selectedRule.operands[0],
                        value: null
                    }
                };
                // A bit hacky, but `v-model` on `select` requires an array.
                if (this.ruleById(child.query.rule).type === 'multi-select') {
                    child.query.value = [];
                }
                updated_query.children.push(child);
                this.$emit('update:query', updated_query);
            },

            addGroup() {
                let updated_query = deepClone(this.query);
                if (this.depth < this.maxDepth) {
                    updated_query.children.push({
                        type: 'query-builder-group',
                        query: {
                            logicalOperator: this.labels.matchTypes[0].id,
                            children: []
                        }
                    });
                    this.$emit('update:query', updated_query);
                }
            },

            remove() {
                this.$emit('child-deletion-requested', this.index);
            },

            removeChild(index) {
                let updated_query = deepClone(this.query);
                updated_query.children.splice(index, 1);
                this.$emit('update:query', updated_query);
            }
        },

        data() {
            return {
                selectedRule: this.rules[0]
            }
        },

        computed: {
            classObject() {
                var classObject = {
                    'panel panel-default': this.styled,
                }

                classObject['depth-' + this.depth.toString()] = this.styled;

                return classObject;
            }
        }
    }
</script>
