<template>
  <div>
    <multiselect
      v-model.number="tag"
      track-by="id"
      label="value"
      :options="quantities"
      :multiple="true"
      :taggable="true"
      :showNoResults="false"
      :tagPlaceholder="tagPlaceholder"
      open-direction="bottom"
      :placeholder="placeholder"
      :selectLabel="selectLabel"
      :selected="selected"
      :deselectLabel="deselectLabel"
      @tag="addTag"
    >
    </multiselect>
  </div>
</template>

<script>
export default {
  name: "MultiselectQuantity",

  props: {
    data: {
      type: Array,
      default: null,
    },
    itemId: {
      type: Number,
      default: null,
    },
  },

  data() {
    return {
      tag: [],
      quantities: [],
    };
  },

  mounted() {
    this.initializeField();
  },

  watch: {
    tag() {
      this.handleTagsChange(this.tag);
    },
  },

  computed: {
    placeholder() {
      return "Add quantity";
    },

    selectLabel() {
      return "Press enter to select";
    },

    selected() {
      return "Selected";
    },

    deselectLabel() {
      return "Press enter to remove tag";
    },

    tagPlaceholder() {
      return "Press enter to add tag";
    },
  },

  methods: {
    initializeField() {
      this.tag = this.data;
      this.quantities = this.data;
    },

    /**
     * Add a new tag.
     */
    addTag(newTag) {
      const tag = {
        id: newTag.substring(0, 2) + Math.floor(Math.random() * 10000000),
        value: parseInt(newTag),
      };
      this.tag.push(tag);
      this.$emit("tagged");
    },

    /**
     * Update the field's value, when tag changes.
     */
    handleTagsChange(tag) {
      this.quantities = tag;
      this.$emit("quantities-updated", {
        id: this.itemId,
        quantities: this.quantities,
      });
    },
  },
};
</script>
