<template>
  <div class="flex">
    <multiselect
      :deselectLabel="deselectLabel"
      :multiple="true"
      :options="options"
      :placeholder="placeholder"
      :selectLabel="selectLabel"
      :selected="selected"
      :showNoResults="true"
      @open="fetchSuppliers"
      label="name"
      open-direction="bottom"
      track-by="id"
      v-model="suppliers"
    >
      <span slot="noResult" v-text="noResults"></span>
    </multiselect>
  </div>
</template>

<script>
export default {
  props: {
    data: {
      type: Array,
      default: null,
    },

    itemId: {
      type: Number,
      default: null,
    },
  },
  data() {
    return {
      suppliers: [],
      options: [],
      suppliersRoute: `/api/suppliers`,
    };
  },

  computed: {
    placeholder() {
      return "Type to search for supplier";
    },

    selectLabel() {
      return "Press enter to select";
    },

    selected() {
      return "Selected";
    },

    deselectLabel() {
      return "Press enter to remove supplier";
    },

    noResults() {
      return "No suppliers found. Consider changing the search query.";
    },
  },

  mounted() {
    this.initializeField();
  },

  watch: {
    suppliers() {
      this.$emit("suppliers-updated", {
        id: this.itemId,
        suppliers: this.suppliers,
      });
    },
  },

  methods: {
    /**
     * Initialize the supplier data.
     */
    initializeField() {
      if (this.data) {
        this.suppliers = this.data;
      }

      this.fetchSuppliers();
    },

    /**
     * Get the suppliers.
     */
    fetchSuppliers() {
      axios.get(this.suppliersRoute).then((response) => {
        this.options = response.data;
      });
    },
  },
};
</script>
