<template functional>
  <div class="pb-5">
    <div class="py-5 custom-text-input text-center text-xl">
      Items are empty.
    </div>
  </div>
</template>

<script>
export default {
  name: "NoItemsFound",
};
</script>
