<template>
  <div class="flex" style="width: 100%">
    <multiselect
      v-model="address"
      :options="options"
      label="name"
      :placeholder="placeholder"
      :selectLabel="selectLabel"
      :selected="selected"
      :deselectLabel="deselectLabel"
      :showNoResults="true"
      :allow-empty="false"
      open-direction="bottom"
      track-by="id"
      @input="change"
      @select="$emit('selected')"
      @open="fetchAddresses()"
    >
      <span slot="noResult" v-text="noResults"></span>
    </multiselect>
  </div>
</template>

<script>
export default {
  name: "SearchSelectDeliveryAddress",

  props: {
    data: {
      type: Object,
      default: null,
    },

    clientId: {
      type: Number,
      default: null,
    },

    itemId: {
      type: Number,
      default: null,
    },
  },
  data() {
    return {
      address: this.data,
      options: [],
      deliveryAddressRoute: `/api/clients/${this.clientId}/addresses/delivery`,
    };
  },

  computed: {
    placeholder() {
      return "Type to search for address";
    },

    selectLabel() {
      return "Press enter to select";
    },

    selected() {
      return "Selected";
    },

    deselectLabel() {
      return "Can't remove this value.";
    },

    noResults() {
      return "No address found. Consider changing the search query.";
    },
  },

  mounted() {
    this.initializeField();
  },

  methods: {
    /**
     * Initialize the supplier data.
     */
    initializeField() {
      this.fetchAddresses();
    },

    /**
     * Get the suppliers.
     */
    fetchAddresses() {
      axios
        .get(this.deliveryAddressRoute)
        .then((response) => {
          this.options = response.data.data;
        })
        .catch((errors) =>
          console.log("Select delivery address component error", errors)
        );
    },

    change(address) {
      this.$emit("address-updated", {
        id: this.itemId,
        address: address,
      });
    },
  },
};
</script>
