<template>
  <div>
    <create-user-form
      form-title="Noveau fournisseur"
      :form-data="formData"
      user-type="supplier"
      :post-url="createSupplierUrl"
      :initializedFrom="initializedFrom"
      @created="handleCreated"
    ></create-user-form>
  </div>
</template>

<script>
import CreateUserForm from "../Forms/partials/CreateUserForm.vue";
import { EventBus } from "../../../event-bus";

export default {
  name: "CreateSupplierForm",

  components: {
    CreateUserForm,
  },

  props: {
    initializedFrom: {
      type: String,
      default: "nav",
    },

    itemKey: {
      type: Number,
      default: null,
    },
  },

  data() {
    return {
      formData: {
        name: null,
        user: null,
        phone: null,
        address: null,
        city: null,
        province: null,
        country: null,
        postal_code: null,
        processes: null,
      },

      createSupplierUrl: "/api/suppliers",
    };
  },

  methods: {
    handleCreated(response) {
      console.log("hendling created", response);
      switch (this.initializedFrom) {
        case "nav":
          this.$emit("created");
          break;

        case "item":
          EventBus.$emit(`created-supplier-from-item-${this.itemKey}`, {
            supplier_for_item: response.data.supplier,
          });
          this.$emit("created");
          break;

        default:
          break;
      }
    },
  },
};
</script>

<style lang="scss" scoped>
</style>