<template>
  <div>
    <create-user-form
      :form-data="formData"
      user-type="client"
      form-title="Noveau client"
      :post-url="createClientUrl"
      :initializedFrom="initializedFrom"
    ></create-user-form>
  </div>
</template>

<script>
import CreateUserForm from "../Forms/partials/CreateUserForm.vue";

export default {
  name: "CreateClientForm",

  components: {
    CreateUserForm,
  },

  props: {
    initializedFrom: {
      type: String,
      default: "nav",
    },
  },

  data() {
    return {
      formData: {
        name: null,
        user: null,
        phone: null,
        address: null,
        city: null,
        province: null,
        country: null,
        postal_code: null,
      },

      createClientUrl: "/api/clients",
    };
  },
};
</script>

<style lang="scss" scoped>
</style>