<template>
  <div>
    <div class="space-y-4" v-if="!loading">
      <section data-title="Edit Address">
        <label for="edit-address" class="font-medium text-xl pb-4"
          >Éditer addresse</label
        >
        <div class="space-y-2">
          <div class="form-group">
            <input
              type="text"
              class="form-control input-sidebar"
              :class="{ 'border-danger': isInvalid('address_line_1') }"
              placeholder="Addresse"
              v-model="formData.address_line_1"
              @keydown="clearError('address_line_1')"
            />

            <span
              v-if="isInvalid('address_line_1')"
              class="text-xs text-danger"
            >
              {{ errorMessage("address_line_1") }}
            </span>
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control input-sidebar"
              :class="{ 'border-danger': isInvalid('city') }"
              placeholder="Ville"
              v-model="formData.city"
              @keydown="clearError('city')"
            />
            <span v-if="isInvalid('city')" class="text-xs text-danger">
              {{ errorMessage("city") }}
            </span>
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control input-sidebar"
              :class="{ 'border-danger': isInvalid('province') }"
              placeholder="Province"
              v-model="formData.province"
              @keydown="clearError('province')"
            />
            <span v-if="isInvalid('province')" class="text-xs text-danger">
              {{ errorMessage("province") }}
            </span>
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control input-sidebar"
              :class="{ 'border-danger': isInvalid('country') }"
              placeholder="Pays"
              v-model="formData.country"
              @keydown="clearError('country')"
            />
            <span v-if="isInvalid('country')" class="text-xs text-danger">
              {{ errorMessage("country") }}
            </span>
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control input-sidebar"
              :class="{ 'border-danger': isInvalid('postal_code') }"
              placeholder="Code Postal"
              v-model="formData.postal_code"
              @keydown="clearError('postal_code')"
            />
            <span v-if="isInvalid('postal_code')" class="text-xs text-danger">
              {{ errorMessage("postal_code") }}
            </span>
          </div>
        </div>
      </section>
      <section data-title="address-types">
        <label for="address-types" class="font-medium text-xl pb-4"
          >Type:</label
        >
        <div class="space-y-1">
          <div class="form-group form-check d-flex align-items-center">
            <input
              type="checkbox"
              class="form-check-input custom-check-sidebar"
              :class="{ 'border-danger': isInvalid('types') }"
              id="approbation-physique"
              @change="clearError('types')"
              v-model="formData.types.physical_approval"
            />
            <span
              class="form-check-label ml-4 text-gray-700"
              for="approbation-physique"
              >Approbation physique</span
            >
          </div>
          <div class="form-group form-check d-flex align-items-center">
            <input
              type="checkbox"
              class="form-check-input custom-check-sidebar"
              :class="{ 'border-danger': isInvalid('types') }"
              id="livraison"
              @change="clearError('types')"
              v-model="formData.types.delivery"
            />
            <span class="form-check-label ml-4 text-gray-700" for="livraison"
              >Livraison</span
            >
          </div>
          <span v-if="isInvalid('types')" class="text-xs text-danger">
            {{ errorMessage("types") }}
          </span>
        </div>
      </section>
      <button
        :disabled="!isChanged"
        @click="save"
        class="btn btn-green d-inline-flex justify-content-center align-items-center"
      >
        <i class="las la-check-circle"></i>
        SAUVEGARDER
      </button>
    </div>
    <div v-else>
      <sidebar-loading-skeleton
        title="Éditer addresse"
      ></sidebar-loading-skeleton>
    </div>
  </div>
</template>

<script>
import SidebarLoadingSkeleton from "../Partials/SidebarLoadingSkeleton.vue";

export default {
  name: "EditAddressForm",

  components: {
    SidebarLoadingSkeleton,
  },

  props: {
    open: {
      type: Boolean,
      default: false,
    },

    client: {
      type: Object,
      default: false,
    },

    address: {
      type: Object,
      default: false,
    },
  },

  data() {
    return {
      formData: {},
      errors: {},
      loading: true,
    };
  },

  mounted() {
    this.formData = { ...this.address };

    // Need to do this, because address has deep nested object types,
    // which isn't getting cloned, and we dont know properly if the address has changed.
    this.formData.types = { ...this.address.types };

    this.loading = false;
  },

  watch: {
    address() {
      if (JSON.stringify(this.address) !== JSON.stringify(this.formData)) {
        this.formData = { ...this.address };
        this.loading = false;
      }
    },

    formData: {
      deep: true,

      // Required so we know for sure if
      //the formData is different than the address
      handler() {
        if (!this.formData.types.delivery) {
          delete this.formData.types.delivery;
        }

        if (!this.formData.types.physical_approval) {
          delete this.formData.types.physical_approval;
        }
      },
    },
  },

  computed: {
    isChanged() {
      return JSON.stringify(this.address) !== JSON.stringify(this.formData);
    },
  },

  methods: {
    save() {
      let url = `/api/clients/${this.client.id}/addresses/${this.address.id}/update`;
      axios
        .patch(url, this.formData)
        .then((response) => {
          this.$emit("address-saved", response);
          this.formData = {};
        })
        .catch((errors) => {
          this.errors = errors.response.data.errors;
          console.log(
            "save() method on NewAddressForm.vue",
            errors.response.data
          );
        });
    },

    update(field, payload) {
      this.formData[field] = payload.target.value;
    },

    isInvalid(attribute) {
      return this.errors.hasOwnProperty(attribute);
    },

    errorMessage(attribute) {
      if (this.errors.hasOwnProperty(attribute)) {
        return this.errors[attribute][0];
      }
    },

    clearError(field) {
      delete this.errors[field];
    },
  },
};
</script>
