<template>
  <div class="space-y-4">
    <section data-title="Noveau contact">
      <label for="newContact" class="font-medium text-xl pb-4"
        >Épreuve refusée</label
      >
      <div class="form-group">
        <textarea
          class="form-control input-sidebar"
          name
          id
          cols="30"
          rows="15"
          placeholder="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae, architecto?"
        ></textarea>
      </div>
    </section>
    <a
      href="#"
      class="btn btn-green d-inline-flex justify-content-center align-items-center"
    >
      <i class="las la-check-circle"></i>
      SAUVEGARDER
    </a>
  </div>
</template>

<script>
export default {
  name: "EpreuveRefusedForm",

  props: {
    open: {
      type: Boolean,
      default: false,
    },
  },
};
</script>