<template>
  <div class="space-y-4">
    <section data-title="Noveau fournisseur">
      <label for="newFournisseur" class="font-medium text-xl pb-4"
        >Noveau addresse</label
      >
      <div class="space-y-2">
        <div class="form-group">
          <input
            type="text"
            class="form-control input-sidebar"
            :class="{ 'border-danger': isInvalid('address_line_1') }"
            placeholder="Addresse"
            v-model="formData.address_line_1"
            @keydown="clearError('address_line_1')"
          />

          <span v-if="isInvalid('address_line_1')" class="text-xs text-danger">
            {{ errorMessage("address_line_1") }}
          </span>
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control input-sidebar"
            :class="{ 'border-danger': isInvalid('city') }"
            placeholder="Ville"
            @keydown="clearError('city')"
            v-model="formData.city"
          />

          <span v-if="isInvalid('city')" class="text-xs text-danger">
            {{ errorMessage("city") }}
          </span>
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control input-sidebar"
            :class="{ 'border-danger': isInvalid('province') }"
            placeholder="Province"
            @keydown="clearError('province')"
            v-model="formData.province"
          />

          <span v-if="isInvalid('province')" class="text-xs text-danger">
            {{ errorMessage("province") }}
          </span>
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control input-sidebar"
            :class="{ 'border-danger': isInvalid('country') }"
            placeholder="Pays"
            @keydown="clearError('country')"
            v-model="formData.country"
          />

          <span v-if="isInvalid('country')" class="text-xs text-danger">
            {{ errorMessage("country") }}
          </span>
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control input-sidebar"
            :class="{ 'border-danger': isInvalid('postal_code') }"
            placeholder="Code Postal"
            @keydown="clearError('postal_code')"
            v-model="formData.postal_code"
          />

          <span v-if="isInvalid('postal_code')" class="text-xs text-danger">
            {{ errorMessage("postal_code") }}
          </span>
        </div>
      </div>
    </section>
    <section data-title="Roles">
      <label for="newContact" class="font-medium text-xl pb-4">Type:</label>
      <div class="space-y-1">
        <div class="form-group form-check d-flex align-items-center">
          <input
            type="checkbox"
            class="form-check-input custom-check-sidebar"
            :disabled="address_type_from_tab === 'physical_approval'"
            id="approbation-physique"
            :class="{ 'border-danger': isInvalid('types') }"
            @change="clearError('types')"
            v-model="formData.types.physical_approval"
          />
          <span class="form-check-label ml-4 text-gray-700" for="exampleCheck1"
            >Approbation physique</span
          >
        </div>
        <div class="form-group form-check d-flex align-items-center">
          <input
            type="checkbox"
            :disabled="address_type_from_tab === 'delivery'"
            class="form-check-input custom-check-sidebar"
            :class="{ 'border-danger': isInvalid('types') }"
            id="livraison"
            @change="clearError('types')"
            v-model="formData.types.delivery"
          />
          <span class="form-check-label ml-4 text-gray-700" for="exampleCheck1"
            >Livraison</span
          >
        </div>
        <span v-if="isInvalid('types')" class="text-xs text-danger">
          {{ errorMessage("types") }}
        </span>
      </div>
    </section>
    <button
      @click="save"
      :disabled="loading"
      class="btn btn-green d-inline-flex justify-content-center align-items-center"
    >
      <div
        class="d-flex justify-content-center align-items-center space-x-2"
        v-if="loading"
      >
        <span class="loader"></span>
        <span>SUBMITTING</span>
      </div>
      <div v-show="!loading">
        <i class="las la-check-circle"></i> SAUVEGARDER
      </div>
    </button>
  </div>
</template>

<script>
import { EventBus } from "../../../event-bus";
import SidebarLoadingSkeleton from "../Partials/SidebarLoadingSkeleton.vue";

export default {
  name: "NewAddressForm",

  components: {
    SidebarLoadingSkeleton,
  },

  props: {
    open: {
      type: Boolean,
      default: false,
    },

    client: {
      type: Object,
      default: false,
    },

    address_type_from_tab: {
      type: String,
      default: null,
    },

    initializedFrom: {
      type: String,
      default: "nav",
    },

    itemKey: {
      type: Number,
      default: null,
    },
  },

  data() {
    return {
      formData: {
        address_line_1: null,
        city: null,
        province: null,
        country: null,
        postal_code: null,
        types: {
          physical_approval: false,
          delivery: false,
        },
      },

      errors: {},

      loading: false,
    };
  },

  mounted() {
    if (this.address_type_from_tab !== null) {
      return (this.formData.types[this.address_type_from_tab] = true);
    }
  },

  methods: {
    save() {
      this.loading = true;
      let url = `/api/clients/${this.client.id}/addresses`;
      axios
        .post(url, this.formData)
        .then((response) => {
          this.handleSuccess(response);
        })
        .catch((errors) => {
          this.loading = false;
          this.errors = errors.response.data.errors;
          console.log(
            "save() method on NewAddressForm.vue",
            errors.response.data
          );
        });
    },

    resetFormData() {
      this.formData = {
        address_line_1: null,
        city: null,
        province: null,
        country: null,
        postal_code: null,
        types: {
          physical_approval: false,
          delivery: false,
        },
      };

      this.errors = {};
    },

    handleSuccess(response) {
      this.resetFormData();
      this.loading = false;

      switch (this.initializedFrom) {
        case "nav":
          this.$emit("address-saved", response);
          break;

        case "tab":
          EventBus.$emit("address-created", response.data);

          this.$emit("address-saved", response);
          break;

        case "item":
          EventBus.$emit(`address-created-from-item-tab-${this.itemKey}`, {
            address: response.data.addressForItemTab,
          });
          this.$emit("address-saved", response);
          break;

        default:
          break;
      }
    },

    isInvalid(attribute) {
      return this.errors.hasOwnProperty(attribute);
    },

    errorMessage(attribute) {
      if (this.errors.hasOwnProperty(attribute)) {
        return this.errors[attribute][0];
      }
    },

    clearError(field) {
      delete this.errors[field];
    },
  },
};
</script>