<template>
  <!-- New Client -->
  <div class="space-y-4">
    <section data-title="Noveau contact">
      <label for="newContact" class="font-medium text-xl pb-4"
        >Noveau contact</label
      >
      <div class="space-y-2">
        <div class="form-group">
          <input
            type="text"
            class="form-control input-sidebar"
            :class="{ 'border-danger': isInvalid('name') }"
            placeholder="Nom*"
            v-model="formData.name"
            @keydown="clearError('name')"
          />

          <span v-if="isInvalid('name')" class="text-xs text-danger">
            {{ errorMessage("name") }}
          </span>
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control input-sidebar"
            :class="{ 'border-danger': isInvalid('phone') }"
            placeholder="Telephone"
            v-model="formData.phone"
            @keydown="clearError('phone')"
            @input="enforcePhoneFormat('phone')"
          />

          <span v-if="isInvalid('phone')" class="text-xs text-danger">
            {{ errorMessage("phone") }}
          </span>
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control input-sidebar"
            :class="{ 'border-danger': isInvalid('mobile') }"
            placeholder="Mobile"
            v-model="formData.mobile"
            @keydown="clearError('mobile')"
            @input="enforcePhoneFormat('mobile')"
          />

          <span v-if="isInvalid('mobile')" class="text-xs text-danger">
            {{ errorMessage("mobile") }}
          </span>
        </div>
        <div class="form-group">
          <input
            type="email"
            class="form-control input-sidebar"
            :class="{ 'border-danger': isInvalid('email') }"
            placeholder="Email*"
            v-model="formData.email"
            @keydown="clearError('email')"
          />

          <span v-if="isInvalid('email')" class="text-xs text-danger">
            {{ errorMessage("email") }}
          </span>
        </div>
      </div>
    </section>
    <section data-title="Roles">
      <label for="newContact" class="font-medium text-xl pb-4">Roles:</label>
      <div class="space-y-1">
        <div
          class="form-group form-check d-flex align-items-center"
          v-for="predefinedRole in formData.roles"
          :key="predefinedRole.name"
        >
          <input
            :disabled="role !== null && role === predefinedRole.name"
            type="checkbox"
            class="form-check-input custom-check-sidebar"
            :class="{ 'border-danger': isInvalid('roles') }"
            v-model="predefinedRole.checked"
            @change="clearError('roles')"
          />
          <span
            class="form-check-label ml-4 text-gray-700"
            for="exampleCheck1"
            >{{ predefinedRole.translation }}</span
          >
        </div>
        <span v-if="isInvalid('roles')" class="text-xs text-danger">
          {{ errorMessage("roles") }}
        </span>
      </div>
    </section>
    <section data-title="Divisions">
      <label for="newContact" class="font-medium text-xl pb-4"
        >Divisions:</label
      >
      <div class="space-y-1 text-sm">
        <div
          class="form-group form-check d-flex align-items-baseline"
          v-for="division in formData.divisions"
          :key="division.id"
        >
          <input
            v-show="division.name !== defaultDivisionName"
            type="checkbox"
            class="form-check-input custom-check-sidebar"
            :class="{ 'border-danger': isInvalid('divisions') }"
            :disabled="division.disabled"
            id="exampleCheck1"
            v-model="division.checked"
            @change="clearError('divisions')"
          />
          <span
            v-show="division.name !== defaultDivisionName"
            class="form-check-label ml-4 text-gray-700"
            for="exampleCheck1"
            >{{ division.name }}</span
          >
        </div>
        <span v-if="isInvalid('divisions')" class="text-xs text-danger">
          {{ errorMessage("divisions") }}
        </span>
      </div>
    </section>
    <button
      @click.prevent="submitForm"
      class="btn btn-green d-inline-flex justify-content-center align-items-center"
    >
      <i class="las la-check-circle"></i>
      SAUVEGARDER
    </button>
  </div>
  <!-- End new client -->
</template>

<script>
import _ from "lodash";
import { EventBus } from "../../../event-bus";

export default {
  name: "NewClientContactForm",

  props: {
    open: {
      type: Boolean,
      default: false,
    },

    client: {
      type: Object,
      default: null,
    },

    role: {
      type: String,
      default: null,
    },

    initializedFrom: {
      type: String,
      default: "nav",
    },

    itemKey: {
      type: Number,
      default: null,
    },

    current_division: {
      type: Object,
      default: null,
    },
  },

  data() {
    return {
      formData: {},
      errors: {},
      defaultDivisionName: "clients_default_division",
    };
  },

  mounted() {
    this.setFormData();

    if (this.role !== null) {
      this.formData.roles[this.role].checked = true;
    }

    if (this.current_division !== null) {
      let division = this.formData.divisions.find(
        (d) => d.id === this.current_division.id
      );
      division.checked = true;
      division.disabled = true;
    }
  },

  methods: {
    submitForm() {
      let postUrl = `/api/clients/${this.client.id}/contacts`;

      axios
        .post(postUrl, this.formData)
        .then((response) => {
          this.handleSuccess(response);
        })
        .catch((error) => {
          this.errors = error.response.data.errors;
          console.log(
            "submitForm() on NewContactForm",
            error.response.data.errors
          );
        });
    },

    handleSuccess(response) {
      switch (this.initializedFrom) {
        case "nav":
          this.$emit("contact-saved", response);
          break;

        case "tab":
          this.$emit("contact-saved", response);
          EventBus.$emit("contact-created-from-tab", {
            contact: response.data.contact,
            message: response.data.message,
            role: this.role,
          });
          break;

        case "item":
          this.$emit("contact-saved", response);
          EventBus.$emit(`contact-created-from-item-${this.itemKey}`, {
            contact: response.data.contact,
            contact_for_item: response.data.contact_for_item,
            message: response.data.message,
          });
          break;

        default:
          break;
      }
    },

    isInvalid(attribute) {
      return this.errors.hasOwnProperty(attribute);
    },

    errorMessage(attribute) {
      if (this.errors.hasOwnProperty(attribute)) {
        return this.errors[attribute][0];
      }
    },

    clearError(field) {
      delete this.errors[field];
    },

    enforcePhoneFormat(property) {
      let x = this.formData[property]
        .replace(/\D/g, "")
        .match(/(\d{0,3})(\d{0,3})(\d{0,4})/);

      this.formData[property] = !x[2]
        ? x[1]
        : "(" + x[1] + ") " + x[2] + (x[3] ? "-" + x[3] : "");
    },

    setFormData() {
      this.formData = {
        name: null,
        phone: null,
        mobile: null,
        email: null,
        roles: {
          buyer: {
            name: "buyer",
            checked: false,
            translation: "Acheteur",
          },
          pdf_approval: {
            name: "pdf_approval",
            checked: false,
            translation: "Approbation PDF",
          },
          physical_approval: {
            name: "physical_approval",
            checked: false,
            translation: "Approbation physique",
          },
          accounting: {
            name: "accounting",
            checked: false,
            translation: "Comptabilité",
          },
          invoicing: {
            name: "invoicing",
            checked: false,
            translation: "Facturation",
          },
          delivery: {
            name: "delivery",
            checked: false,
            translation: "Livraison",
          },
        },
        divisions: _.cloneDeep(this.client.divisions),
      };
    },
  },
};
</script>