<template>
  <div class="space-y-4">
    <section data-title="Noveau contact">
      <label for="newContact" class="font-medium text-xl pb-4"
        >Nouvelle division</label
      >
      <div class="space-y-2">
        <div class="form-group">
          <input
            type="text"
            class="form-control input-sidebar"
            placeholder="Division nom"
            v-model="divisionName"
          />
        </div>
      </div>
    </section>
    <!-- Disabled if the division name is empty -->
    <button
      @click="submit"
      :disabled="divisionName === ''"
      class="btn btn-green d-inline-flex justify-content-center align-items-center"
    >
      <i class="las la-check-circle"></i>
      SAUVEGARDER
    </button>
  </div>
</template>

<script>
export default {
  name: "NewDivisionForm",

  props: {
    open: {
      type: Boolean,
      default: false,
    },

    client: {
      type: Object,
      default: null,
    },
  },

  data() {
    return {
      divisionName: "",
    };
  },

  methods: {
    submit() {
      axios
        .post(`/api/clients/${this.client.id}/divisions`, {
          name: this.divisionName,
        })
        .then((response) => {
          this.divisionName = "";
          this.$emit("created", response);
          this.$emit("division-created", response);
        })
        .catch((errors) => {
          console.log(
            "NewDivisionForm sidebar component, method: submit()",
            errors.response
          );
        });
    },
  },
};
</script>