<template>
  <div class="space-y-4">
    <section data-title="Noveau contact">
      <label for="newContact" class="font-medium text-xl pb-4"
        >Nouvelle option</label
      >
      <div class="space-y-2">
        <div class="form-group">
          <input
            v-model="formData.title"
            type="text"
            name="title"
            class="form-control input-sidebar"
            :style="
              isInvalid('title') ? 'border: 2px solid #dc3545 !important;' : ''
            "
            placeholder="Titre"
            @keydown="clearError('title')"
          />

          <span v-if="isInvalid('title')" class="text-xs text-danger">
            {{ errorMessage("title") }}
          </span>
        </div>
        <div class="form-group">
          <no-ajax-search-select
            key="option-type-dropdown"
            ref="type"
            :items="types"
            class="input-sidebar-border"
            :style="
              isInvalid('type') ? 'border: 2px solid #dc3545 !important;' : ''
            "
            placeholder="Sélectionnez une option"
            :value="formData.type"
            @changed="updateType"
            @removed="updateType(null)"
          ></no-ajax-search-select>

          <span v-if="isInvalid('type')" class="text-xs text-danger">
            {{ errorMessage("type") }}
          </span>
        </div>
        <div class="form-group">
          <textarea
            v-model="formData.values"
            class="form-control input-sidebar"
            :style="
              isInvalid('values') ? 'border: 2px solid #dc3545 !important;' : ''
            "
            name="values"
            cols="30"
            rows="15"
            placeholder="Valeurs"
            @keydown="clearError('values')"
          ></textarea>

          <span v-if="isInvalid('values')" class="text-xs text-danger">
            {{ errorMessage("values") }}
          </span>
        </div>
      </div>
    </section>
    <button
      @click.prevent="submitForm"
      :disabled="loading || hasErrors"
      class="btn btn-green d-inline-flex justify-content-center align-items-center mt-5"
    >
      <div
        class="d-flex justify-content-center align-items-center space-x-2"
        v-if="loading"
      >
        <span class="loader"></span>
        <span>SOUMISSION</span>
      </div>
      <div v-show="!loading">
        <i class="las la-check-circle"></i> SAUVEGARDER
      </div>
    </button>
  </div>
</template>

<script>
import NoAjaxSearchSelect from "./partials/NoAjaxSearchSelect.vue";
import { EventBus } from "../../../event-bus";

export default {
  name: "NewOptionForm",

  components: {
    NoAjaxSearchSelect,
  },

  props: {
    open: {
      type: Boolean,
      default: false,
    },

    initializedFrom: {
      type: String,
      default: "nav",
    },

    itemKey: {
      type: Number,
      default: null,
    },
  },

  data() {
    return {
      loading: false,

      formData: {
        title: "",
        type: null,
        values: "",
      },

      types: [
        { id: 1, value: "checkbox", name: "Case à cocher" },
        { id: 2, value: "numeric", name: "Numérique" },
        { id: 3, value: "radio", name: "Bouton radio" },
        { id: 4, value: "select", name: "Liste déroulante" },
        { id: 5, value: "text", name: "Texte" },
      ],

      errors: {},
    };
  },

  computed: {
    hasErrors() {
      return Object.keys(this.errors).length !== 0;
    },
  },

  methods: {
    submitForm() {
      this.loading = true;
      let url = "/api/options";

      axios
        .post(url, this.formData)
        .then((response) => {
          this.loading = false;
          this.handleSuccess(response);
        })
        .catch((error) => {
          this.loading = false;
          if (error && error.response && error.response.status == 422) {
            this.errors = error.response.data.errors;
          } else {
            this.$toasted.show("An unknown error occured");
            console.log("NewOptionForm submit()", error);
          }
        });
    },

    handleSuccess(response) {
      this.formData = {};
      this.$refs.type.model = null;

      switch (this.initializedFrom) {
        case "nav":
          this.$emit("option-saved");
          break;

        case "item":
          this.$emit("option-saved");
          EventBus.$emit(`option-created-from-tab-${this.itemKey}`, response);
          break;

        default:
          this.$emit("option-saved");
          break;
      }
    },

    updateType(payload) {
      this.formData.type = payload;
      this.clearError("type");
    },

    isInvalid(attribute) {
      return this.errors.hasOwnProperty(attribute);
    },

    errorMessage(attribute) {
      if (this.errors.hasOwnProperty(attribute)) {
        return this.errors[attribute][0];
      }
    },

    clearError(field) {
      this.$delete(this.errors, field);
    },
  },
};
</script>