<template>
  <div class="space-y-4">
    <section data-title="Noveau contact">
      <label for="newContact" class="font-medium text-xl pb-4"
        >Nouveau procédés</label
      >
      <div class="space-y-2">
        <div class="form-group">
          <input
            v-model="formData.name"
            type="text"
            name="name"
            class="form-control input-sidebar"
            :style="
              isInvalid('name') ? 'border: 2px solid #dc3545 !important;' : ''
            "
            placeholder="Nom"
            @keydown="clearError('name')"
          />

          <span v-if="isInvalid('name')" class="text-xs text-danger">
            {{ errorMessage("name") }}
          </span>
        </div>
      </div>
    </section>
    <button
      @click.prevent="submitForm"
      :disabled="loading || hasErrors"
      class="btn btn-green d-inline-flex justify-content-center align-items-center mt-5"
    >
      <div
        class="d-flex justify-content-center align-items-center space-x-2"
        v-if="loading"
      >
        <span class="loader"></span>
        <span>SOUMISSION</span>
      </div>
      <div v-show="!loading">
        <i class="las la-check-circle"></i> SAUVEGARDER
      </div>
    </button>
  </div>
</template>

<script>
export default {
  name: "NewProcessForm",

  props: {
    open: {
      type: Boolean,
      default: false,
    },
  },

  data() {
    return {
      loading: false,

      formData: {
        name: "",
      },

      errors: {},
    };
  },

  computed: {
    hasErrors() {
      return Object.keys(this.errors).length !== 0;
    },
  },

  methods: {
    submitForm() {
      this.loading = true;
      let url = "/api/processes";

      axios
        .post(url, this.formData)
        .then((response) => {
          this.loading = false;
          this.$emit("process-saved", response);
          this.formData = {};
        })
        .catch((error) => {
          this.loading = false;
          if (error && error.response && error.response.status == 422) {
            this.errors = error.response.data.errors;
          } else {
            this.$toasted.show("An unknown error occured.");
            console.log("NewOptionForm submit()", error.response.data.errors);
          }
        });
    },

    isInvalid(attribute) {
      return this.errors.hasOwnProperty(attribute);
    },

    errorMessage(attribute) {
      if (this.errors.hasOwnProperty(attribute)) {
        return this.errors[attribute][0];
      }
    },

    clearError(field) {
      this.$delete(this.errors, field);
    },
  },
};
</script>