<template>
  <div>
    <div class="space-y-4" v-show="!loading">
      <section data-title="Noveau projet">
        <label for="newProject" class="font-medium text-xl pb-4">{{
          parent_project ? "Noveau enfant projet" : "Noveau projet"
        }}</label>
        <div class="space-y-2">
          <!-- Title -->
          <div class="form-group">
            <input
              type="text"
              class="form-control input-sidebar"
              :class="{ 'border-danger': isInvalid('title') }"
              placeholder="Titre du projet"
              id="titre-du-projet"
              v-model="formData.title"
              @keydown="clearError('title')"
            />

            <span v-if="isInvalid('title')" class="text-xs text-danger">
              {{ errorMessage("title") }}
            </span>
          </div>
          <!-- End Title -->

          <!-- Title -->
          <div class="form-group">
            <input
              type="text"
              class="form-control input-sidebar"
              :class="{ 'border-danger': isInvalid('short_description') }"
              placeholder="Description courte"
              id="courte-description"
              v-model="formData.short_description"
              @keydown="clearError('short_description')"
            />

            <span
              v-if="isInvalid('short_description')"
              class="text-xs text-danger"
            >
              {{ errorMessage("short_description") }}
            </span>
          </div>
          <!-- End Title -->

          <!-- Clients -->
          <div class="form-group">
            <div class="input-group">
              <search-select
                :key="formData.client ? formData.client.id : ''"
                class="input-sidebar-border"
                :style="
                  isInvalid('client')
                    ? 'border: 2px solid #dc3545 !important;'
                    : ''
                "
                :value="formData.client"
                :route="clientsIndexRoute"
                @changed="updateClient"
                @removed="updateClient(null)"
                placeholder="Client"
              ></search-select>
            </div>
            <span v-if="isInvalid('client')" class="text-xs text-danger">
              {{ errorMessage("client") }}
            </span>
          </div>
          <!-- Clients -->

          <!-- Clients Divisions -->
          <div class="form-group">
            <div class="input-group">
              <search-select
                :key="formData.division ? formData.division.id : ''"
                class="input-sidebar-border"
                :style="
                  isInvalid('division')
                    ? 'border: 2px solid #dc3545 !important;'
                    : ''
                "
                :route="clientDivisionsRoute"
                :disabled="shouldDisableDivision"
                placeholder="Division"
                :value="formData.division"
                @changed="updateDivision"
                @removed="updateDivision(null)"
              ></search-select>
            </div>
            <span v-if="isInvalid('division')" class="text-xs text-danger">
              {{ errorMessage("division") }}
            </span>
          </div>
          <!-- End clients divisions -->

          <!-- Division Buyers -->
          <div class="form-group">
            <div class="input-group">
              <search-select
                :key="formData.buyer ? formData.buyer.id : ''"
                class="input-sidebar-border"
                :style="
                  isInvalid('buyer')
                    ? 'border: 2px solid #dc3545 !important;'
                    : ''
                "
                :route="divisionBuyerRoute"
                :disabled="shouldDisableBuyer"
                :value="formData.buyer"
                placeholder="Acheteur"
                @changed="updateBuyer"
                @removed="updateBuyer(null)"
              ></search-select>
            </div>
            <span v-if="isInvalid('buyer')" class="text-xs text-danger">
              {{ errorMessage("buyer") }}
            </span>
          </div>
          <!-- End division buyers -->

          <!-- Division Accounting -->
          <div class="form-group">
            <div class="input-group">
              <search-select
                :key="formData.accounting ? formData.accounting.id : ''"
                class="input-sidebar-border"
                :style="
                  isInvalid('accounting') ? 'border: 2px solid #dc3545;' : ''
                "
                :route="divisionAccountingRoute"
                :disabled="!shouldShowDivisionAccounting"
                placeholder="Comptabilité"
                :value="formData.accounting"
                @changed="updateAccounting"
                @removed="updateAccounting(null)"
              ></search-select>
            </div>
            <span v-if="isInvalid('accounting')" class="text-xs text-danger">
              {{ errorMessage("accounting") }}
            </span>
          </div>
          <!-- End accounting -->

          <!-- Physical approval checkbox  -->
          <div class="space-y-1">
            <div class="form-group form-check d-flex align-items-center">
              <input
                type="checkbox"
                class="form-check-input custom-check-sidebar"
                id="requiert-approbation-physical"
                v-model="formData.requires_physical_approval"
              />
              <span
                class="form-check-label ml-4 text-gray-700"
                for="Requiert approbation PDF "
                >Requiert approbation physical?
              </span>
            </div>
          </div>
          <!-- End Physical approval checkbox -->

          <div v-if="this.formData.requires_physical_approval">
            <!-- Physical Approval -->
            <div class="form-group">
              <div class="input-group">
                <search-select
                  :key="
                    formData.physical_approval
                      ? formData.physical_approval.id
                      : ''
                  "
                  class="input-sidebar-border"
                  :style="
                    isInvalid('physical_approval')
                      ? 'border: 2px solid #dc3545 !important;'
                      : ''
                  "
                  :route="divisionPhysicalApprovalRoute"
                  placeholder="Approbation Physical"
                  :disabled="shouldDisablePhysicalApproval"
                  :value="formData.physical_approval"
                  @changed="updatePhysicalApproval"
                  @removed="updatePhysicalApproval(null)"
                ></search-select>
              </div>
              <span
                v-if="isInvalid('physical_approval')"
                class="text-xs text-danger"
              >
                {{ errorMessage("physical_approval") }}
              </span>
            </div>
            <!-- End Physical Approval -->
          </div>

          <!-- Address -->
          <div class="form-group">
            <div class="input-group">
              <search-select
                :key="
                  formData.physical_address ? formData.physical_address.id : ''
                "
                class="input-sidebar-border"
                :style="
                  isInvalid('physical_address')
                    ? 'border: 2px solid #dc3545;'
                    : ';'
                "
                :route="clientPhysicalAddressRoute"
                :disabled="shouldDisablePhysicalAddress"
                placeholder="Adresse physique"
                :value="formData.physical_address"
                @changed="updatePhysicalAddress"
                @removed="updatePhysicalAddress(null)"
              ></search-select>
            </div>
            <span
              v-if="isInvalid('physical_address')"
              class="text-xs text-danger"
            >
              {{ errorMessage("physical_address") }}
            </span>
          </div>
          <!-- End Address -->

          <div>
            <!-- Debut -->
            <div class="form-group">
              <label for="debut" class="text-xs text-gray">Debut</label>
              <div class="input-group">
                <input
                  :key="formData.start_date"
                  class="form-control input-sidebar"
                  :class="{ 'border-danger': isInvalid('start_date') }"
                  type="date"
                  name="debut"
                  id="debut"
                  v-model="formData.start_date"
                  @input="clearError('start_date')"
                />
              </div>
              <span v-if="isInvalid('start_date')" class="text-xs text-danger">
                {{ errorMessage("start_date") }}
              </span>
            </div>
            <!-- End Debut -->

            <!-- End date -->
            <div class="form-group">
              <label for="debut" class="text-xs text-gray">Fin</label>
              <div class="input-group">
                <input
                  :key="formData.end_date"
                  class="form-control input-sidebar"
                  :class="{ 'border-danger': isInvalid('end_date') }"
                  type="date"
                  name="end_date"
                  id="fin"
                  v-model="formData.end_date"
                  @input="clearError('end_date')"
                />
              </div>
              <span v-if="isInvalid('end_date')" class="text-xs text-danger">
                {{ errorMessage("end_date") }}
              </span>
            </div>
            <!-- End end date -->

            <!-- submission ends date -->
            <div class="form-group">
              <label for="estimates-end-date" class="text-xs text-gray"
                >Fin de soumission</label
              >
              <div class="input-group">
                <input
                  :key="formData.estimates_end_date"
                  class="form-control input-sidebar"
                  :class="{ 'border-danger': isInvalid('estimates_end_date') }"
                  v-model="formData.estimates_end_date"
                  type="date"
                  name="estimates-end-date"
                  id="estimates-end-date"
                />
              </div>
              <span
                v-if="isInvalid('estimates_end_date')"
                class="text-xs text-danger"
              >
                {{ errorMessage("estimates_end_date") }}
              </span>
            </div>
            <!-- end Submission date -->
          </div>

          <!-- Po Number -->
          <div class="form-group">
            <input
              type="text"
              class="form-control input-sidebar"
              :class="{ 'border-danger': isInvalid('po_number') }"
              placeholder="Numéro de PO"
              id="po_number"
              v-model="formData.po_number"
              @keydown="clearError('po_number')"
            />
            <span v-if="isInvalid('po_number')" class="text-xs text-danger">
              {{ errorMessage("po_number") }}
            </span>
          </div>
          <!-- End Po Number -->
        </div>
      </section>
      <button
        :disabled="loading"
        @click.prevent="submitForm"
        class="btn btn-green d-inline-flex justify-content-center align-items-center"
      >
        <div
          class="d-flex justify-content-center align-items-center space-x-2"
          v-if="loading"
        >
          <span class="loader"></span>
          <span>SUBMITTING</span>
        </div>
        <div v-show="!loading">
          <i class="las la-check-circle"></i> SAUVEGARDER
        </div>
      </button>
    </div>

    <div v-show="loading">
      <sidebar-loading-skeleton
        title="Noveau projet"
      ></sidebar-loading-skeleton>
    </div>
  </div>
</template>

<script>
import SidebarLoadingSkeleton from "./../Partials/SidebarLoadingSkeleton.vue";
import SearchSelect from "./partials/SearchSelect.vue";

export default {
  name: "NewProjectForm",

  components: {
    SidebarLoadingSkeleton,
    SearchSelect,
  },

  props: {
    open: {
      type: Boolean,
      default: false,
    },

    initializedFrom: {
      type: String,
      default: "nav",
    },

    parent_project: {
      type: Object,
      default: null,
    },
  },

  data() {
    return {
      formData: {
        title: null,
        short_description: null,
        client: null,
        division: null,
        buyer: null,
        accounting: null,
        requires_pdf_approval: false,
        pdf_approval: null,
        requires_physical_approval: false,
        physical_approval: null,
        physical_address: null,
        start_date: null,
        end_date: null,
        po_number: null,
        parent_project: null,
        estimates_end_date: null,
        choose_estimates_automatically: false,
      },
      errors: {},
      loading: false,
      createProjectUrl: `/api/projects`,
    };
  },

  mounted() {
    if (this.parent_project !== null) {
      this.formData.parent_project = this.parent_project.id;
    }
  },

  computed: {
    clientsIndexRoute() {
      return "/api/clients";
    },

    clientDivisionsRoute() {
      return this.formData.client
        ? `/api/clients/${this.formData.client.id}/divisions`
        : null;
    },

    divisionBuyerRoute() {
      // if only client is set
      if (this.formData.client && !this.formData.division) {
        return `/api/clients/${this.formData.client.id}/contacts/buyer`;
      }

      // if division is set
      if (this.formData.division) {
        return `/api/divisions/${this.formData.division.id}/contacts/buyer`;
      }

      return null;
    },

    divisionAccountingRoute() {
      // if only client is set
      if (this.formData.client && !this.formData.division) {
        return `/api/clients/${this.formData.client.id}/contacts/accounting`;
      }

      // if division is set
      if (this.formData.division) {
        return `/api/divisions/${this.formData.division.id}/contacts/accounting`;
      }

      return null;
    },

    divisionPdfApprovalRoute() {
      // if only client is set
      if (this.formData.client && !this.formData.division) {
        return `/api/clients/${this.formData.client.id}/contacts/pdf_approval`;
      }

      // if division is set
      if (this.formData.division) {
        return `/api/divisions/${this.formData.division.id}/contacts/pdf_approval`;
      }

      return null;
    },

    divisionPhysicalApprovalRoute() {
      // if only client is set
      if (this.formData.client && !this.formData.division) {
        return `/api/clients/${this.formData.client.id}/contacts/physical_approval`;
      }

      // if division is set
      if (this.formData.division) {
        return `/api/divisions/${this.formData.division.id}/contacts/physical_approval`;
      }

      return null;
    },

    clientPhysicalAddressRoute() {
      return this.formData.client
        ? `/api/clients/${this.formData.client.id}/addresses/physical_approval`
        : null;
    },

    shouldDisableDivision() {
      return this.formData.client === null;
    },

    shouldDisableBuyer() {
      return this.formData.client === null;
    },

    shouldShowDivisionAccounting() {
      return this.formData.client !== null;
    },

    shouldDisablePhysicalApproval() {
      return this.formData.client === null;
    },

    shouldDisablePhysicalAddress() {
      return this.formData.client === null;
    },
  },

  methods: {
    updateClient(payload) {
      this.clearError("client");
      this.formData.client = payload;
    },

    updateDivision(payload) {
      this.clearError("division");
      this.formData.division = payload;
    },

    updateBuyer(payload) {
      this.clearError("buyer");
      this.formData.buyer = payload;
    },

    updateAccounting(payload) {
      this.formData.accounting = payload;
      this.clearError("accounting");
    },

    updatePdfApproval(payload) {
      this.formData.pdf_approval = payload;
      this.clearError("pdf_approval");
    },

    updatePhysicalApproval(payload) {
      this.formData.physical_approval = payload;
      this.clearError("physical_approval");
    },

    updatePhysicalAddress(payload) {
      this.formData.physical_address = payload;
      this.clearError("physical_address");
    },

    submitForm() {
      this.loading = true;
      axios
        .post(this.createProjectUrl, this.formData)
        .then((response) => {
          this.loading = false;
          this.$swal.fire({
            title: "Success!",
            text: response.data.message,
            icon: "success",
            showConfirmButton: false,
          });
          setTimeout(() => {
            window.location.href = response.data.redirect_route;
          }, 400);
        })
        .catch((error) => {
          this.loading = false;
          this.errors = error.response.data.errors;
          console.log(
            "Sidebar/Forms/NewFormData submitForm()",
            error.response.data.errors
          );
        });
    },

    isInvalid(attribute) {
      return this.errors.hasOwnProperty(attribute);
    },

    errorMessage(attribute) {
      if (this.errors.hasOwnProperty(attribute)) {
        return this.errors[attribute][0];
      }
    },

    clearError(field) {
      delete this.errors[field];
    },
  },
};
</script>

<style lang="scss">
#sidebar-multiselect {
  background: #ececec;
  border-radius: 0.6rem;
}

#sidebar-multiselect .multiselect__tags {
  min-height: 40px !important;
  color: #495057;
  display: block !important;
  padding: 1rem 1.5rem 1rem 1.5rem !important;
  padding-bottom: 0.6rem !important;
  font-size: 15px !important;
  font-weight: 400 !important;
  border-radius: 0.6rem !important;
  border: transparent !important;
}

#sidebar-multiselect .multiselect__input {
  font-size: 16px !important;
}

#sidebar-multiselect
  .multiselect--active:not(.multiselect--above)
  .multiselect__current,
#sidebar-multiselect
  .multiselect--active:not(.multiselect--above)
  .multiselect__input,
#sidebar-multiselect
  .multiselect--active:not(.multiselect--above)
  .multiselect__tags {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-bottom: 0px !important;
}

#sidebar-multiselect .multiselect__placeholder {
  margin-bottom: 0 !important;
  padding-top: 0 !important;
  font-size: 16px !important;
}

#sidebar-multiselect .multiselect__option--highlight {
  background: 59 db00 !important;
  outline: none !important;
  color: #fff !important;
}

#sidebar-multiselect .multiselect__option--highlight:after {
  content: attr(data-select) !important;
  background: #59db00 !important;
  color: #fff !important;
}

#sidebar-multiselect .multiselect__input,
#sidebar-multiselect .multiselect__single {
  margin-bottom: 0 !important;
  padding: 0 !important;
}

#sidebar-multiselect .multiselect__select {
  z-index: 49 !important;
  right: 8px !important;
  top: 8px !important;
}

#sidebar-multiselect .multiselect__tag {
  line-height: 1 !important;
  background: #59db00 !important;
  margin-bottom: -5px !important;
  margin-top: -6px !important;
  padding: 8px 27px 5px 10px !important;
  border-radius: 1rem !important;
}

#sidebar-multiselect .multiselect__tag-icon {
  padding-top: 4px !important;
}

#sidebar-multiselect .multiselect__content-wrapper {
  border-bottom-left-radius: 0.6rem !important;
  border-bottom-right-radius: 0.6rem !important;
  border: 1px solid #ced4da !important;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

#sidebar-multiselect .multiselect__element {
  font-size: 14px !important;
}

#sidebar-multiselect .multiselect--disabled .multiselect__current,
.multiselect--disabled .multiselect__select {
  background: #ffffff !important;
  color: #a6a6a6 !important;
}

#sidebar-multiselect .multiselect--disabled {
  background: #ffffff !important;
  color: #a6a6a6 !important;
  pointer-events: none;
  opacity: 0.35;
}

.multiselect__spinner {
  position: absolute;
  right: 1px;
  top: 1px;
  width: 48px;
  height: 35px;
  background: #fff;
  display: block;
  z-index: 50;
  right: 8px;
  top: 8px;
}

.input-sidebar-border {
  border: 2px solid #ced4da;
}
</style>
