<template>
  <div class="space-y-4">
    <section data-title="Noveau contact">
      <label for="newContact" class="font-medium text-xl pb-4"
        >Question sur l'item</label
      >
      <div class="form-group">
        <textarea
          class="form-control input-sidebar"
          name
          id
          cols="30"
          rows="15"
          placeholder="Note au fournisseur.."
        ></textarea>
      </div>
    </section>
    <a
      href="#"
      class="btn btn-green d-inline-flex justify-content-center align-items-center"
    >
      <i class="las la-paper-plane"></i>
      ENVOYER AU FOURNISSEUR
    </a>
  </div>
</template>

<script>
export default {
  name: "NewQuestionForm",

  props: {
    open: {
      type: Boolean,
      default: false,
    },
  },
};
</script>