<template>
  <div class="space-y-4">
    <section data-title="Noveau contact">
      <label for="newContact" class="font-medium text-xl pb-4"
        >Nouveau statut</label
      >
      <div class="space-y-2">
        <div class="form-group">To be implemented.</div>
      </div>
    </section>
    <button
      v-if="false"
      @click.prevent="submitForm"
      :disabled="loading || hasErrors"
      class="btn btn-green d-inline-flex justify-content-center align-items-center mt-5"
    >
      <div
        class="d-flex justify-content-center align-items-center space-x-2"
        v-if="loading"
      >
        <span class="loader"></span>
        <span>SOUMISSION</span>
      </div>
      <div v-show="!loading">
        <i class="las la-check-circle"></i> SAUVEGARDER
      </div>
    </button>
  </div>
</template>

<script>
export default {
  name: "NewStatusForm",

  props: {
    open: {
      type: Boolean,
      default: false,
    },
  },

  data() {
    return {
      loading: false,
      formData: {},
      errors: {},
    };
  },

  computed: {
    hasErrors() {
      return Object.keys(this.errors).length !== 0;
    },
  },

  methods: {
    submitForm() {},

    isInvalid(attribute) {
      return this.errors.hasOwnProperty(attribute);
    },

    errorMessage(attribute) {
      if (this.errors.hasOwnProperty(attribute)) {
        return this.errors[attribute][0];
      }
    },

    clearError(field) {
      this.$delete(this.errors, field);
    },
  },
};
</script>