<template>
  <div class="space-y-4">
    <section data-title="Noveau contact">
      <label for="newContact" class="font-medium text-xl pb-4"
        >Noveau fournisseur contact</label
      >
      <div class="space-y-2">
        <div class="form-group">
          <input
            type="text"
            class="form-control input-sidebar"
            :class="{ 'border-danger': isInvalid('name') }"
            placeholder="Nom*"
            v-model="formData.name"
            @keydown="clearError('name')"
          />

          <span v-if="isInvalid('name')" class="text-xs text-danger">
            {{ errorMessage("name") }}
          </span>
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control input-sidebar"
            :class="{ 'border-danger': isInvalid('phone') }"
            placeholder="Telephone"
            v-model="formData.phone"
            @keydown="clearError('phone')"
            @input="enforcePhoneFormat('phone')"
          />

          <span v-if="isInvalid('phone')" class="text-xs text-danger">
            {{ errorMessage("phone") }}
          </span>
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control input-sidebar"
            :class="{ 'border-danger': isInvalid('mobile') }"
            placeholder="Mobile"
            v-model="formData.mobile"
            @keydown="clearError('mobile')"
            @input="enforcePhoneFormat('mobile')"
          />

          <span v-if="isInvalid('mobile')" class="text-xs text-danger">
            {{ errorMessage("mobile") }}
          </span>
        </div>
        <div class="form-group">
          <input
            type="email"
            class="form-control input-sidebar"
            :class="{ 'border-danger': isInvalid('email') }"
            placeholder="Email*"
            v-model="formData.email"
            @keydown="clearError('email')"
          />

          <span v-if="isInvalid('email')" class="text-xs text-danger">
            {{ errorMessage("email") }}
          </span>
        </div>
      </div>
    </section>
    <section data-title="Roles">
      <label for="newContact" class="font-medium text-xl pb-4">Roles:</label>
      <div class="space-y-1">
        <div
          class="form-group form-check d-flex align-items-center"
          v-for="role in formData.roles"
          :key="role.name"
        >
          <input
            type="checkbox"
            class="form-check-input custom-check-sidebar"
            :class="{ 'border-danger': isInvalid('roles') }"
            id="supplier-contacts-role"
            v-model="role.checked"
            @change="clearError('roles')"
          />
          <span
            class="form-check-label ml-4 text-gray-700"
            for="supplier-contacts-role"
            >{{ role.translation }}</span
          >
        </div>
        <span v-if="isInvalid('roles')" class="text-xs text-danger">
          {{ errorMessage("roles") }}
        </span>
      </div>
    </section>
    <button
      @click.prevent="submitForm"
      class="btn btn-green d-inline-flex justify-content-center align-items-center"
    >
      <i class="las la-check-circle"></i>
      SAUVEGARDER
    </button>
  </div>
</template>

<script>
import _ from "lodash";

export default {
  name: "NewSupplierContactForm",

  props: {
    open: {
      type: Boolean,
      default: false,
    },

    supplier: {
      type: Object,
      default: null,
    },
  },

  data() {
    return {
      formData: {},
      errors: {},
    };
  },

  mounted() {
    this.setFormData();
  },

  methods: {
    submitForm() {
      let postUrl = `/api/suppliers/${this.supplier.id}/contacts`;

      axios
        .post(postUrl, this.formData)
        .then((response) => {
          this.$emit("supplier-contact-saved", response);
        })
        .catch((error) => {
          this.errors = error.response.data.errors;
          console.log(
            "submitForm() on NewSupplierContactForm",
            error.response.data.errors
          );
        });
    },

    isInvalid(attribute) {
      return this.errors.hasOwnProperty(attribute);
    },

    errorMessage(attribute) {
      if (this.errors.hasOwnProperty(attribute)) {
        return this.errors[attribute][0];
      }
    },

    clearError(field) {
      delete this.errors[field];
    },

    enforcePhoneFormat(property) {
      let x = this.formData[property]
        .replace(/\D/g, "")
        .match(/(\d{0,3})(\d{0,3})(\d{0,4})/);

      this.formData[property] = !x[2]
        ? x[1]
        : "(" + x[1] + ") " + x[2] + (x[3] ? "-" + x[3] : "");
    },

    setFormData() {
      this.formData = {
        name: null,
        phone: null,
        mobile: null,
        email: null,
        roles: {
          estimator: {
            name: "estimator",
            checked: false,
            translation: "Estimateur",
          },
          expedition: {
            name: "expedition",
            checked: false,
            translation: "Expédition",
          },
          infographics: {
            name: "infographics",
            checked: false,
            translation: "Infographie",
          },
          installer: {
            name: "installer",
            checked: false,
            translation: "Installateur",
          },
          owner: {
            name: "owner",
            checked: false,
            translation: "Propriétaire",
          },
          salesrep: {
            name: "salesrep",
            checked: false,
            translation: "Représentant",
          },
        },
      };
    },
  },
};
</script>