<template>
  <div>
    <section>
      <label for="newUser" class="font-medium text-xl pb-4"
        >Créer Utilisateur
      </label>
      <div class="space-y-2">
        <div class="form-group"></div>

        <div class="form-group">
          <input
            type="text"
            class="form-control input-sidebar"
            :class="{ 'border-danger': isInvalid('name') }"
            placeholder="Nom"
            v-model="formData.name"
            @keydown="clearError('name')"
          />

          <span v-if="isInvalid('name')" class="text-xs text-danger">
            {{ errorMessage("name") }}
          </span>
        </div>

        <div class="form-group">
          <input
            type="email"
            class="form-control input-sidebar"
            :class="{ 'border-danger': isInvalid('email') }"
            placeholder="Email"
            v-model="formData.email"
            @keydown="clearError('email')"
          />

          <span v-if="isInvalid('email')" class="text-xs text-danger">
            {{ errorMessage("email") }}
          </span>
        </div>
        <div class="form-group">
          <input
            type="password"
            class="form-control input-sidebar"
            :class="{ 'border-danger': isInvalid('password') }"
            placeholder="Mot de passe"
            v-model="formData.password"
            @keydown="clearError('password')"
          />

          <span v-if="isInvalid('password')" class="text-xs text-danger">
            {{ errorMessage("password") }}
          </span>
        </div>
      </div>
    </section>

    <button
      @click.prevent="submitForm"
      :disabled="loading"
      class="btn btn-green d-inline-flex justify-content-center align-items-center mt-5"
    >
      <div
        class="d-flex justify-content-center align-items-center space-x-2"
        v-if="loading"
      >
        <span class="loader"></span>
        <span>SOUMISSION</span>
      </div>
      <div v-show="!loading">
        <i class="las la-check-circle"></i> SAUVEGARDER
      </div>
    </button>
  </div>
</template>

<script>
import NoAjaxSearchSelect from "./partials/NoAjaxSearchSelect.vue";
import { EventBus } from "../../../event-bus";

export default {
  name: "NewUserForm",

  components: {
    NoAjaxSearchSelect,
  },

  props: {
    initializedFrom: {
      type: String,
      default: "nav",
    },
  },

  data() {
    return {
      loading: false,
      errors: {},
      postUrl: "/api/users",
      formData: {
        name: null,
        email: null,
        password: null,
      },
    };
  },

  mounted() {},

  methods: {
    submitForm() {
      this.loading = true;
      const url = this.postUrl;

      axios
        .post(url, this.formData)
        .then((response) => {
          this.loading = false;
          this.handleSuccess(response);
          this.$emit("new-user-created");
        })
        .catch((error) => {
          this.loading = false;
          this.errors = error.response.data.errors;
          console.log(
            "Sidebar/Forms/CreateClientForm submitForm()",
            error.response.data.errors
          );
        });
    },

    handleSuccess(response) {
      switch (this.initializedFrom) {
        case "nav":
           this.$swal.fire({
            title: "Success!",
            text: response.data.message,
            icon: "success",
            showConfirmButton: false,
          });
          setTimeout(() => {
            window.location.href = response.data.redirect_route;
          }, 400);
          break;

        case "tab":
          EventBus.$emit("created-user", response);
          break;

        default:
           this.$swal.fire({
            title: "Success!",
            text: response.data.message,
            icon: "success",
            showConfirmButton: false,
          });
          setTimeout(() => {
            window.location.href = response.data.redirect_route;
          }, 400);
          break;
      }
    },

    isInvalid(attribute) {
      return this.errors.hasOwnProperty(attribute);
    },

    errorMessage(attribute) {
      if (this.errors.hasOwnProperty(attribute)) {
        return this.errors[attribute][0];
      }
    },

    clearError(field) {
      delete this.errors[field];
    },

    updateRole(payload) {
      this.formData.role = payload;
      this.clearError("role");
    },
  },
};
</script>
