<template>
  <div class="row carte_affaire">
    <div class="col-10 d-flex justify-content-start align-items-center">
      <p>{{ data.name }}</p>
    </div>
    <div class="col-2 d-flex justify-content-end align-items-center">
      <i @click.stop="$emit('duplicate', data)" class="las la-copy pointer"></i>

      <i
        @click.stop="$emit('item-deleted', data)"
        class="las la-trash-alt pointer"
      ></i>

      <i
        :id="`icon-${data.id}`"
        @click="toggleItemDropdown(data.id)"
        class="las la-chevron-circle-down pointer toggle-menu"
      ></i>
    </div>
    <!-- Item dropdown content -->
    <div :id="`content-${data.id}`" class="col-12 carte_affaire-content mt-4">
      <div class="col-12">
        <div class="form-group item-description">
          <textarea
            class="border form-control"
            style="border-radius: 1rem"
            :class="hasErrorsFor('description') ? 'border-danger' : ''"
            rows="10"
            v-model="data.description"
            @input="clearErrorsFor('description')"
          ></textarea>
          <div v-if="hasErrorsFor('description')">
            <span
              class="text-xs text-danger"
              v-for="(error, index) in getErrorsFor('description')"
              :key="index"
            >
              {{ error }}
            </span>
          </div>
        </div>

        <div class="form-row col-12">
          <div class="col">
            <div class="form-group row">
              <label
                for="colFormLabelSm"
                class="col-3 col-form-label col-form-label-sm"
                >Quantité</label
              >
              <div class="col-8 ml-1">
                <multiselect-quantity
                  :item-id="data.id"
                  :data="data.quantities"
                  :style="
                    hasErrorsFor('quantities')
                      ? 'border: 1px solid red !important; border-radius: 1.5rem'
                      : ''
                  "
                  @quantities-updated="handleQuantityUpdates"
                  @tagged="clearErrorsFor('quantities')"
                ></multiselect-quantity>
                <div v-if="hasErrorsFor('quantities')">
                  <span
                    class="text-xs text-danger"
                    v-for="(error, index) in getErrorsFor('quantities')"
                    :key="index"
                  >
                    {{ error }}
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group row">
              <label
                for="dateLimiteDeLivraison"
                class="col-4 col-form-label col-form-label-sm"
                >Date limite de livraison</label
              >
              <div class="col-8">
                <input
                  type="date"
                  class="form-control form-control-sm custom-border"
                  :style="
                    hasErrorsFor('delivery_deadline')
                      ? 'border: 1px solid red !important;'
                      : ''
                  "
                  style="
                    border-radius: 1.5rem !important;
                    height: 50.2333px !important;
                    border: 1px solid rgb(231, 232, 232);
                    padding-right: 1.5rem !important;
                  "
                  id="dateLimiteDeLivraison"
                  v-model="data.delivery_deadline"
                  @input="clearErrorsFor('delivery_deadline')"
                />
                <div v-if="hasErrorsFor('delivery_deadline')">
                  <span
                    class="text-xs text-danger"
                    v-for="(error, index) in getErrorsFor('delivery_deadline')"
                    :key="index"
                  >
                    {{ error }}
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row" v-for="(group, index) in filteredOptionGroups" :key="group.id">
          <label
            class="col-sm-2 col-form-label col-form-label-sm"
            style="margin-right: -1rem; margin-left: 1rem"
            ><label v-if="index === 0">Option Group</label></label
          >
            <div class="col-9 input-group">
              <multiselect-options
                ref="multiselect-options"
                :model="selectedOption"
                :options="group.options"
                :group_id="group.id"
                @remove_group="removeOptionGroup"
              ></multiselect-options>
            </div>
            <div class="col-1 d-flex justify-content-center align-items-top mt-3">
              <a v-if="index === 0">
                <i
                  id="open-options-icon"
                  class="las la-plus-circle pointer"
                  @click.prevent="
                    open({
                      form: 'new-option',
                      initializedFrom: 'item',
                      key: data.id,
                    })
                  "
                ></i>
              </a>
            </div>
          </div>
          <!-- OU -->
          <div class="form-group row">
            <label
              class="col-sm-2 col-form-label col-form-label-sm"
              style="margin-right: -1rem; margin-left: 1rem"
              ></label
            >
            <div class="col-9 input-group">
              <button
                class="btn btn-green d-inline-flex justify-content-center align-items-center py-2"
                @click="addOptionGroup"
                style="margin-left: 1rem"
              >
                <i class="las la-plus-circle"></i>
                Nouveau groupe
              </button>
            </div>
          </div>

        <!-- <div class="form-group row">
          <label
            for="colFormLabelSm"
            class="col-sm-2 col-form-label col-form-label-sm"
            style="margin-right: -1rem; margin-left: 1rem"
            >Options</label
          >
          <div class="col-9 input-group">
            <multiselect-options
              ref="multiselect-options"
              :model="selectedOption"
              :options="itemOptions"
            ></multiselect-options>
          </div>
          <div class="col-1 d-flex justify-content-center align-items-top mt-3">
            <a>
              <i
                id="open-options-icon"
                class="las la-plus-circle pointer"
                @click.prevent="
                  open({
                    form: 'new-option',
                    initializedFrom: 'item',
                    key: data.id,
                  })
                "
              ></i>
            </a>
          </div>
        </div> -->

        <div class="form-group row ml-1">
          <label
            for="colFormLabelSm"
            class="col-sm-2 col-form-label col-form-label-sm"
            >Adresse de livraison</label
          >
          <div class="col-9 input-group">
            <search-select-delivery-address
              ref="search-select-delivery-address"
              :style="
                hasErrorsFor('deliveryAddress')
                  ? 'border: 1px solid red !important; border-radius: 1.5rem'
                  : ''
              "
              :data="data.deliveryAddress"
              :item-id="data.id"
              :clientId="project.client.id"
              @address-updated="handleAddressUpdates"
              @selected="clearErrorsFor('deliveryAddress')"
            ></search-select-delivery-address>
            <div v-if="hasErrorsFor('deliveryAddress')">
              <span
                class="text-xs text-danger"
                v-for="(error, index) in getErrorsFor('deliveryAddress')"
                :key="index"
              >
                {{ error }}
              </span>
            </div>
          </div>
          <div class="col-1 d-flex justify-content-center align-items-center">
            <a>
              <i
                id="new-address-icon"
                @click.prevent="
                  open({
                    form: 'new-address',
                    client: client,
                    initializedFrom: 'item',
                    address_type: 'delivery',
                    key: data.id,
                  })
                "
                class="las la-plus-circle pointer"
              ></i>
            </a>
          </div>
        </div>
        <div class="form-group row ml-1">
          <label
            for="colFormLabelSm"
            class="col-sm-2 col-form-label col-form-label-sm"
            >Contact</label
          >
          <div class="col-9 input-group">
            <search-select-delivery-contacts
              ref="search-select-delivery-contact"
              :style="
                hasErrorsFor('deliveryContact')
                  ? 'border: 1px solid red !important; border-radius: 1.5rem'
                  : ''
              "
              :data="data.deliveryContact"
              :itemId="data.id"
              :divisionId="project.division_id"
              @contact-changed="handleContactUpdates"
              @selected="clearErrorsFor('deliveryContact')"
            ></search-select-delivery-contacts>
            <div v-if="hasErrorsFor('deliveryContact')">
              <span
                class="text-xs text-danger"
                v-for="(error, index) in getErrorsFor('deliveryContact')"
                :key="index"
              >
                {{ error }}
              </span>
            </div>
          </div>
          <div class="col-1 d-flex justify-content-center align-items-center">
            <a>
              <i
                id="new-delivery-contact-icon"
                @click.prevent="
                  open({
                    form: 'new-contact',
                    client: client,
                    role: 'delivery',
                    initializedFrom: 'item',
                    division: project.division,
                    key: data.id,
                  })
                "
                class="las la-plus-circle pointer"
              ></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import MultiselectOptions from "./MultiselectOptions";
import MultiselectQuantity from "./MultiselectQuantity";
import SearchSelectDeliveryAddress from "./SearchSelectDeliveryAddress";
import SearchSelectDeliveryContacts from "./SearchSelectDeliveryContacts";
import { EventBus } from "../../../../../event-bus";

export default {
  name: "SingleItem",

  components: {
    MultiselectOptions,
    MultiselectQuantity,
    SearchSelectDeliveryAddress,
    SearchSelectDeliveryContacts,
  },

  props: {
    data: {
      type: Object,
      default: null,
    },
    client: {
      type: Object,
      default: null,
    },
    project: {
      type: Object,
      default: null,
    },
    errors: {
      type: Object,
      default: null,
    },
    index: {
      type: Number,
      default: null,
    },
  },

  data() {
    return {
      itemOptions: this.data.options,
      selectedOption: {},
    };
  },

  computed: {
    filteredOptionGroups() {
      return this.data.option_groups.filter(i => i.type === 'custom_made');
    }
  },

  mounted() {
    EventBus.$on(`option-created-from-tab-${this.data.id}`, (payload) => {
      this.selectedOption = payload.data.option;
      this.$refs["multiselect-options"].value = payload.data.option;
    });

    EventBus.$on(`address-created-from-item-tab-${this.data.id}`, (payload) => {
      console.log(payload, "address");
      console.log(this.data, "data");
      // this.$emit("addressUpdated", payload);
      this.data.deliveryAddress = payload.address;
      this.$refs["search-select-delivery-address"].address = payload.address;
    });

    EventBus.$on(`contact-created-from-item-${this.data.id}`, (payload) => {
      // this.$emit("contactUpdated", {
      //   contact: payload.contact_for_item,
      // });
      this.data.deliveryContact = payload.contact_for_item;
      this.$refs["search-select-delivery-contact"].contact =
        payload.contact_for_item;
    });

    EventBus.$on(`created-supplier-from-item-${this.data.id}`, (payload) => {
      this.data.suppliers.push(payload.supplier_for_item);
    });
  },

  methods: {
    toggleItemDropdown(id) {
      this.$emit("toggle-dropdown", id);
    },

    handleQuantityUpdates(payload) {
      this.$emit("quantitiesUpdated", payload);
    },

    handleAddressUpdates(payload) {
      this.$emit("addressUpdated", payload);
    },

    handleContactUpdates(payload) {
      this.$emit("contactUpdated", payload);
    },

    hasErrorsFor(field) {
      return this.errors.hasOwnProperty(`items.${this.index}.${field}`)
        ? true
        : false;
    },

    getErrorsFor(field) {
      // Example - this.errors["items.0.description"]
      return this.errors[`items.${this.index}.${field}`].map((error) =>
        error.replace(`items.${this.index}.`, "")
      );
    },

    clearErrorsFor(field) {
      if (!this.hasErrorsFor(field)) return;
      return delete this.errors[`items.${this.index}.${field}`];
    },

    open(data) {
      EventBus.$emit("open-sidebar", data);
    },

    addOptionGroup() {
      let emptyOptionGroup = {
        id: Math.floor(Math.random() * Date.now()),
        hash_id: Math.floor(Math.random() * Date.now()),
        options: [],
        item_id: this.data.id,
        type: 'custom_made'
      };

      this.data.option_groups.push(emptyOptionGroup);
    },

    removeOptionGroup(groupId) {
      let group_to_be_removed = this.data.option_groups.find(
        (group) => group.id === groupId
      );

      console.log(group_to_be_removed);

      let index = this.data.option_groups.indexOf(group_to_be_removed);

      console.log(index);
      this.data.option_groups = this.data.option_groups.filter((group) => group.id !== groupId);
    }
  },
};
</script>