<template functional>
  <div class="container-fluid">
    <!-- Header -->
    <section id="header_content" class="row header_content_single_project">
      <div class="col-11 d-flex justify-content-start align-items-center">
        <a
          href="/dashboard"
          class="btn btn-green d-inline-flex justify-content-center align-items-center mr-5 py-2"
        >
          <i
            style="font-size: 30px; margin: 0"
            class="las la-arrow-circle-left"
          ></i>
        </a>
        <div class="titre_single_project">
          <p>{{ props.admin.name }}</p>
          <p>{{ props.admin.email }}</p>
        </div>
      </div>
      <div class="col-1 d-flex justify-content-center align-items-center"></div>
    </section>
    <!-- End Header -->
  </div>
</template>

<script>
export default {
  name: "AdminDetailsHeader",

  props: {
    admin: {
      type: Object,
      default: null,
    },
  },
};
</script>
