<template>
  <transition name="fade">
    <div v-show="isActive" :class="{ active: isActive }">
      <div id="admin_content">
        <div class="form-group row">
          <label
            for="input-admin_name"
            class="col-2 col-form-label d-flex justify-content-start align-items-center"
          >
            Nom<span>*</span>
          </label>
          <div class="col-9">
            <div class="input-group">
              <input
                type="text"
                class="form-control custom-text-input"
                :class="{ 'text-input-invalid': isInvalid('name') }"
                id="input-admin_name"
                v-model="data.name"
                @keydown="clearError('name')"
              />
              <span
                v-if="isInvalid('name')"
                class="input-error"
                style="margin-botom: -0.25rem !important"
                >{{ errorMessage("name") }}</span
              >
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label
            for="input-admin-email"
            class="col-2 col-form-label d-flex justify-content-start align-items-center"
          >
            Email<span>*</span>
          </label>
          <div class="col-9">
            <div class="input-group">
              <input
                type="text"
                class="form-control custom-text-input"
                :class="{ 'text-input-invalid': isInvalid('email') }"
                id="input-admin-email"
                v-model="data.email"
                @keydown="clearError('email')"
              />
              <span
                v-if="isInvalid('email')"
                class="input-error"
                style="margin-botom: -0.25rem !important"
                >{{ errorMessage("email") }}</span
              >
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label
            for="input-admin_password"
            class="col-2 col-form-label d-flex justify-content-start align-items-center"
          >
            Change password
          </label>
          <div class="col-9">
            <div class="input-group">
              <input
                type="password"
                class="form-control custom-text-input"
                :class="{ 'text-input-invalid': isInvalid('password') }"
                id="input-admin_password"
                autocomplete="current-password"
                v-model="data.password"
                @keydown="clearError('password')"
                placeholder="Type here if you wish to change your current password."
              />
              <span
                v-if="isInvalid('password')"
                class="input-error"
                style="margin-botom: -0.25rem !important"
                >{{ errorMessage("password") }}</span
              >
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label
            for="password-confirm"
            class="col-2 col-form-label d-flex justify-content-start align-items-center"
          >
            Confirm password
          </label>
          <div class="col-9">
            <div class="input-group">
              <input
                type="password"
                name="password_confirmation"
                required
                autocomplete="new-password"
                class="form-control custom-text-input"
                :class="{ 'text-input-invalid': isInvalid('password') }"
                id="password-confirm"
                v-model="data.password_confirmation"
                @keydown="clearError('password')"
              />
              <span
                v-if="isInvalid('password')"
                class="input-error"
                style="margin-botom: -0.25rem !important"
                >{{ errorMessage("password") }}</span
              >
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row mb-0">
        <button
          @click="updateAdmin"
          class="ml-auto mr-3 btn btn-green d-inline-flex justify-content-center align-items-center"
        >
          <i class="las la-check-circle"></i>
          SAUVEGARDER
        </button>
      </div>
    </div>
  </transition>
</template>

<script>
import { EventBus } from "../../../../event-bus";

export default {
  name: "GeneralInformation",

  props: {
    isActive: {
      type: Boolean,
      default: false,
    },

    data: {
      type: Object,
      default: null,
    },
  },

  data() {
    return {
      errors: {},
    };
  },

  methods: {
    updateAdmin() {
      const url = `/admin/profile/update`;
      axios
        .patch(url, this.data)
        .then((response) => {
          this.$toasted.show(response.data.message);
        })
        .catch((error) => {
          this.errors = error.response.data.errors;
          console.log(
            "Admin interface / Profile / General information updateAdmin()",
            error
          );
        });
    },

    isInvalid(attribute) {
      return this.errors.hasOwnProperty(attribute);
    },

    errorMessage(attribute) {
      if (this.errors[attribute]) {
        return this.errors[attribute][0];
      }
    },

    clearError(field) {
      delete this.errors[field];
    },

    enforcePhoneFormat() {
      let x = this.data.phone
        .replace(/\D/g, "")
        .match(/(\d{0,3})(\d{0,3})(\d{0,4})/);
      this.data.phone = !x[2]
        ? x[1]
        : "(" + x[1] + ") " + x[2] + (x[3] ? "-" + x[3] : "");
    },

    open(form) {
      EventBus.$emit("open-sidebar", form);
    },
  },
};
</script>
