<template>
  <div>
    <project-details-header
      :project="project"
      :statuses="statuses"
      :invoice_count="invoice_count"
      :invoice_amount="invoice_amount"
    ></project-details-header>
    <div class="container-fluid">
      <section id="wrap_single_project" class="row no-gutters">
        <div id="single_project_content" class="col-10">
          <description-tab
            :isActive="isActive('Description')"
            :project="project"
            :client="client"
            :statuses="statuses"
          ></description-tab>
          <item-tab
            :isActive="isActive('Items')"
            :project="project"
            :client="client"
          ></item-tab>
          <fournisseurs-tab
            v-if="isActive('Fournisseurs') || ! fournisseurTabShouldBeDisabled"
            :isActive="isActive('Fournisseurs')"
            :project="project"
          ></fournisseurs-tab>
           <soumission-tab
            v-if="isActive('Soumission') || ! soumissionTabShouldBeDisabled"
            :isActive="isActive('Soumission')"
            :project="project"
          ></soumission-tab>
          <epreuves-tab
            v-if="isActive('Épreuves')"
            :isActive="isActive('Épreuves')"
            :project="project"
          ></epreuves-tab>
          <facture-tab
            :project="project"
            v-if="isActive('Facture') || ! factureTabShouldBeDisabled"
            :isActive="isActive('Facture')"
          ></facture-tab>
        </div>

        <div id="single_project_tabs" class="col-2">
          <!-- Active class toggling -->
          <div
            class="row"
            @click="openTab('Description')"
            :class="{ active: isActive('Description') }"
            data-show="#client_content"
          >
            <div class="col-3 align-self-center">
              <i class="las la-user"></i>
            </div>
            <div class="col-9 align-self-center tabs_title">
              <p>Description</p>
              <p>Information générale</p>
            </div>
          </div>

          <div
            class="row"
            @click="openTab('Items')"
            :class="{ active: isActive('Items') }"
            data-show="#items_content"
          >
            <div class="col-3 align-self-center">
              <i class="las la-copy"></i>
            </div>
            <div class="col-9 align-self-center tabs_title">
              <p>Items</p>
              <p>Items du projet</p>
            </div>
          </div>

          <div
            class="row"
            @click="openTab('Fournisseurs')"
            :class="{
              active: isActive('Fournisseurs'),
              'is-disabled': fournisseurTabShouldBeDisabled,
            }"
            data-show="#fournisseurs_content"
          >
            <div class="col-3 align-self-center">
              <i
                :class="{ 'is-disabled': fournisseurTabShouldBeDisabled }"
                class="las la-newspaper"
              ></i>
            </div>
            <div class="col-9 align-self-center tabs_title">
              <p :class="{ 'is-disabled': fournisseurTabShouldBeDisabled }">Fournisseurs</p>
              <p :class="{ 'is-disabled': fournisseurTabShouldBeDisabled }">
                Choix et soumissions
              </p>
            </div>
          </div>

          <div
            class="row"
            @click="openTab('Soumission')"
            :class="{
              active: isActive('Soumission'),
              'is-disabled': soumissionTabShouldBeDisabled,
            }"
            data-show="#fournisseurs_content"
          >
            <div class="col-3 align-self-center">
              <i
                :class="{ 'is-disabled': soumissionTabShouldBeDisabled }"
                class="las la-dollar-sign"
              ></i>
            </div>
            <div class="col-9 align-self-center tabs_title">
              <p :class="{ 'is-disabled': soumissionTabShouldBeDisabled }">Soumission</p>
              <p :class="{ 'is-disabled': soumissionTabShouldBeDisabled }">
                Soumissions
              </p>
            </div>
          </div>

          <div
            class="row"
            @click="openTab('Épreuves')"
            :class="{
              active: isActive('Épreuves'),
              'is-disabled': epreuveTabShouldBeDisabled,
            }"
            data-show="#epreuves_content"
          >
            <div class="col-3 align-self-center">
              <i
                :class="{ 'is-disabled': epreuveTabShouldBeDisabled }"
                class="las la-check-circle"
              ></i>
            </div>
            <div class="col-9 align-self-center tabs_title">
              <p :class="{ 'is-disabled': epreuveTabShouldBeDisabled }">Épreuves</p>
              <p :class="{ 'is-disabled': epreuveTabShouldBeDisabled }">
                Fichiers approuvés
              </p>
            </div>
          </div>

          <div
            class="row"
            @click="openTab('Facture')"
            :class="{
              active: isActive('Facture'),
              'is-disabled': factureTabShouldBeDisabled,
            }"
            data-show="#facturation_content"
          >
            <div class="col-3 align-self-center">
              <i
                :class="{
                  'is-disabled': factureTabShouldBeDisabled,
                }"
                class="las la-dollar-sign"
              ></i>
            </div>
            <div class="col-9 align-self-center tabs_title">
              <p
                :class="{
                  'is-disabled': factureTabShouldBeDisabled,
                }"
              >
                Facture
              </p>
              <p
                :class="{
                  'is-disabled': factureTabShouldBeDisabled,
                }"
              >
                Votre facture
              </p>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</template>

<script>
import { EventBus } from "../../../event-bus";
import ProjectDetailsHeader from "./Tabs/ProjectDetailsHeader";
import DescriptionTab from "./Tabs/DescriptionTab.vue";
import ItemTab from "./Tabs/ItemTab.vue";
import SoumissionTab from "./Tabs/SoumissionTab.vue";
import FournisseursTab from "./Tabs/FournisseursTab.vue";
import EpreuvesTab from "./Tabs/EpreuvesTab.vue";
import FactureTab from "./Tabs/FactureTab.vue";

export default {
  name: "ClientProjectDetails",

  components: {
    ProjectDetailsHeader,
    DescriptionTab,
    ItemTab,
    SoumissionTab,
    FournisseursTab,
    EpreuvesTab,
    FactureTab,
  },

  props: {
    project: {
      type: Object,
      default: null,
    },
    client: {
      type: Object,
      default: null,
    },
    statuses: {
      type: Array,
      default: () => null,
    },
    approved_submissions_count: {
      type: Number,
      default: null,
    },
    invoice_count: {
      type: Number,
      default: 0,
    },
    invoice_amount: {
      type: Number,
      default: 0,
    },
  },

  data() {
    return {
      tabNames: ["Description", "Items", "Soumission", "Épreuves", "Facture"],
      activeTab: "Description",
    };
  },

  mounted() {
    if (sessionStorage.flash) {
      this.$toasted.show(JSON.parse(sessionStorage.getItem("flash")));
      sessionStorage.clear();
    }
  },

  computed: {
    tabShouldBeDisabled() {
      // return (
      //   this.approved_submissions_count === 0 ||
      //   this.approved_submissions_count === null
      // );
      return false;
    },

    fournisseurTabShouldBeDisabled() {
      return (
        this.project.status === "quote_requests_to_be_made" ||
        this.project.status === "awaiting_supplier_prices" ||
        this.project.status === "submissions_to_prepare"
      );
    },

    soumissionTabShouldBeDisabled() {
      return (
        this.project.status === "quote_requests_to_be_made" ||
        this.project.status === "awaiting_supplier_prices" ||
        this.project.status === "submissions_to_prepare"
      );
    },

    epreuveTabShouldBeDisabled() {
      return (
        this.soumissionTabShouldBeDisabled ||
        this.project.status === "submissions_sent_awaiting_client_approval"
      );
    },

    factureTabShouldBeDisabled() {
      return (
        this.project.status === "quote_requests_to_be_made" ||
        this.project.status === "awaiting_supplier_prices" ||
        this.project.status === "submissions_to_prepare" ||
        this.project.status === "submissions_sent_awaiting_client_approval" ||
        this.project.status === "submissions_approved_waiting_for_the_tests" ||
        this.project.status === "tests_sent_awaiting_client_approval" ||
        this.project.status === "tests_approved_work_in_production"
      );
    },
  },

  methods: {
    openTab(name) {
      return (this.activeTab = name);
    },

    isActive(tab) {
      return this.activeTab === tab;
    },

    open(form) {
      EventBus.$emit("open-sidebar", form);
    },
  },
};
</script>

<style lang="scss" scoped>
.is-disabled {
  color: gainsboro !important;
  pointer-events: none !important;
}
</style>
