<template>
  <div id="facturation_content" :class="{ active: isActive }">
    <!-- facturation item -->
    <div v-if="loading">
      <carte-loading-placeholder />
    </div>
    <div v-else>
      <div v-if="data.line_items.length === 0">No line items created.</div>

      <div v-else>
        <div v-for="(item, index) in data.line_items" :key="item.id">
          <InvoiceLineItem
            :data="item"
            :index="index"
            :errors="errors"
            :project="project"
            @toggle-dropdown="toggleItemDropdown"
          />
        </div>

        <ProjectManagementFee
          :data="data.project_management"
          :project="project"
          :errors="errors"
          @toggle-dropdown="toggleItemDropdown"
        />

        <div id="invoice-footer" class="d-flex justify-content-between">
          <!-- left side of facturation footer -->
          <div
            class="d-flex align-content-center justify-content-start space-x-2 w-60percent"
            style="margin-left: -1rem; max-height: 50px"
          >
            <button
              id="soumission-accept"
              @click.prevent="accept()"
              :disabled="submitting"
              class="btn btn-green d-inline-flex justify-content-center align-items-center"
            >
              <i class="las la-check-circle"></i> ACCEPTER LES SOUMISSIONS
            </button>
            <button
              id="soumission-decline"
              @click.prevent="decline()"
              :disabled="submitting"
              class="btn btn-green d-inline-flex justify-content-center align-items-center"
              style="background-color: #a50f0f"
            >
              <i class="las la-minus-circle"></i> REFUSER LES SOUMISSIONS
            </button>
          </div>
          <!-- end left side of facturation footer -->

          <!-- right side of facturation footer -->
          <div class="text-xl">
            <div class="d-flex justify-content-between">
              <div>SOUS-TOTAL:</div>
              <div class="text-right pl-8">{{ formattedSubTotal }}</div>
            </div>
            <div class="d-flex justify-content-between pt-4">
              <div>TPS:</div>
              <div class="text-right pl-8">{{ tps_amount }}$</div>
            </div>
            <div class="d-flex justify-content-between">
              <div>TVQ:</div>
              <div class="text-right pl-8">{{ tvq_amount }}$</div>
            </div>
            <div
              class="d-flex justify-content-between pt-4 text-2xl font-medium"
            >
              <div>TOTAL:</div>
              <div class="text-right pl-8">{{ formattedTotalAmount }}$</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import CarteLoadingPlaceholder from "../../../Layouts/CarteLoadingPlaceholder.vue";
import InvoiceLineItem from "./SoumissionContentPartials/InvoiceLineItem.vue";
import ProjectManagementFee from "./SoumissionContentPartials/ProjectManagementFee.vue";
import _ from "lodash";

export default {
  name: "SoumissionTab",

  components: {
    CarteLoadingPlaceholder,
    InvoiceLineItem,
    ProjectManagementFee,
  },

  props: {
    isActive: {
      type: Boolean,
      default: false,
    },

    project: {
      type: Object,
      default: null,
    },
  },

  data() {
    return {
      data: [],
      errors: {},
      loading: false,
      submitting: false,
      updatingInvoice: false,
      notifyingClient: false,
    };
  },

  created() {
    this.initializeComponent();
  },

  computed: {
    fetchInvoiceUrl() {
      return `/api/projects/${this.project.id}/invoice`;
    },

    updateInvoiceUrl() {
      return `/api/projects/${this.project.id}/invoice/${this.data.id}/update`;
    },

    approvedPrices() {
      return _.sum(
        this.data.line_items.map((i) => _.toNumber(i.approved_price))
      );
    },

    adminProfits() {
      return _.sum(this.data.line_items.map((i) => _.toNumber(i.admin_profit)));
    },

    tps_rate() {
      return _.toNumber(this.data.tps_tax_rate);
    },

    tvq_rate() {
      return _.toNumber(this.data.tvq_tax_rate);
    },

    project_management_fee() {
      return _.toNumber(this.data.project_management.fee);
    },

    formattedSubTotal() {
      return parseFloat(
        this.approvedPrices + this.adminProfits + this.project_management_fee
      ).toFixed(2);
    },

    tps_amount() {
      return parseFloat(this.formattedSubTotal * this.tps_rate).toFixed(2);
    },

    tvq_amount() {
      return parseFloat(this.formattedSubTotal * this.tvq_rate).toFixed(2);
    },

    formattedTotalProfit() {
      return parseFloat(
        this.adminProfits + this.project_management_fee
      ).toFixed(2);
    },

    taxes() {
      return parseFloat(this.tps_amount) + parseFloat(this.tvq_amount);
    },

    formattedTotalAmount() {
      // sum of approved_prices, admin profits, and project management fee, + tax on that sum.
      return parseFloat(
        parseFloat(this.formattedSubTotal) + this.taxes
      ).toFixed(2);
    },
  },

  methods: {
    initializeComponent() {
      this.fetchSubmissionApproval();
    },

    fetchSubmissionApproval() {
      this.loading = true;

      axios
        .get(this.fetchInvoiceUrl)
        .then((response) => {
          this.data = response.data.data;
          this.loading = false;
        })
        .catch((error) => {
          this.loading = false;
          console.log(error.response.data.errors);
        });
    },

    findById(element) {
      return this.data.line_items.find((item) => item.id === element);
    },

    pdf_version() {
      let win = window.open(`/invoices/${this.data.unique_code}`, "_blank");
      win.focus();
    },

    toggleItemDropdown(id) {
      document
        .getElementById(`pre-invoice-line-item-${id}`)
        .classList.toggle("block");

      let dropdownIcon = document.getElementById(
        `pre-invoice-line-item-icon-${id}`
      );
      dropdownIcon.classList.toggle("la-chevron-circle-down");
      dropdownIcon.classList.toggle("la-chevron-circle-up");
      dropdownIcon.classList.toggle("text-success");
    },

    accept() {
      // ClientSubmissionTabController@store
      this.$swal
        .fire({
          title: "Are you sure?",
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#49a610",
          cancelButtonColor: "#353841",
          confirmButtonText: "Yes, accept.",
          reverseButtons: true,
        })
        .then((result) => {
          if (result.isConfirmed) {
            this.submitting = true;
            // ClientSubmissionTabController@store
            const url = `/client/api/projects/${this.project.id}/accept-submission`;
            axios
              .post(url)
              .then((response) => {
                this.submitting = false;
                this.$toasted.show(response.data.message);
              })
              .catch((error) => {
                this.submitting = false;
                console.log(error.response.data.errors);
              });
          }
        });
    },

    decline() {
      // ClientSubmissionTabController@destroy
      // /api/projects/{project}/decline-submission
      this.$swal
        .fire({
          title: "Are you sure?",
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#49a610",
          cancelButtonColor: "#353841",
          confirmButtonText: "Yes, decline.",
          reverseButtons: true,
        })
        .then((result) => {
          if (result.isConfirmed) {
            this.submitting = true;
            const url = `/client/api/projects/${this.project.id}/decline-submission`;
            axios
              .post(url)
              .then((response) => {
                this.$toasted.show(response.data.message);
                this.submitting = false;
              })
              .catch((error) => {
                this.submitting = false;
                this.$toasted.show(error.response.data.errors);
                console.log("client interface soumiossion tab");
                console.log(error.response.data.errors);
              });
          }
        });
    },
  },
};
</script>

<style lang="scss" scoped>
</style>
