<template>
  <div>
    <user-details-header :user="user"></user-details-header>
    <div class="container-fluid">
      <section id="wrap_single_project" class="row no-gutters">
        <div id="single_project_content" class="col-10">
          <general-information
            :isActive="isActive('GeneralInfo')"
            :data="user"
          ></general-information>
        </div>

        <div id="single_project_tabs" class="col-2">
          <!-- Active class toggling -->
          <div
            class="row"
            @click="openTab('GeneralInfo')"
            :class="{ active: isActive('GeneralInfo') }"
            data-show="#client_content"
          >
            <div class="col-3 align-self-center">
              <i class="las la-user-alt"></i>
            </div>
            <div class="col-9 align-self-center tabs_title">
              <p>Utilisateur</p>
              <p>Information générale</p>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</template>

<script>
import { EventBus } from "../../../event-bus";
import UserDetailsHeader from "./Partials/UserDetailsHeader.vue";
import GeneralInformation from "./Tabs/GeneralInformation.vue";

export default {
  name: "UserDetails",

  components: {
    UserDetailsHeader,
    GeneralInformation,
  },

  props: {
    data: {
      type: Object,
      default: null,
    },
  },

  data() {
    return {
      user: this.data,
      tabNames: ["GeneralInfo"],
      activeTab: "GeneralInfo",
    };
  },

  methods: {
    openTab(name) {
      return (this.activeTab = name);
    },

    isActive(tab) {
      return this.activeTab === tab;
    },

    open(form) {
      EventBus.$emit("open-sidebar", form);
    },
  },
};
</script>
