<template>
  <div
    class="single_liste_projet d-flex align-items-center justify-content-between"
    style="border-radius: 0.5rem !important"
  >
    <h2 class="nom_client col-4" style="margin-left: 0rem !important">
      <a :href="`/users/${data.id}`">{{ data.name }}</a>
    </h2>
    <p class="desc_courte font-light">{{ data.email }}</p>
    <p class="desc_courte font-light text-success">{{ data.role }}</p>
    <p v-if="data.role !== 'ADMIN'" class="desc_courte font-light">
      <span v-if="data.connected_entity.object !== null">
        Connected entity (<span class="text-success">
            <a :href="data.connected_entity.url" >{{ data.connected_entity.object.name }}</a>
          </span>)
      </span>
      <span v-else>
        Not connected to any entity.
      </span>
    </p>
    <p v-else class="desc_courte font-light">
    </p>
    <div class="dropdown more_projet">
      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        id="header_option_afficher"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <i class="las la-ellipsis-h"></i>
      </button>
      <div class="dropdown-menu" aria-labelledby="header_option_afficher">
        <a class="dropdown-item disable_text" :href="`/users/${data.id}`">Edit</a>
        <a v-if="data.role !== 'ADMIN'" class="dropdown-item disable_text" href="#" @click.prevent="destroy">Delete</a>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "UserListItem",

  props: {
    data: {
      type: Object,
      default: null,
    },
  },

  computed: {
    destroyUrl() {
      return `/users/${this.data.id}/delete`;
    },
  },

  methods: {
    destroy() {
      this.$swal
        .fire({
          title: "Are you sure?",
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#49a610",
          cancelButtonColor: "#353841",
          confirmButtonText: "Yes, delete it!",
          reverseButtons: true,
        })
        .then((result) => {
          if (result.isConfirmed) {
            axios
              .delete(this.destroyUrl)
              .then((response) => {
                this.$emit("deleted", this.data.id);
                this.$toasted.show(response.data.message);
              })
              .catch((error) => {
                console.log(
                  "ClientListItem component destroy()",
                  error.response.data.errors
                );
              });
          }
        });
    },
  },
};
</script>