<template>
  <div :class="{ active: isActive }">
    <div id="supplier_content">
      <div class="form-group row">
        <label
          for="input-supplier"
          class="col-2 col-form-label d-flex justify-content-start align-items-center"
        >
          Utilisateur
        </label>
        <div class="col-9">
          <div class="input-group">
            <search-select-user :data="formData"></search-select-user>
          </div>
        </div>
        <div class="col-1 d-flex justify-content-center align-items-center">
          <a href="#">
            <i
              id="open-new-user"
              @click.prevent="
                open({
                  form: 'new-user-form',
                  initializedFrom: 'tab',
                })
              "
              class="las la-plus-circle"
            ></i>
          </a>
        </div>
      </div>

      <div class="form-group row">
        <label
          for="input-fournisseur_name"
          class="col-2 col-form-label d-flex justify-content-start align-items-center"
        >
          Fournisseur nom<span>*</span>
        </label>
        <div class="col-9">
          <div class="input-group">
            <input
              type="text"
              class="form-control custom-text-input"
              :class="{ 'text-input-invalid': isInvalid('name') }"
              id="input-fournisseur_name"
              v-model="formData.name"
              @keydown="clearError('name')"
            />
            <span
              v-if="isInvalid('name')"
              class="input-error"
              style="margin-botom: -0.25rem !important"
              >{{ errorMessage("name") }}</span
            >
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label
          for="input-phone"
          class="col-2 col-form-label d-flex justify-content-start align-items-center"
        >
          Téléphone<span>*</span>
        </label>
        <div class="col-9">
          <div class="input-group">
            <input
              type="tel"
              placeholder="(123) 456-7890"
              class="form-control custom-text-input"
              :class="{ 'text-input-invalid': isInvalid('phone') }"
              id="input-phone"
              v-model="formData.phone"
              maxlength="16"
              @keydown="clearError('phone')"
              @input="enforcePhoneFormat()"
            />

            <span
              v-if="isInvalid('phone')"
              class="input-error"
              style="margin-botom: -0.25rem !important"
              >{{ errorMessage("phone") }}</span
            >
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label
          for="input-address"
          class="col-2 col-form-label d-flex justify-content-start align-items-center"
        >
          Address<span>*</span>
        </label>
        <div class="col-9">
          <div class="input-group">
            <input
              type="text"
              class="form-control custom-text-input"
              :class="{ 'text-input-invalid': isInvalid('address_line_1') }"
              id="input-address"
              v-model="formData.address_line_1"
              @keydown="clearError('address_line_1')"
            />
            <span
              v-if="isInvalid('address_line_1')"
              class="input-error"
              style="margin-botom: -0.25rem !important"
              >{{ errorMessage("address_line_1") }}</span
            >
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label
          for="input-city"
          class="col-2 col-form-label d-flex justify-content-start align-items-center"
        >
          Ville<span>*</span>
        </label>
        <div class="col-9">
          <div class="input-group">
            <input
              type="text"
              class="form-control custom-text-input"
              :class="{ 'text-input-invalid': isInvalid('city') }"
              id="input-city"
              @keydown="clearError('city')"
              v-model="formData.city"
            />
            <span
              v-if="isInvalid('city')"
              class="input-error"
              style="margin-botom: -0.25rem !important"
              >{{ errorMessage("city") }}</span
            >
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label
          for="input-province"
          class="col-2 col-form-label d-flex justify-content-start align-items-center"
        >
          Province<span>*</span>
        </label>
        <div class="col-9">
          <div class="input-group">
            <input
              type="text"
              class="form-control custom-text-input"
              :class="{ 'text-input-invalid': isInvalid('province') }"
              id="input-province"
              v-model="formData.province"
              @keydown="clearError('province')"
            />
            <span
              v-if="isInvalid('province')"
              class="input-error"
              style="margin-botom: -0.25rem !important"
              >{{ errorMessage("province") }}</span
            >
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label
          for="input-supplier-pays"
          class="col-2 col-form-label d-flex justify-content-start align-items-center"
        >
          Pays<span>*</span>
        </label>
        <div class="col-9">
          <div class="input-group">
            <input
              type="text"
              class="form-control custom-text-input"
              :class="{ 'text-input-invalid': isInvalid('country') }"
              id="input-supplier-pays"
              v-model="formData.country"
              @keydown="clearError('country')"
            />
            <span
              v-if="isInvalid('country')"
              class="input-error"
              style="margin-botom: -0.25rem !important"
              >{{ errorMessage("country") }}</span
            >
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label
          for="input-postal_code"
          class="col-2 col-form-label d-flex justify-content-start align-items-center"
        >
          Code postal<span>*</span>
        </label>
        <div class="col-9">
          <div class="input-group">
            <input
              type="text"
              class="form-control custom-text-input"
              :class="{ 'text-input-invalid': isInvalid('postal_code') }"
              id="input-postal_code"
              v-model="formData.postal_code"
              @keydown="clearError('postal_code')"
            />
            <span
              v-if="isInvalid('postal_code')"
              class="input-error"
              style="margin-botom: -0.25rem !important"
              >{{ errorMessage("postal_code") }}</span
            >
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label
          for="input-processes"
          class="col-2 col-form-label d-flex justify-content-start align-items-center"
        >
          Procédés
        </label>
        <div class="col-9">
          <div class="input-group">
            <div
              v-if="processesExist"
              class="custom-text-input px-3 py-2 text-gray"
              style="width: 100%"
            >
              <div
                class="form-check d-flex align-items-center py-2"
                v-for="process in formData.processes"
                :key="process.id"
              >
                <input
                  type="checkbox"
                  class="form-check-input custom-check-sidebar p-2"
                  id="supplier-process"
                  v-model="process.checked"
                />
                <span
                  class="form-check-label ml-3 text-gray-700"
                  for="exampleCheck1"
                  >{{ process.name }}</span
                >
              </div>
            </div>
            <div
              v-else
              class="custom-text-input px-3 py-2 d-flex flex-column justify-content-center text-gray"
              style="width: 100%; min-height: 80px"
            >
              Aucun procédés n'existe.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row mb-0">
      <button
        :disabled="!isChanged"
        @click="updateSupplier"
        class="ml-auto mr-3 btn btn-green d-inline-flex justify-content-center align-items-center"
      >
        <i class="las la-check-circle"></i>
        SAUVEGARDER
      </button>
    </div>
  </div>
</template>

<script>
import _ from "lodash";
import SearchSelectUser from "../../SearchSelect/SearchSelectUser.vue";
import { EventBus } from "../../../../event-bus";

export default {
  name: "GeneralInformation",

  components: {
    SearchSelectUser,
  },

  props: {
    isActive: {
      type: Boolean,
      default: false,
    },

    data: {
      type: Object,
      default: null,
    },
  },

  data() {
    return {
      errors: {},
      processes: null,
      processesGet: `/api/processes`,
      formData: _.cloneDeep(this.data),
    };
  },

  mounted() {
    this.initializeField();

    EventBus.$on("created-user", (payload) => {
      this.formData.user = payload.data.user;
    });
  },

  computed: {
    processesExist() {
      return this.processes !== null && this.processes.length > 0;
    },

    isChanged() {
      return JSON.stringify(this.formData) !== JSON.stringify(this.data);
    },
  },

  methods: {
    initializeField() {
      this.fetchProcesses();
    },

    updateSupplier() {
      let url = `/api/suppliers/${this.data.id}/update`;
      axios
        .patch(url, this.formData)
        .then((response) => {
          this.$toasted.show(response.data.message);
          this.data = _.cloneDeep(this.formData);
          console.log(response);
        })
        .catch((error) => {
          this.errors = error.response.data.errors;
          console.log(
            "updateSupplier() on Supplier/GeneralInformation",
            error.response.data.errors
          );
        });
    },

    fetchProcesses() {
      axios
        .get(this.processesGet)
        .then((response) => {
          this.processes = response.data.data;
          this.formatProcessesForDisplay(response.data.data);
        })
        .catch((error) => {
          console.log(
            "fetchProcesses() on Suppliers/GeneralInformation ",
            error.response.data.errors
          );
        });
    },

    formatProcessesForDisplay(fetchedProcesses) {
      let fetched = _.keyBy(fetchedProcesses, function (p) {
        return p.id;
      });

      let checked = _.keyBy(this.formData.processes, function (p) {
        return p.id;
      });

      /*
       * data.processes needs to be the same as the formData when mounted
       * so we can compare if the two are changed - for the save button disabled state
       */
      this.data.processes = _.cloneDeep(_.merge(fetched, checked));

      return (this.formData.processes = _.merge(fetched, checked));
    },

    isInvalid(attribute) {
      return this.errors.hasOwnProperty(attribute);
    },

    errorMessage(attribute) {
      if (this.errors[attribute]) {
        return this.errors[attribute][0];
      }
    },

    clearError(field) {
      delete this.errors[field];
    },

    enforcePhoneFormat() {
      let x = this.formData.phone
        .replace(/\D/g, "")
        .match(/(\d{0,3})(\d{0,3})(\d{0,4})/);
      this.formData.phone = !x[2]
        ? x[1]
        : "(" + x[1] + ") " + x[2] + (x[3] ? "-" + x[3] : "");
    },

    open(form) {
      EventBus.$emit("open-sidebar", form);
    },
  },
};
</script>
