<template>
  <div>
    <div class="w-60percent pl-3">
      <div class="space-y-1 text-gray font-light">
        <textarea
          name="custom_item_description"
          style="border-radius: 0.5rem; border: 2px solid #e7e8e8; width: 100%"
          class="form-control p-3"
          :id="data.id + data.description"
          cols="30"
          rows="10"
          v-model="data.description"
          :class="hasErrorsFor('description') ? 'border-danger' : ''"
          placeholder="Description goes here - first line of decription will be the items title."
        ></textarea>
        <div v-if="hasErrorsFor('description')">
          <span
            class="text-xs text-danger"
            v-for="(error, index) in getErrorsFor('description')"
            :key="index"
          >
            {{ error }}
          </span>
        </div>
      </div>
    </div>
    <div class="pl-3 d-flex justify-content-between pt-5">
      <!-- left side -->
      <div class="w-half">
        <div
          class="pl-3 form-group row font-medium d-flex justify-content-start align-items-center space-x-2"
        >
          <div>FORNISSEUR:</div>
          <!-- <span class="font-light text-success uppercase">{{
  data.supplier_name
  }}</span> -->
          <div
            class="invoice-input-sidebar-border"
            style="width: 60%"
            id="invoice-select-profit_type"
          >
            <SelectSuppliers
              :data="data.supplier"
              :itemId="data.id"
              @supplier-updated="handleSupplierUpdated"
            />
          </div>
          <div v-if="hasErrorsFor('supplier_id')" style="margin-left: -3px">
            <span
              class="text-xs text-danger font-light"
              v-for="(error, index) in getErrorsFor('supplier_id')"
              :key="index"
            >
              {{ error }}
            </span>
          </div>
        </div>
        <div
          class="pl-3 form-group row font-medium d-flex justify-content-start align-items-center space-x-2"
          style="margin-top: -10px"
        >
          <div>PRIX APPROUVÉ:</div>
          <!-- <span class="font-light">{{ data.approved_price }}$</span> -->
          <vue-numeric
            style="width: 30%"
            class="form-control mr-3 text-center font-light text-gray invoice-input-sidebar-border"
            currency="$"
            separator=","
            v-bind:precision="2"
            v-model.number="approved_price"
          ></vue-numeric>
        </div>
        <div
          class="pl-3 form-group row font-medium d-flex justify-content-start align-items-center space-x-2"
          style="margin-top: -10px"
        >
          <div>DATE DU LIVRAISON:</div>
          <!-- <span class="font-light">{{ data.delivery_date }}</span> -->
          <div class="input-group" style="width: 30%">
            <input
              class="form-control input-sidebar"
              style="border-radius: 0.5rem; border: 2px solid #e7e8e8"
              type="date"
              name="debut"
              id="debut"
              v-model="data.delivery_date"
            />
          </div>
          <!-- <span v-if="isInvalid('start_date')" class="text-xs text-danger">
  {{ errorMessage("start_date") }}
  </span> -->
        </div>
      </div>

      <div class="w-60percent">
        <!-- <div class="form-group row">
          <label
            for="input-debut"
            class="col-1 col-form-label d-flex justify-content-end align-items-center"
            >UTILISATEUR:</label
          >
          <div class="col-7">
            <div class="input-group">
              <input
                type="text"
                class="form-control pl-4 text-gray font-light"
                :value="current_user.name"
                style="
                  border-radius: 0.5rem;
                  border: 2px solid #e7e8e8;
                  pointer-events: none;
                "
              />
            </div>
          </div>
        </div> -->
        <div class="form-group row">
          <label
            for="input-debut"
            class="col-1 col-form-label d-flex justify-content-end align-items-center"
            >BÉNÉFICE:</label
          >
          <div class="col-7">
            <div class="input-group">
              <div
                class="flex invoice-input-sidebar-border"
                style="width: 100%"
                id="invoice-select-profit_type"
              >
                <multiselect
                  v-model="data.profit_type"
                  track-by="key"
                  :options="data.profit_types"
                  label="name"
                  :searchable="false"
                  :showNoResults="false"
                  :allow-empty="false"
                  open-direction="bottom"
                >
                </multiselect>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="input-group">
              <vue-numeric
                class="form-control mr-3 text-center font-light text-gray invoice-input-sidebar-border"
                currency="$"
                separator=","
                v-bind:precision="2"
                v-model.number="admin_profit"
              ></vue-numeric>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button
      id="custom-item-delete-btn"
      @click.stop="$emit('item-deleted', data)"
      class="block ml-auto mr-4 btn btn-xs btn-danger text-light text-sm"
    >
      Delete
    </button>
  </div>
</template>

<script>
import SelectSuppliers from "./SelectSuppliers.vue";

export default {
  name: "CustomItem",

  components: {
    SelectSuppliers,
  },

  props: {
    data: {
      type: Object,
      default: null,
    },

    errors: {
      type: Object,
      default: null,
    },

    index: {
      type: Number,
      default: null,
    },
  },

  data() {
    return {
      approved_price: this.data.approved_price,
      admin_profit: this.data.admin_profit,
    };
  },

  watch: {
    approved_price(newValue, oldValue) {
      this.data.approved_price = newValue;
      this.data.cost_price = parseFloat(newValue).toFixed(2);

      this.data.customer_price = parseFloat(
        newValue + this.data.admin_profit
      ).toFixed(2);
    },

    admin_profit(newValue, oldValue) {
      this.data.admin_profit = newValue;

      this.data.customer_price = parseFloat(
        newValue + this.data.approved_price
      ).toFixed(2);
    },
  },

  methods: {
    updateOtherPrices(e) {
      console.log(e);
    },

    handleSupplierUpdated(payload) {
      this.data.supplier_id = payload.supplier_id;
      this.data.supplier_name = payload.supplier_name;
    },

    hasErrorsFor(field) {
      return this.errors.hasOwnProperty(
        `invoice.line_items.${this.index}.${field}`
      );
    },

    getErrorsFor(field) {
      // Example - this.errors["items.0.description"]
      return this.errors[
        `invoice.line_items.${this.index}.${field}`
      ].map((error) => error.replace(`invoice.line_items.${this.index}.`, ""));
    },
  },
};
</script>

<style lang="scss" scoped>
</style>