<template>
  <div class="flex">
    <multiselect
      :deselectLabel="deselectLabel"
      :multiple="false"
      :options="options"
      :placeholder="placeholder"
      :selectLabel="selectLabel"
      :selected="selected"
      :allow-empty="false"
      :showNoResults="true"
      @open="fetchSuppliers"
      label="name"
      open-direction="bottom"
      track-by="id"
      v-model="supplier"
    >
      <span slot="noResult" v-text="noResults"></span>
    </multiselect>
  </div>
</template>

<script>
export default {
  name: "SelectSuppliers",

  props: {
    data: {
      type: Object,
      default: null,
    },

    itemId: {
      type: Number,
      default: null,
    },
  },
  data() {
    return {
      supplier: null,
      options: [],
      suppliersRoute: `/api/suppliers`,
    };
  },

  computed: {
    placeholder() {
      return "Type to search for supplier";
    },

    selectLabel() {
      return "Press enter to select";
    },

    selected() {
      return "Selected";
    },

    deselectLabel() {
      return "Press enter to remove supplier";
    },

    noResults() {
      return "No suppliers found. Consider changing the search query.";
    },
  },

  mounted() {
    this.initializeField();
  },

  watch: {
    supplier(newValue) {
      console.log(newValue);
      if (newValue !== null) {
        this.$emit("supplier-updated", {
          supplier_id: newValue.id,
          supplier_name: newValue.name,
        });
      }
    },
  },

  methods: {
    /**
     * Initialize the supplier data.
     */
    initializeField() {
      if (this.data) {
        this.supplier = this.data;
      }

      this.fetchSuppliers();
    },

    /**
     * Get the suppliers.
     */
    fetchSuppliers() {
      axios.get(this.suppliersRoute).then((response) => {
        this.options = response.data;
      });
    },
  },
};
</script>
