<template>
  <div>
    <div class="row carte_affaire" style="cursor: auto">
      <div class="col-5 d-flex justify-content-start align-items-center">
        <p class="font-medium uppercase">{{ data.supplier_name }}</p>
      </div>
      <div class="col-3 d-flex justify-content-end align-items-center">
        <p>
          <span class="font-medium">Envoye lé:</span>
          <span class="text-gray">{{
            data.quotes_request_sent ? data.quotes_request_sent_at : "Not sent"
          }}</span>
        </p>
      </div>
      <div class="col-3 d-flex justify-content-end align-items-center">
        <p>
          <span class="text-gray">Soumission reçu:</span>
          <span
            :class="data.quotes_submitted ? 'text-success' : 'text-danger'"
            >{{ data.quotes_submitted ? "Oui" : "Non" }}</span
          >
        </p>
      </div>
      <div
        class="col d-flex justify-content-end align-items-center"
        style="font-size: 1.5rem; color: #8899a9; margin-right: 1rem;'"
      >
        <i
          :id="`fournisseur-tab-icon-${data.supplier_id}`"
          @click="toggleItemDropdown(data.supplier_id)"
          class="las la-chevron-circle-down pointer toggle-menu"
        ></i>
      </div>

      <!-- dropdown content -->
      <div
        :id="`fournisseur-item-${data.supplier_id}`"
        class="col-12 carte_affaire-content"
      >
        <div class="pl-4 pr-3">
          <!-- One item -->
          <div
            data-name="fourni-item-content"
            v-for="item in data.items"
            :key="item.id"
            class="border-t-gray d-flex"
          >
            <div style="width: 100%">
              <div
                class="w-60percent d-flex col-12 justify-content-between pt-5 pb-4 pl-0 pr-0"
                v-for="quantity in item.quantities"
                :key="quantity.id"
              >
                <!-- Left section fornisseurs items -->
                <div data-name="single-quantity-content" class="border-b-gray">
                  <div class="space-y-1 text-gray font-light">
                    <p class="pt-0 font-medium">{{ item.name }}</p>
                    <p class="pt-0">
                      {{ item.description }}
                    </p>
                  </div>

                  <div>
                    <p class="font-medium block">
                      Options:
                      <span
                        v-for="(option, index) in item.options"
                        :key="index"
                        class="font-light text-gray single-option"
                        >{{ option }}</span
                      >
                    </p>
                    <p class="font-medium block pt-0">
                      Quantité:
                      <span class="font-light text-gray">{{
                        quantity.value
                      }}</span>
                    </p>
                  </div>

                  <div>
                    <p class="font-medium block">
                      Prix soumissioné:
                      <span class="text-success"
                        >{{
                          quantity.quote.value ? quantity.quote.value : 0
                        }}
                        $</span
                      >
                    </p>
                  </div>
                </div>
              </div>

              <!-- Chat -->
              <div class="pb-5" v-if="item.messages.length > 0">
                <chat-component :messages="item.messages"></chat-component>
              </div>
              <!-- End chat -->
            </div>

            <!-- Right section of the fornisseurs dropdown -->
            <div
              class="d-flex justify-content-end align-items-start space-x-2 pt-5"
            >
              <a
                href="#"
                @click.prevent="openModal(item, data)"
                class="exit_single_project rounded btn p-edit-buttons bg-brand-gray"
                :class="{ disabled: loading }"
              >
                <i
                  class="las la-comments"
                  style="color: white; margin: 0; font-size: 30px"
                ></i>
              </a>
            </div>
          </div>
          <!-- End one item -->
        </div>
      </div>
    </div>
    <message-modal
      :show="shouldShowModal"
      :data="dataForModal"
      @closed="handleModalClosed"
      @message-created="handleMessageCreated"
    />
  </div>
</template>

<script>
import ChatComponent from "../../../../Layouts/ChatComponent.vue";
import MessageModal from "../../../../Layouts/MessageModal.vue";

export default {
  components: {
    MessageModal,
    ChatComponent,
  },

  props: {
    data: {
      type: Object,
      default: null,
    },

    project: {
      type: Object,
      default: null,
    },
  },

  data() {
    return {
      shouldShowModal: false,
      dataForModal: null,
      loading: false,
    };
  },

  methods: {
    toggleItemDropdown(id) {
      this.$emit("toggle-dropdown", id);
    },

    handleMessageCreated(payload) {
      payload.creator = {
        name: current_user.name,
        id: current_user.id,
        email: current_user.email,
      };

      this.data.items
        .find((item) => item.id === payload.item_id)
        .messages.push(payload);
      console.log(payload);
    },

    openModal: function (item, supplier) {
      document.body.classList.add("no_scroll");
      this.dataForModal = {
        item: item,
        supplierId: supplier.supplier_id,
        supplierName: supplier.supplier_name,
        projectId: this.project.id,
      };
      this.shouldShowModal = true;
    },

    handleModalClosed: function () {
      document.body.classList.remove("no_scroll");
      this.dataForModal = null;
      this.shouldShowModal = false;
    },
  },
};
</script>

<style lang="scss" scoped>
div[data-name="fourni-item-content"]:first-child {
  border-top: none !important;
}

.single-option:first-child {
  display: inline;
}

.single-option {
  display: block;
}

.border-t-gray {
  border-top: 1px solid lightgrey !important;
}

div[data-name="single-quantity-content"]:last-child {
  border-bottom: none !important;
}

.border-b-gray {
  border-bottom: 1px solid lightgrey !important;
}
</style>