.block {
    display: block !important;
}

.pointer {
    cursor: pointer;
}

.custom-border {
    border-radius: 1.5rem !important;
    padding: 1.5rem 1rem !important;
    border: 1px solid #e7e8e8 !important;
}

.text-gray {
    color: #8899a9;
}

.text-light-gray {
    color: #b3b3b3;
}

.font-light {
    font-weight: 300;
}

.font-medium {
    font-weight: 500;
}

.font-semibold {
    font-weight: 600;
}

.space-x-2 > * + * {
    margin-left: 0.7rem;
}

.space-x-3 > * + * {
    margin-left: 2.25rem !important;
}

.space-x-4 > * + * {
    margin-left: 2.5rem !important;
}

.space-x-5 > * + * {
    margin-left: 3rem !important;
}

.space-x-6 > * + * {
    margin-left: 4rem !important;
}

.space-y-1 > * + * {
    margin-top: 0rem !important;
}

.space-y-content > * + * {
    margin-top: 0.5rem !important;
}

.space-y-2 > * + * {
    margin-top: 1.75rem !important;
}

.space-y-3 > * + * {
    margin-top: 2.25rem !important;
}

.space-y-4 > * + * {
    margin-top: 2.5rem !important;
}

.space-y-5 > * + * {
    margin-top: 3rem !important;
}

.w-60percent {
    width: 60%;
}

.line-through {
    text-decoration: line-through #9b9b9b;
}

.rounded {
    border-radius: 0.6rem !important;
}

.rounded-xl {
    border-radius: 1rem !important;
}

.bg-placeholder-gray {
    background-color: #f1f3f7;
}

.bg-brand-gray {
    background-color: #242730;
}

a.bg-brand-gray:hover {
    background-color: #394050;
}

.bg-brand-red {
    background-color: #a50f10;
}

a.bg-brand-red:hover {
    background-color: #ce354f;
}

.p-edit-buttons {
    padding: 0.5rem 0.6rem !important;
}

.carte_affaire-content > :first-child {
    border-top: none !important;
}

.file-drop {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    justify-content: center;
    align-items: center;
    display: flex;
    border-width: 2px;
    border-style: dashed;
    border-radius: 0.8rem;
    --border-opacity: 1;
    border-color: #d1d1d1 !important;
    border-color: rgba(160, 174, 192, var(--border-opacity));
}

*,
::after,
::before {
    box-sizing: border-box;
}

.w-40percent {
    width: 40%;
}

.w-half {
    width: 50%;
}

.pl-8 {
    padding-left: 6rem;
}

.text-xl {
    font-size: 1.25rem;
}

.text-2xl {
    font-size: 1.5rem;
}

.border-2 {
    border-width: 2px !important;
}

.border-gray {
    border: solid #e7e8e8 !important;
}

.fixed-important {
    overflow: hidden !important;
    position: fixed !important;
    width: 100vw !important;
}

.custom-select-dropdown {
    border-radius: 1.5rem !important;
    height: 50.2333px !important;
    border: 1px solid rgb(231, 232, 232);
    padding-right: 1.5rem !important;
    background-color: var(--white);
    border-width: 1px;
    padding-left: 0.75rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: center right 1rem;
    background-image: url('data:image/svg+xml;utf8,<svg style="color: rgb(142, 139, 139)" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M9.293 12.536L5.757 9l1.415-1.414L10 10.414l2.828-2.828L14.243 9 10 13.243l-.707-.707zM20 10c0-5.523-4.477-10-10-10S0 4.477 0 10s4.477 10 10 10 10-4.477 10-10zM10 2a8 8 0 100 16 8 8 0 000-16z" fill="currentColor" fill-rule="evenodd"/></svg>');
}

.custom-text-input {
    border-radius: 1.5rem !important;
    border: 1px solid #e7e8e8 !important;
}

.text-input-invalid {
    border: 1px solid red !important;
}

.input-error {
    width: 100%;
    margin-top: 0.25rem;
    margin-left: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}

.custom-check-sidebar {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    display: inline-block;
    vertical-align: middle;
    background-origin: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    flex-shrink: 0;
    height: 1.5em;
    width: 1.5em;
    color: #49a610;
    border-color: #ced4da;
    border-style: solid;
    border-width: 2px;
    background-color: #fff;
    border-radius: 0.25rem;
    margin-top: 0;
    cursor: pointer;
}

.custom-check-sidebar:checked {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.707 7.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L7 8.586 5.707 7.293z'/%3e%3c/svg%3e");
    border-color: transparent;
    background-color: currentColor;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.custom-check-smaller {
    padding: 0 !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    display: inline-block;
    vertical-align: middle;
    background-origin: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    flex-shrink: 0;
    height: 1rem;
    width: 1rem;
    color: #49a610;
    border-color: #ced4da;
    border-style: solid;
    border-width: 1px;
    background-color: #fff;
    border-radius: 0.25rem;
    margin-top: 0;
    cursor: pointer;
}

.custom-check-smaller:checked {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.707 7.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L7 8.586 5.707 7.293z'/%3e%3c/svg%3e");
    border-color: transparent;
    background-color: currentColor;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.hidden {
    display: none;
}

.sidebar-container {
    z-index: 99 !important;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: #51515dbb;
    margin-top: 72px !important;
    overflow: auto !important;
}

.graphx-sidebar-menu {
    width: 27rem;
    z-index: 300 !important;
    position: relative;
    margin-bottom: -72px !important;
    top: 0;
    bottom: 0;
    min-height: 100vh !important;
    background-color: #ffffff;
    opacity: 100% !important;
    float: right;
    overflow: auto !important;
    padding: 2rem 4rem 10rem 4rem;
}

.bottom-0 {
    bottom: 0;
}

.right-0 {
    right: 0;
}

.absolute {
    position: absolute;
}

.ml-auto {
    margin-left: auto;
}

.input-sidebar {
    border-width: 2px !important;
    border-radius: 0.6rem !important;
    font-weight: 300;
    padding: 1.5rem !important;
}

.input-sidebar::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #969696;
    opacity: 1;
    /* Firefox */
}

.custom-check-sidebar {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    display: inline-block;
    vertical-align: middle;
    background-origin: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    flex-shrink: 0;
    height: 1.5em;
    width: 1.5em;
    color: #49a610;
    border-color: #ced4da;
    border-style: solid;
    border-width: 2px;
    background-color: #fff;
    border-radius: 0.25rem;
    margin-top: 0;
    cursor: pointer;
}

.custom-check-sidebar:checked {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.707 7.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L7 8.586 5.707 7.293z'/%3e%3c/svg%3e");
    border-color: transparent;
    background-color: currentColor;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.text-gray-500 {
    color: #a0aec0;
}

.text-gray-600 {
    color: #718096;
}

.text-gray-700 {
    color: #4a5568;
}

.text-gray-800 {
    color: #2d3748;
}

.text-gray-900 {
    color: #1a202c;
}

.text-xs {
    font-size: 0.75rem;
}

.text-sm {
    font-size: 0.875rem;
}

.text-base {
    font-size: 1rem;
}

.loader {
    border: 3px solid #f3f3f3;
    border-top: 3px solid #49a610;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animatedBackground {
    from {
        background-position: 0px;
    }

    to {
        background-position: calc(1000px * 10) 0;
    }
}

.loading {
    width: 100%;
    background-image: linear-gradient(
        90deg,
        #e4e4e4 0%,
        #f1f1f1 40%,
        #ededed 60%,
        #e4e4e4 100%
    );
    background-repeat: repeat;
    animation: animatedBackground 5s linear infinite;
}

.animated-placeholder-carte {
    background: linear-gradient(
        45deg,
        #eef1f8,
        #f1f3f7,
        #ffffff,
        #f1f3f7,
        #e9ebf0
    );
    background-size: 600% 600%;
    -webkit-animation: left-to-right 2.5s ease-out infinite;
    -moz-animation: left-to-right 2.5s ease-out infinite;
    animation: left-to-right 2.5s ease-out infinite;
    border: none;
}

@-webkit-keyframes left-to-right {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@-moz-keyframes left-to-right {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes left-to-right {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

#division-search-select .multiselect--disabled {
    background: #ffffff !important;
    pointer-events: none !important;
    opacity: 0.5 !important;
}

#client-contact-buyer .multiselect--disabled {
    background: #ffffff !important;
    pointer-events: none !important;
    opacity: 0.5 !important;
}

#contact-accounting-role .multiselect--disabled {
    background: #ffffff !important;
    pointer-events: none !important;
    opacity: 0.5 !important;
}

#physical_approval-client-content .multiselect--disabled {
    background: #ffffff !important;
    pointer-events: none !important;
    opacity: 0.5 !important;
}

#physical-address-client-content .multiselect--disabled {
    background: #ffffff !important;
    pointer-events: none !important;
    opacity: 0.5 !important;
}

.opacity-50 {
    opacity: 0.5 !important;
}
