@media only screen and (max-width: 1600px) {
    div#single_project_tabs {
        p {
            font-size: 15px !important;
        }
    }

    div#single_project_tabs,
    i {
        font-size: 22px !important;
    }

    #single_project_content .form-group > label {
        font-size: 0.9rem !important;
    }

    .titre_single_project p:nth-child(1),
    .nom_single_project p:nth-child(1),
    .montant_single_project p:nth-child(1) {
        font-weight: 500;
        font-size: 1.25rem;
        text-transform: uppercase;
        line-height: 1.85rem;
    }

    .titre_single_project p:nth-child(2),
    .nom_single_project p:nth-child(2),
    .montant_single_project p:nth-child(2) {
        font-size: 0.9rem;
    }

    .single_liste_projet p {
        margin: 0;
        display: inline-block;
        font-size: 1rem;
    }

    .single_liste_projet h2 a {
        color: black;
        text-decoration: none;
        transition: 0.25s ease-in-out;
        font-size: 1rem;
    }

    #header_content p {
        font-size: 14px;
    }

    div .montant_single_project {
        width: 10%;
    }

    a.header_link {
        p {
            font-size: 12px !important;
        }

        i {
            font-size: 14px !important;
        }
    }

    .header_content_option button {
        font-size: 0.9rem !important;
    }

    .row .carte_affaire {
        font-size: 14px !important;
    }

    #facturation-save,
    #facturation-new-item,
    #facturation-notify-client,
    #facturation-pdf-version span {
        font-size: 10px !important;
    }
}
