#logo_print {
    display: none;
}

@media print {
    body {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    #logo_print {
        display: block;
    }

    #header_middle_section {
        flex: 0 0 100%;
        max-width: 100%;
    }

    #single_project_content {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0rem;
        border: none;
    }

    #single_project_tabs,
    #facturation-save,
    #facturation-new-item,
    #facturation-notify-client,
    #facturation-pdf-version,
    #header_content-back,
    #header_content-delete,
    #custom-item-delete-btn,
    #footer-content {
        display: none !important;
    }

    nav {
        display: none !important;
    }

    .row .carte_affaire {
        break-inside: avoid;
    }

    #invoice-footer {
        break-inside: avoid;
    }
}
