// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito',
sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

.bg-nav {
    background-color: #282727;
}

.transform-180 {
    transform: rotate(180deg);
}

/*
 * Border Utilities 
 */
.border-t-1 {
    border-top-width: 1px;
}

.border-r-1 {
    border-right-width: 1px;
}

.border-b-1 {
    border-bottom-width: 1px;
}

.border-l-1 {
    border-left-width: 1px;
}

.border-white-15\% {
    border-color: rgba(255, 255, 255, 0.15);
}

nav.container-fluid {
    padding-left: 0px !important;
    padding-right: 0px !important
}
