body {
    background-color: #f1f3f7 !important;
    font-family: "Rubik", sans-serif !important;
    overflow-x: hidden;
}

body.no_scroll {
    overflow: hidden;
}

/* Bootstrap dropdown's icon */
.dropdown-toggle::after {
    display: none;
}

.dropdown button > i {
    margin-left: 0.5rem;
    font-size: 1.25rem;
}

.btn-secondary.focus,
.btn-secondary:focus,
.dropdown {
    box-shadow: 0 0 0 0;
    border: 0;
}

.width_half {
    width: 50%;
}

.bg_neptune {
    background-color: #7eb2bf;
}

.bg_purple {
    background-color: #a37fbf;
}

.bg_khaki {
    background-color: #bfad7f;
}

.bg_rose {
    background-color: #be7e7e;
}

.bg_olive {
    background-color: #8bbf7d;
}

.bg_green {
    background-color: #59db00;
}

.bg_orange {
    background-color: #fa982d;
}

.bg_red {
    background-color: #f7504f;
}

/******************************************************************************************************

																					CUSTOM BUTTONS

******************************************************************************************************/

.btn-green {
    background-color: #49a610;
    color: white;
    padding: 1rem 1rem;
    font-size: 0.8rem;
    border-radius: 0.75rem;
}

.btn-green i {
    margin-right: 0.25rem;
    font-size: 1.1rem;
}

.btn-green p {
    margin: 0;
    display: inline-block;
    text-transform: uppercase;
}

.btn-green:hover {
    color: white;
    background-color: #49921c;
}

/******************************************************************************************************

																					PROJECT MODAL

******************************************************************************************************/

#project_modal {
    display: none !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000005e;
    z-index: 100;
    overflow-y: scroll;
}

#project_modal.active {
    display: -ms-flexbox !important;
    display: flex !important;
}

#wrap_project_modal {
    width: 60%;
    height: 300px;
    background-color: white;
    border-radius: 1rem;
    margin-top: 6rem;
}

#project_modal-header {
    border-radius: 1rem 1rem 0 0;
    background-color: white;
}

#project_modal-header h2 {
    padding: 2rem 3rem;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin: 0;
}

#project_modal-header #close_project_modal {
    font-size: 2rem;
    color: #86929e;
    margin-right: 1rem;
    transition: 0.25s ease-in-out;
}

#project_modal-header #close_project_modal:hover {
    color: black;
}

#project_modal-content {
    background-color: #f1f3f7;
    padding: 2rem 3rem;
}

#project_modal-content .col-2 p {
    font-size: 0.8rem;
    text-transform: uppercase;
    color: #8899a9;
}

#project_modal-content .col-4 p {
    font-size: 0.8rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #000000;
}

#project_modal-list {
    background-color: #f1f3f7;
    padding: 0rem 3rem 2rem 3rem;
    border-radius: 0 0 1rem 1rem;
    margin-bottom: 5rem;
}

.carte_affaire {
    background-color: white;
    border: 1px solid #b9b9b961;
    border-radius: 1.5rem;
    padding: 1.25rem 0;
    margin-bottom: 2rem;
}

.carte_affaire .col-10 p {
    font-weight: 500;
    margin: 0;
    margin-left: 2rem;
}

.carte_affaire .col-2 i {
    font-size: 1.5rem;
    color: #8899a9;
    margin-right: 1rem;
}

.carte_affaire-content {
    display: none;
}

.carte_affaire-content p {
    margin: 0 0 0 2rem;
    padding-top: 2rem;
}

/******************************************************************************************************

																							HEADER

******************************************************************************************************/

.header_wrap {
    padding: 0;
}

.header_wrap,
header {
    z-index: 200;
}

header {
    height: 4.5rem;
    background-color: #242730;
    width: 100%;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

header > div {
    height: 100%;
}

.header_link {
    height: 100%;
    margin-right: 2rem;
    color: #bfc0c5;
    border-bottom: 0.4rem solid #242730;
    padding-right: 0.65rem;
    padding-left: 0.45rem;
    transition: 0.25s ease-in-out;
}

.header_link i {
    margin-right: 0.75rem;
    transition: 0.25s ease-in-out;
}

.header_link p {
    margin: 0;
    text-transform: uppercase;
    font-size: 0.85rem;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.header_link:hover,
.header_link.active {
    color: white;
    text-decoration: none;
    border-bottom: 0.4rem solid #59db00;
}

.header_link:hover i,
.header_link.active i {
    color: #59db00;
}

#header_search {
    background-color: #353841;
    color: #ffffff;
    border: 0;
    border-radius: 2rem 0 0 2rem;
    padding: 0.375rem 2rem;
}

#header_search:focus,
#header_search_button_addon:focus {
    outline: 0;
    box-shadow: inherit;
}

#header_search_button_addon {
    position: relative;
    border: 0;
    background-color: #353841;
    border-radius: 0 2rem 2rem 0;
    padding: 0.375rem 2rem;
}

#header_search_button_addon i {
    position: absolute;
    top: 0.55rem;
    right: 2rem;
    font-size: 1.4rem;
    color: #feffff;
}

#header_ctas,
#header_ctas > a {
    height: 100%;
}

#header_ctas a {
    margin-left: 1.75rem;
}

#header_notification,
#header_friends {
    color: white;
    font-size: 1.5rem;
}

#header_notification i {
    position: relative;
}

#header_notification_alert {
    display: none;
    width: 0.75rem;
    height: 0.75rem;
    position: absolute;
    top: -2px;
    right: -2px;
    background-color: #ff4a97;
    border: 1px solid white;
    border-radius: 50%;
}

#header_notification.active #header_notification_alert {
    display: block;
}

#header_profile_picture img {
    width: 40px;
    border-radius: 50%;
}

#header_more_options {
    background-color: #49a610;
    width: 4.5rem;
    color: white;
    font-size: 1.75rem;
    transition: 0.25s ease-in-out;
}

#header_more_options:hover {
    background-color: #49921c;
}

#header_notification:hover,
#header_friends:hover,
#header_more_options:hover {
    text-decoration: none;
}

#header_options_menu,
#header_profil_menu {
    display: none;
    position: absolute;
    top: 4.5rem;
    right: 0;
    z-index: 10;
}

#header_options_menu {
    background-color: #49a610;
}

#header_profil_menu {
    background-color: #242730;
}

#header_options_menu.active,
#header_profil_menu.active {
    display: block;
}

#header_options_menu .wrapper,
#header_profil_menu .wrapper {
    padding: 0.5rem 0;
}

#header_options_menu a,
#header_profil_menu a {
    display: block;
    color: #ecf4e6;
    font-size: 0.9rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 0.5rem 2rem;
    transition: 0.25s ease-in-out;
}

#header_options_menu a {
    border-bottom: 1px solid #78bb4a;
}

#header_profil_menu a {
    border-bottom: 1px solid #474b56;
}

#header_options_menu a:last-child,
#header_profil_menu a:last-child {
    border-bottom: 0;
}

#header_options_menu a:hover,
#header_profil_menu a:hover {
    text-decoration: none;
}

#header_options_menu a:hover {
    background-color: #49921c;
}

#header_profil_menu a:hover {
    background-color: #474b56;
}

/******************************************************************************************************

																			CONTENT [PAGE: DASHBOARD]

******************************************************************************************************/

#header_content {
    padding: 2rem 0;
}

.header_content_option {
    margin-right: 1rem;
}

.header_content_option > i {
    font-size: 1.5rem;
    margin-right: 0.5rem;
}

.option_title {
    margin: 0 1rem 0 0;
    font-weight: 400;
    font-size: 1.1rem;
}

.header_content_option > i,
.option_title,
.header_content_option .dropdown i {
    color: #8899a9;
}

.dropdown > button {
    background-color: transparent;
    color: black;
    font-weight: 500;
    border: 0;
}

.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0;
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show > .btn-secondary.dropdown-toggle {
    background-color: transparent;
    color: black;
    box-shadow: 0 0 0 0;
}

.dropdown > button:active,
.dropdown > button:hover,
.dropdown > button:focus {
    background-color: transparent;
    color: black;
    box-shadow: 0 0 0 0;
}

#wrap_header_content_search {
    width: calc(100% - 4.5rem);
}

#header_content_search {
    color: black;
    border-radius: 2rem 0 0 2rem;
}

#wrap_header_content_search,
#header_content_search {
    height: 3rem;
}

#header_content_search,
#header_content_search_button_addon {
    background-color: white;
    padding: 0.375rem 2rem;
    border: 1px solid #d9e3ea;
}

#header_content_search:focus,
#header_content_search_button_addon:focus {
    outline: 0;
    box-shadow: inherit;
}

#header_content_search_button_addon {
    position: relative;
    border-left: 0;
    border-radius: 0 2rem 2rem 0;
}

#header_content_search_button_addon i {
    position: absolute;
    top: 0.75rem;
    right: 2rem;
    font-size: 1.4rem;
    color: gray;
}

#list_project_card {
    padding-bottom: 2rem;
    padding-left: 1rem;
    overflow-x: auto;
    overflow-y: hidden;
}

.project_card {
    flex: 0 0 auto;
    width: 450px;
    background-color: white;
    margin-right: 1rem;
    border-radius: 2rem;
    border: 1px solid #b9b9b961;
}

.project_card-header {
    height: 4rem;
    border-radius: 2rem 2rem 0 0;
}

.project_card-header #nouvelle_soumission {
    margin-left: 1rem;
    font-size: 1.25rem;
    color: #dce4e6;
    transition: 0.25s ease-in-out;
}

.project_card-header #nouvelle_soumission:hover {
    text-decoration: none;
    color: white;
}

.project_card-content {
    height: 87%;
    border-radius: 0 0 2rem 2rem;
    padding: 1.5rem;
}

.project_card-header,
.project_card-content {
    width: 100%;
}

.project_card-content > .project:last-child {
    margin-bottom: 0;
}

.project_card-header p {
    margin: 0;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 0.9rem;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.project {
    position: relative;
    width: 100%;
    border-radius: 1rem;
    border: 1px solid #b9b9b961;
    background-color: #f1f3f7;
    margin-bottom: 1.5rem;
}

.project .left_edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 1.25rem;
    height: 100%;
    border-radius: 1rem 0 0 1rem;
}

.project .project_content {
    padding: 1rem 1rem 1rem 3rem;
}

.project_content p {
    margin: 0;
}

.project .nom_client {
    font-size: 1.2rem;
    font-weight: 500;
}

.project .description_courte,
.project .telephone,
.project .email {
    font-size: 0.8rem;
}

.project .description_courte,
.project .telephone {
    margin-bottom: 0.2rem;
}

.project .email {
    color: #8899a9;
}

.project_content-right i {
    font-size: 1.3rem;
    color: #8899a9;
}

.linked_project {
    width: 88%;
    margin: 0 0 1.5rem auto;
}

.linked_project > .project_content {
    padding: 1rem 1rem 1rem 1.5rem;
}

.la-star.las {
    color: #eac76d;
}

/******************************************************************************************************

																				CONTENT [PAGE: PROJETS]

******************************************************************************************************/

.single_liste_projet {
    background-color: white;
    border: 1px solid #b9b9b961;
    border-radius: 2rem;
    padding: 1.75rem 2rem;
    margin-bottom: 1rem;
}

.single_liste_projet p {
    margin: 0;
    display: inline-block;
    font-size: 1.2rem;
}

.single_liste_projet .couleur_indicateur {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    position: relative;
    background-color: #efefef;
}

.single_liste_projet .cercle_status {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 1rem;
    margin-left: 1rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
}

.single_liste_projet h2 {
    font-size: 1.5rem;
    margin: 0;
    transition: 0.25s ease-in-out;
}

.single_liste_projet h2 a {
    color: black;
    text-decoration: none;
    transition: 0.25s ease-in-out;
    font-size: 1.2rem;
}

.single_liste_projet h2 a:hover {
    text-decoration: underline;
}

.single_liste_projet .date_projet,
.single_liste_projet .status_projet button,
.single_liste_projet .more_projet button {
    color: #8899a9;
    font-weight: 400;
}

.single_liste_projet .status_projet i {
    margin-left: 0.75rem;
    font-size: 1.25rem;
}

/* Disposition */
.single_liste_projet h2 {
    width: 20%;
    margin-left: 4rem;
}

.single_liste_projet .desc_courte {
    width: 30%;
}

.single_liste_projet .date_projet {
    width: 15%;
}

.single_liste_projet .status_projet {
    width: 25%;
}

/* /Disposition */

.single_liste_projet .more_projet {
    font-size: 1.5rem;
}

.single_liste_projet .more_projet .dropdown-menu {
    right: 0;
    left: inherit !important;
    transform: translate3d(0, 36px, 0px) !important;
}

/******************************************************************************************************

																				CONTENT [PAGE: PROJETS/SINGLE_PAGE]

******************************************************************************************************/

#header_content.header_content_single_project p {
    margin: 0;
}

.titre_single_project p:nth-child(1),
.nom_single_project p:nth-child(1),
.montant_single_project p:nth-child(1) {
    font-weight: 500;
    font-size: 1.5rem;
    text-transform: uppercase;
    line-height: 1.85rem;
}

.titre_single_project p:nth-child(2),
.nom_single_project p:nth-child(2),
.montant_single_project p:nth-child(2) {
    color: #8899a9;
}

.titre_single_project {
    width: 32%;
}

.nom_single_project {
    width: 30%;
}

.exit_single_project i {
    font-size: 1.5rem;
    color: red;
}

#single_project_content {
    background-color: white;
    border-radius: 1rem 0 0 1rem;
    border: 1px solid #b9b9b961;
    border-right: 0;
}

#single_project_content {
    padding: 4rem;
}

#wrap_single_project p {
    margin: 0;
}

#single_project_content > div {
    display: none;
    transition: 0.25s ease-in-out;
}

#single_project_content > div.active {
    display: block;
}

#single_project_content .form-group {
    margin-bottom: 2rem;
}

#single_project_content .form-group > label {
    padding-left: 0;
    font-weight: 500;
    font-size: 1rem;
    text-transform: uppercase;
}

#single_project_content .form-group > label span {
    color: #b5b3b3;
    margin-left: 0.25rem;
}

#single_project_content input {
    /* border-radius: 1.5rem 0 0 1.5rem; */
    padding: 1.5rem 1rem;
    /* border: 1px solid #e7e8e8; */
    /* border-right: 0; */
}

#single_project_content .form-group .input-group-text {
    background-color: white;
    border-radius: 0 1.5rem 1.5rem 0;
    border: 1px solid #e7e8e8;
}

#single_project_content .form-group .input-group-text i {
    font-size: 1.5rem;
    color: #8e8b8b;
}

#single_project_content .form-group .col-1 i {
    font-size: 1.5rem;
    color: #b5b3b3;
    transition: 0.25s ease-in-out;
}

#single_project_content .form-group .col-1 i:hover {
    color: #49a610;
}

#single_project_tabs {
    background-color: #f1f3f7;
    border-radius: 0 1rem 1rem 0;
    border-left: 0;
}

#single_project_tabs > div {
    padding: 2rem 2rem 2rem 1rem;
    margin-right: 0;
    margin-left: 0;
    cursor: pointer;
    border-bottom: 1px solid gainsboro;
    transition: 0.25s ease-in-out;
}

#single_project_tabs > div.active {
    background-color: white;
    border: 1px solid #b9b9b961;
    border-left: 0;
    border-bottom: 5px solid #49a610;
}

#single_project_tabs > div:first-child {
    border-radius: 0 1rem 0 0;
}

#single_project_tabs i {
    font-size: 2rem;
    color: #8899a9;
}

#single_project_tabs .tabs_title p:first-child {
    font-weight: 500;
    font-size: 1.5rem;
    text-transform: uppercase;
    line-height: 1.85rem;
}

#single_project_tabs .tabs_title p:last-child {
    color: #8899a9;
}

#wrap_single_project .carte_affaire > div:first-child {
    padding-left: 2rem;
}

/******************************************************************************************************

																							FOOTER

******************************************************************************************************/

footer {
    margin-top: 2rem;
}

.all_rights_reserved {
    font-size: 0.8rem;
    color: #b5b3b3;
    text-transform: uppercase;
}
