<template>
  <div class="container-fluid">
    <!-- Header -->
    <section id="header_content" class="row header_content_single_project">
      <div class="col-11 d-flex justify-content-start align-items-center">
        <a
          href="/suppliers"
          class="btn btn-green d-inline-flex justify-content-center align-items-center mr-5 py-2"
        >
          <i
            style="font-size: 30px; margin: 0"
            class="las la-arrow-circle-left"
          ></i>
        </a>
        <div class="titre_single_project">
          <p>{{ supplier.name }}</p>
          <p>{{ supplier.email }}</p>
        </div>
      </div>
      <div class="col-1 d-flex justify-content-center align-items-center">
        <a
          @click="destroy"
          href="#"
          class="exit_single_project btn btn-green bg-brand-red py-2"
        >
          <i
            class="las la-times-circle"
            style="color: white; margin: 0; font-size: 30px"
          ></i>
        </a>
      </div>
    </section>
    <!-- End Header -->
  </div>
</template>

<script>
export default {
  name: "SupplierDetailsHeader",

  props: {
    supplier: {
      type: Object,
      default: null,
    },
  },

  data() {
    return {
      redirect_route: null,
    };
  },

  methods: {
    destroy() {
      const url = `/api/admin/suppliers/${this.supplier.id}/delete`;
      this.$swal
        .fire({
          title: "Are you sure?",
          text: `You will not be able to undo this.`,
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#49a610",
          cancelButtonColor: "#353841",
          confirmButtonText: "Yes, delete it!",
          reverseButtons: true,
        })
        .then((result) => {
          if (result.isConfirmed) {
            axios.delete(url).then((response) => {
              // So we can flash the client deleted on redirect.
              sessionStorage.setItem(
                "flash",
                JSON.stringify(response.data.message)
              );
              window.location.href = response.data.redirect_route;
            });
          }
        });
    },
  },
};
</script>