<template>
  <div :class="{ active: isActive }" v-cloak>
    <!-- If loaded -->
    <div v-if="!loading">
      <div v-if="isNotEmpty">
        <div
          v-for="contact in supplierContacts"
          :key="contact.id"
          class="carte_affaire row"
        >
          <div
            class="col-10 d-flex justify-content-start align-items-top space-x-6"
          >
            <!-- Contact info -->
            <div data-name="left-side" style="width: 25%">
              <div class="font-medium pb-3">
                <span>{{ contact.name }}</span>
              </div>
              <div data-name="under-name" class="space-y-content">
                <div
                  class="font-light text-sm text-gray space-x-2"
                  data-name="contact-phone"
                >
                  <svg
                    style="width: 15px"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M11.174 16.826a15.053 15.053 0 01-8-8l2.12-2.12C5.686 6.314 6 5.556 6 5.009V.991A1 1 0 005 0H1.002A1 1 0 000 1.001V3c0 9.389 7.611 17 17 17h1.999A.998.998 0 0020 18.998V15a1 1 0 00-.99-1h-4.02c-.546 0-1.304.314-1.696.706l-2.12 2.12z"
                      fill="currentColor"
                      fill-rule="evenodd"
                    />
                  </svg>
                  <span>{{ contact.phone }}</span>
                </div>
                <div
                  class="font-light text-sm text-gray space-x-2"
                  data-name="contact-phone"
                >
                  <svg
                    style="width: 15px"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M17 6V1.99C17 .899 16.107 0 15.006 0H2.994C1.894 0 1 .891 1 1.99v16.02C1 19.101 1.893 20 2.994 20h8.509H8v-4H3V2h12v3h2v1c1.105 0 2 .897 2 2.006v9.988A1.998 1.998 0 0117 20h-6c-1.105 0-2-.897-2-2.006V8.006C9 6.898 9.887 6 11 6h6zm-6 2h6v8h-6V8zm3 11a1 1 0 100-2 1 1 0 000 2z"
                      fill="currentColor"
                      fill-rule="evenodd"
                    />
                  </svg>
                  <span>{{ contact.mobile }}</span>
                </div>
                <div
                  class="font-light text-sm text-gray space-x-2"
                  data-name="contact-phone"
                >
                  <svg
                    style="width: 15px"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M14.878 10.098L20 14v2l-6.373-4.902L10 14l-3.627-2.902L0 16v-2l5.122-3.902L0 6V4l10 8 10-8v2l-5.122 4.098zM18.009 2C19.11 2 20 2.895 20 3.994v12.012A1.997 1.997 0 0118.01 18H1.99C.892 18 0 17.105 0 16.006V3.994C0 2.893.898 2 1.99 2h16.02z"
                      fill="currentColor"
                      fill-rule="evenodd"
                    />
                  </svg>
                  <span>{{ contact.email }}</span>
                </div>
              </div>
            </div>
            <!-- End contact info  -->

            <!-- Roles  -->
            <div class="col-2">
              <div data-name="contact-roles">
                <div class="font-medium pb-3">
                  <span>Roles</span>
                </div>
                <div data-name="under-roles">
                  <div v-for="(role, i) in contact.roles" :key="i">
                    <div
                      class="d-flex align-items-center mb-1"
                      v-if="role.checked"
                    >
                      <input
                        disabled="true"
                        :checked="role.checked"
                        type="checkbox"
                        style="cursor: default; width: 15px; height: 15px"
                        class="form-check-input custom-check-sidebar p-0"
                      />
                      <span
                        class="form-check-label font-light text-gray text-sm"
                        for="role-translation"
                        >{{ role.translation }}</span
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End roles -->
          </div>
          <div
            class="col-2 d-flex justify-content-end align-items-center space-x-2"
          >
            <i
              @click="openEditContactForm(contact)"
              id="open-edit-contact"
              class="las la-eye pointer"
            ></i>
            <i @click="destroy(contact)" class="las la-trash-alt pointer"></i>
          </div>
        </div>
      </div>

      <div v-else v-cloak>
        <div class="pb-5">
          <div class="py-5 custom-text-input text-center text-xl">
            Supplier has no contacts yet.
          </div>
        </div>
      </div>

      <div class="d-flex align-content-center justify-content-between">
        <button
          @click="openNewContactForm"
          id="new-contact-button"
          class="btn btn-green d-inline-flex justify-content-center align-items-center"
        >
          <i class="las la-plus-circle"></i>
          NOUVEL CONTACT
        </button>
      </div>
    </div>

    <!-- If loading -->
    <div v-else>
      <contacts-loading-placeholder></contacts-loading-placeholder>
    </div>
  </div>
</template>

<script>
import { EventBus } from "../../../../event-bus";
import ContactsLoadingPlaceholder from "../../../Layouts/ContactsLoadingPlaceholder.vue";

export default {
  name: "ContactsContent",

  components: {
    ContactsLoadingPlaceholder,
  },

  props: {
    isActive: {
      type: Boolean,
      default: false,
    },

    supplier: {
      type: Object,
      default: null,
    },
  },

  data() {
    return {
      loading: true,
      supplierContacts: null,
    };
  },

  mounted() {
    this.initializeField();
  },

  beforeDestroy() {
    EventBus.$off("supplier-contact-saved", this.handleContactSaved());
  },

  computed: {
    isNotEmpty() {
      return this.supplierContacts !== null && this.supplierContacts.length > 0;
    },
  },

  methods: {
    initializeField() {
      this.fetch();

      EventBus.$on("supplier-contact-saved", (payload) => {
        this.handleContactSaved(payload);
      });
    },

    fetch() {
      let contactsUrl = `/api/suppliers/${this.supplier.id}/contacts`;

      axios
        .get(contactsUrl)
        .then((response) => {
          this.supplierContacts = response.data.data;
          this.loading = false;
        })
        .catch((error) => {
          console.log(error.response.data.errors);
        });
    },

    destroy(contact) {
      this.$swal
        .fire({
          title: "Are you sure?",
          text: `You wont be able to revert this.`,
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#49a610",
          cancelButtonColor: "#353841",
          confirmButtonText: "Yes, delete it!",
          reverseButtons: true,
        })
        .then((result) => {
          if (result.isConfirmed) {
            this.loading = true;
            let deleteUrl = `/api/suppliers/${this.supplier.id}/contacts/${contact.id}`;
            axios
              .delete(deleteUrl)
              .then((response) => {
                this.supplierContacts = this.supplierContacts.filter(
                  (c) => c.id !== contact.id
                );
                return this.$toasted.show(response.data.message);
              })
              .then((this.loading = false))
              .catch((errors) => {
                console.log("destroy() on ContactsContent", errors);
              });
          }
        });
    },

    handleContactSaved(payload = null) {
      if (payload == null) return;
      this.loading = true;
      this.$toasted.show(payload.data.message);
      this.fetch();
    },

    openNewContactForm() {
      EventBus.$emit("open-sidebar", {
        form: "new-supplier-contact",
        supplier: this.supplier,
      });
    },

    openEditContactForm(contact) {
      EventBus.$emit("open-sidebar", {
        form: "edit-supplier-contact",
        supplier: this.supplier,
        contact: contact,
      });
    },
  },
};
</script>

<style lang="css">
[v-cloak] {
  display: none !important;
}
</style>
