<template>
  <div
    class="single_liste_projet d-flex align-items-center justify-content-between"
    style="border-radius: 0.5rem !important"
  >
    <h2 class="nom_client col-4" style="margin-left: 0rem !important">
      <a :href="`/suppliers/${data.id}`">{{ data.name }}</a>
    </h2>
    <p class="desc_courte font-light">{{ data.phone }}</p>
    <p class="desc_courte font-light">
      Contacts (<span class="text-success">{{ data.contacts_count }}</span>)
    </p>
    <p class="desc_courte font-light">
      Projets (<span class="text-success">{{ data.projects_count }}</span>)
    </p>
    <p class="desc_courte font-light">
      Archive (<span class="text-success">{{ data.archive_count }}</span>)
    </p>
    <p class="desc_courte font-light">
      Factures (<span class="text-success">{{ data.factures_count }}</span>)
    </p>
    <div class="dropdown more_projet">
      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        id="header_option_afficher"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <i class="las la-ellipsis-h"></i>
      </button>
      <div class="dropdown-menu" aria-labelledby="header_option_afficher">
        <a class="dropdown-item disable_text" :href="`/suppliers/${data.id}`">Edit</a>
        <a class="dropdown-item disable_text" href="#" @click.prevent="destroy">Delete</a>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "SupplierListItem",

  props: {
    data: {
      type: Object,
      default: null,
    },
  },

  computed: {
    destroyUrl() {
      return `/api/admin/suppliers/${this.data.id}/delete`;
    },
  },

  methods: {
    destroy() {
      this.$swal
        .fire({
          title: "Are you sure?",
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#49a610",
          cancelButtonColor: "#353841",
          confirmButtonText: "Yes, delete it!",
          reverseButtons: true,
        })
        .then((result) => {
          if (result.isConfirmed) {
            axios
              .delete(this.destroyUrl)
              .then((response) => {
                this.$emit("deleted", this.data.id);
                this.$toasted.show(response.data.message);
              })
              .catch((error) => {
                console.log(
                  "ClientListItem component destroy()",
                  error.response.data.errors
                );
              });
          }
        });
    },
  },
};
</script>