<template>
  <div>
    <div v-if="!loaded">
      <div class="mt-5 py-5 bg-white custom-text-input text-center text-xl">
        <loading-spinner></loading-spinner>
      </div>
    </div>
    <div v-if="loaded">
      <header-component
        :showClientFilter="false"
        :showDateFilter="false"
        @filter="handleFilters"
        @quick-search="handleSearch"
      ></header-component>
      <div id="liste_clients" class="container-fluid">
        <div v-if="suppliersExist" class="row wrap_liste_projet">
          <div class="col-12" v-for="supplier in items" :key="supplier.id">
            <supplier-list-item
              :data="supplier"
              @deleted="updateData"
            ></supplier-list-item>
          </div>
        </div>

        <div v-else>
          <div class="py-5 bg-white custom-text-input text-center text-xl">
            No suppliers have been created yet.
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import SupplierListItem from "./SupplierListItem.vue";
import LoadingSpinner from "../../Layouts/LoadingSpinner.vue";

export default {
  name: "SuppliersList",

  components: {
    SupplierListItem,
    LoadingSpinner,
  },

  data() {
    return {
      items: [],
      statuses: null,
      search: "",
      queryString: null,
      loaded: false,
    };
  },

  beforeMount() {
    this.initializeComponent();
  },

  mounted() {
    if (sessionStorage.flash) {
      this.$toasted.show(JSON.parse(sessionStorage.getItem("flash")));
      sessionStorage.clear();
    }
  },

  computed: {
    suppliersExist() {
      return this.items.length > 0;
    },
  },

  methods: {
    initializeComponent() {
      this.initializeQueryString();
      this.fetchStatuses();
    },

    fetchSuppliers: function () {
      let params = this.queryString.toString();
      axios
        .get(`/api/admin/suppliers?${params}`)
        .then((response) => {
          this.items = response.data.data;
          this.loaded = true;
        })
        .catch((errors) => {
          console.log(errors);
        });
    },

    fetchStatuses() {
      axios
        .get("/api/statuses")
        .then((response) => {
          return (this.statuses = response.data.data);
        })
        .then(this.fetchSuppliers());
    },

    updateData(deletedItem) {
      return (this.items = this.items.filter(
        (supplier) => supplier.id !== deletedItem
      ));
    },

    initializeQueryString() {
      let params = "?name=asc&status=tous";
      return (this.queryString = new URLSearchParams(params));
    },

    handleFilters: function (payload) {
      this.queryString.set(payload.param, payload.value);

      this.fetchSuppliers();
    },

    handleSearch: _.debounce(
      function (e) {
        this.search = e;
        this.queryString.set("search", e);

        if (this.search === "") {
          this.queryString.delete("search");
        }

        this.fetchSuppliers();
      },
      75,
      {
        leading: true,
        trailing: true,
      }
    ),
  },
};
</script>