<template>
  <div>
    <supplier-details-header :supplier="supplier"></supplier-details-header>
    <div class="container-fluid">
      <section id="wrap_single_project" class="row no-gutters">
        <div id="single_project_content" class="col-10">
          <general-information
            :isActive="isActive('GeneralInfo')"
            :data="supplier"
          ></general-information>
          <contacts-content
            :isActive="isActive('Contacts')"
            :supplier="supplier"
          ></contacts-content>
        </div>

        <div id="single_project_tabs" class="col-2">
          <!-- Active class toggling -->
          <div
            class="row"
            @click="openTab('GeneralInfo')"
            :class="{ active: isActive('GeneralInfo') }"
            data-show="#client_content"
          >
            <div class="col-3 align-self-center">
              <i class="las la-user-alt"></i>
            </div>
            <div class="col-9 align-self-center tabs_title">
              <p>Fournisseur</p>
              <p>Information générale</p>
            </div>
          </div>

          <div
            class="row"
            @click="openTab('Contacts')"
            :class="{ active: isActive('Contacts') }"
            data-show="#contacts_content"
          >
            <div class="col-3 align-self-center">
              <i class="las la-id-card"></i>
            </div>
            <div class="col-9 align-self-center tabs_title">
              <p>Contacts</p>
              <p>Contacts du fournisseur</p>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</template>

<script>
import { EventBus } from "../../../event-bus";
import SupplierDetailsHeader from "./Partials/SupplierDetailsHeader.vue";
import GeneralInformation from "./Tabs/GeneralInformation.vue";
import ContactsContent from "./Tabs/ContactsContent.vue";

export default {
  name: "SupplierDetails",

  components: {
    SupplierDetailsHeader,
    GeneralInformation,
    ContactsContent,
  },

  props: {
    data: {
      type: Object,
      default: null,
    },
  },

  data() {
    return {
      supplier: this.data,
      tabNames: ["GeneralInfo", "Contacts"],
      activeTab: "GeneralInfo",
    };
  },

  methods: {
    openTab(name) {
      return (this.activeTab = name);
    },

    isActive(tab) {
      return this.activeTab === tab;
    },

    open(form) {
      EventBus.$emit("open-sidebar", form);
    },
  },
};
</script>
