<template>
  <div class="d-flex align-items-center justify-content-between">
    <div class="col-2 pl-0">{{ data.label }}</div>
    <!-- <input class="checkbox mr-2" type="checkbox" :value="choice.value" v-model="query.value"> {{ choice.label }} -->
    <div class="col-4">
      <div
        v-for="(choice, index) in data.choices"
        :key="index"
        class="form-group form-check d-flex align-items-center mb-0"
      >
        <input
          type="checkbox"
          class="form-check-input custom-check-smaller"
          :value="choice.value"
          v-model="model"
        />
        <span
          for="optionCheck"
          class="form-check-label ml-1 text-gray-700 font-smaller"
          >{{ choice.label }}</span
        >
      </div>
    </div>
    <div
      class="space-x-2 col-6 d-flex justify-content-between align-items-center"
    >
      <input
        type="text"
        class="custom-text-input"
        style="width: 100%; padding: 0.4rem; padding-left: 0.8rem"
        placeholder="Insert notes?"
        :value="data.notes"
        @change="updateNotes"
      />
      <i
        class="las la-times-circle pointer"
        style="font-size: 1.5rem; color: #8899a9"
        @click="remove(data)"
      ></i>
    </div>
  </div>
</template>

<script>
export default {
  name: "CheckboxOption",

  props: {
    data: {
      type: Object,
      default: null,
    },
    value: {
      type: Array,
      default: () => [],
    },
  },

  data() {
    return {
      model: this.value,
    };
  },

  watch: {
    model: function (val) {
      this.$emit("input", val);
    },
  },

  methods: {
    updateNotes(e) {
      return (this.data.notes = e.target.value);
    },

    remove(item) {
      this.$emit("option-deleted", item);
    },
  },
};
</script>

<style lang="scss" scoped>
</style>