<template>
  <div class="d-flex align-items-center justify-content-between">
    <div class="col-2 pl-0">{{ data.label }}</div>
    <div class="col-4">
      <div
        class="form-group form-check d-flex align-items-center mb-0"
        style="padding-left: 0"
      >
        <input
          type="number"
          class="custom-text-input"
          style="width: 100%; padding: 0.4rem; padding-left: 0.8rem"
          placeholder="valeur"
          :value="data.numericValue"
          @change="updateNumericValue"
        />
      </div>
    </div>
    <div
      class="space-x-2 col-6 d-flex justify-content-between align-items-center"
    >
      <input
        type="text"
        class="custom-text-input"
        style="width: 100%; padding: 0.4rem; padding-left: 0.8rem"
        placeholder="insert notes"
        :value="data.notes"
        @change="updateNotes"
      />
      <i
        class="las la-times-circle pointer"
        style="font-size: 1.5rem; color: #8899a9"
        @click="remove(data)"
      ></i>
    </div>
  </div>
</template>

<script>
export default {
  name: "NumericOption",

  props: {
    data: {
      type: Object,
      default: null,
    },
  },

  methods: {
    updateNumericValue(e) {
      return (this.data.numericValue = e.target.value);
    },

    updateNotes(e) {
      return (this.data.notes = e.target.value);
    },

    remove(item) {
      this.$emit("option-deleted", item);
    },
  },
};
</script>

<style lang="scss" scoped>
</style>