<template>
  <div>
    <text-option
      :data="data"
      v-if="shouldShow('text')"
      @option-deleted="handleDelete"
    />
    <numeric-option
      :data="data"
      v-if="shouldShow('numeric')"
      @option-deleted="handleDelete"
    />
    <radio-option
      :data="data"
      v-if="shouldShow('radio')"
      @option-deleted="handleDelete"
    />
    <checkbox-option
      :data="data"
      v-model="data.checked"
      v-if="shouldShow('checkbox')"
      @option-deleted="handleDelete"
    />
    <select-option
      :data="data"
      v-if="shouldShow('select')"
      @option-deleted="handleDelete"
    />
  </div>
</template>

<script>
import TextOption from "./TextOption";
import NumericOption from "./NumericOption";
import RadioOption from "./RadioOption";
import CheckboxOption from "./CheckboxOption";
import SelectOption from "./SelectOption";

export default {
  name: "OptionContainer",

  components: {
    TextOption,
    NumericOption,
    RadioOption,
    CheckboxOption,
    SelectOption,
  },

  props: {
    data: {
      type: Object,
      default: null,
    },
  },

  data() {
    return {
      items: [],
    };
  },

  methods: {
    shouldShow(type) {
      return this.data.type == type;
    },

    handleDelete(payload) {
      this.$emit("optionDeleted", payload);
    },
  },
};
</script>
