<template>
  <div class="d-flex align-items-center justify-content-between">
    <div class="col-2 pl-0">{{ data.label }}</div>
    <div class="col-4">
      <div
        class="form-check"
        v-for="(choice, index) in data.choices"
        :key="index"
      >
        <input
          v-if="data.picked"
          class="form-check-input"
          type="radio"
          :name="data.unique_code"
          :value="choice.value"
          @change="handleChoiceUpdate(choice)"
          v-model="data.picked.value"
        />
        <input
          v-else
          class="form-check-input"
          type="radio"
          :name="data.unique_code"
          :value="choice.value"
          @change="handleChoiceUpdate(choice)"
        />
        <label class="form-check-label text-gray-700">{{ choice.label }}</label>
      </div>
    </div>
    <div
      class="space-x-2 col-6 d-flex justify-content-between align-items-center"
    >
      <input
        type="text"
        class="custom-text-input"
        style="width: 100%; padding: 0.4rem; padding-left: 0.8rem"
        placeholder="insert notes"
        :value="data.notes"
        @change="updateModelNotes"
      />
      <i
        class="las la-times-circle pointer"
        style="font-size: 1.5rem; color: #8899a9"
        @click="$emit('option-deleted', data)"
      ></i>
    </div>
  </div>
</template>

<script>
export default {
  name: "RadioOption",
  props: {
    data: {
      type: Object,
      default: null,
    },
  },

  methods: {
    handleChoiceUpdate(choice) {
      this.data.picked = choice;
    },

    updateModelNotes(e) {
      return (this.data.notes = e.target.value);
    },
  },
};
</script>