<template>
  <div class="d-flex align-items-center justify-content-between">
    <div class="col-2 pl-0">{{ data.label }}</div>
    <div class="col-4">
      <div
        class="form-group form-check d-flex align-items-center mb-0"
        style="padding-left: 0 !important"
      >
        <select
          class="custom-text-input ml-0"
          style="width: 100%; padding: 0.4rem; padding-left: 0.8rem"
          name="OptionSelectChoices"
          v-model="data.value"
        >
          <option disabled value="">Select one..</option>
          <option
            v-for="(choice, index) in data.choices"
            :key="index"
            :value="choice.value"
            @change="handleChange(choice)"
          >
            {{ choice.label }}
          </option>
        </select>
      </div>
    </div>
    <div
      class="space-x-2 col-6 d-flex justify-content-between align-items-center"
    >
      <input
        type="text"
        class="custom-text-input"
        style="width: 100%; padding: 0.4rem; padding-left: 0.8rem"
        placeholder="insert notes"
        :value="data.notes"
        @change="updateNotes"
      />
      <i
        class="las la-times-circle pointer"
        style="font-size: 1.5rem; color: #8899a9"
        @click="remove(data)"
      ></i>
    </div>
  </div>
</template>

<script>
export default {
  name: "SelectOption",

  props: {
    data: {
      type: Object,
      default: null,
    },
  },

  methods: {
    handleChange(choice) {
      this.data.value = choice.value;
    },
    updateNotes(e) {
      this.data.notes = e.target.value;
    },
    remove(item) {
      this.$emit("option-deleted", item);
    },
  },
};
</script>