<template>
  <div :class="{ active: isActive }">
    <div id="user_content">
      <div class="form-group row">
        <label
          for="input-fournisseur_name"
          class="col-2 col-form-label d-flex justify-content-start align-items-center"
        >
          Utilisateur nom<span>*</span>
        </label>
        <div class="col-9">
          <div class="input-group">
            <input
              type="text"
              class="form-control custom-text-input"
              :class="{ 'text-input-invalid': isInvalid('name') }"
              id="input-fournisseur_name"
              v-model="formData.name"
              @keydown="clearError('name')"
            />
            <span
              v-if="isInvalid('name')"
              class="input-error"
              style="margin-botom: -0.25rem !important"
              >{{ errorMessage("name") }}</span
            >
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label
          for="input-fournisseur_email"
          class="col-2 col-form-label d-flex justify-content-start align-items-center"
        >
          Utilisateur email<span>*</span>
        </label>
        <div class="col-9">
          <div class="input-group">
            <input
              type="text"
              class="form-control custom-text-input"
              :class="{ 'text-input-invalid': isInvalid('email') }"
              id="input-fournisseur_email"
              v-model="formData.email"
              @keydown="clearError('email')"
            />
            <span
              v-if="isInvalid('email')"
              class="input-error"
              style="margin-botom: -0.25rem !important"
              >{{ errorMessage("email") }}</span
            >
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label
          for="input-fournisseur_email"
          class="col-2 col-form-label d-flex justify-content-start align-items-center"
        >
          Connected entity
        </label>
        <div class="col-9">
          <div class="input-group">
            <input
              v-if="formData.connected_entity.object !== null"
              class="form-control custom-text-input"
              readonly
              :value="formattedEntityText"
            >
            <input v-else class="form-control custom-text-input" readonly value="No connected entity.">
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label
          for="input-client_name"
          class="col-2 col-form-label d-flex justify-content-start align-items-center"
        >
          Change password
        </label>
        <div class="col-9">
          <div class="input-group">
            <input
              type="password"
              class="form-control custom-text-input"
              :class="{ 'text-input-invalid': isInvalid('password') }"
              id="input-client_password"
              autocomplete="current-password"
              v-model="formData.password"
              @keydown="clearError('password')"
              placeholder="Type here if you wish to change users password."
            />
            <span
              v-if="isInvalid('password')"
              class="input-error"
              style="margin-botom: -0.25rem !important"
              >{{ errorMessage("password") }}</span
            >
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label
          for="input-client_name"
          class="col-2 col-form-label d-flex justify-content-start align-items-center"
        >
          Confirm password
        </label>
        <div class="col-9">
          <div class="input-group">
            <input
              type="password"
              name="password_confirmation"
              required
              autocomplete="new-password"
              class="form-control custom-text-input"
              :class="{ 'text-input-invalid': isInvalid('password') }"
              id="password-confirm"
              v-model="formData.password_confirmation"
              @keydown="clearError('password')"
            />
            <span
              v-if="isInvalid('password')"
              class="input-error"
              style="margin-botom: -0.25rem !important"
            >
              {{ errorMessage("password") }}
            </span>
          </div>
        </div>
      </div>

    </div>
    <div class="form-group row mb-0">
      <button
        :disabled="!isChanged"
        @click="updateUser"
        class="ml-auto mr-3 btn btn-green d-inline-flex justify-content-center align-items-center"
      >
        <i class="las la-check-circle"></i>
        SAUVEGARDER
      </button>
    </div>
  </div>
</template>

<script>
import _ from "lodash";
import { EventBus } from "../../../../event-bus";
import NoAjaxSearchSelect from "../../../Sidebar/Forms/partials/NoAjaxSearchSelect.vue";

export default {
  name: "GeneralInformation",

  components: {
    NoAjaxSearchSelect,
  },

  props: {
    isActive: {
      type: Boolean,
      default: false,
    },

    data: {
      type: Object,
      default: null,
    },
  },

  data() {
    return {
      errors: {},
      formData: _.cloneDeep(this.data),

      roles: [
        { id: 1, name: "Admin", key: "ADMIN" },
        { id: 2, name: "Client", key: "CLIENT" },
        { id: 3, name: "Fournisseur", key: "SUPPLIER" },
      ],
    };
  },

  computed: {
    isChanged() {
      return JSON.stringify(this.formData) !== JSON.stringify(this.data);
    },

    formattedEntityText() {
      return `Type: ${this.formData.connected_entity.type}, ID: ${this.formData.connected_entity.object.id}, Nom: ${this.formData.connected_entity.object.name}`;
    }
  },

  methods: {
    updateUser() {
      let url = `/users/${this.data.id}/update`;
      axios
        .patch(url, this.formData)
        .then((response) => {
          this.$toasted.show(response.data.message);
          this.data = _.cloneDeep(this.formData);
        })
        .catch((error) => {
          this.errors = error.response.data.errors;
          console.log(
            "updateUser() on Users/GeneralInformation",
            error.response.data.errors
          );
        });
    },

    isInvalid(attribute) {
      return this.errors.hasOwnProperty(attribute);
    },

    errorMessage(attribute) {
      if (this.errors[attribute]) {
        return this.errors[attribute][0];
      }
    },

    clearError(field) {
      delete this.errors[field];
    },

    updateRole(payload) {
      this.formData.role = payload;
      this.clearError("role");
    },
  },
};
</script>
