<template>
  <div>
    <project-details-header
      key="supplier-project-details-header"
      :project="project"
      :statuses="statuses"
    ></project-details-header>
    <div class="container-fluid">
      <section id="wrap_single_project" class="row no-gutters">
        <div id="single_project_content" class="col-10">
          <projet-info-content
            key="supplier-project-info-content"
            :isActive="isActive('Projet')"
            :project="project"
            :client="client"
            :statuses="statuses"
          ></projet-info-content>
          <item-content
            key="supplier-item-content"
            :isActive="isActive('Items')"
            :project="project"
            :client="client"
          ></item-content>
          <epreuves-content-supplier
            key="supplier-epreuves-content"
            :isActive="isActive('Épreuves')"
            :project="project"
            :supplier="supplier"
          ></epreuves-content-supplier>
          <!-- <facturation-content
            :isActive="isActive('Facturation')"
          ></facturation-content> -->
        </div>

        <div id="single_project_tabs" class="col-2">
          <!-- Active class toggling -->
          <div
            class="row"
            @click="openTab('Projet')"
            :class="{ active: isActive('Projet') }"
            data-show="#projet_details_content"
          >
            <div class="col-3 align-self-center">
              <i class="las la-user-astronaut"></i>
            </div>
            <div class="col-9 align-self-center tabs_title">
              <p>Projet</p>
              <p>Information générale</p>
            </div>
          </div>

          <div
            class="row"
            @click="openTab('Items')"
            :class="{ active: isActive('Items') }"
            data-show="#items_content"
          >
            <div class="col-3 align-self-center">
              <i class="las la-copy"></i>
            </div>
            <div class="col-9 align-self-center tabs_title">
              <p>Items</p>
              <p>Items du projet</p>
            </div>
          </div>

          <div
            class="row"
            @click="openTab('Épreuves')"
            :class="{ active: isActive('Épreuves'),  'is-disabled': epreuveTabShouldBeDisabled }"
            data-show="#epreuves_content"
          >
            <div class="col-3 align-self-center">
              <i :class="{ 'is-disabled': epreuveTabShouldBeDisabled  }" class="las la-check-circle"></i>
            </div>
            <div :class="{ 'is-disabled': epreuveTabShouldBeDisabled  }" class="col-9 align-self-center tabs_title">
              <p :class="{ 'is-disabled': epreuveTabShouldBeDisabled  }">Épreuves</p>
              <p :class="{ 'is-disabled': epreuveTabShouldBeDisabled  }">Fichiers approuvés</p>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</template>

<script>
import { EventBus } from "../../../event-bus";
import ProjectDetailsHeader from "./Tabs/ProjectDetailsHeader";
import ProjetInfoContent from "./Tabs/ProjetInfoContent";
import ItemContent from "./Tabs/ItemContent";
import EpreuvesContentSupplier from "./Tabs/EpreuvesContentSupplier";

export default {
  name: "SupplierProjectDetails",

  components: {
    ProjectDetailsHeader,
    ProjetInfoContent,
    ItemContent,
    EpreuvesContentSupplier,
  },

  props: {
    project: {
      type: Object,
      default: null,
    },
    client: {
      type: Object,
      default: null,
    },
    supplier: {
      type: Object,
      default: null,
    },
    statuses: {
      type: Array,
      default: () => null,
    },
    approved_estimates_count: {
      type: Number,
      default: 0,
    },
  },

  data() {
    return {
      tabNames: ["Projet", "Items"],
      activeTab: "Projet",
    };
  },

  mounted() {
    if (sessionStorage.flash) {
      this.$toasted.show(JSON.parse(sessionStorage.getItem("flash")));
      sessionStorage.clear();
    }
  },

  computed: {
    epreuveTabShouldBeDisabled() {
      return (
        this.project.status === "quote_requests_to_be_made" ||
        this.project.status === "awaiting_supplier_prices" ||
        this.project.status === "submissions_to_prepare" ||
        this.project.status === "submissions_sent_awaiting_client_approval" ||
        this.approved_estimates_count === 0
      );
    },
  },

  methods: {
    openTab(name) {
      return (this.activeTab = name);
    },

    isActive(tab) {
      return this.activeTab === tab;
    },

    open(form) {
      EventBus.$emit("open-sidebar", form);
    },
  },
};
</script>

<style lang="scss" scoped>
.is-disabled {
  color: gainsboro !important;
  pointer-events: none !important;
}
</style>
