<template functional>
  <div id="list_project_card" class="d-flex flex-nowrap">
    <div class="project_card" v-for="(item, index) in 4" :key="index">
      <div
        class="project_card-header bg-placeholder-gray d-flex align-items-center justify-content-center"
      >
        <p class="text-center"></p>
      </div>
      <div class="project_card-content">
        <div
          class="project animated-placeholder-dashboard"
          v-for="(item, index) in Math.floor(
            Math.random() * (Math.floor(4) - Math.ceil(1)) + Math.ceil(1)
          )"
          :key="index"
        >
          <div class="project_content row">
            <div class="project_content-left col-10">
              <p style="opacity: 0" class="nom_client">
                Georg Christoph Lichtenberg
              </p>
              <p style="opacity: 0" class="description_courte">
                Fabrication de verre
              </p>
              <p style="opacity: 0" class="telephone">
                Georg Lichtenberg | 555 555 5555
              </p>
              <p style="opacity: 0" class="email">lichtenberg@emsolutions.ca</p>
            </div>
            <div
              class="project_content-right col-2 d-flex flex-column align-items-center justify-content-between"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "DashboardSkeleton",
};
</script>

<style scoped>
.animated-placeholder-dashboard {
  background: linear-gradient(
    45deg,
    #eef1f8,
    #f1f3f7,
    #ffffff,
    #f1f3f7,
    #e9ebf0
  );
  background-size: 600% 600%;
  -webkit-animation: left-to-right 2.5s ease-out infinite;
  -moz-animation: left-to-right 2.5s ease-out infinite;
  animation: left-to-right 2.5s ease-out infinite;
  border: none;
}
</style>
