<template>
  <div>
    <header-component
      :showStatusFilter="false"
      @filter="handleFilters"
      @quick-search="handleSearch"
    ></header-component>
    <div v-if="!loading">
      <div v-if="hasResults" id="list_project_card" class="d-flex flex-nowrap">
        <!-- Single status card with projects -->
        <div v-for="item in data" :key="item.id" class="project_card">
          <div
            class="project_card-header d-flex align-items-center justify-content-center"
            :style="`background-color: ${item.hex_color}`"
          >
            <p class="text-center" v-html="item.html_label"></p>
            <a
              id="nouvelle_soumission"
              v-if="item.key === 'quote_requests_to_be_made'"
              @click.prevent="showCreateProjectForm"
              href="#"
              class="d-flex align-items-center justify-content-center"
            >
              <i class="las la-plus-circle"></i>
            </a>
          </div>
          <draggable
            :list="item.projects"
            :key="item.key"
            tag="div"
            :data-name="item.key"
            v-bind="getOptions"
            @add="onAdd($event, item.key)"
            draggable=".drag"
            class="project_card-content"
          >
            <project-list-item
              v-for="project in item.projects"
              class="drag"
              :key="project.id"
              :data-id="project.id"
              :project="project"
              :color="item.hex_color"
              @open-modal="openModal"
              @toggle-favorite="handleFavoriteToggle"
            ></project-list-item>
          </draggable>
        </div>
        <!-- End single status card-->
      </div>

      <div
        v-show="!hasResults"
        class="py-5 mx-3 bg-white custom-text-input text-center text-xl"
      >
        <div>No results found.</div>
      </div>
    </div>

    <div v-else>
      <dashboard-skeleton></dashboard-skeleton>
    </div>

    <project-modal
      :show="shouldShowModal"
      :project="activeProject"
      :status="computedStatus"
      @closed="handleModalClosed"
    ></project-modal>
  </div>
</template>

<script>
import draggable from "vuedraggable";
import ProjectListItem from "./ProjectListItem.vue";
import ProjectModal from "./ProjectModal.vue";
import DashboardSkeleton from "./DashboardSkeleton.vue";
import { EventBus } from "../../../event-bus";
import _ from "lodash";

export default {
  name: "DashboardComponent",

  components: {
    draggable,
    ProjectListItem,
    ProjectModal,
    DashboardSkeleton,
  },

  data() {
    return {
      data: null,
      loading: false,
      shouldShowModal: false,
      activeProject: null,
      computedStatus: null,
      queryString: null,
      search: "",
    };
  },

  created() {
    this.initializeQueryString();
    this.loading = true;
  },

  mounted() {
    this.initializePage();
  },

  computed: {
    getOptions() {
      return {
        animation: 150,
        group: "graphx",
      };
    },

    hasResults() {
      return this.data.filter((card) => card.projects.length > 0).length > 0;
    },
  },

  methods: {
    initializePage() {
      this.fetchData();
    },

    initializeQueryString() {
      let params = "?name=asc&month=current";
      return (this.queryString = new URLSearchParams(params));
    },

    fetchData() {
      const params = this.queryString.toString();

      axios
        .get(`/api/dashboard/projects?${params}`)
        .then((response) => {
          this.data = response.data;
          this.loading = false;
        })
        .catch((error) =>
          console.log(
            "DashboardComponent fetchData()",
            error.response.data.errors
          )
        );
    },

    onAdd(e, statusCard) {
      const projectId = parseInt(e.item.getAttribute("data-id"));
      this.updateStatus(projectId, statusCard);

      /** List that the project is dropped to */
      let list = this.data.filter((list) => list.key === statusCard)[0];

      /** Project that was dragged and dropped */
      let draggedProject = list.projects.find(
        (project) => project.id === projectId
      );

      /** Update the project status in browser, so it can get filtered accordingly */
      draggedProject.status = statusCard;
    },

    updateStatus: function (projectId, status) {
      const url = `/api/dashboard/projects/${projectId}/status`;
      axios
        .patch(url, {
          status: status,
        })
        .then((response) => {})
        .catch((error) =>
          console.log(
            "DashboardComponent updateStatus()",
            error.response.data.errors
          )
        );
    },

    handleFavoriteToggle: function (project) {
      /** Toggle the favorite */
      project.favorite = !project.favorite;

      /** If the A-Z sort by ascending when favoriting */
      const nameSortDirection = this.queryString.get("name");

      /** Reordering projects on frontend for better UX, after favoriting the project. */
      const statusList = this.data.filter((i) => i.key === project.status)[0];
      statusList.projects = _.orderBy(
        statusList.projects,
        ["favorite", "client.name"],
        ["desc", nameSortDirection]
      );

      const url = `/api/dashboard/projects/${project.id}/favorite`;

      axios
        .post(url)
        .then((response) => {})
        .catch((error) => {
          console.log(
            "Dashboard component toggleFavorite()",
            error.response.data.errors
          );
        });
    },

    isParent: function (project) {
      return project.parent_id === null;
    },

    openModal: function (project) {
      document.body.classList.add("no_scroll");
      this.activeProject = project;
      this.computedStatus = this.data.filter(
        (status) => project.status === status.key
      )[0].short_label;
      this.shouldShowModal = true;
    },

    handleModalClosed: function () {
      document.body.classList.remove("no_scroll");
      this.activeProject = null;
      this.computedStatus = null;
      this.shouldShowModal = false;
    },

    showCreateProjectForm: function () {
      EventBus.$emit("open-sidebar", "new-project");
    },

    handleFilters: function (payload) {
      this.queryString.set(payload.param, payload.value);

      this.fetchData();
    },

    handleSearch(e) {
      this.search = e;
      this.queryString.set("search", e);

      if (this.search === "") {
        this.queryString.delete("search");
      }

      _.debounce(this.fetchData(), 300);
    },

    // TODO Server side filtering. This will not work here.
    // Only where theres not drag and drop stuff.
    filteredProjects(projects) {
      return projects.filter((p) => {
        return (
          p.client.name
            .normalize("NFD")
            .replace(/[\u0300-\u036f]/g, "")
            .toLowerCase()
            .includes(this.search.toLowerCase()) ||
          p.title
            .normalize("NFD")
            .replace(/[\u0300-\u036f]/g, "")
            .toLowerCase()
            .includes(this.search.toLowerCase()) ||
          p.children.filter((c) => {
            return c.client.name
              .normalize("NFD")
              .replace(/[\u0300-\u036f]/g, "")
              .toLowerCase()
              .includes(this.search.toLowerCase());
          }).length > 0
        );
      });
    },
  },
};
</script>

<style scoped>
.list-reset {
  list-style: none;
  padding: 0;
}
</style>
