<template>
  <!-- Add active class to modal when clicked on an item. -->
  <transition name="fade">
    <div
      v-if="project"
      id="project_modal"
      class="d-flex justify-content-center align-items-start"
      :class="{ active: isActive }"
    >
      <div id="wrap_project_modal">
        <div id="project_modal-header">
          <div class="row">
            <div class="col-11">
              <h2 id="nom_projet">{{ project.title }}</h2>
            </div>
            <div class="col-1 d-flex justify-content-center align-items-center">
              <a @click="close" class="pointer" id="close_project_modal"
                ><i class="las la-times-circle"></i
              ></a>
            </div>
          </div>
        </div>
        <div id="project_modal-content">
          <div class="row">
            <div class="col-2">
              <p>Client :</p>
            </div>
            <div class="col-4">
              <p id="client">{{ project.client.name }}</p>
            </div>
            <div class="col-2">
              <p>Statut :</p>
            </div>
            <div class="col-4">
              <p id="statut">
                {{ status }}
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-2">
              <p>Code projet :</p>
            </div>
            <div class="col-4">
              <p id="code_projet">{{ project.unique_code }}</p>
            </div>
            <div class="col-2">
              <p>Contact :</p>
            </div>
            <div class="col-4">
              <p id="contact">{{ project.client.buyerRoleDetails.name }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-2">
              <p>Date de livraison :</p>
            </div>
            <div class="col-4">
              <p id="date_livraison">{{ project.startDate }}</p>
            </div>
            <div class="col-2">
              <p>Téléphone :</p>
            </div>
            <div class="col-4">
              <p id="telephone">{{ project.client.buyerRoleDetails.phone }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-2">
              <p>Projet lié :</p>
            </div>
            <div class="col-4">
              <div v-if="project.children && project.children.length > 0">
                <p
                  v-for="child in project.children"
                  :key="child.id"
                  id="projet_lie"
                >
                  {{ child.title }}
                </p>
              </div>
            </div>
            <div class="col-2">
              <p>E-mail :</p>
            </div>
            <div class="col-4">
              <p id="email">{{ project.client.buyerRoleDetails.email }}</p>
            </div>
          </div>
        </div>
        <div id="project_modal-list">
          <!-- Project items -->
          <div
            v-show="project.project_items.length > 0"
            class="row carte_affaire"
            v-for="item in project.project_items"
            :key="item.id"
          >
            <div class="col-10 d-flex justify-content-start align-items-center">
              <p v-text="item.name"></p>
            </div>
            <div class="col-2 d-flex justify-content-end align-items-center">
              <i
                @click="toggleItem(item.id)"
                class="las la-chevron-circle-down pointer"
                :style="
                  activeItem === item.id ? 'transform: rotate(180deg);' : ''
                "
              ></i>
            </div>
            <div
              class="col-12 carte_affaire-content"
              :style="activeItem === item.id ? 'display: block' : ''"
            >
              <p v-text="item.description"></p>
            </div>
          </div>
          <div
            v-show="project.project_items.length === 0"
            class="row carte_affaire"
          >
            <div class="col-10 d-flex justify-content-start align-items-center">
              <p>No items exist for this project.</p>
            </div>
          </div>
          <!-- End project items -->
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
export default {
  name: "ProjectModal",

  props: {
    show: {
      type: Boolean,
      default: false,
    },

    project: {
      type: Object,
      default: null,
    },

    status: {
      type: String,
      default: null,
    },
  },

  data() {
    return {
      isActive: this.show,
      activeItem: null,
    };
  },

  watch: {
    show(newValue, oldValue) {
      return (this.isActive = newValue);
    },
  },

  methods: {
    close() {
      this.$emit("closed");
      this.activeItem = null;
      return (this.isActive = false);
    },

    toggleItem(id) {
      if (this.activeItem === id) {
        return (this.activeItem = null);
      }

      return (this.activeItem = id);
    },
  },
};
</script>

<style scoped>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
