<template>
  <div>
    <div class="project">
      <!-- Parent -->
      <div class="left_edge" :style="statusColor"></div>
      <div class="project_content row">
        <div class="project_content-left col-10">
          <p class="nom_client">{{ project.client.name }}</p>
          <p class="description_courte">
            {{ project.short_description }}
          </p>
          <p class="telephone">
            {{ project.client.buyerRoleDetails.name }} |
            {{ project.client.buyerRoleDetails.phone }}
          </p>
          <p class="email">
            {{ project.client.buyerRoleDetails.email }}
          </p>
        </div>
        <div
          class="project_content-right col-2 d-flex flex-column align-items-center justify-content-between"
        >
          <a @click.prevent="goTo(project)" href="#" class="edit_project"
            ><i class="las la-edit"></i
          ></a>
          <a @click.prevent="openModal(project)" href="#" class="view_project"
            ><i class="las la-eye"></i
          ></a>
          <a
            @click.prevent="toggleFavorite(project)"
            href="#"
            class="favorite_project"
          >
            <i v-show="project.favorite" class="la-star las"></i>
            <i v-show="!project.favorite" class="la-star lar"></i>
          </a>
        </div>
      </div>
    </div>
    <!-- End parent -->

    <!-- Children -->
    <div v-if="hasChildren(project)">
      <div
        v-for="child in project.children"
        :key="child.id"
        class="project linked_project"
      >
        <div class="project_content row">
          <div class="project_content-left col-10">
            <p class="nom_client">{{ child.client.name }}</p>
            <p class="description_courte">
              {{ child.short_description }}
            </p>
          </div>
          <div
            class="project_content-right col-2 d-flex flex-column align-items-center justify-content-center"
          >
            <a @click.prevent="openModal(child)" href="#" class="view_project"
              ><i class="las la-eye"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
    <!-- End Children -->
  </div>
</template>

<script>
export default {
  name: "ProjectListItem",

  props: {
    project: {
      type: Object,
      default: null,
    },

    color: {
      type: String,
      default: "#59DB00",
    },
  },

  computed: {
    statusColor() {
      return `background-color: ${this.color}`;
    },
  },

  methods: {
    openModal: function (project) {
      this.$emit("open-modal", project);
    },

    toggleFavorite: function (project) {
      this.$emit("toggle-favorite", project);
    },

    hasChildren: function (project) {
      return project.children.length > 0;
    },

    goTo: function (project) {
      window.location.href = `/projects/${project.id}`;
    },
  },
};
</script>

<style scoped>
</style>
