<template>
  <div>
    <div class="row carte_affaire" style="cursor: auto">
      <div class="col-5 d-flex justify-content-start align-items-center">
        <p class="font-medium uppercase">{{ data.item.name }} - {{ data.quantity }}pts</p>
      </div>
      <div class="col-3 d-flex justify-content-end align-items-center">
        <p>
          <!-- <span class="font-medium">Envoye lé:</span>
          <span class="text-gray">{{
            data.quotes_request_sent ? data.quotes_request_sent_at : "Not sent"
          }}</span> -->
        </p>
      </div>
      <div class="col-3 d-flex justify-content-end align-items-center">
        <p>
          <span class="text-gray">Soumission reçu:</span>
          <span
            :class="data.quotes_submitted ? 'text-success' : 'text-danger'"
            >{{ data.quotes_submitted ? "Oui" : "Non" }}</span
          >
        </p>
      </div>
      <div
        class="col d-flex justify-content-end align-items-center"
        style="font-size: 1.5rem; color: #8899a9; margin-right: 1rem;'"
      >
        <i
          :id="`fournisseur-tab-icon-${data.key}`"
          @click="toggleItemDropdown(data.key)"
          class="las la-chevron-circle-down pointer toggle-menu"
        ></i>
      </div>

      <!-- dropdown content -->
      <div
        :id="`fournisseur-item-${data.key}`"
        class="carte_affaire-content"
        style="width: 100%"
      >
        <div style="width: 100%">
          <!-- One item ? -->
          <div
            class="pl-5 pr-5 d-flex justify-content-between pt-5"
            style="width: 100%"
          >
            <div
              class="space-y-2 font-light pb-5 w-full"
              style="width: 100%; border-bottom: 1px solid gray"
            >
              <div class="pt-0">
                <pre>{{ data.item.description }}</pre>
                <br />
                <div class="font-medium block">
                  <div>Options:</div>
                  <span v-if="data.options.length > 0">
                    <span
                      v-for="(option, index) in data.options"
                      :key="index"
                      class="font-light text-gray single-option mr-2"
                      >{{ option }}
                    </span>
                  </span>

                  <span class="font-light text-gray single-option" v-else>
                    No options
                  </span>
                </div>
              </div>
            </div>
          </div>
          <!-- End one item -->
        </div>

        <div v-if="data.quotes.length > 0">
          <div
            class="hover-bg-gray w-full pr-0 pl-0"
            v-for="quote in data.quotes"
            :key="quote.id"
          >
            <div class="py-3 pr-5 pl-5">
              <div
                class="d-flex justify-content-between align-items-start py-2"
              >
                <div class="col-10" style="margin-left: -1rem">
                  <p class="font-medium block pt-2">
                    Fornisseur:
                    <span class="font-light text-success">{{
                      quote.supplier.name
                    }}</span>
                  </p>
                  <!-- <p class="font-medium block pt-1">
                      Commentaire:
                      <span class="font-light text-gray"
                        >Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Maiores nostrum rerum iure voluptate eveniet architecto
                        doloremque iusto, sint laboriosam aut eaque non quas natus
                        debitis obcaecati possimus. Laboriosam, aliquam
                        voluptates.</span
                      >
                    </p> -->
                  <!-- messages part comentaire -->

                  <div
                    v-if="quote.fournisseur_tab_messages.length > 0"
                    class="pb-4 d-flex justify-content-between align-items-start pt-4"
                  >
                    <div class="col-10 pl-0">
                      <chat-component :messages="quote.fournisseur_tab_messages" />
                    </div>
                  </div>
<!--
                  <p class="font-medium block pt-5">
                    Prix soumissione:
                    <span class="text-success">{{
                      formatQuoteValue(quote.value)
                    }}</span>
                  </p> -->
                </div>
                <div class="space-x-2">
                  <a
                    @click.prevent="openModal(data.item, quote)"
                    href="#"
                    class="exit_single_project rounded btn p-edit-buttons bg-brand-gray"
                    :class="{ disabled: loading }"
                    ><i
                      class="las la-comments"
                      style="color: white; margin: 0px; font-size: 30px"
                    ></i
                  ></a>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="py-3 pr-5 pl-5" v-else>
          Aucun fournisseur n'a encore soumis d'estimation pour cet article.
        </div>
      </div>
    </div>
    <message-modal
      :show="shouldShowModal"
      :data="dataForModal"
      @closed="handleModalClosed"
      @message-created="handleMessageCreated"
    />
  </div>
</template>

<script>
import ChatComponent from "../../../../Layouts/ChatComponent.vue";
import MessageModal from "../../../../Layouts/MessageModal.vue";

export default {
  components: {
    MessageModal,
    ChatComponent,
  },

  props: {
    data: {
      type: Object,
      default: null,
    },

    project: {
      type: Object,
      default: null,
    },
  },

  data() {
    return {
      shouldShowModal: false,
      dataForModal: null,
      loading: false,
    };
  },

  methods: {
    toggleItemDropdown(id) {
      this.$emit("toggle-dropdown", id);
    },

    decline(quote) {
      this.submit(quote, "decline-submission");
    },

    accept(quote) {
      this.submit(quote, "accept-submission");
    },

    submit(quote, approval) {
      this.loading = true;
      let formData = {
        item_id: quote.item_id,
        project_id: quote.project_id,
        supplier_id: quote.supplier_id,
      };
      // approval = accept-submission / decline-submission
      let url = `/api/projects/${formData.project_id}/quotes/${quote.id}/${approval}`;

      axios
        .post(url, formData)
        .then((response) => {
          this.$toasted.show(response.data.message);
          let quote = this.data.quotes.find((quote) => quote.id === response.data.quote.id)
          quote.declined_at = response.data.quote.declined_at;
          quote.approved_at = response.data.quote.approved_at;
          this.loading = false;
        })
        .catch((error) => {
          console.log(error);
          if (error && error.response && error.response.status == 422) {
            this.errors = error.response.data.errors;
          } else {
            this.$toasted.show("An unknown error occured.");
            console.log(error.response);
            console.log(
              "admin-views/Projects/Tabs/FournisseursContentPartials/SingleItemEstimates submit()",
              error.response.data.errors
            );
          }
          this.loading = false;
        });
    },

    handleMessageCreated(payload) {
      payload.creator = {
        name: current_user.name,
        id: current_user.id,
        email: current_user.email,
      };
      console.log();
      this.data.quotes
        .find((quote) => quote.id === payload.quote_id)
        .fournisseur_tab_messages.push(payload);
    },

    openModal: function (item, quote) {
      document.body.classList.add("no_scroll");
      this.dataForModal = {
        item: item,
        supplierId: quote.supplier_id,
        supplierName: quote.supplier.name,
        projectId: this.project.id,
        quote_id: quote.id,
        option_group_id: quote.option_group_id,
      };
      this.shouldShowModal = true;
    },

    handleModalClosed: function () {
      document.body.classList.remove("no_scroll");
      this.dataForModal = null;
      this.shouldShowModal = false;
    },

    formatQuoteValue(value) {
      if (value !== null) {
        return parseFloat(value).toFixed(2) + "$";
      }

      return "0.00$";
    },
  },
};
</script>

<style lang="scss" scoped>
div[data-name="fourni-item-content"]:first-child {
  border-top: none !important;
}

.single-option:first-child {
  display: inline;
}

.single-option {
  display: block;
}

.border-t-gray {
  border-top: 1px solid lightgrey !important;
}

div[data-name="single-quantity-content"]:last-child {
  border-bottom: none !important;
}

.border-b-gray {
  border-bottom: 1px solid lightgrey !important;
}

.hover-bg-gray:hover {
  background-color: #f4f4f4;
}

pre {
  border: 0;
  background-color: transparent;
  padding: 0;
  font-family: "Rubik" !important;
  font-size: 16px !important;
  font-weight: 300 !important;
  white-space: pre-wrap;
}
</style>
