<template>
  <transition name="fade">
    <div v-show="isActive" :class="{ active: isActive }">
      <div v-if="!loading">
        <div v-if="addresses !== null && addresses.length > 0">
          <div
            v-for="address in addresses"
            :key="address.id"
            class="row carte_affaire"
          >
            <div
              class="col-10 d-flex justify-content-start align-items-center space-x-2"
            >
              <p>{{ address.address_line_1 }}</p>
              <div
                v-for="(type, i) in formattedAddressTypes(address)"
                :key="i"
                class="ml-5 d-flex align-items-center"
              >
                <input
                  disabled="true"
                  :checked="type[1]"
                  type="checkbox"
                  style="cursor: default; width: 15px; height: 15px"
                  class="form-check-input custom-check-sidebar p-0"
                  id="exampleCheck1"
                />
                <span
                  class="form-check-label text-gray-600 text-xs"
                  for="exampleCheck1"
                >{{ type[0] }}</span
                >
              </div>
            </div>

            <div
              class="col-2 d-flex justify-content-end align-items-center space-x-2"
            >
              <i
                @click="openEditAddressForm(address)"
                id="open-edit-address"
                class="las la-arrow-circle-right pointer"
              ></i>
              <i @click="destroy(address)" class="las la-trash-alt pointer"></i>
            </div>
          </div>
        </div>

        <div v-else>
          <div class="pb-5">
            <div class="py-5 custom-text-input text-center text-xl">
              Client has no addresses yet.
            </div>
          </div>
        </div>

        <div class="d-flex align-content-center justify-content-between">
          <button
            @click="openNewAddressForm"
            id="new-division-button"
            class="btn btn-green d-inline-flex justify-content-center align-items-center"
          >
            <i class="las la-plus-circle"></i>
            NOUVEL ADRESSE
          </button>
        </div>
      </div>
      <div v-else>
        <carte-loading-placeholder></carte-loading-placeholder>
      </div>
    </div>
  </transition>
</template>

<script>
import { EventBus } from "../../../../event-bus";
import CarteLoadingPlaceholder from "../../../Layouts/CarteLoadingPlaceholder.vue";

export default {
  name: "AddressesContent",

  components: {
    CarteLoadingPlaceholder,
  },

  props: {
    isActive: {
      type: Boolean,
      default: false,
    },

    client: {
      type: Object,
      default: null,
    },
  },

  data() {
    return {
      addresses: this.client.addresses,
      loading: true,
    };
  },

  mounted() {
    EventBus.$on("address-saved", (payload) => {
      this.handleAddressSaved(payload);
    });
    this.loading = false;
  },

  beforeDestroy() {
    EventBus.$off("address-saved", this.handleAddressSaved());
  },

  methods: {
    fetch() {
      let vm = this;
      axios
        .get(`/api/clients/${this.client.id}/addresses`)
        .then((response) => {
          this.addresses = response.data.data;
          this.loading = false;
        })
        .catch((errors) =>
          console.log("fetch() on AddressesContent", errors.response.data)
        );
    },

    destroy(address) {
      this.$swal
        .fire({
          title: "Are you sure?",
          text: `You wont be able to revert this.`,
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#49a610",
          cancelButtonColor: "#353841",
          confirmButtonText: "Yes, delete it!",
          reverseButtons: true,
        })
        .then((result) => {
          if (result.isConfirmed) {
            this.loading = true;
            let deleteUrl = `/api/clients/${this.client.id}/addresses/${address.id}`;
            axios
              .delete(deleteUrl)
              .then((response) => {
                this.addresses = this.addresses.filter(
                  (a) => a.id !== address.id
                );
                return this.$toasted.show(response.data.message);
              })
              .then((this.loading = false))
              .catch((errors) => {
                console.log("destroy() on addressContent", errors);
              });
          }
        });
    },

    formattedAddressTypes(address) {
      return Object.entries(address.types).map((type) => {
        switch (type[0]) {
          case "delivery":
            return ["Livraison", type[1]];
            break;
          case "physical_approval":
            return ["Approbation physique", type[1]];
            break;
          default:
            break;
        }
      });
    },

    handleAddressSaved(payload = null) {
      if (payload == null) return;
      this.loading = true;
      this.$toasted.show(payload.data.message);
      this.fetch();
    },

    openNewAddressForm() {
      EventBus.$emit("open-sidebar", {
        form: "new-address",
        client: this.client,
      });
    },

    openEditAddressForm(address) {
      EventBus.$emit("open-sidebar", {
        form: "edit-address",
        client: this.client,
        address: address,
      });
    },
  },
};
</script>
