<template>
  <transition name="fade">
    <div v-show="isActive" :class="{ active: isActive }">
      <div id="client_content">
        <div class="form-group row">
          <label
            for="input-client_name"
            class="col-2 col-form-label d-flex justify-content-start align-items-center"
          >
            Nom<span>*</span>
          </label>
          <div class="col-9">
            <div class="input-group">
              <input
                type="text"
                class="form-control custom-text-input"
                :class="{ 'text-input-invalid': isInvalid('name') }"
                id="input-client_name"
                v-model="data.name"
                @keydown="clearError('name')"
              />
              <span
                v-if="isInvalid('name')"
                class="input-error"
                style="margin-botom: -0.25rem !important"
                >{{ errorMessage("name") }}</span
              >
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label
            for="input-phone"
            class="col-2 col-form-label d-flex justify-content-start align-items-center"
          >
            Téléphone<span>*</span>
          </label>
          <div class="col-9">
            <div class="input-group">
              <input
                type="tel"
                placeholder="(123) 456-7890"
                class="form-control custom-text-input"
                :class="{ 'text-input-invalid': isInvalid('phone') }"
                id="input-phone"
                v-model="data.phone"
                maxlength="16"
                @keydown="clearError('phone')"
                @input="enforcePhoneFormat()"
              />

              <span
                v-if="isInvalid('phone')"
                class="input-error"
                style="margin-botom: -0.25rem !important"
                >{{ errorMessage("phone") }}</span
              >
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label
            for="input-address"
            class="col-2 col-form-label d-flex justify-content-start align-items-center"
          >
            Addresse<span>*</span>
          </label>
          <div class="col-9">
            <div class="input-group">
              <input
                type="text"
                class="form-control custom-text-input"
                :class="{ 'text-input-invalid': isInvalid('address_line_1') }"
                id="input-address"
                v-model="data.address_line_1"
                @keydown="clearError('address_line_1')"
              />
              <span
                v-if="isInvalid('address_line_1')"
                class="input-error"
                style="margin-botom: -0.25rem !important"
                >{{ errorMessage("address_line_1") }}</span
              >
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label
            for="input-city"
            class="col-2 col-form-label d-flex justify-content-start align-items-center"
          >
            Ville
          </label>
          <div class="col-9">
            <div class="input-group">
              <input
                type="text"
                class="form-control custom-text-input"
                :class="{ 'text-input-invalid': isInvalid('city') }"
                id="input-city"
                v-model="data.city"
              />
              <span
                v-if="isInvalid('city')"
                class="input-error"
                style="margin-botom: -0.25rem !important"
                >{{ errorMessage("city") }}</span
              >
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label
            for="input-province"
            class="col-2 col-form-label d-flex justify-content-start align-items-center"
          >
            Province
          </label>
          <div class="col-9">
            <div class="input-group">
              <input
                type="text"
                class="form-control custom-text-input"
                :class="{ 'text-input-invalid': isInvalid('province') }"
                id="input-province"
                v-model="data.province"
              />
              <span
                v-if="isInvalid('province')"
                class="input-error"
                style="margin-botom: -0.25rem !important"
                >{{ errorMessage("province") }}</span
              >
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label
            for="input-client-pays"
            class="col-2 col-form-label d-flex justify-content-start align-items-center"
          >
            Pays
          </label>
          <div class="col-9">
            <div class="input-group">
              <input
                type="text"
                class="form-control custom-text-input"
                :class="{ 'text-input-invalid': isInvalid('country') }"
                id="input-client-pays"
                v-model="data.country"
              />
              <span
                v-if="isInvalid('country')"
                class="input-error"
                style="margin-botom: -0.25rem !important"
                >{{ errorMessage("country") }}</span
              >
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label
            for="input-titre_projet"
            class="col-2 col-form-label d-flex justify-content-start align-items-center"
          >
            Code postal
          </label>
          <div class="col-9">
            <div class="input-group">
              <input
                type="text"
                class="form-control custom-text-input"
                :class="{ 'text-input-invalid': isInvalid('postal_code') }"
                id="input-titre_projet"
                v-model="data.postal_code"
              />
              <span
                v-if="isInvalid('postal_code')"
                class="input-error"
                style="margin-botom: -0.25rem !important"
                >{{ errorMessage("postal_code") }}</span
              >
            </div>
          </div>
        </div>

        <div class="form-group row pt-5 border-top">
          <label
            for="input-client_email"
            class="col-2 col-form-label d-flex justify-content-start align-items-center"
          >
            Email<span>*</span>
          </label>
          <div class="col-9">
            <div class="input-group">
              <input
                type="text"
                class="form-control custom-text-input"
                :class="{ 'text-input-invalid': isInvalid('email') }"
                id="input-client_email"
                v-model="data.email"
                @keydown="clearError('email')"
              />
              <span
                v-if="isInvalid('email')"
                class="input-error"
                style="margin-botom: -0.25rem !important"
                >{{ errorMessage("email") }}</span
              >
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label
            for="input-client_password"
            class="col-2 col-form-label d-flex justify-content-start align-items-center"
          >
            Change password
          </label>
          <div class="col-9">
            <div class="input-group">
              <input
                type="password"
                class="form-control custom-text-input"
                :class="{ 'text-input-invalid': isInvalid('password') }"
                id="input-client_password"
                autocomplete="current-password"
                v-model="data.password"
                @keydown="clearError('password')"
                placeholder="Type here if you wish to change your current password."
              />
              <span
                v-if="isInvalid('password')"
                class="input-error"
                style="margin-botom: -0.25rem !important"
                >{{ errorMessage("password") }}</span
              >
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label
            for="password-confirm"
            class="col-2 col-form-label d-flex justify-content-start align-items-center"
          >
            Confirm password
          </label>
          <div class="col-9">
            <div class="input-group">
              <input
                type="password"
                name="password_confirmation"
                required
                autocomplete="new-password"
                class="form-control custom-text-input"
                :class="{ 'text-input-invalid': isInvalid('password') }"
                id="password-confirm"
                v-model="data.password_confirmation"
                @keydown="clearError('password')"
              />
              <span
                v-if="isInvalid('password')"
                class="input-error"
                style="margin-botom: -0.25rem !important"
                >{{ errorMessage("password") }}</span
              >
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row mb-0">
        <button
          @click="updateClient"
          class="ml-auto mr-3 btn btn-green d-inline-flex justify-content-center align-items-center"
        >
          <i class="las la-check-circle"></i>
          SAUVEGARDER
        </button>
      </div>
    </div>
  </transition>
</template>

<script>
import { EventBus } from "../../../../event-bus";

export default {
  name: "GeneralInformation",

  props: {
    isActive: {
      type: Boolean,
      default: false,
    },

    data: {
      type: Object,
      default: null,
    },
  },

  data() {
    return {
      errors: {},
    };
  },

  methods: {
    updateClient() {
      const url = `/client/${this.data.id}/profile/update`;

      axios
        .patch(url, this.data)
        .then((response) => {
          this.$toasted.show(response.data.message);
        })
        .catch((error) => {
          this.errors = error.response.data.errors;
          console.log(
            "Client interface / Profile / General information updateClient()",
            error
          );
        });
    },

    isInvalid(attribute) {
      return this.errors.hasOwnProperty(attribute);
    },

    errorMessage(attribute) {
      if (this.errors[attribute]) {
        return this.errors[attribute][0];
      }
    },

    clearError(field) {
      delete this.errors[field];
    },

    enforcePhoneFormat() {
      let x = this.data.phone
        .replace(/\D/g, "")
        .match(/(\d{0,3})(\d{0,3})(\d{0,4})/);
      this.data.phone = !x[2]
        ? x[1]
        : "(" + x[1] + ") " + x[2] + (x[3] ? "-" + x[3] : "");
    },

    open(form) {
      EventBus.$emit("open-sidebar", form);
    },
  },
};
</script>
