<template>
  <div>
    <admin-details-header :admin="admin"></admin-details-header>
    <div class="container-fluid">
      <section id="wrap_single_project" class="row no-gutters">
        <div id="single_project_content" class="col-10">
          <general-information
            :isActive="isActive('GeneralInfo')"
            :data="admin"
          ></general-information>
        </div>

        <div id="single_project_tabs" class="col-2">
          <!-- Active class toggling -->
          <div
            class="row"
            @click="openTab('GeneralInfo')"
            :class="{ active: isActive('GeneralInfo') }"
            data-show="#client_content"
          >
            <div class="col-3 align-self-center">
              <i class="las la-user-alt"></i>
            </div>
            <div class="col-9 align-self-center tabs_title">
              <p>Admin</p>
              <p>Information générale</p>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</template>

<script>
import { EventBus } from "../../../event-bus";
import AdminDetailsHeader from "./Tabs/AdminDetailsHeader.vue";
import GeneralInformation from "./Tabs/GeneralInformation.vue";

export default {
  name: "AdminProfile",

  components: {
    AdminDetailsHeader,
    GeneralInformation,
  },

  props: {
    user: {
      type: Object,
      default: null,
    },
  },

  data() {
    return {
      admin: this.user,
      tabNames: ["GeneralInfo"],
      activeTab: "GeneralInfo",
    };
  },

  methods: {
    openTab(name) {
      return (this.activeTab = name);
    },

    isActive(tab) {
      return this.activeTab === tab;
    },

    open(form) {
      EventBus.$emit("open-sidebar", form);
    },
  },
};
</script>

<style lang="scss">
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
