<template>
  <div>
    <div class="row carte_affaire" style="cursor: auto">
      <div class="col-5 d-flex justify-content-start align-items-center">
        <p class="font-medium">GESTION DE PROJET</p>
      </div>
      <div class="col-3 d-flex justify-content-end align-items-center"></div>
      <div class="col-3 d-flex justify-content-end align-items-center">
        <p>
          <span class="font-light">PRIX CLIENT:</span>
          <span class="font-medium">{{ formattedFee }}</span>
        </p>
      </div>
      <div
        class="col d-flex justify-content-end align-items-center"
        style="font-size: 1.5rem; color: rgb(136, 153, 169); margin-right: 1rem"
      >
        <i
          :id="`invoice-line-item-icon-gestion${data.id}`"
          @click="toggleItemDropdown(data.id)"
          class="las la-chevron-circle-down pointer"
        ></i>
      </div>
      <!-- add block class to open -->
      <div
        :id="`invoice-line-item-gestion${data.id}`"
        class="col-12 carte_affaire-content pt-5"
      >
        <div class="mx-3">
          <div class="form-group row">
            <div class="col-3">
              <div class="input-group">
                <input
                  type="text"
                  class="form-control pl-4 text-gray font-light"
                  v-model="data.title"
                  placeholder="Gestion de projet"
                  style="border-radius: 0.5rem; border: 2px solid #e7e8e8"
                  :class="hasErrorsFor('title') ? 'border-danger' : ''"
                  @input="clearErrorsFor('title')"
                />
              </div>
            </div>
            <div class="col-7">
              <div class="form-group input-group">
                <input
                  type="text"
                  class="form-control font-light text-gray"
                  style="border-radius: 0.5rem; border: 2px solid #e7e8e8"
                  v-model="data.description"
                  placeholder="Gestion des etapes et gestion de projet"
                  :class="hasErrorsFor('description') ? 'border-danger' : ''"
                  @input="clearErrorsFor('description')"
                />
                <div v-if="hasErrorsFor('description')">
                  <span
                    class="text-xs text-danger"
                    v-for="(error, index) in getErrorsFor('description')"
                    :key="index"
                  >
                    {{ error }}
                  </span>
                </div>
              </div>
            </div>
            <div class="col-2">
              <div class="input-group">
                <vue-numeric
                  class="form-control text-center font-light text-gray"
                  style="border-radius: 0.5rem; border: 2px solid #e7e8e8"
                  :class="hasErrorsFor('fee') ? 'border-danger' : ''"
                  @input="clearErrorsFor('description')"
                  currency="$"
                  separator=","
                  v-bind:precision="2"
                  v-model="data.fee"
                ></vue-numeric>
                <div v-if="hasErrorsFor('fee')">
                  <span
                    class="text-xs text-danger"
                    v-for="(error, index) in getErrorsFor('fee')"
                    :key="index"
                  >
                    {{ error }}
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ProjectManagementFee",

  props: {
    data: {
      type: Object,
      default: null,
    },

    project: {
      type: Object,
      default: null,
    },

    errors: {
      type: Object,
      default: null,
    },
  },

  computed: {
    formattedFee() {
      return `${parseFloat(this.data.fee).toFixed(2)}$`;
    },
  },

  methods: {
    toggleItemDropdown(id) {
      const gestionId = `gestion${id}`;
      this.$emit("toggle-dropdown", gestionId);
    },

    hasErrorsFor(field) {
      return this.errors.hasOwnProperty(`items.${this.index}.${field}`);
    },

    getErrorsFor(field) {
      // Example - this.errors["items.0.description"]
      return this.errors[`items.${this.index}.${field}`].map((error) =>
        error.replace(`items.${this.index}.`, "")
      );
    },

    clearErrorsFor(field) {
      if (!this.hasErrorsFor(field)) return;
      return delete this.errors[`items.${this.index}.${field}`];
    },
  },
};
</script>

<style lang="scss" scoped>
</style>