<template>
    <div>
        <div class="w-1/4 py-4 font-normal text-xl">#{{ index + 1 }}. {{ __('Item') }}</div>
        <div
            :key="quantityItem.code"
            v-for="(quantityItem, index) in JSON.parse(item.attributes.quantity)"
        >
            <div class="w-3/5 py-2 break-words text-90 flex-1">
                <div class="py-2 font-bold">{{ __('Quantity') }}: {{ quantityItem.value }}</div>
                <div class="py-2 flex">
                    <div class="mr-2">{{ __('Description') }}:</div>
                    <div v-html="item.attributes.description"></div>
                </div>
                <div class="py-2">{{ __('Options') }}: {{ parseOptions(item.attributes) }}</div>
            </div>

            <div class="w-3/6 py-2 break-words">
                <div class="py-2 text-90">
                    <div class="mb-2">{{ __('Quote') }}:</div>
                    <div class="flex flex-1">
                        <select
                            :disabled="! editing || index === 0"
                            :value="quoteChoice(quantityItem)"
                            @change="updateQuoteChoice(item, quantityItem, $event, index)"
                            class="form-control form-select mr-1 w-full"
                        >
                            <option selected="selected" value="custom">{{ __('Custom') }}</option>
                            <option v-show="index !== 0" value="as-previous">{{ __('Identical as previous') }}</option>
                        </select>
                        <input
                            :disabled="! editing || markedAsPrevious(quantityItem, index)"
                            :value="quantityItem.quote"
                            @input="updateQuoteAmount(item, quantityItem, $event)"
                            class="w-full form-control form-input form-input-bordered"
                            min="0"
                            step="0.01"
                            type="number"
                            v-show="! markedAsPrevious(quantityItem)"
                        />
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            item: {
                type: Object,
                default: null
            },

            index: {
                type: Number,
                default: null
            },

            editing: {
                type: Boolean,
                default: false
            }
        },

        data() {
            return {
                defaultQuoteChoice: "custom"
            };
        },

        methods: {
            /**
             * Get the quote choice for the item.
             */
            quoteChoice(item) {
                return item.quoteChoice ? item.quoteChoice : this.defaultQuoteChoice;
            },

            /**
             * Parse the json options object into a single string.
             */
            parseOptions(attr) {
                let options = attr.options;

                if (!options) return "N/A";
                let parsed = JSON.parse(options);
                if (!parsed.children.length > 0) return "N/A";

                let optionsText = "";

                parsed.children.forEach(option => {
                    let value = "";
                    if (option.query.value) {
                        value = ` - ${JSON.stringify(option.query.value)}`;
                    }
                    optionsText += ` ${option.query.selectedOperand}${value} `;
                });

                return optionsText;
            },

            /**
             * Is the given quantity quote choice marked as previous?
             */
            markedAsPrevious(quantity) {
                return quantity.quoteChoice === 'as-previous';
            },

            /**
             * Update the quote amount for the given quantity.
             */
            updateQuoteAmount(item, quantityItem, event) {
                let amount = event.target.value;
                const vm = this;
                const parsed = JSON.parse(item.attributes.quantity);

                let quantities = parsed.map(function (i) {
                    if (i.code === quantityItem.code) {
                        return {
                            code: i.code,
                            value: i.value,
                            quoteChoice: 'custom',
                            quote: amount
                        };
                    }

                    if (vm.markedAsPrevious(i)) {
                        return {
                            code: i.code,
                            value: i.value,
                            quoteChoice: i.quoteChoice,
                        };
                    }

                    return i;
                });

                item.attributes.quantity = JSON.stringify(quantities);
            },

            /**
             * Update the quote choice for the given quantity.
             */
            updateQuoteChoice(item, quantityItem, event) {
                const quoteChoice = event.target.value;
                let quantities = [];
                const parsed = JSON.parse(item.attributes.quantity);

                parsed.forEach(function (i) {
                    if (i.code === quantityItem.code) {
                        if (quoteChoice === "as-previous") {
                            let previousItem = parsed[parsed.indexOf(i) - 1];

                            return quantities.push({
                                code: i.code,
                                value: i.value,
                                quoteChoice: quoteChoice,
                            });
                        }

                        return quantities.push({
                            code: i.code,
                            value: i.value,
                            quoteChoice: quoteChoice,
                            quote: i.quote
                        });
                    } else {
                        quantities.push(i);
                    }
                });

                item.attributes.quantity = JSON.stringify(quantities);
            },
        }
    };
</script>
