<template>
    <div>
        <div class="flex justify-between flex-no-shrink mb-3">
            <h1 class="flex-no-shrink text-90 font-normal text-2xl">{{ __('Items') }}</h1>

            <div class="flex">
                <button
                    @click.prevent="cancel()"
                    class="btn btn-link dim cursor-pointer text-80 ml-auto mr-2"
                    v-if="editing"
                >{{ __('Cancel') }}
                </button>

                <button
                    @click.prevent="save()"
                    class="px-4 py-2 rounded-lg mr-2 shadow font-bold bg-primary text-white"
                    v-if="editing"
                >{{ __('Update') }}
                </button>

                <a
                    :disabled="editing"
                    @click.prevent="editing = true"
                    class="btn btn-default btn-icon bg-primary"
                    href="#"
                    title="Modifier"
                >
                    <svg
                        aria-labelledby="edit"
                        class="fill-current text-white"
                        height="20"
                        role="presentation"
                        style="margin-top: -2px; margin-left: 3px;"
                        viewBox="0 0 20 20"
                        width="20"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M4.3 10.3l10-10a1 1 0 0 1 1.4 0l4 4a1 1 0 0 1 0 1.4l-10 10a1 1 0 0 1-.7.3H5a1 1 0 0 1-1-1v-4a1 1 0 0 1 .3-.7zM6 14h2.59l9-9L15 2.41l-9 9V14zm10-2a1 1 0 0 1 2 0v6a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4c0-1.1.9-2 2-2h6a1 1 0 1 1 0 2H2v14h14v-6z"
                        />
                    </svg>
                </a>
            </div>
        </div>

        <div class="card mb-6 py-3 px-6">
            <div :key="key" v-for="(item, key) in items">
                <!-- Item -->
                <div class="border-b border-40">
                    <item
                        :editing="editing"
                        :id="item.key"
                        :index="key"
                        :item="item">
                    </item>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Item from "./Item";

    export default {
        name: "SuppliersItems",

        components: {
            Item,
        },

        props: ["resource"],

        data() {
            return {
                items: [],
                editing: false,
                getItemsRoute: `/api/projects/${this.resource.id.value}/assigned-items`,
                postItemsQuotesRoute: `/api/projects/${this.resource.id.value}/quotes`
            };
        },

        mounted() {
            this.initializeItems();
        },

        methods: {
            initializeItems() {
                Nova.request()
                    .get(this.getItemsRoute)
                    .then(response => {
                        this.items = response.data;
                    });
            },

            save() {
                Nova.request()
                    .post(this.postItemsQuotesRoute, {
                        items: this.items
                    })
                    .then(response => {
                        this.initializeItems();
                        this.editing = false;
                    });
            },

            cancel() {
                this.initializeItems();
                this.editing = false;
            },
        }
    };
</script>
