<template>
  <div>
    <div class="row carte_affaire" style="cursor: auto">
      <div class="col-8 d-flex justify-content-start align-items-center">
        <p class="font-medium text-uppercase">
          {{ data.name }}
        </p>
      </div>
      <div class="col-3 d-flex justify-content-end align-items-center">
        <p>
          <span class="text-gray">Épreuve approuvée:</span>
          <span :class="data.is_approved ? 'text-success' : 'text-danger'">{{
            data.is_approved ? "Oui" : "Non"
          }}</span>
        </p>
      </div>
      <div
        class="col d-flex justify-content-end align-items-center"
        style="font-size: 1.5rem; color: #8899a9; margin-right: 1rem;'"
      >
        <i
          :id="`epreuve-tab-icon-${data.id}`"
          @click="toggleItemDropdown(data.id)"
          class="las la-chevron-circle-down pointer"
        ></i>
      </div>

      <!-- dropdown content -->
      <div :id="`epreuve-item-${data.id}`" class="col-12 carte_affaire-content">
        <div class="pl-4 pr-3">
          <div
            class="d-flex col-12 justify-content-between pt-5 pb-5 pl-0 pr-0"
            style="border-bottom: 1px solid lightgray"
          >
            <!-- Left section epreuves items -->
            <div class="w-60percent p-edit-buttons">
              <div class="space-y-1 text-gray font-light">
                <p class="pt-0">
                  {{ data.description }}
                </p>
              </div>
            </div>

            <!-- Right section of the epreuves dropdown -->
            <div class="space-x-2 mr-2 align-content-end" style="width: 35%">
              <vue-dropzone
                v-if="!data.is_approved"
                ref="adminEpreuveDropzone"
                id="dropzone"
                :options="dropzoneOptions"
                class="file-drop"
                @vdropzone-success="handleDropzoneSuccess"
              />
              <!-- <button
                @click.prevent="processQueue"
                :disabled="uploading"
                class="btn btn-success rounded ml-auto mt-1 text-sm btn-xs d-inline-flex justify-content-center align-items-center"
              >
                <div>
                  <i class="las la-check-circle"></i>
                  <span>Upload</span>
                </div>
              </button> -->
            </div>
          </div>

          <div>
            <div v-if="data.files.length > 0">
              <div
                class="py-3"
                style="border-bottom: 2px solid lightgray"
                v-for="(file, index) in data.files"
                :key="index"
              >
                <div
                  class="d-flex justify-content-between align-items-center py-2"
                >
                  <div class="d-flex align-items-center" style="width: 70%">
                    <div
                      class="space-x-2 d-flex align-items-center p-edit-buttons"
                      style="width: 60%; word-break: break-all"
                    >
                      <i style="font-size: 30px" class="las la-paperclip"></i>
                      <a
                        :href="`/files/${file.hash_name}/download`"
                        class="font-medium"
                        :class="
                          file.rejected_at === null
                            ? ''
                            : 'line-through text-light-gray'
                        "
                        :style="
                          file.rejected_at !== null
                            ? 'pointer-events: none;'
                            : 'color: black'
                        "
                        >{{ file.name }}</a
                      >
                    </div>
                    <div
                      class="font-light"
                      :class="
                        file.rejected_at === null
                          ? 'text-gray'
                          : 'text-light-gray'
                      "
                      style="width: 40%"
                    >
                      <!-- 2020-08-05 | 10:43 -->
                      {{ file.created_at }}
                    </div>
                  </div>

                  <!-- Right side buttons - epreuves -->
                  <!-- <div
                    class="space-x-2"
                    v-if="
                      file.rejected_at === null && file.approved_at === null
                    "
                  >
                    <a
                      href="#"
                      @click.prevent="reject(file)"
                      class="exit_single_project rounded btn p-edit-buttons bg-brand-red"
                    >
                      <i
                        class="las la-times"
                        style="color: white; margin: 0; font-size: 28px"
                      ></i>
                    </a>
                    <a
                      @click.prevent="approve(file)"
                      href="#"
                      class="exit_single_project rounded btn p-edit-buttons btn-green"
                    >
                      <i
                        class="las la-check-circle"
                        style="color: white; margin: 0; font-size: 28px"
                      ></i>
                    </a>
                  </div> -->
                  <!-- Epreuves end right side buttons -->
                </div>
              </div>
            </div>

            <div
              v-if="data.messages.length > 0"
              class="pb-4 d-flex justify-content-between align-items-start pt-4"
            >
              <div class="col-10 pl-0">
                <chat-component :messages="data.messages" />
              </div>
              <div
                class="d-flex justify-content-end align-items-start space-x-2"
              >
                <a
                  href="#"
                  @click.prevent="openModal(data)"
                  class="exit_single_project rounded btn p-edit-buttons bg-brand-gray"
                >
                  <i
                    class="las la-comments"
                    style="color: white; margin: 0; font-size: 30px"
                  ></i>
                </a>
              </div>
            </div>
            <div class="pt-4" v-else>
              <div
                class="d-flex justify-content-end align-items-start space-x-2"
              >
                <a
                  href="#"
                  @click.prevent="openModal(data)"
                  class="exit_single_project rounded btn p-edit-buttons bg-brand-gray"
                >
                  <i
                    class="las la-comments"
                    style="color: white; margin: 0; font-size: 30px"
                  ></i>
                </a>
              </div>
            </div>
          </div>
          <!-- End one item -->
        </div>

        <message-modal
          from_tab="epreuves"
          :show="shouldShowModal"
          :data="dataForModal"
          recipient="admin and client"
          @closed="handleModalClosed"
          @message-created="handleMessageCreated"
        />
      </div>
    </div>
  </div>
</template>

<script>
import vue2Dropzone from "vue2-dropzone";
import "vue2-dropzone/dist/vue2Dropzone.min.css";
import ChatComponent from "../../../../Layouts/ChatComponent.vue";
import MessageModal from "../../../../Layouts/MessageModal.vue";

export default {
  components: {
    vueDropzone: vue2Dropzone,
    ChatComponent,
    MessageModal,
  },

  props: {
    data: {
      type: Object,
      default: null,
    },
    fileUploadUrl: {
      type: String,
      default: "",
    },
  },

  data() {
    return {
      dropzoneOptions: {
        maxFiles: 20,
        timeout: 100000,
        maxFilesize: 256, // mb
        parallelUploads: 1,
        paramName: "file",
        addRemoveLinks: true,
        uploadMultiple: false,
        autoProcessQueue: true,
        dictDefaultMessage:
          '<span style="font-weight: 600; color: black;">Drop files here or <br />click to upload.</span>',
        url: this.fileUploadUrl,
        headers: {
          "X-CSRF-TOKEN": document.head.querySelector("[name=csrf-token]")
            .content,
        },
      },
      shouldShowModal: false,
      dataForModal: null,
      uploading: false,
    };
  },

  methods: {
    processQueue() {
      this.uploading = true;
      this.$refs.adminEpreuveDropzone.processQueue();
    },

    handleDropzoneSuccess(file, response) {
      this.data.files.push(response.file);
      this.uploading = false;
    },

    toggleItemDropdown(id) {
      this.$emit("toggle-dropdown", id);
    },

    reject(file) {
      const url = `/files/${file.id}/reject`;

      this.$swal
        .fire({
          title: "Are you sure you want to reject this file?",
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#49a610",
          cancelButtonColor: "#353841",
          confirmButtonText: "Yes, reject it.",
          reverseButtons: true,
        })
        .then((result) => {
          if (result.isConfirmed) {
            axios
              .post(url)
              .then((response) => {
                file.approved_at = null;
                file.rejected_at = true;
                console.log(response);
              })
              .catch((error) => {
                console.log(error.response.data.errors);
              });
          }
        });
    },

    approve(file) {
      const url = `/files/${file.id}/approve`;

      this.$swal
        .fire({
          title: "Are you sure you want to approve this file?",
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#49a610",
          cancelButtonColor: "#353841",
          confirmButtonText: "Yes, approve it.",
          reverseButtons: true,
        })
        .then((result) => {
          if (result.isConfirmed) {
            axios
              .post(url)
              .then((response) => {
                file.approved_at = true;
                file.rejected_at = null;
                console.log(response);
              })
              .catch((error) => {
                console.log(error.response.data.errors);
              });
          }
        });
    },

    handleMessageCreated(payload) {
      payload.creator = {
        name: current_user.name,
        id: current_user.id,
        email: current_user.email,
      };

      this.data.messages.push(payload);
    },

    openModal: function (item) {
      document.body.classList.add("no_scroll");
      console.log(item);
      this.dataForModal = {
        item: item,
        supplierId: item.supplier.id,
        supplierName: item.supplier.name,
        projectId: item.project_id,
      };
      this.shouldShowModal = true;
    },

    handleModalClosed: function () {
      document.body.classList.remove("no_scroll");
      this.dataForModal = null;
      this.shouldShowModal = false;
    },
  },
};
</script>

<style lang="scss" scoped>
.file-drop {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  display: -webkit-box;
  border-width: 2px;
  border-style: dashed;
  border-radius: 0.8rem;
  --border-opacity: 1;
  border-color: #d1d1d1 !important;
  border-color: rgba(160, 174, 192, var(--border-opacity));
}
</style>