<template>
  <div>
    <button @click.prevent="openNewTab" :class="buttonClasses" v-text="field.button.title"></button>
  </div>
</template>

<script>
export default {
  props: ["field", "resourceId", "clientId"],
  computed: {
    buttonClasses() {
      return `btn btn-default btn-white
              btn-sm bg-30 hover:bg-50
              inline-flex items-center
              whitespace-no-wrap ml-2
              text-xs text-90`;
    },
    navigateToUrl() {
      return `${this.field.button.path}/${this.clientId}?tab=${this.field.button.redirectToTab}`;
    }
  },

  methods: {
    /**
     * Open the new tab for attribute creation.
     */
    openNewTab() {
      let routeData = this.$router.resolve({ path: this.field.button.path });

      const newTab = window.open(routeData.href, "_blank");
    
      if (this.field.button.redirectToTab) {
        this.handleRedirection(newTab);
      }

      newTab.focus();
    },
    handleRedirection(tab) {
      tab.addEventListener("load", event => {
          /* navigate to iframe on the target window after the resources are loaded */
          event.currentTarget.Nova.$on('resources-loaded', () => {
            let view = event.currentTarget.Nova.app.$children[10].$el["__vue__"];
            view.navigateFrame(this.navigateToUrl);
          });
          
          /* remove the event listener */
          setTimeout(() => {
            event.currentTarget.Nova.$off('resources-loaded');
          }, 350);
        });
    }
  }
};
</script>