<template functional>
  <div data-name="loading-skeleton">
    <label for="edit-address" class="font-medium text-xl pb-4">{{
      props.title
    }}</label>
    <div class="space-y-2">
      <div class="form-group">
        <input
          class="form-control input-sidebar animated-placeholder-sidebar"
        />
      </div>
      <div class="form-group">
        <input
          class="form-control input-sidebar animated-placeholder-sidebar"
        />
      </div>
      <div class="form-group">
        <input
          class="form-control input-sidebar animated-placeholder-sidebar"
        />
      </div>
      <div class="form-group">
        <input
          class="form-control input-sidebar animated-placeholder-sidebar"
        />
      </div>
      <div class="form-group">
        <input
          class="form-control input-sidebar animated-placeholder-sidebar"
        />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "SidebarLoadingSkeleton",

  props: {
    title: {
      type: String,
      default: "Noveau",
    },
  },
};
</script>

<style lang="scss">
.animated-placeholder-sidebar {
  background: linear-gradient(
    45deg,
    #e3e3e4,
    #ebebeb,
    #ffffff,
    #ebebeb,
    #e3e3e4
  );
  background-size: 600% 600%;
  -webkit-animation: left-to-right 1.4s ease-out infinite;
  -moz-animation: left-to-right 1.4s ease-out infinite;
  animation: left-to-right 1.4s ease-out infinite;
  border: none;
}
@-webkit-keyframes left-to-right {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes left-to-right {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes left-to-right {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
</style>