<template>
  <div class="col-12">
    <!-- Display input -->
    <div
      style="
        min-height: 40px;
        display: block;
        border: none !important;
        background: #fff;
        padding: 1rem;
        font-size: 16px;
        margin-right: -1rem;
      "
      v-if="options && options.length > 0"
      class="mt-2 space-y-2 custom-disabled"
    >
      <div class="item-options" v-for="(option, index) in options" :key="index">
        <option-container :key="index" :data="option"></option-container>
      </div>
    </div>
    <div v-else>
      No options
    </div>
    <!-- End display input -->
  </div>
</template>

<script>
import OptionContainer from "./options-partials/OptionContainer";

export default {
  name: "MultiselectOptions",

  props: {
    options: {
      type: Array,
      default: [],
    },

    model: {
      type: Object,
      default: null,
    },
  },

  components: {
    OptionContainer,
  },

  data() {
    return {
      value: this.model,
      items: [],
    };
  },

  mounted() {
    this.initializeField();
  },

  computed: {
    placeholder() {
      return "Add Option";
    },

    selectLabel() {
      return "Press enter to select";
    },

    selected() {
      return "Selected";
    },

    deselectLabel() {
      return "";
    },

    tagPlaceholder() {
      return "Press enter to add tag";
    },
  },

  methods: {
    initializeField() {
      let url = "/api/options";
      axios
        .get(url)
        .then((response) => {
          this.items = response.data;
        })
        .catch((errors) =>
          console.log("MultiselectOptions initializeField()", errors)
        );
    },

    change(option) {
      this.value = option;
    },
  },
};
</script>

<style lang="scss" scoped>
.item-options:first-child {
  border-top: none;
  padding-top: 0;
}

.item-options {
  padding-top: 1.75rem;
  border-top: 1px solid #e8e8e8;
}
</style>