<template>
  <div class="flex" style="width: 100%">
    <multiselect
      :deselectLabel="deselectLabel"
      :multiple="false"
      :options="options"
      :placeholder="placeholder"
      :selectLabel="selectLabel"
      :selected="selected"
      :showNoResults="true"
      :allow-empty="false"
      label="display"
      open-direction="bottom"
      track-by="value"
      v-model="contact"
      readonly
      disabled
      class="custom-disabled"
    >
      <span slot="noResult" v-text="noResults"></span>
    </multiselect>
  </div>
</template>

<script>
export default {
  name: "SearchSelectDeliveryContacts",

  props: {
    data: {
      type: Object,
      default: null,
    },

    divisionId: {
      type: Number,
      default: null,
    },

    itemId: {
      type: Number,
      default: null,
    },
  },
  data() {
    return {
      contact: this.data,
      options: [],
      deliveryContactsRoute: `/api/division/${this.divisionId}/contacts/delivery`,
    };
  },

  computed: {
    placeholder() {
      return "Type to search for supplier";
    },

    selectLabel() {
      return "Press enter to select";
    },

    selected() {
      return "Selected";
    },

    deselectLabel() {
      return "You cannot remove this value.";
    },

    noResults() {
      return "No suppliers found. Consider changing the search query.";
    },
  },

  mounted() {
    this.initializeField();
  },

  methods: {
    /**
     * Initialize the supplier data.
     */
    initializeField() {
      this.fetchDeliveryContacts();
    },

    /**
     * Get the suppliers.
     */
    fetchDeliveryContacts() {
      axios
        .get(this.deliveryContactsRoute)
        .then((response) => {
          this.options = response.data;
        })
        .catch((errors) =>
          console.log("Select delivery contacts component error", errors)
        );
    },

    changeDeliveryContact(contact) {
      this.$emit("contact-changed", {
        id: this.itemId,
        contact: contact,
      });
    },
  },
};
</script>
