<template>
  <div class="row carte_affaire">
    <div class="col-8 d-flex justify-content-start align-items-center">
      <p class="font-medium text-uppercase">{{ data.name }} - {{ data.quantity.value }} PTS</p>
    </div>
    <div class="col-3 d-flex justify-content-end align-items-center">
        <p>
          <span class="text-gray">Soumission approuvée:</span>
          <span :class="data.approved ? 'text-success' : 'text-danger'">{{
            data.approved ? "Oui" : "Non"
          }}</span>
        </p>
      </div>
    <div class="col d-flex justify-content-end align-items-center" style="font-size: 1.5rem; color: #8899a9; margin-right: 1rem;'">
      <i
        :id="`icon-${data.quote_id}`"
        @click="toggleItemDropdown(data.quote_id)"
        class="las la-chevron-circle-down pointer toggle-menu"
      ></i>
    </div>
    <!-- Item dropdown content -->
    <div :id="`content-${data.quote_id}`" class="col-12 carte_affaire-content mt-4">
      <div class="col-12">
        <div
          class="form-group item-description d-flex align-items-baseline justify-content-between" style="margin-bottom: 0 !important;"
        >
          <div class="form-group space-y-1 w-60percent">
            <label for="dateLimiteDeLivraison" class="col-form-label"
              >Description</label
            >
            <p class="pt-0 text-gray font-light">
              <pre>{{ data.description }}</pre>
            </p>
          </div>

          <div class="form-group">
            <label for="dateLimiteDeLivraison" class="col-form-label"
              >Date limite de livraison</label
            >
            <div>
              <input
                type="date"
                readonly
                class="custom-disabled text-gray p-0"
                style="border: none !important"
                id="dateLimiteDeLivraison"
                v-model="data.delivery_deadline"
              />
            </div>
          </div>
        </div>

        <div class="form-group row d-flex align-items-baseline">
          <label
            for="colFormLabelSm"
            class="col-sm-2 col-form-label col-form-label-sm"
            style="margin-right: -1rem; margin-left: 1rem"
            >Options</label
          >
          <div class="col-10 input-group">
            <multiselect-options
              class="text-gray font-light"
              ref="multiselect-options"
              :options="itemOptions"
            ></multiselect-options>
          </div>
        </div>

        <!-- <div class="form-group row ml-1 d-flex align-items-center">
          <label
            for="colFormLabelSm"
            class="col-sm-2 col-form-label col-form-label-sm"
            >Addresse</label
          >
          <div class="col-10 input-group">
            <p
              class="text-gray font-light pt-0"
              v-text="data.deliveryAddress.display"
            ></p>
          </div>
        </div> -->
        <!-- <div class="form-group row ml-1">
          <label
            for="colFormLabelSm"
            class="col-sm-2 col-form-label col-form-label-sm"
            >Contact</label
          >
          <div class="col-10 input-group">
            <p
              class="text-gray font-light pt-0 d-flex align-items-center"
              v-text="data.deliveryContact.display"
            ></p>
          </div>
        </div> -->
        <!-- Quantities -->
        <div
          v-for="quantity in formData.quantities"
          :key="quantity.id"
          class="d-flex align-items-center justify-content-between pt-4 pb-0 pl-0 pr-0"
          style="border-top: 1px solid #e8e8e8"
        >
          <div class="form-inline">
            <div class="form-group">
              <label for="quantite">Quantité:</label>
              <div class="text-gray col-4" id="quantite">
                {{ quantity.value }}
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label :for="`quote_subbmission_${data.quote_id}`" class="col-6 col-form-label mt-2">
              Prix soumissioné:
            </label>
            <div class="col-6">
              <vue-numeric
                :class="{ 'is-invalid': hasErrors() }"
                :id="`quote_subbmission_${data.quote_id}`"
                class="form-control mr-3 text-center font-light text-gray invoice-input-sidebar-border"
                currency="$"
                separator=","
                v-bind:precision="2"
                v-model="data.value"
                @input="clearErrors()"
              ></vue-numeric>

              <div v-if="hasErrors()" class="invalid-feedback">
                <span
                  v-for="(error, i) in getErrors()"
                  class="text-danger text-xs"
                  :key="i"
                >
                  {{ error }}
                </span>
              </div>
            </div>
          </div>
        </div>
        <!-- End quantities -->

        <div
          v-if="data.messages.length > 0"
          class="pb-4 d-flex justify-content-between align-items-start border-top pt-4"
        >
          <div class="col-10 pl-0">
            <chat-component :messages="data.messages" />
          </div>
          <div class="d-flex justify-content-end align-items-start space-x-2">
            <a
              href="#"
              @click.prevent="openModal(data)"
              class="exit_single_project rounded btn p-edit-buttons bg-brand-gray"
            >
              <i
                class="las la-comments"
                style="color: white; margin: 0; font-size: 30px"
              ></i>
            </a>
          </div>
        </div>
        <div v-else>
          <div class="d-flex justify-content-end align-items-start space-x-2">
            <a
              href="#"
              @click.prevent="openModal(data)"
              class="exit_single_project rounded btn p-edit-buttons bg-brand-gray"
            >
              <i
                class="las la-comments"
                style="color: white; margin: 0; font-size: 30px"
              ></i>
            </a>
          </div>
        </div>

        <message-modal
          :show="shouldShowModal"
          :data="dataForModal"
          @closed="handleModalClosed"
          @message-created="handleMessageCreated"
          recipient="admin"
        />
      </div>
    </div>
  </div>
</template>

<script>
import ChatComponent from "../../../../Layouts/ChatComponent.vue";
import MessageModal from "../../../../Layouts/MessageModal.vue";
import MultiselectOptions from "./MultiselectOptions";
import SearchSelectDeliveryAddress from "./SearchSelectDeliveryAddress";
import SearchSelectDeliveryContacts from "./SearchSelectDeliveryContacts";

export default {
  name: "SingleItem",

  components: {
    MultiselectOptions,
    SearchSelectDeliveryAddress,
    SearchSelectDeliveryContacts,
    ChatComponent,
    MessageModal,
  },

  props: {
    data: {
      type: Object,
      default: null,
    },
    client: {
      type: Object,
      default: null,
    },
    project: {
      type: Object,
      default: null,
    },
    errors: {
      type: Object,
      default: null,
    },
    browserErrors: {
      type: Array,
      default: null,
    },
    index: {
      type: Number,
      default: null,
    },
  },

  data() {
    return {
      itemOptions: this.data.options,
      formData: {
        quantities: [this.data.quantity],
      },

      shouldShowModal: false,
      dataForModal: null,
    };
  },

  methods: {
    toggleItemDropdown(id) {
      console.log(id);
      this.$emit("toggle-dropdown", id);
    },

    hasErrors() {
      return this.errors.hasOwnProperty(
        `items.${this.index}.value`
      )
        ? true
        : false;
    },

    getErrors() {
      return this.errors[
        `items.${this.index}.value`
      ].map((error) =>
        error.replace(
          `items.${this.index}.value`,
          "soumission"
        )
      );
    },

    clearErrors() {
      if (!this.hasErrors()) return;
      return delete this.errors[
        `items.${this.index}.value`
      ];
    },

    handleModalClosed: function () {
      document.body.classList.remove("no_scroll");
      this.dataForModal = null;
      this.shouldShowModal = false;
    },

    openModal: function (item) {
      document.body.classList.add("no_scroll");
      this.dataForModal = {
        item: item,
        supplierId: item.supplier.id,
        supplierName: item.supplier.name,
        projectId: this.project.id,
        option_group_id: item.option_group_id,
        quote_id: item.quote_id,
      };
      this.shouldShowModal = true;
    },

    handleMessageCreated(payload) {
      payload.creator = {
        name: current_user.name,
        id: current_user.id,
        email: current_user.email,
      };

      this.data.messages.push(payload);
    },
  },
};
</script>

<style lang="scss">
.custom-disabled {
  background: #ffffff !important;
  pointer-events: none !important;
  opacity: 0.9 !important;
}

.input-border-2 {
  border-radius: 0.5rem;
  border: 2px solid rgb(231, 232, 232);
}
</style>
