<template>
  <div>
    <client-details-header :client="client"></client-details-header>
    <div class="container-fluid">
      <section id="wrap_single_project" class="row no-gutters">
        <div id="single_project_content" class="col-10">
          <general-information
            :isActive="isActive('GeneralInfo')"
            :data="client"
          ></general-information>
          <divisions-content
            :isActive="isActive('Divisions')"
            :client="client"
          ></divisions-content>
          <addresses-content
            :isActive="isActive('Addresses')"
            :client="client"
          ></addresses-content>
            <contacts-content
              v-if="isActive('Contacts')"
              :isActive="isActive('Contacts')"
              :client="client"
            ></contacts-content>
        </div>

        <div id="single_project_tabs" class="col-2">
          <!-- Active class toggling -->
          <div
            class="row"
            @click="openTab('GeneralInfo')"
            :class="{ active: isActive('GeneralInfo') }"
            data-show="#client_content"
          >
            <div class="col-3 align-self-center">
              <i class="las la-user-alt"></i>
            </div>
            <div class="col-9 align-self-center tabs_title">
              <p>Client</p>
              <p>Information générale</p>
            </div>
          </div>

          <div
            class="row"
            @click="openTab('Divisions')"
            :class="{ active: isActive('Divisions') }"
            data-show="#divisions_content"
          >
            <div class="col-3 align-self-center">
              <i class="las la-building"></i>
            </div>
            <div class="col-9 align-self-center tabs_title">
              <p>Divisions</p>
              <p>Divisions du client</p>
            </div>
          </div>

          <div
            class="row"
            @click="openTab('Addresses')"
            :class="{ active: isActive('Addresses') }"
            data-show="#addresses_content"
          >
            <div class="col-3 align-self-center">
              <i class="las la-map-marker-alt"></i>
            </div>
            <div class="col-9 align-self-center tabs_title">
              <p>Addresses</p>
              <p>Addresses du client</p>
            </div>
          </div>

          <div
            class="row"
            @click="openTab('Contacts')"
            :class="{ active: isActive('Contacts') }"
            data-show="#epreuves_content"
          >
            <div class="col-3 align-self-center">
              <i class="las la-id-card"></i>
            </div>
            <div class="col-9 align-self-center tabs_title">
              <p>Contacts</p>
              <p>Contacts du client</p>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</template>

<script>
import {EventBus} from "../../../event-bus";
import ClientDetailsHeader from "./Tabs/ClientDetailsHeader.vue";
import GeneralInformation from "./Tabs/GeneralInformation.vue";
import DivisionsContent from "./Tabs/DivisionsContent.vue";
import AddressesContent from "./Tabs/AddressesContent.vue";
import ContactsContent from "./Tabs/ContactsContent.vue";

export default {
  name: "ClientDetails",

  components: {
    ClientDetailsHeader,
    GeneralInformation,
    DivisionsContent,
    AddressesContent,
    ContactsContent,
  },

  props: {
    data: {
      type: Object,
      default: null,
    },
  },

  data() {
    return {
      client: this.data,
      tabNames: ["GeneralInfo", "Divisions", "Addresses", "Contacts"],
      activeTab: "GeneralInfo",
    };
  },

  mounted() {
    EventBus.$on("division-created", (payload) => {
      this.refreshClient();
    });
  },

  methods: {
    refreshClient() {
      axios
        .get(`/api/clients/${this.client.id}`)
        .then((response) => {
          this.client = response.data.data
        })
        .catch((error) =>
          console.log(
            "refreshClient() on ClientDetails",
            error.response.data.errors
          )
        );
    },

    openTab(name) {
      return (this.activeTab = name);
    },

    isActive(tab) {
      return this.activeTab === tab;
    },

    open(form) {
      EventBus.$emit("open-sidebar", form);
    },
  },
};
</script>
