<template>
  <div>
    <div v-if="!loaded">
      <div class="mt-5 py-5 bg-white custom-text-input text-center text-xl">
        <loading-spinner></loading-spinner>
      </div>
    </div>
    <div v-if="loaded" v-cloak>
      <header-component
        :showClientFilter="false"
        :showDateFilter="false"
        @filter="handleFilters"
        @quick-search="handleSearch"
      ></header-component>
      <div id="liste_clients" class="container-fluid">
        <div v-if="clientsExist" class="row wrap_liste_projet">
          <div class="col-12" v-for="client in items" :key="client.id">
            <client-list-item
              :data="client"
              @deleted="updateData"
            ></client-list-item>
          </div>
        </div>

        <div v-else>
          <div class="py-5 bg-white custom-text-input text-center text-xl">
            No results found.
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ClientListItem from "./ClientListItem.vue";
import LoadingSpinner from "../../Layouts/LoadingSpinner.vue";

export default {
  name: "ClientsList",

  components: {
    ClientListItem,
    LoadingSpinner,
  },

  data() {
    return {
      items: [],
      loaded: false,
      queryString: null,
      statuses: null,
      search: "",
    };
  },

  beforeMount() {
    this.initializeQueryString();
    this.initializeComponent();
  },

  mounted() {
    if (sessionStorage.flash) {
      this.$toasted.show(JSON.parse(sessionStorage.getItem("flash")));
      sessionStorage.clear();
    }
  },

  computed: {
    clientsExist() {
      return this.items.length > 0;
    },
  },

  methods: {
    initializeComponent() {
      this.fetchStatuses();
    },

    fetchClients() {
      let params = this.queryString.toString();
      axios
        .get(`/api/clients?${params}`)
        .then((response) => {
          this.items = response.data.data;
          this.loaded = true;
        })
        .catch((errors) => {
          console.log(errors);
        });
    },

    fetchStatuses() {
      axios
        .get("/api/statuses")
        .then((response) => {
          return (this.statuses = response.data.data);
        })
        .then(this.fetchClients());
    },

    updateData(deletedItem) {
      return (this.items = this.items.filter(
        (client) => client.id !== deletedItem
      ));
    },

    initializeQueryString() {
      let params = "?name=asc&status=tous";
      return (this.queryString = new URLSearchParams(params));
    },

    handleFilters: function (payload) {
      this.queryString.set(payload.param, payload.value);

      this.fetchClients();
    },

    handleSearch: _.debounce(
      function (e) {
        this.search = e;
        this.queryString.set("search", e);

        if (this.search === "") {
          this.queryString.delete("search");
        }

        this.fetchClients();
      },
      75,
      {
        leading: true,
        trailing: true,
      }
    ),
  },
};
</script>

<style lang="scss" scoped>
[v-cloak] {
  display: none;
}
</style>