<template>
  <div class="flex" style="width: 100%">
    <multiselect
      v-model="data.user"
      track-by="id"
      :options="options"
      label="name"
      :placeholder="placeholder"
      :selectLabel="selectLabel"
      :selected="selected"
      :deselectLabel="deselectLabel"
      :showNoResults="true"
      :allow-empty="true"
      open-direction="bottom"
      @input="change"
      @open="fetchUsers()"
      @select="$emit('selected')"
    >
      <span slot="noResult" v-text="noResults"></span>
    </multiselect>
  </div>
</template>

<script>
export default {
  name: "SearchSelectUser",

  props: {
    data: {
      type: Object,
      default: null,
    },

    clientId: {
      type: Number,
      default: null,
    },
  },
  data() {
    return {
      options: [],
      usersRoute: `/api/available-users`,
    };
  },

  computed: {
    placeholder() {
      return "Type to search for user.";
    },

    selectLabel() {
      return "Press enter to select.";
    },

    selected() {
      return "Selected";
    },

    deselectLabel() {
      return "Press enter to remove.";
    },

    noResults() {
      return "No users found. Consider changing the search query.";
    },
  },

  mounted() {
    this.initializeField();
  },

  methods: {
    initializeField() {
      this.fetchUsers();
    },

    fetchUsers() {
      axios
        .get(this.usersRoute)
        .then(({ data }) => {
          this.options = data.data;
          // if (this.user.id) {
          //   this.user.name = this.options.filter(user => user.id === this.user.id)[0].name;
          // }
        })
        .catch((errors) =>
          console.log(
            "admin-views/SearchSelect/SearchSelectUser, fetchUsers()",
            errors
          )
        );
    },

    change(user) {
      this.$emit("user-updated", user.id);
    },
  },
};
</script>
