<template>
  <div :class="{ active: isActive }">
    <div v-if="!loading" id="division_content">
      <div v-if="divisions !== null && divisions.length > 0">
        <div
          class="row carte_affaire py-0"
          v-for="division in divisions"
          :key="division.id"
        >
          <div class="col-10 d-flex justify-content-start align-items-center">
            <input
              :id="`edit-division-${division.id}`"
              v-if="divisionBeignEdited == division.id"
              type="text"
              class="form-control custom-text-input py-2 my-2"
              style="border-radius: 1rem !important"
              v-model="division.new_name"
            />
            <p v-else class="py-3">{{ division.name }}</p>
          </div>
          <div
            class="col-2 d-flex justify-content-end align-items-center space-x-2"
          >
            <i
              v-if="canBeUpdated(division)"
              @click="update(division)"
              class="las la-save pointer text-success"
            ></i>
            <i
              @click="toggleEdit(division)"
              class="las la-edit pointer"
              :class="{ 'text-success': isEditing(division) }"
            ></i>
            <i @click="destroy(division)" class="las la-trash-alt pointer"></i>
          </div>
        </div>
      </div>

      <div v-else>
        <div class="pb-5">
          <div class="py-5 custom-text-input text-center text-xl">
            Client has no divisions yet.
          </div>
        </div>
      </div>

      <div class="d-flex align-content-center justify-content-between">
        <button
          @click.prevent="openNewDivisionForm"
          id="new-division-button"
          class="btn btn-green d-inline-flex justify-content-center align-items-center"
        >
          <i class="las la-plus-circle"></i>
          NOUVEL DIVISION
        </button>
      </div>
    </div>

    <div v-else>
      <div class="row carte_affaire loading" style="border: none">&nbsp;</div>
      <div class="row carte_affaire loading" style="border: none">&nbsp;</div>
      <div class="row carte_affaire loading" style="border: none">&nbsp;</div>
    </div>
  </div>
</template>

<script>
import { EventBus } from "../../../../event-bus";

export default {
  name: "DivisionsContent",

  props: {
    isActive: {
      type: Boolean,
      default: false,
    },

    client: {
      type: Object,
      default: null,
    },
  },

  data() {
    return {
      loading: false,
      divisionBeignEdited: null,
      divisions: this.client.divisions,
    };
  },

  mounted() {
    EventBus.$on("division-created", (payload) => {
      this.handleDivisionCreated(payload);
    });
  },

  beforeDestroy() {
    EventBus.$off("division-created", this.handleDivisionCreated());
  },

  methods: {
    initializeField() {
      this.fetch();
    },

    fetch() {
      this.loading = true;
      axios
        .get(`/api/clients/${this.client.id}/divisions`)
        .then(({ data }) => (this.divisions = data.data))
        .then((this.loading = false))
        .catch((errors) =>
          console.log("fetch() on DivisionsContent.vue", errors.response)
        );
    },

    toggleEdit(division) {
      if (this.isEditing(division)) {
        return (this.divisionBeignEdited = null);
      }

      this.divisionBeignEdited = division.id;
      Vue.nextTick(function () {
        document.getElementById(`edit-division-${division.id}`).focus();
      });
    },

    update(division) {
      axios
        .patch(`/api/clients/${this.client.id}/divisions/${division.id}`, {
          name: division.new_name,
        })
        .then((response) => {
          this.$toasted.show(response.data.message);
          division.name = division.new_name;
          this.divisionBeignEdited = null;
        })
        .catch((errors) => {
          console.log("Divisions content update()", errors.response);
        });
    },

    destroy(division) {
      this.$swal
        .fire({
          title: "Are you sure?",
          text: `There may be an existing project connected to this division.
            By deleting the division, you will delete the project it belongs to as well.`,
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#49a610",
          cancelButtonColor: "#353841",
          confirmButtonText: "Yes, delete it!",
          reverseButtons: true,
        })
        .then((result) => {
          if (result.isConfirmed) {
            axios
              .delete(`/api/clients/${this.client.id}/divisions/${division.id}`)
              .then((response) => {
                this.divisions = this.divisions.filter(
                  (item) => item.id !== division.id
                );
                this.$toasted.show(response.data.message);
              })
              .catch((error) => {
                console.log(
                  "DivisionContent component destroy() method",
                  error.response.data.errors
                );
              });
          }
        });
    },

    hasChanged(division) {
      return division.name !== division.new_name && division.new_name !== "";
    },

    isEditing(division) {
      return this.divisionBeignEdited === division.id;
    },

    canBeUpdated(division) {
      return this.isEditing(division) && this.hasChanged(division);
    },

    handleDivisionCreated(payload = null) {
      if (payload == null) return;
      this.$toasted.show(payload.data.message);
      this.divisionBeignEdited = null;
      this.fetch();
    },

    openNewDivisionForm() {
      this.divisionBeignEdited = null;
      EventBus.$emit("open-sidebar", {
        form: "new-division",
        client: this.client,
      });
    },
  },
};
</script>
