<template>
  <div class="mt-5">
    <div class="container-fluid">
      <section id="wrap_single_project" class="row no-gutters">
        <div id="single_project_content" class="col-10">
          <new-description-tab
            :formData="this.formData"
            :errors="errors"
            :isActive="isActive('Description')"
            :client="client"
            :statuses="statuses"
          ></new-description-tab>
          <new-item-tab
            v-if="!tabShouldBeDisabled"
            :general-form-data="this.formData"
            :isActive="isActive('Items')"
            :client="client"
            :errors="errors"
          ></new-item-tab>
          <new-notes-tab
            v-if="!tabShouldBeDisabled"
            :general-form-data="this.formData"
            :errors="errors"
            :isActive="isActive('Notes')"
          ></new-notes-tab>
        </div>

        <div id="single_project_tabs" class="col-2">
          <!-- Active class toggling -->
          <div
            class="row"
            @click="openTab('Description')"
            :class="{ active: isActive('Description') }"
            data-show="#client_content"
          >
            <div class="col-3 align-self-center">
              <i class="las la-user"></i>
            </div>
            <div class="col-9 align-self-center tabs_title">
              <p>Description</p>
              <p>Information générale</p>
            </div>
          </div>

          <div
            class="row"
            :class="{
              active: isActive('Items'),
              'is-disabled': tabShouldBeDisabled,
            }"
            @click="openTab('Items')"
            data-show="#items_content"
          >
            <div class="col-3 align-self-center">
              <i
                class="las la-copy"
                :class="{ 'is-disabled': tabShouldBeDisabled }"
              ></i>
            </div>
            <div class="col-9 align-self-center tabs_title">
              <p :class="{ 'is-disabled': tabShouldBeDisabled }">Items</p>
              <p :class="{ 'is-disabled': tabShouldBeDisabled }">
                Items du projet
              </p>
            </div>
          </div>

          <div
            class="row"
            @click="openTab('Notes')"
            :class="{
              active: isActive('Notes'),
              'is-disabled': tabShouldBeDisabled,
            }"
            data-show="#facturation_content"
          >
            <div class="col-3 align-self-center">
              <i
                class="las la-dollar-sign"
                :class="{ 'is-disabled': tabShouldBeDisabled }"
              ></i>
            </div>
            <div class="col-9 align-self-center tabs_title">
              <p :class="{ 'is-disabled': tabShouldBeDisabled }">Notes</p>
              <p :class="{ 'is-disabled': tabShouldBeDisabled }">
                Details supplementaires
              </p>
            </div>
          </div>

          <p class="px-3 pt-4 mx-auto">
            <button
              class="btn btn-green d-flex justify-content-center align-items-center mt-5 py-4 text-xs"
              style="width: 100%"
              :disabled="submitting"
              @click.prevent="submit"
            >
              <div
                class="d-flex justify-content-center align-items-center space-x-2"
                v-if="submitting"
              >
                <span class="loader"></span>
                <span>SOUMISSION</span>
              </div>
              <div v-else>
                <i
                  style="color: white; font-size: 14px !important"
                  class="las la-paper-plane"
                ></i>
                <span>ENVOYER MA DEMANDE</span>
              </div>
            </button>
          </p>
        </div>
      </section>
    </div>
  </div>
</template>

<script>
import { EventBus } from "../../../../event-bus";
import NewDescriptionTab from "./Tabs/NewDescriptionTab.vue";
import NewItemTab from "./Tabs/NewItemTab.vue";
import NewNotesTab from "./Tabs/NewNotesTab.vue";

export default {
  name: "RequestSubmission",

  components: {
    NewDescriptionTab,
    NewItemTab,
    NewNotesTab,
  },

  props: {
    project: {
      type: Object,
      default: null,
    },
    client: {
      type: Object,
      default: null,
    },
    statuses: {
      type: Array,
      default: () => null,
    },
  },

  data() {
    return {
      tabNames: ["Description", "Items", "Notes"],
      activeTab: "Description",
      formData: {
        title: null,
        short_description: null,
        client: this.client,
        buyer: null,
        accounting: null,
        requires_pdf_approval: false,
        pdf_approval: null,
        requires_physical_approval: false,
        physical_approval: null,
        physical_address: null,
        start_date: null,
        end_date: null,
        po_number: null,
        items: [],
        notes: null,
      },
      errors: {},
      submitting: false,
      defaultDivisionName: "clients_default_division",
    };
  },

  mounted() {
    if (sessionStorage.flash) {
      this.$toasted.show(JSON.parse(sessionStorage.getItem("flash")));
      sessionStorage.clear();
    }
  },

  computed: {
    tabShouldBeDisabled() {
      return (
        this.formData.title === null ||
        this.formData.title === "" ||
        this.formData.short_description === "" ||
        this.formData.short_description === null ||
        this.formData.accounting === "" ||
        this.formData.accounting === null ||
        this.formData.buyer === "" ||
        this.formData.buyer === null ||
        this.formData.start_date === "" ||
        this.formData.start_date === null ||
        this.formData.end_date === "" ||
        this.formData.end_date === null ||
        this.formData.po_number === "" ||
        this.formData.po_number === null
      );
    },
  },

  methods: {
    openTab(name) {
      return (this.activeTab = name);
    },

    isActive(tab) {
      return this.activeTab === tab;
    },

    open(form) {
      EventBus.$emit("open-sidebar", form);
    },

    submit() {
      this.submitting = true;
      let url = `/client/${this.client.id}/projects`;

      axios
        .post(url, this.formData)
        .then((response) => {
          this.submitting = false;
          this.loading = false;
          this.$swal.fire({
            icon: "success",
            title: response.data.message,
            showConfirmButton: false,
          });
          setTimeout(() => {
            window.location.href = response.data.redirect_route;
          }, 400);
        })
        .catch((error) => {
          this.submitting = false;
          if (error && error.response && error.response.status == 422) {
            this.$toasted.show(
              "Veuillez corriger les erreurs et remplir tous les champs obligatoires."
            );
            this.errors = error.response.data.errors;
          } else {
            this.$toasted.show("An unknown error occured.");
            console.log(
              "client-interface/Projects/RequestSubmissions/RequestSubmissions component, submit() method",
              error.response.data.errors
            );
          }
        });
    },
  },
};
</script>

<style lang="scss" scoped>
.is-disabled {
  color: gainsboro !important;
  pointer-events: none !important;
}
</style>
