<template>
  <div>
    <div
      v-for="index in 2"
      :key="index"
      class="carte_affaire row"
      style="border: 1px solid #eef1f8 !important"
    >
      <div
        class="col-10 d-flex justify-content-start align-items-center space-x-3"
      >
        <div
          class="animated-placeholder-carte rounded"
          style="height: 1.2rem !important"
        >
          <span style="opacity: 0">
            {{ randomString.repeat(getRandomInt(7, 10)) }}
          </span>
        </div>
        <div
          class="animated-placeholder-carte rounded"
          style="height: 1.2rem !important"
        >
          <span style="opacity: 0">
            {{ randomString.repeat(getRandomInt(3, 6)) }}
          </span>
        </div>
      </div>
      <div
        class="col-2 d-flex justify-content-end align-items-center space-x-2"
      >
        <span
          v-for="index in 2"
          :key="index"
          class="animated-placeholder-carte rounded"
          ><span style="opacity: 0">ABC</span></span
        >
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "CarteLoadingPlaceholder",

  data() {
    return {
      randomString: "ABCD",
    };
  },

  methods: {
    getRandomInt(min, max) {
      min = Math.ceil(min);
      max = Math.floor(max);
      return Math.floor(Math.random() * (max - min) + min); // The maximum is exclusive and the minimum is inclusive
    },
  },
};
</script>
