<template>
  <div>
    <div
      v-for="message in messages"
      :key="message.id + message.text"
      class="font-medium d-flex align-items-start pt-3"
    >
      <div class="col-2 pl-0">
        {{ message.creator.name }}:
        <div class="text-gray font-light">
          {{ message.created_time }}
        </div>
      </div>
      <div class="font-light text-gray col-9">
        <span
          v-if="
            editing &&
            messageBeignEdited !== null &&
            message.id === messageBeignEdited.id
          "
          class="pr-2"
        >
          <textarea
            rows="5"
            class="border form-control text-gray"
            style="border-radius: 1rem"
            :value="message.text"
            @input="handleTypingInEditBox"
          ></textarea>
          <a
            :disabled="loading"
            @click.prevent="update(message)"
            class="text-gray text-xs mr-3"
            href=""
            style=""
            >save</a
          >
          <a
            @click.prevent="cancelEdit(message)"
            class="text-gray text-xs"
            :disabled="loading"
            href=""
          >
            cancel
          </a>
        </span>
        <span v-else>
          {{ message.text }}

          <span v-if="canUpdate(message)" class="ml-4">
            <a
              :disabled="loading"
              @click.prevent="edit(message)"
              class="text-gray chat-update-link"
              href=""
              style=""
              >edit</a
            >
            <a
              @click.prevent="destroy(message)"
              class="text-gray chat-update-link"
              :disabled="loading"
              href=""
            >
              delete
            </a>
          </span>
        </span>
        <!-- end edit/delete -->
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ChatComponent",
  props: {
    messages: {
      type: Array,
      default: null,
    },
  },

  data() {
    return {
      loading: false,
      editing: false,
      shouldShowEditModal: false,
      messageBeignEdited: null,
      messageBeignEditedText: null,
    };
  },

  methods: {
    destroy(message) {
      this.loading = true;

      const messageId = message.id;
      const userId = message.user_id;
      const itemId = message.item_id;
      const supplierId = message.supplier_id;
      const projectId = message.project_id;

      const url = `/api/projects/${projectId}/suppliers/${supplierId}/items/${itemId}/messages/${messageId}`;

      this.$swal
        .fire({
          title: "Are you sure?",
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#49a610",
          cancelButtonColor: "#353841",
          confirmButtonText: "Yes, delete it.",
          reverseButtons: true,
        })
        .then((result) => {
          if (result.isConfirmed) {
            axios
              .delete(url)
              .then((response) => {
                console.log(response);
                this.loading = false;

                let messageToRemove = this.messages.find(
                  (m) => m.id === message.id
                );
                let indexOfMessageToRemove = this.messages.indexOf(
                  messageToRemove
                );
                this.messages.splice(indexOfMessageToRemove, 1);
              })
              .catch((error) => {
                this.loading = false;
                console.log(error.response.data.errors);
              });
          } else {
            this.loading = false;
          }
        });
    },

    edit(message) {
      this.editing = true;
      this.messageBeignEdited = message;
      this.messageBeignEditedText = message.text;
    },

    cancelEdit() {
      this.editing = false;
      this.messageBeignEdited = null;
      this.messageBeignEditedText = null;
    },

    update(message) {
      this.loading = true;

      const messageId = message.id;
      const userId = message.user_id;
      const itemId = message.item_id;
      const supplierId = message.supplier_id;
      const projectId = message.project_id;

      const url = `/api/projects/${projectId}/suppliers/${supplierId}/items/${itemId}/messages/${messageId}`;

      axios
        .patch(url, { text: this.messageBeignEditedText })
        .then((response) => {
          this.messageBeignEdited = null;
          message.text = this.messageBeignEditedText;
          this.cancelEdit();
          this.loading = false;
        })
        .catch((error) => {
          this.loading = false;
          console.log("Chat component update()", error.response.data.errors);
        });
    },

    handleTypingInEditBox(e) {
      this.messageBeignEditedText = e.target.value;
    },

    canUpdate(message) {
      return (
        message.user_id === current_user.id || current_user.role === "admin"
      );
    },
  },
};
</script>

<style lang="scss" scoped>
.chat-update-link {
  transition-duration: 0.1s;
  padding: 3px 10px;
  font-size: 12px;
  line-height: 20px;
  position: relative;
  display: inline-block;
  padding: 1px 8px;
  font-weight: 200;
  line-height: 20px;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid;
  border-top-color: currentcolor;
  border-right-color: currentcolor;
  border-bottom-color: currentcolor;
  border-left-color: currentcolor;
  border-radius: 6px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
</style>