<template>
  <div>
    <div
      v-for="index in 2"
      :key="index"
      class="carte_affaire row"
      style="border: 1px solid #eef1f8 !important"
    >
      <div
        class="col-10 d-flex justify-content-start align-items-top space-x-6"
      >
        <!-- Contact info -->
        <div data-name="left-side" style="width: 23%">
          <div class="font-medium pb-3">
            <span class="animated-placeholder-carte rounded">
              <span style="opacity: 0">
                {{ randomString.repeat(getRandomInt(5, 8)) }}
              </span>
            </span>
          </div>
          <div data-name="under-name" class="space-y-content">
            <div
              class="font-light text-sm text-gray space-x-2"
              data-name="contact-phone"
              v-for="index in 3"
              :key="index"
            >
              <span class="animated-placeholder-carte rounded text-xs">
                <span style="opacity: 0">
                  {{ randomString.repeat(getRandomInt(3, 5)) }}
                </span>
              </span>
            </div>
          </div>
        </div>
        <!-- End contact info  -->

        <div v-for="number in 2" :key="number" class="col-2">
          <div data-name="contact-roles">
            <div class="font-medium pb-3">
              <span class="animated-placeholder-carte rounded">
                <span style="opacity: 0">
                  {{ randomString.repeat(getRandomInt(3, 3)) }}
                </span>
              </span>
            </div>
            <div data-name="under-roles" class="space-y-content">
              <div
                class="font-light text-sm text-gray space-x-2"
                data-name="contact-phone"
                v-for="index in 3"
                :key="index"
              >
                <span class="animated-placeholder-carte rounded text-xs">
                  <span style="opacity: 0">
                    {{ randomString.repeat(getRandomInt(3, 5)) }}
                  </span>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-2 d-flex justify-content-end align-items-center space-x-2"
      >
        <span
          v-for="index in 2"
          :key="index"
          class="animated-placeholder-carte rounded"
          ><span style="opacity: 0">ABC</span></span
        >
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ClientContactsLoadingPlaceholder",

  data() {
    return {
      randomString: "ABCD",
    };
  },

  methods: {
    getRandomInt(min, max) {
      min = Math.ceil(min);
      max = Math.floor(max);
      return Math.floor(Math.random() * (max - min) + min); // The maximum is exclusive and the minimum is inclusive
    },
  },
};
</script>
