<template>
  <on-click-outside :do="close">
    <div class="width_half" @keydown.esc="open = false">
      <div v-if="!open">
        <search-placeholder
          @open-search="openSearch"
          :value="search"
        ></search-placeholder>
      </div>
      <div v-show="open" class="input-group">
        <input
          v-model="search"
          id="header_search"
          type="text"
          ref="headerSearch"
          class="form-control col-12 bg-white text-dark global-input-search-active"
          placeholder="Recherche ..."
        />

        <div class="dropdown-menu global-search-dropdown-menu shadow show">
          <search-dropdown-instructions
            v-if="!typedInSearch"
          ></search-dropdown-instructions>
          <div v-show="typedInSearch">
            <div
              v-if="searching"
              class="d-flex justify-content-center align-items-center"
              style="height: 60px"
            >
              <loading-spinner></loading-spinner>
            </div>
            <div v-else>
              <div v-if="!hasResults" data-name="results">
                <div class="w-full">
                  <div
                    class="pt-3 text-sm text-gray d-flex justify-content-center align-items-center"
                  >
                    <p>No results found.</p>
                  </div>
                </div>
              </div>
              <div v-else data-name="results">
                <div
                  v-for="{ searchable, url, title, type } in data"
                  :key="type + searchable.id"
                  class="w-full search-result"
                >
                  <a
                    :href="url"
                    class="px-4 py-2 text-sm text-dark d-flex justify-content-between align-items-center"
                    style="text-decoration: none"
                  >
                    <p class="my-0">
                      {{ title }}
                    </p>
                    <span class="badge badge-pill badge-success">
                      {{ type }}
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="input-group-append">
          <button
            class="btn bg-white text-gray global-search-input-append-active"
            type="button"
            id="header_search_button_addon"
          >
            <i class="text-dark las la-search"></i>
          </button>
        </div>
      </div>
    </div>
  </on-click-outside>
</template>

<script>
import OnClickOutside from "../Layouts/OnClickOutside.vue";
import SearchPlaceholder from "../Layouts/SearchPlaceholder.vue";
import SearchDropdownInstructions from "../Layouts/SearchDropdownInstructions.vue";
import LoadingSpinner from "../Layouts/LoadingSpinner.vue";
import _ from "lodash";

export default {
  components: {
    OnClickOutside,
    SearchPlaceholder,
    SearchDropdownInstructions,
    LoadingSpinner,
  },

  data() {
    return {
      open: false,
      searching: false,
      search: "",
      data: [],
    };
  },

  computed: {
    typedInSearch() {
      return this.search !== "";
    },

    url() {
      return `/api/search?query=${this.search}`;
    },

    hasResults() {
      return this.data.length > 0;
    },
  },

  watch: {
    search(newValue, oldValue) {
      if (this.search === "") {
        return;
      }
      this.searching = true;
      this.submit();
    },
  },

  methods: {
    openSearch() {
      this.open = true;

      this.focusInput();
    },

    submit: _.debounce(function () {
      axios
        .get(this.url)
        .then((response) => {
          this.searching = false;
          this.data = response.data;
        })
        .catch((error) => {
          console.log(error.response.data.errors);
        });
    }, 200),

    focusInput() {
      this.$nextTick(() => {
        this.$refs.headerSearch.focus();
      });
    },

    close(e) {
      return (this.open = false);
    },
  },
};
</script>

<style lang="scss" scoped>
.search-result {
  width: 100%;
  border-bottom: 1px solid #e1e4e8;
  text-decoration: none;
}

.search-result:hover {
  background-color: #f1f3f7 !important;
}

div .search-result:last-child {
  border: none !important;
}

.search-result:last-child:hover {
  border: none !important;
  border-bottom-left-radius: 1.5rem !important;
  border-bottom-right-radius: 1.5rem !important;
}

.global-search-dropdown-menu {
  padding: 0;
  width: 100%;
  border: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  border: solid #e1e4e8 1px;
  border-top: 1px solid #e1e4e8;
  margin-top: 0px;
}

.global-input-search-active {
  border-bottom-left-radius: 0px !important;
  border-top-left-radius: 1.5rem !important;
  border: solid #e1e4e8 1px !important;
  border-bottom: none !important;
  border-right: none !important;
}

.global-search-input-append-active {
  border-bottom-right-radius: 0px !important;
  border-top-right-radius: 1.5rem !important;
  border: solid #e1e4e8 1px !important;
  border-bottom: none !important;
  border-left: none !important;
}
</style>