<template functional>
  <div>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      style="margin: auto; background: #fff"
      width="41"
      height="41"
      viewBox="0 0 100 100"
      preserveAspectRatio="xMidYMid"
      display="block"
    >
      <rect
        x="44.5"
        y="8"
        rx="1.65"
        ry="1.65"
        width="11"
        height="6"
        fill="#30b66a"
      >
        <animate
          attributeName="opacity"
          values="1;0"
          keyTimes="0;1"
          dur="1s"
          begin="-0.9375s"
          repeatCount="indefinite"
        />
      </rect>
      <rect
        x="44.5"
        y="8"
        rx="1.65"
        ry="1.65"
        width="11"
        height="6"
        fill="#30b66a"
        transform="rotate(22.5 50 50)"
      >
        <animate
          attributeName="opacity"
          values="1;0"
          keyTimes="0;1"
          dur="1s"
          begin="-0.875s"
          repeatCount="indefinite"
        />
      </rect>
      <rect
        x="44.5"
        y="8"
        rx="1.65"
        ry="1.65"
        width="11"
        height="6"
        fill="#30b66a"
        transform="rotate(45 50 50)"
      >
        <animate
          attributeName="opacity"
          values="1;0"
          keyTimes="0;1"
          dur="1s"
          begin="-0.8125s"
          repeatCount="indefinite"
        />
      </rect>
      <rect
        x="44.5"
        y="8"
        rx="1.65"
        ry="1.65"
        width="11"
        height="6"
        fill="#30b66a"
        transform="rotate(67.5 50 50)"
      >
        <animate
          attributeName="opacity"
          values="1;0"
          keyTimes="0;1"
          dur="1s"
          begin="-0.75s"
          repeatCount="indefinite"
        />
      </rect>
      <rect
        x="44.5"
        y="8"
        rx="1.65"
        ry="1.65"
        width="11"
        height="6"
        fill="#30b66a"
        transform="rotate(90 50 50)"
      >
        <animate
          attributeName="opacity"
          values="1;0"
          keyTimes="0;1"
          dur="1s"
          begin="-0.6875s"
          repeatCount="indefinite"
        />
      </rect>
      <rect
        x="44.5"
        y="8"
        rx="1.65"
        ry="1.65"
        width="11"
        height="6"
        fill="#30b66a"
        transform="rotate(112.5 50 50)"
      >
        <animate
          attributeName="opacity"
          values="1;0"
          keyTimes="0;1"
          dur="1s"
          begin="-0.625s"
          repeatCount="indefinite"
        />
      </rect>
      <rect
        x="44.5"
        y="8"
        rx="1.65"
        ry="1.65"
        width="11"
        height="6"
        fill="#30b66a"
        transform="rotate(135 50 50)"
      >
        <animate
          attributeName="opacity"
          values="1;0"
          keyTimes="0;1"
          dur="1s"
          begin="-0.5625s"
          repeatCount="indefinite"
        />
      </rect>
      <rect
        x="44.5"
        y="8"
        rx="1.65"
        ry="1.65"
        width="11"
        height="6"
        fill="#30b66a"
        transform="rotate(157.5 50 50)"
      >
        <animate
          attributeName="opacity"
          values="1;0"
          keyTimes="0;1"
          dur="1s"
          begin="-0.5s"
          repeatCount="indefinite"
        />
      </rect>
      <rect
        x="44.5"
        y="8"
        rx="1.65"
        ry="1.65"
        width="11"
        height="6"
        fill="#30b66a"
        transform="rotate(180 50 50)"
      >
        <animate
          attributeName="opacity"
          values="1;0"
          keyTimes="0;1"
          dur="1s"
          begin="-0.4375s"
          repeatCount="indefinite"
        />
      </rect>
      <rect
        x="44.5"
        y="8"
        rx="1.65"
        ry="1.65"
        width="11"
        height="6"
        fill="#30b66a"
        transform="rotate(202.5 50 50)"
      >
        <animate
          attributeName="opacity"
          values="1;0"
          keyTimes="0;1"
          dur="1s"
          begin="-0.375s"
          repeatCount="indefinite"
        />
      </rect>
      <rect
        x="44.5"
        y="8"
        rx="1.65"
        ry="1.65"
        width="11"
        height="6"
        fill="#30b66a"
        transform="rotate(225 50 50)"
      >
        <animate
          attributeName="opacity"
          values="1;0"
          keyTimes="0;1"
          dur="1s"
          begin="-0.3125s"
          repeatCount="indefinite"
        />
      </rect>
      <rect
        x="44.5"
        y="8"
        rx="1.65"
        ry="1.65"
        width="11"
        height="6"
        fill="#30b66a"
        transform="rotate(247.5 50 50)"
      >
        <animate
          attributeName="opacity"
          values="1;0"
          keyTimes="0;1"
          dur="1s"
          begin="-0.25s"
          repeatCount="indefinite"
        />
      </rect>
      <rect
        x="44.5"
        y="8"
        rx="1.65"
        ry="1.65"
        width="11"
        height="6"
        fill="#30b66a"
        transform="rotate(270 50 50)"
      >
        <animate
          attributeName="opacity"
          values="1;0"
          keyTimes="0;1"
          dur="1s"
          begin="-0.1875s"
          repeatCount="indefinite"
        />
      </rect>
      <rect
        x="44.5"
        y="8"
        rx="1.65"
        ry="1.65"
        width="11"
        height="6"
        fill="#30b66a"
        transform="rotate(292.5 50 50)"
      >
        <animate
          attributeName="opacity"
          values="1;0"
          keyTimes="0;1"
          dur="1s"
          begin="-0.125s"
          repeatCount="indefinite"
        />
      </rect>
      <rect
        x="44.5"
        y="8"
        rx="1.65"
        ry="1.65"
        width="11"
        height="6"
        fill="#30b66a"
        transform="rotate(315 50 50)"
      >
        <animate
          attributeName="opacity"
          values="1;0"
          keyTimes="0;1"
          dur="1s"
          begin="-0.0625s"
          repeatCount="indefinite"
        />
      </rect>
      <rect
        x="44.5"
        y="8"
        rx="1.65"
        ry="1.65"
        width="11"
        height="6"
        fill="#30b66a"
        transform="rotate(337.5 50 50)"
      >
        <animate
          attributeName="opacity"
          values="1;0"
          keyTimes="0;1"
          dur="1s"
          begin="0s"
          repeatCount="indefinite"
        />
      </rect>
    </svg>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
</style>