<template>
  <!-- Add active class to modal when clicked on an item. -->
  <transition name="fade">
    <div
      v-if="show"
      id="project_modal"
      class="d-flex justify-content-center align-items-start"
      :class="{ active: isActive }"
    >
      <div id="wrap_project_modal">
        <div id="project_modal-header">
          <div class="row">
            <div class="col-11">
              <h2 id="nom_projet">Envoyer un message au {{ recipient }}</h2>
            </div>
            <div class="col-1 d-flex justify-content-center align-items-center">
              <a @click="close" class="pointer" id="close_project_modal"
                ><i class="las la-times-circle"></i
              ></a>
            </div>
          </div>
        </div>
        <div id="project_modal-content">
          <div class="row">
            <div class="col-2">
              <p>Nom de item :</p>
            </div>
            <div class="col-4">
              <p id="item_nom">{{ data.item.name }}</p>
            </div>
            <div class="col-2">
              <p>Fournisseur nom :</p>
            </div>
            <div class="col-4">
              <p id="email">{{ data.supplierName }}</p>
            </div>
          </div>
        </div>
        <div id="project_modal-list">
          <!-- Project items -->
          <div class="form-group">
            <textarea
              ref="textarea"
              v-model="message"
              style="border-radius: 1rem; padding: 1rem"
              class="border form-control"
              :class="{ 'border-danger': isInvalid('message') }"
              name="message"
              id="message"
              rows="6"
              @keydown="clearError('message')"
            ></textarea>

            <span v-if="isInvalid('message')" class="text-xs text-danger">
              {{ errorMessage("message") }}
            </span>

            <div class="d-flex justify-content-end">
              <button
                @click="sendMessage"
                :disabled="loading"
                class="btn btn-green d-inline-flex justify-content-center align-items-center mt-5"
              >
                <div
                  class="d-flex justify-content-center align-items-center space-x-2"
                  v-if="loading"
                >
                  <span class="loader"></span>
                  <span>SOUMISSION</span>
                </div>
                <div v-show="!loading">
                  <i class="las la-check-circle"></i> SAUVEGARDER
                </div>
              </button>
            </div>
          </div>

          <!-- End project items -->
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
export default {
  name: "MessageModal",

  props: {
    show: {
      type: Boolean,
      default: false,
    },

    data: {
      type: Object,
      default: null,
    },

    value: {
      type: Object,
      default: null,
    },

    recipient: {
      type: String,
      default: "fournisseur",
    },

    from_tab: {
      type: String,
      default: "supplier",
    },
  },

  data() {
    return {
      isActive: this.show,
      message: this.value,
      loading: false,
      errors: {},
      entities: ["admin", "fournisseur", "client"],
    };
  },

  watch: {
    show(newValue, oldValue) {
      if (newValue === true) {
        setTimeout(() => {
          this.$refs.textarea.focus();
        }, 10);
      }

      return (this.isActive = newValue);
    },
  },

  methods: {
    close() {
      this.errors = {};
      this.loading = false;
      this.message = null;
      this.$emit("closed");
      return (this.isActive = false);
    },

    sendMessage() {
      this.loading = true;
      let data = {
        project_id: this.data.projectId,
        item_id: this.data.item.id,
        supplier_id: this.data.supplierId,
        supplier_name: this.data.supplierName,
        message: this.message,
        from_tab: this.from_tab,
        option_group_id: this.data.option_group_id ? this.data.option_group_id : null,
        quote_id: this.data.quote_id ? this.data.quote_id : null
      };

      let url = `/api/projects/${data.project_id}/suppliers/${data.supplier_id}/items/${data.item_id}/messages`;

      axios
        .post(url, data)
        .then((response) => {
          this.$toasted.show(response.data.message);
          this.$emit("message-created", response.data.message_object);
          this.close();
        })
        .catch((error) => {
          if (error && error.response && error.response.status == 422) {
            this.errors = error.response.data.errors;
          } else {
            this.$toasted.show("An unknown error occured.");
            console.log(
              "admin-views/Projects/Tabs/FournisseursContentPartials/MessagesModal submit()",
              error.response.data.errors
            );
          }
          this.loading = false;
        });
    },

    isInvalid(attribute) {
      return this.errors.hasOwnProperty(attribute);
    },

    clearError(field) {
      delete this.errors[field];
    },

    errorMessage(attribute) {
      if (this.errors.hasOwnProperty(attribute)) {
        return this.errors[attribute][0];
      }
    },
  },
};
</script>

<style scoped>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
