<template>
  <div>
    <nav class="container-fluid header_wrap">
      <header class="row">
        <!-- Admin Routes -->
        <div
          v-if="current_user.role === 'admin'"
          class="col-5 d-flex justify-content-start align-items-center"
        >
          <a
            class="header_link d-flex justify-content-start align-items-center"
            :class="{ active: routeIs(routes.admin.dashboard) }"
            href="/dashboard"
          >
            <i class="las la-tachometer-alt"></i>
            <p>Dashboard</p>
          </a>
          <a
            class="header_link d-flex justify-content-start align-items-center"
            :class="{
              active:
                routeIs(routes[current_user.role].projects.index.routeName) ||
                routeIs(routes.admin.showProject),
            }"
            :href="routes[current_user.role].projects.index.route"
          >
            <i class="las la-suitcase"></i>
            <p>Projets</p>
          </a>
          <a
            class="header_link d-flex justify-content-start align-items-center"
            :class="{
              active:
                routeIs(routes.admin.clients) ||
                routeIs(routes.admin.showClient),
            }"
            href="/clients"
          >
            <i class="las la-user"></i>
            <p>Clients</p>
          </a>
          <a
            class="header_link d-flex justify-content-start align-items-center"
            :class="{
              active:
                routeIs(routes.admin.suppliers) ||
                routeIs(routes.admin.showSupplier),
            }"
            href="/suppliers"
          >
            <i class="las la-dolly"></i>
            <p>Fournisseurs</p>
          </a>
        </div>
        <!-- End Admin Routes -->

        <!-- Client Routes -->
        <div
          v-if="current_user.role === 'client'"
          class="col-5 d-flex justify-content-start align-items-center"
        >
          <a
            class="header_link d-flex justify-content-start align-items-center"
            href="#"
          >
            <i class="las la-tachometer-alt"></i>
            <p>Accueil</p>
          </a>
          <a
            class="header_link d-flex justify-content-start align-items-center"
            :class="{
              active:
                routeIs(routes[current_user.role].projects.index.routeName) ||
                routeIs(routes.client.showProject),
            }"
            :href="routes[current_user.role].projects.index.route"
          >
            <i class="las la-suitcase"></i>
            <p>Projets</p>
          </a>
          <a
            class="header_link d-flex justify-content-start align-items-center"
            href="#"
          >
            <i class="las la-dollar-sign"></i>
            <p>Factures</p>
          </a>
          <a
            class="header_link d-flex justify-content-start align-items-center"
            :class="{
              active: routeIs(routes[current_user.role].profile.show.routeName),
            }"
            :href="routes.client.profile.show.route"
          >
            <i class="las la-user"></i>
            <p>Profil</p>
          </a>
        </div>
        <!-- End Client Routes -->

        <!-- Supplier Routes -->
        <div
          v-if="current_user.role === 'supplier'"
          class="col-5 d-flex justify-content-start align-items-center"
        >
          <a
            class="header_link d-flex justify-content-start align-items-center"
            :class="{
              active:
                routeIs(routes[current_user.role].projects.index.routeName) ||
                routeIs(routes.supplier.showProject),
            }"
            :href="routes[current_user.role].projects.index.route"
          >
            <i class="las la-suitcase"></i>
            <p>Projets</p>
          </a>
          <a
            class="header_link d-flex justify-content-start align-items-center"
            :class="{
              active: routeIs(routes[current_user.role].profile.show.routeName),
            }"
            :href="routes.supplier.profile.show.route"
          >
            <i class="las la-user"></i>
            <p>Profil</p>
          </a>
        </div>
        <!-- End Supplier Routes -->

        <div class="col-7 d-flex justify-content-end align-items-center pr-0">
          <global-search-component v-if="current_user.role === 'admin'" />
          <!-- <div v-if="current_user.role ==='supplier'" class="width_half"></div> -->
          <div
            id="header_ctas"
            class="d-flex justify-content-end align-items-center"
            :class="{
              'mr-4': current_user.role !== 'admin',
              width_half: current_user.role !== 'client',
            }"
          >
            <a
              v-if="current_user.role === 'client'"
              class="header_link d-flex justify-content-start align-items-center"
              :class="{
                'demande-active': routeIs(
                  routes[current_user.role].projects.create.routeName
                ),
              }"
              :href="routes[current_user.role].projects.create.route"
            >
              <i class="las la-newspaper" style="color: white !important"></i>
              <p>Demande de soumissions</p>
            </a>

            <!-- add/remove class "active" to show/hide the pink circle -->
            <a
            v-if="current_user.role === 'admin'"
            class="header_link d-flex justify-content-start align-items-center p-0"
            :class="{
              active:
                routeIs(routes.admin.users) ||
                routeIs(routes.admin.showUser),
            }"
            href="/users"
          >
            <p>UTILISATEURS</p>
          </a>
            <span
              v-if="current_user.role !== 'admin'"
              class="d-flex justify-content-end align-items-center text-white pl-4"
              href="#"
            >
              {{ current_user.connected_entity.object.name }}
            </span>
            <a
              id="header_notification"
              class="d-flex justify-content-end align-items-center"
              href="#"
            >
              <i class="las la-bell">
                <div id="header_notification_alert"></div>
              </i>
            </a>
            <a
              v-if="current_user.role === 'admin'"
              id="header_friends"
              class="d-flex justify-content-end align-items-center"
              href="#"
            >
              <i class="las la-user-friends"></i>
            </a>
            <a
              id="header_profile_picture"
              @click="toggleProfile()"
              class="d-flex justify-content-end align-items-center"
              href="#"
            >
              <img
                src="/images/default-avatar.png"
                class="img-fluid"
                alt="user's picture"
              />
            </a>
            <a
              v-if="current_user.role === 'admin'"
              id="header_more_options"
              @click="toggleMoreOptions()"
              class="d-flex justify-content-center align-items-center"
              href="#"
            >
              <i class="las la-plus-circle"></i>
            </a>
          </div>
        </div>

        <!-- This menu must have an active class to appear (JS function) -->
        <section
          v-if="current_user.role === 'admin'"
          :class="{ active: moreOptionsOpen }"
          style="z-index: 200 !important"
          id="header_options_menu"
        >
          <div class="wrapper" id="crud-menu">
            <a href="#" @click.prevent="open('new-project')">Nouveau projet</a>
            <a href="#" @click.prevent="open('create-client')"
              >Nouveau client</a
            >
            <a href="#" @click.prevent="open('create-supplier')"
              >Nouveau fournisseur</a
            >
            <a href="#" @click.prevent="open('new-user-form')"
              >Nouveau utilisateur</a
            >
            <a href="#" @click.prevent="open('new-option')">Nouvelle option</a>
            <a href="#" @click.prevent="open('new-process')"
              >Nouveau procédés</a
            >
            <a href="#" @click.prevent="open('new-rule')">Nouvelle règle</a>
          </div>
        </section>

        <!-- This menu must have an active class to appear (JS function) -->
        <section :class="{ active: profileOpen }" id="header_profil_menu">
          <div class="wrapper">
            <a :href="routes[current_user.role].profile.show.route"
              >Mon profil</a
            >
            <a @click.prevent="logout" href="#">Déconnexion</a>
          </div>
        </section>
      </header>
    </nav>
  </div>
</template>

<script>
import { EventBus } from "../../event-bus";
import GlobalSearchComponent from "./GlobalSearchComponent.vue";

export default {
  name: "NavigationComponent",

  props: {
    routeName: {
      type: String,
      default: null,
    },
  },

  components: {
    GlobalSearchComponent,
  },

  data() {
    return {
      routes: {
        admin: {
          dashboard: "admin.dashboard",
          projects: {
            index: {
              routeName: "projects.index",
              route: "/projects",
            },
          },
          profile: {
            show: {
              routeName: "admin.profile.show",
              route: "/admin/profile",
            },
          },
          showProject: "projects-client.show",
          clients: "clients.index",
          showClient: "clients.show",
          suppliers: "suppliers.index",
          users: "users.index",
          showUser: "users.show",
          showSupplier: "suppliers.show",
        },

        supplier: {
          projects: {
            index: {
              routeName: "supplier.projects.index",
              route: "/supplier/projects",
            },
          },
          profile: {
            show: {
              routeName: "supplier.profile.show",
              route: "/supplier/profile",
            },
          },
          showProject: "supplier.projects.show",
        },

        client: {
          projects: {
            index: {
              routeName: "client.projects.index",
              route: "/client/projects",
            },
            create: {
              routeName: "client.projects.create",
              route: "/client/projects/create",
            },
          },
          profile: {
            show: {
              routeName: "client.profile.show",
              route: "/client/profile",
            },
          },
          showProject: "client.projects.show",
        },
      },
      profileOpen: false,
      moreOptionsOpen: false,
    };
  },

  methods: {
    routeIs(route) {
      return this.routeName == route;
    },

    toggleProfile() {
      return (this.profileOpen = !this.profileOpen);
    },

    toggleMoreOptions() {
      return (this.moreOptionsOpen = !this.moreOptionsOpen);
    },

    logout() {
      axios.post("/logout").then((response) => {
        window.location = "/login";
      });
    },

    open(item) {
      this.moreOptionsOpen = false;
      EventBus.$emit("open-sidebar", item);
    },
  },
};
</script>

<style scoped>
.demande-active {
  background-color: #59db00 !important;
  border-bottom: none !important;
  padding-left: 2rem;
  padding-right: 2rem;
  color: #ffffff;
}
</style>
