<template functional>
  <div class="p-4 text-sm text-gray">
    Search by Client or Supplier name, phone number, address, or by project's
    unique code, title or short description..
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
</style>