<template functional>
  <div class="input-group">
    <input
      :value="props.search"
      @click.prevent="listeners['open-search']"
      @focus="listeners['open-search']"
      id="header_search"
      type="text"
      class="form-control col-12"
      placeholder="Recherche client, projet ou fournisseur ..."
    />

    <div class="input-group-append">
      <button
        class="btn btn-outline-secondary"
        type="button"
        id="header_search_button_addon"
      >
        <i class="las la-search"></i>
      </button>
    </div>
  </div>
</template>

<script>
export default {
  props: ["search"],
};
</script>

<style lang="scss" scoped>
</style>