<template>
  <div id="epreuves_content" :class="{ active: isActive }">
    <div v-if="loading">
      <carte-loading-placeholder />
    </div>
    <div v-else>
      <div v-if="data.length > 0">
        <div v-for="item in data" :key="item.id">
           <new-epreuves-single-item
            :data="item"
            @toggle-dropdown="toggleItemDropdown"
          />
        </div>
      </div>
      <div v-else>Nothing approved yet.</div>
    </div>
  </div>
</template>

<script>
import NewEpreuvesSingleItem from "./EpreuvesContentPartials/NewEpreuvesSingleItem.vue";
import CarteLoadingPlaceholder from "../../../Layouts/CarteLoadingPlaceholder.vue";

export default {
  name: "NewEpreuvesContentSupplier",

  components: {
    NewEpreuvesSingleItem,
    CarteLoadingPlaceholder,
  },

  props: {
    isActive: {
      type: Boolean,
      default: false,
    },

    project: {
      type: Object,
      default: null,
    },

    supplier: {
      type: Object,
      default: null,
    },
  },

  data() {
    return {
      data: [],
      loading: false,
    };
  },

  computed: {
    fetchEpreuveItemsUrl() {
      return `/supplier/${this.supplier.id}/projects/${this.project.id}/epreuves`;
    },
  },

  mounted() {
    this.initializeComponent();
  },

  methods: {
    initializeComponent() {
      this.fetchEpreuveItems();
    },

    fetchEpreuveItems() {
      this.loading = true;
      axios
        .get(this.fetchEpreuveItemsUrl)
        .then((response) => {
          this.loading = false;
          this.data = response.data.data;
        })
        .catch((error) => {
          this.loading = false;
          console.log(error.response.data.errors);
        });
    },

    toggleItemDropdown(id) {
      document.getElementById(`epreuve-item-${id}`).classList.toggle("block");

      let dropdownIcon = document.getElementById(`epreuve-tab-icon-${id}`);
      dropdownIcon.classList.toggle("la-chevron-circle-down");
      dropdownIcon.classList.toggle("la-chevron-circle-up");
      dropdownIcon.classList.toggle("text-success");
    },
  },
};
</script>
