<template>
  <div :class="{ active: isActive }">
    <!-- Item content -->
    <no-items-found v-if="items.data === undefined || items.data.length == 0" />
    <div v-for="(item, index) in items.data" :key="item.quote_id">
      <single-item
        :data="item"
        :project="data"
        :key="item.quote_id"
        :client="client"
        :index="index"
        :errors="errors"
        @toggle-dropdown="toggleItemDropdown"
      />
    </div>
    <div class="d-flex align-content-center justify-content-end">
      <div>
        <button :class="greenBtn" :disabled="loading" @click="submit">
          <div
            class="d-flex justify-content-center align-items-center space-x-2"
            v-if="loading"
          >
            <span class="loader"></span>
            <span>SOUMETTRE DES ESTIMATIONS</span>
          </div>
          <div v-else>
            <i class="las la-paper-plane"></i>
            <span>SOUMETTRE DES ESTIMATIONS</span>
          </div>
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import NoItemsFound from "./ItemContentPartials/NoItemsFound";
import SingleItem from "./ItemContentPartials/SingleItem";

export default {
  name: "ItemContent",

  components: {
    SingleItem,
    NoItemsFound,
  },

  props: {
    isActive: {
      type: Boolean,
      default: false,
    },

    client: {
      type: Object,
      default: null,
    },

    project: {
      type: Object,
      default: null,
    },
  },

  data() {
    return {
      value: null,
      data: this.project,
      items: [],
      oldItems: [],
      itemOpen: null,
      newItemMould: {},
      errors: {},
      isChanged: false,
      loading: false,
    };
  },

  watch: {
    items: {
      // This will let Vue know to look inside the array
      deep: true,

      handler() {
        return JSON.stringify(this.items) !== this.oldItems
          ? (this.isChanged = true)
          : (this.isChanged = false);
      },
    },
  },

  computed: {
    greenBtn() {
      return "btn btn-green d-inline-flex justify-content-center align-items-center";
    },
  },

  mounted() {
    this.fetchItems();
  },

  methods: {
    toggleItemDropdown(id) {
      document.getElementById(`content-${id}`).classList.toggle("block");
      let dropdownIcon = document.getElementById(`icon-${id}`);
      dropdownIcon.classList.toggle("la-chevron-circle-down");
      dropdownIcon.classList.toggle("la-chevron-circle-up");
      dropdownIcon.classList.toggle("text-success");
    },

    fetchItems() {
      let url = `/supplier/projects/${this.data.id}/items`;
      axios
        .get(url)
        .then((response) => {
          this.items = response.data;
          this.oldItems = JSON.stringify(this.items);
        })
        .catch((errors) => console.log("ItemContent.vue fetchItems()", errors));
    },

    submit() {
      this.loading = true;
      let url = `/supplier/projects/${this.data.id}/quotes`;
      axios
        .post(url, {
          items: this.items.data.map((item) => {
            return {
              item_id: item.id,
              quantities: item.quantities,
              quote_id: item.quote_id,
              value: item.value,
              supplier_id: item.supplier_id,
              project_id: item.project_id
            };
          }),
          // notifySuppliers: notifySuppliers,
        })
        .then((response) => {
          this.$toasted.show(response.data.message);
          this.loading = false;
        })
        .catch((error) => {
          if (error && error.response && error.response.status == 422) {
            this.errors = error.response.data.errors;
            this.$toasted.show('Veuillez soumettre des estimations pour tous les articles et leurs quantités.');
          } else if (error && error.response && error.response.status == 403) {
            this.$toasted.show(error.response.data.message);
            console.log(
              "supplier-views/Projects/Tabs/ItemContent submit()",
              error.response.data.message
            );
          } else {
            this.$toasted.show("An unknown error occured.");
            console.log(
              "supplier-views/Projects/Tabs/ItemContent submit()",
              error.response.data.errors
            );
          }
          this.loading = false;
        });
    },

    findById(element) {
      return this.items.data.find((item) => item.id === element);
    },
  },
};
</script>

<style lang="scss">
.multiselect__tags {
  min-height: 40px;
  display: block;
  border: 1px solid #e8e8e8;
  background: #fff;
  padding: 1rem;
  padding-bottom: 0.5rem;
  font-size: 16px;
  border-radius: 1.5rem;
}

.multiselect__placeholder {
  margin-bottom: 0 !important;
  padding-top: 0 !important;
}

.multiselect__option--highlight {
  background: #59db00;
  outline: none;
  color: #fff;
}

.multiselect__option--highlight:after {
  content: attr(data-select);
  background: #59db00;
  color: #fff;
}

.multiselect__input,
.multiselect__single {
  margin-bottom: 0 !important;
  padding: 0 !important;
}

.multiselect__select {
  z-index: 49 !important;
  right: 8px;
  top: 8px;
}

.multiselect__tag {
  line-height: 1;
  background: #59db00;
  margin-bottom: -5px !important;
  margin-top: -6px;
  padding: 8px 27px 5px 10px !important;
  border-radius: 1rem;
}

.multiselect__tag-icon {
  padding-top: 4px;
}

.multiselect__content-wrapper {
  border-bottom-left-radius: 1.5rem !important;
  border-bottom-right-radius: 1.5rem !important;
}
</style>
