<template>
  <div :class="{ active: isActive }">
    <div id="client_content" v-if="loaded">
      <!-- Title -->
      <div class="form-group row d-flex align-items-center">
        <label
          for="input-titre_projet"
          class="col-2 col-form-label d-flex justify-content-start align-items-center"
        >
          Titre du projet
        </label>
        <div class="col-9">
          <div class="input-group">
            <span
              type="text"
              class="text-gray"
              id="input-titre_projet"
              v-text="formData.title"
            ></span>
          </div>
        </div>
        <div class="col-1 d-flex justify-content-center align-items-center">
          <a href="#"></a>
        </div>
      </div>
      <!-- End title -->

      <!-- Short description -->
      <div class="form-group row d-flex align-items-center">
        <label
          for="input-titre_projet"
          class="col-2 col-form-label d-flex justify-content-start align-items-center"
        >
          Description court
        </label>
        <div class="col-9">
          <div class="input-group">
            <span
              type="text"
              class="text-gray"
              id="input-court_description"
              v-text="formData.short_description"
            ></span>
          </div>
        </div>
      </div>
      <!-- End short descripion -->

      <div class="form-group row d-flex align-items-center">
        <label
          for="input-titre_projet"
          class="col-2 col-form-label d-flex justify-content-start align-items-center"
        >
          Début
        </label>
        <div class="col-9">
          <div class="input-group">
            <span
              id="input-debut"
              :key="formData.start_date"
              type="date"
              class="d-flex justify-content-center align-items-center text-gray"
              v-text="formData.start_date"
            ></span>
          </div>
        </div>
      </div>
      <div class="form-group row d-flex align-items-center">
        <label
          for="input-titre_projet"
          class="col-2 col-form-label d-flex justify-content-start align-items-center"
        >
          Fin
        </label>
        <div class="col-9">
          <div class="input-group">
            <span
              id="input-fin"
              :key="formData.end_date"
              type="date"
              class="d-flex justify-content-center align-items-center text-gray"
              v-text="formData.end_date"
            ></span>
          </div>
        </div>
      </div>

      <div class="form-group row d-flex align-items-center">
        <label
          for="status-select-client-content"
          class="col-2 col-form-label d-flex justify-content-start align-items-center"
        >
          Statut
          <span>*</span>
        </label>
        <div class="col-9">
          <div class="input-group">
            <span id="status-select-client-content" class="text-gray">{{
              formData.status.short_label
            }}</span>
          </div>
        </div>
      </div>
    </div>
    <div v-else>
      <loading-spinner></loading-spinner>
    </div>
  </div>
</template>

<script>
import _ from "lodash";
import SearchSelect from "../../../Sidebar/Forms/partials/SearchSelect.vue";
import LoadingSpinner from "../../../Layouts/LoadingSpinner.vue";
import { EventBus } from "../../../../event-bus";

export default {
  name: "ProjetInfoContent",

  components: { SearchSelect, LoadingSpinner },

  props: {
    project: {
      type: Object,
      default: null,
    },

    client: {
      type: Object,
      default: null,
    },

    statuses: {
      type: Array,
      default: () => null,
    },

    isActive: {
      type: Boolean,
      default: false,
    },
  },

  data() {
    return {
      loaded: false,
      submitting: false,
      formData: {},
      clients: [],
      clientDivisions: [],
      divisionBuyers: [],
      divisionAccountingContacts: [],
      physicalApprovalContacts: [],
      physicalApprovalAddresses: [],
      selectedBuyer: {},
      selectedAccounting: {},
      selectedPhysicalApprovalContact: {},
      selectedPhysicalAddress: {},
      errors: {},
    };
  },

  created() {
    // this.fetchDivisionBuyers(this.project.division_id);
    // this.fetchDivisionAccountingContacts(this.project.division_id);
    // this.fetchPhysicalApprovalContacts(this.project.division_id);
    // this.fetchPhysicalApprovalAddresses(this.project.client_id);
  },

  mounted() {
    /*
     * We let some time pass before we render form data
     * so everything gets fetched
     */
    setTimeout(() => {
      // Need to load everything first then init form data.
      // Use promise, then resolve
      this.initializeFormData();
      this.loaded = true;
    }, 500);
  },

  computed: {
    clientsIndexRoute() {
      return "/api/clients";
    },

    clientDivisionsRoute() {
      return this.formData.client
        ? `/api/clients/${this.formData.client.id}/divisions`
        : `/api/clients/${this.project.client_id}/divisions`;
    },

    divisionBuyerRoute() {
      return this.formData.division
        ? `/api/divisions/${this.formData.division.id}/contacts/buyer`
        : `/api/divisions/${this.project.division_id}/contacts/buyer`;
    },

    divisionAccountingRoute() {
      return this.formData.division
        ? `/api/divisions/${this.formData.division.id}/contacts/accounting`
        : `/api/divisions/${this.project.division_id}/contacts/accounting`;
    },

    divisionPdfApprovalRoute() {
      return this.formData.division
        ? `/api/divisions/${this.formData.division.id}/contacts/pdf_approval`
        : `/api/divisions/${this.project.division_id}/contacts/pdf_approval`;
    },

    divisionPhysicalApprovalRoute() {
      return this.formData.division
        ? `/api/divisions/${this.formData.division.id}/contacts/physical_approval`
        : `/api/divisions/${this.project.division_id}/contacts/physical_approval`;
    },

    clientPhysicalAddressRoute() {
      return this.formData.client
        ? `/api/clients/${this.formData.client.id}/addresses/physical_approval`
        : `/api/clients/${this.project.client_id}/addresses/physical_approval`;
    },

    statusesIndexRoute() {
      return "/api/statuses";
    },

    shouldDisableDivision() {
      return this.formData.client === null;
    },

    shouldDisableBuyer() {
      return this.formData.division === null;
    },

    shouldShowDivisionAccounting() {
      return this.formData.buyer !== null;
    },

    shouldDisablePhysicalApproval() {
      return (
        this.formData.division === null ||
        !this.formData.requires_physical_approval
      );
    },

    shouldDisablePhysicalAddress() {
      return (
        this.formData.client === null ||
        !this.formData.requires_physical_approval
      );
    },

    formattedStatus() {
      return this.statuses.find((s) => s.key === this.project.status);
    },

    newDivisionStyle() {
      return this.formData.client === null
        ? "pointer-events: none !important;"
        : "";
    },

    newContactStyle() {
      return this.formData.client === null || this.formData.division === null
        ? "pointer-events: none !important;"
        : "";
    },

    projectIsChild() {
      return this.project.parent_id !== null;
    },
  },

  methods: {
    fetchClients() {
      let url = "/api/clients";
      axios
        .get(url)
        .then((response) => (this.clients = response.data.data))
        .catch((errors) =>
          console.log(
            "client content component - fetchClients()",
            errors.response
          )
        );
    },

    fetchDivisionBuyers(division) {
      // let url = `/api/division/${division}/contacts/buyer`;
      let url = `/api/divisions/${this.project.division_id}/contacts/buyer`;

      axios
        .get(url)
        .then((response) => {
          this.divisionBuyers = response.data.data;
          this.selectedBuyer = response.data.data.find(
            (buyer) => buyer.id === this.project.buyer
          );
        })
        .catch((errors) =>
          console.log(
            "client content component - fetchDivisionBuyer()",
            errors.response
          )
        );
    },

    fetchDivisionAccountingContacts(division) {
      // let url = `/api/division/${division}/contacts/accounting`;
      let url = `/api/divisions/${this.project.division_id}/contacts/accounting`;
      axios
        .get(url)
        .then((response) => {
          this.divisionAccountingContacts = response.data.data;
          this.selectedAccounting = response.data.data.find(
            (a) => a.id === this.project.accounting
          );
        })
        .catch((errors) =>
          console.log(
            "client content component - fetchDivisionAccountingContacts()",
            errors.response
          )
        );
    },

    fetchPhysicalApprovalContacts(division) {
      // let url = `/api/division/${division}/contacts/physical_approval`;
      let url = `/api/divisions/${this.project.division_id}/contacts/physical_approval`;
      axios
        .get(url)
        .then((response) => {
          this.physicalApprovalContacts = response.data.data;
          this.selectedPhysicalApprovalContact = this.physicalApprovalContacts.find(
            (a) => a.id === this.project.physical
          );
        })
        .catch((errors) =>
          console.log(
            "client content component - fetchDivisionPhysicalApprovalContacts()",
            errors.response
          )
        );
    },

    fetchPhysicalApprovalAddresses(client) {
      // let url = `/api/client/${client}/addresses/physical_approval`;
      let clientId = this.formData.client
        ? this.formData.client.id
        : this.project.client.id;
      let url = `/api/clients/${clientId}/addresses/physical_approval`;

      axios
        .get(url)
        .then((response) => {
          this.physicalApprovalAddresses = response.data.data;
          this.selectedPhysicalAddress = this.physicalApprovalAddresses.find(
            (a) => a.id === this.project.address_id
          );
        })
        .catch((errors) =>
          console.log(
            "client content component - fetchPhysicalApprovalAddresses()",
            errors.response
          )
        );
    },

    submit() {
      this.submitting = true;
      let url = `/api/projects/${this.project.id}/update`;
      axios
        .patch(url, this.formData)
        .then((response) => {
          this.$toasted.show(response.data.message);
          this.submitting = false;
        })
        .catch((error) => {
          console.log("here");
          this.submitting = false;
          this.errors = error.response.data.errors;
          console.log(
            "ClientContent component, submit() method",
            error.response.data.errors
          );
        });
    },

    initializeFormData() {
      this.formData = {
        title: this.project.title,
        short_description: this.project.short_description,
        client: this.client,
        division: this.project.division,
        buyer: this.selectedBuyer,
        accounting: this.selectedAccounting,
        requires_pdf_approval: false,
        pdf_approval: null,
        requires_physical_approval: this.project.require_physical,
        physical_approval: this.selectedPhysicalApprovalContact,
        physical_address: this.selectedPhysicalAddress,
        start_date: this.project.startDate,
        end_date: this.project.endDate,
        po_number: this.project.po_number,
        status: this.formattedStatus,
      };
    },

    updateClient(payload) {
      this.clearError("client");
      this.formData.client = payload;
      this.formData.division = null;
      this.formData.buyer = null;
      this.formData.accounting = null;

      this.$refs["contact-accounting-role"].model = null;
      this.formData.physical_approval = null;

      this.$refs["physical_approval-client-content"].model = null;
      this.formData.physical_address = null;
    },

    updateDivision(payload) {
      this.clearError("division");
      this.formData.division = payload;
      console.log(this.formData.client.divisions);
      this.formData.buyer = null;
      this.formData.accounting = null;

      this.$refs["contact-accounting-role"].model = null;
      this.formData.physical_approval = null;

      this.$refs["physical_approval-client-content"].model = null;
      this.updatePhysicalAddress(null);
    },

    updateBuyer(payload) {
      this.clearError("buyer");
      this.formData.buyer = payload;
    },

    updateAccounting(payload) {
      this.formData.accounting = payload;
      this.clearError("accounting");
    },

    updatePhysicalApproval(payload) {
      this.formData.physical_approval = payload;
      this.$refs["physical_approval-client-content"].model = null;
      this.clearError("physical_approval");
    },

    updatePhysicalAddress(payload) {
      this.formData.physical_address = payload;
      this.clearError("physical_address");
    },

    updateStatus(payload) {
      this.clearError("status");
      this.formData.status = payload;
    },

    updateStatus(payload) {
      this.clearError("status");
      this.formData.status = payload;
    },

    isInvalid(attribute) {
      return this.errors.hasOwnProperty(attribute);
    },

    errorMessage(attribute) {
      if (this.errors[attribute]) {
        return this.errors[attribute][0];
      }
    },

    clearError(field) {
      delete this.errors[field];
    },

    open(form) {
      EventBus.$emit("open-sidebar", form);
    },
  },
};
</script>

<style lang="scss" scoped>
.custom-checkbox-big {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
  display: inline-block;
  vertical-align: middle;
  background-origin: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  flex-shrink: 0;
  height: 1.5em;
  width: 1.5em;
  color: #61d824;
  border: 4px solid #ffff !important;
  background-color: #a50f10;
  border-radius: 1rem;
  margin-top: 0;
  cursor: pointer;
  padding: 1.3rem !important;
  outline: none;
}

.custom-checkbox-big:checked {
  border: 4px solid #ffff !important;
  background-color: currentColor;
  background-size: 100% 100%;
  width: 30px;
  height: 30px;
}
</style>
