<template>
  <div class="container-fluid">
    <!-- Header -->
    <section id="header_content" class="row header_content_single_project">
      <div class="col-12 d-flex justify-content-start align-items-center">
        <a
          :href="projectsIndex"
          class="btn btn-green d-inline-flex justify-content-center align-items-center mr-5 py-2"
        >
          <i
            style="font-size: 30px; margin: 0"
            class="las la-arrow-circle-left"
          ></i>
        </a>
        <div class="titre_single_project">
          <p>{{ project.title }}</p>
          <!-- Will have to add a new column code, and make a logic for generating unique codes -->
          <p>{{ project.unique_code ? project.unique_code : "" }}</p>
        </div>
        <!-- <div class="nom_single_project">
          <p>{{ project.client.name }}</p>
          <p>{{ project.client.buyerRoleDetails.email }}</p>
        </div> -->
        <div class="montant_single_project ml-auto col-3" data-name="project-status">
          <p>
            {{ statuses.find((s) => s.key === project.status).short_label }}
          </p>
          <p>&nbsp;</p>
        </div>
        <!-- <div class="montant_single_project">
          <p>1,348.98$</p>
          <p>2020-04-06</p>
        </div> -->
      </div>
      <!-- <div class="col-1 d-flex justify-content-center align-items-center">
        <a
          @click="destroy"
          href="#"
          class="exit_single_project btn btn-green bg-brand-red py-2"
        >
          <i
            class="las la-times-circle"
            style="color: white; margin: 0; font-size: 30px"
          ></i>
        </a>
      </div> -->
    </section>
    <!-- End Header -->
  </div>
</template>

<script>
export default {
  name: "ProjectDetailsHeader",

  props: {
    project: {
      type: Object,
      default: null,
    },
    statuses: {
      type: Array,
      default: () => null,
    },
  },

  computed: {
    projectsIndex() {
      switch (current_user.role) {
        case "admin":
          return "/projects";
          break;
        case "supplier":
          return "/supplier/projects";
          break;
        case "client":
          return "/client/projects";
          break;

        default:
          break;
      }
    },
  },

  methods: {
    destroy() {
      const url = `/api/projects/${this.project.id}/delete`;

      this.$swal
        .fire({
          title: "Are you sure?",
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#49a610",
          cancelButtonColor: "#353841",
          confirmButtonText: "Yes, delete it!",
          reverseButtons: true,
        })
        .then((result) => {
          if (result.isConfirmed) {
            axios.delete(url).then((response) => {
              // So we can flash the client deleted on redirect.
              sessionStorage.setItem(
                "flash",
                JSON.stringify(response.data.message)
              );
              window.location.href = response.data.redirect_route;
            });
          }
        });
    },
  },
};
</script>
