<template>
  <div :class="{ active: isActive }">
    <div id="client_content" v-if="loaded">
      <!-- Title -->
      <div class="form-group row">
        <label
          for="input-titre_projet"
          class="col-2 col-form-label d-flex justify-content-start align-items-center"
        >
          Titre du projet
          <span>*</span>
        </label>
        <div class="col-9">
          <div class="input-group">
            <input
              type="text"
              class="form-control custom-text-input"
              :class="{ 'text-input-invalid': isInvalid('title') }"
              id="input-titre_projet"
              v-model="formData.title"
            />
            <span
              v-if="isInvalid('title')"
              class="input-error"
              style="margin-botom: -0.25rem !important"
              >{{ errorMessage("title") }}</span
            >
            <span></span>
          </div>
        </div>
        <div class="col-1 d-flex justify-content-center align-items-center">
          <a href="#"></a>
        </div>
      </div>
      <!-- End title -->

      <!-- Short description -->
      <div class="form-group row">
        <label
          for="input-titre_projet"
          class="col-2 col-form-label d-flex justify-content-start align-items-center"
        >
          Description court
          <span>*</span>
        </label>
        <div class="col-9">
          <div class="input-group">
            <input
              type="text"
              class="form-control custom-text-input"
              :class="{ 'text-input-invalid': isInvalid('short_description') }"
              id="input-court_description"
              v-model="formData.short_description"
            />
            <span
              v-if="isInvalid('short_description')"
              class="input-error"
              style="margin-botom: -0.25rem !important"
              >{{ errorMessage("short_description") }}</span
            >
            <span></span>
          </div>
        </div>
        <div class="col-1 d-flex justify-content-center align-items-center">
          <a href="#"></a>
        </div>
      </div>
      <!-- End short descripion -->

      <!-- Notes -->
      <div class="form-group row" v-if="project.notes !== null">
        <label
          for="input-notes_projet"
          class="col-2 col-form-label d-flex justify-content-start align-items-center"
        >
          Notes
        </label>
        <div class="col-9">
          <div class="input-group">
            <textarea
              type="text"
              class="form-control custom-text-input p-3"
              :class="{ 'text-input-invalid': isInvalid('notes') }"
              id="input-notes_projet"
              rows="6"
              v-model="formData.notes"
            ></textarea>
            <span
              v-if="isInvalid('notes')"
              class="input-error"
              style="margin-botom: -0.25rem !important"
              >{{ errorMessage("notes") }}</span
            >
            <span></span>
          </div>
        </div>
      </div>
      <!-- End Notes -->

      <!-- Client -->
      <div class="form-group row">
        <label
          for="input-client"
          class="col-2 col-form-label d-flex justify-content-start align-items-center"
        >
          Client
          <span>*</span>
        </label>
        <div class="col-9">
          <div class="input-group">
            <search-select
              id="client-search-select"
              :key="formData.client ? formData.client.id : ''"
              :style="
                isInvalid('client')
                  ? 'border: 1px solid #dc3545 !important; border-radius: 1.5rem'
                  : ''
              "
              :value="formData.client"
              :route="clientsIndexRoute"
              @changed="updateClient"
              @removed="updateClient(null)"
              placeholder="Client"
            ></search-select>

            <span
              v-if="isInvalid('client')"
              class="input-error"
              style="margin-botom: -0.25rem !important"
              >{{ errorMessage("client") }}</span
            >
          </div>
        </div>
        <div class="col-1 d-flex justify-content-center align-items-center">
          <a href="#">
            <i
              id="content-client-new"
              @click.prevent="
                open({
                  form: 'create-client',
                  initializedFrom: 'tab',
                })
              "
              class="las la-plus-circle"
            ></i>
          </a>
        </div>
      </div>
      <!-- End client -->

      <!-- Division -->
      <div class="form-group row">
        <label
          for="input-division"
          class="col-2 col-form-label d-flex justify-content-start align-items-center"
        >
          Division
          <span>*</span>
        </label>
        <div class="col-9">
          <div class="input-group">
            <!-- <input type="text" class="form-control" id="input-division" /> -->
            <search-select
              id="division-search-select"
              ref="division-search-select"
              :key="
                formData.division
                  ? formData.division.id
                  : 'division-search-select'
              "
              :style="
                isInvalid('division')
                  ? 'border: 1px solid #dc3545 !important; border-radius: 1.5rem'
                  : ''
              "
              :route="clientDivisionsRoute"
              :disabled="shouldDisableDivision"
              placeholder="Division"
              :value="formData.division"
              @changed="updateDivision"
              @removed="updateDivision(null)"
            ></search-select>
            <span
              v-if="isInvalid('division')"
              class="input-error"
              style="margin-botom: -0.25rem !important"
              >{{ errorMessage("division") }}</span
            >
          </div>
        </div>
        <div class="col-1 d-flex justify-content-center align-items-center">
          <a href="#">
            <i
              :style="newDivisionStyle"
              id="content-client-division-new"
              @click.prevent="
                open({
                  form: 'new-division',
                  client: formData.client,
                  initializedFrom: 'tab',
                })
              "
              class="las la-plus-circle"
            ></i>
          </a>
        </div>
      </div>
      <!--End division-->

      <!-- Client contact with buyer role-->
      <div class="form-group row">
        <label
          for="input-acheteur"
          class="col-2 col-form-label d-flex justify-content-start align-items-center"
        >
          Acheteur
          <span>*</span>
        </label>
        <div class="col-9">
          <div class="input-group">
            <search-select
              id="client-contact-buyer"
              :key="formData.buyer ? formData.buyer.id : ''"
              :style="
                isInvalid('buyer')
                  ? 'border: 1px solid #dc3545 !important; border-radius: 1.5rem'
                  : ''
              "
              :route="divisionBuyerRoute"
              :disabled="shouldDisableBuyer"
              :value="formData.buyer"
              placeholder="Acheteur"
              @changed="updateBuyer"
              @removed="updateBuyer(null)"
            ></search-select>
          </div>
          <span v-if="isInvalid('buyer')" class="text-xs text-danger">
            {{ errorMessage("buyer") }}
          </span>
        </div>
        <div class="col-1 d-flex justify-content-center align-items-center">
          <a href="#">
            <i
              :style="newContactStyle"
              id="client-content-new-contact"
              @click.prevent="
                open({
                  form: 'new-contact',
                  client: formData.client, // have to pass divisions
                  role: 'buyer',
                  division: formData.division,
                  initializedFrom: 'tab',
                })
              "
              class="las la-plus-circle"
            ></i>
          </a>
        </div>
      </div>
      <!--End client contact with buyer role. -->

      <!--Accounting -->
      <div class="form-group row">
        <label
          for="input-comptabilite"
          class="col-2 col-form-label d-flex justify-content-start align-items-center"
        >
          Comptabilité
          <span>*</span>
        </label>
        <div class="col-9">
          <div class="input-group">
            <search-select
              ref="contact-accounting-role"
              id="contact-accounting-role"
              key="contact-accounting-role"
              :style="
                isInvalid('accounting')
                  ? 'border: 1px solid #dc3545 !important; border-radius: 1.5rem'
                  : ''
              "
              :route="divisionAccountingRoute"
              :disabled="!shouldShowDivisionAccounting"
              placeholder="Comptabilité"
              :value="formData.accounting"
              @changed="updateAccounting"
              @removed="updateAccounting(null)"
            ></search-select>
          </div>
          <span v-if="isInvalid('accounting')" class="text-xs text-danger">
            {{ errorMessage("accounting") }}
          </span>
        </div>
        <div class="col-1 d-flex justify-content-center align-items-center">
          <a href="#">
            <i
              :style="newContactStyle"
              id="client-content-new-contact"
              @click.prevent="
                open({
                  form: 'new-contact',
                  client: formData.client,
                  role: 'accounting',
                  division: formData.division,
                  initializedFrom: 'tab',
                })
              "
              class="las la-plus-circle"
            ></i>
          </a>
        </div>
      </div>
      <!--Accounting -->

      <div class="form-group row">
        <!-- Require physical checkbox -->
        <label
          for="input-approbation_physique"
          class="col-2 col-form-label d-flex justify-content-start align-items-center flex-wrap"
          >Requiert Approbation Physique?</label
        >
        <div class="col-1">
          <div
            class="input-group d-flex justify-content-start align-items-center"
          >
            <div
              id="requiert-approbation-physical"
              style="border: 1px solid #e7e8e8 !important; border-radius: 1rem"
            >
              <input
                v-model="formData.requires_physical_approval"
                @change="
                  clearError('physical_approval'),
                    clearError('physical_address')
                "
                type="checkbox"
                class="custom-checkbox-big"
                id="input-approbation_physique"
              />
            </div>
          </div>
        </div>
        <!-- End require physical checkbox -->

        <div class="col-8">
          <!-- Choose a physical approval contact -->
          <div class="input-group">
            <search-select
              ref="physical_approval-client-content"
              id="physical_approval-client-content"
              key="physical_approval-client-content"
              :style="
                isInvalid('physical_approval')
                  ? 'border: 1px solid #dc3545 !important; border-radius: 1.5rem'
                  : ''
              "
              :route="divisionPhysicalApprovalRoute"
              placeholder="Approbation Physical"
              :disabled="shouldDisablePhysicalApproval"
              :value="formData.physical_approval"
              @changed="updatePhysicalApproval"
              @removed="updatePhysicalApproval(null)"
            ></search-select>
          </div>
          <span
            v-if="isInvalid('physical_approval')"
            class="text-xs text-danger"
          >
            {{ errorMessage("physical_approval") }}
          </span>
        </div>
        <div class="col-1 d-flex justify-content-center align-items-center">
          <a href="#">
            <i
              :style="newContactStyle"
              id="client-content-new-contact"
              @click.prevent="
                open({
                  form: 'new-contact',
                  client: formData.client,
                  role: 'physical_approval',
                  division: formData.division,
                  initializedFrom: 'tab',
                })
              "
              class="las la-plus-circle"
            ></i>
          </a>
        </div>
        <!-- End physical approval contact -->
        <label
          for="input-approbation_physique"
          class="col-2 col-form-label d-flex justify-content-start align-items-center flex-wrap"
        ></label>
        <div class="col-1">
          <div class="input-group"></div>
        </div>
        <div class="col-8">
          <div class="input-group">
            <search-select
              ref="physical-address-client-content"
              id="physical-address-client-content"
              :key="
                formData.physical_address ? formData.physical_address.id : ''
              "
              :style="
                isInvalid('physical_address')
                  ? 'border: 1px solid #dc3545 !important; border-radius: 1.5rem'
                  : ''
              "
              :route="clientPhysicalAddressRoute"
              :disabled="shouldDisablePhysicalAddress"
              placeholder="Adresse physique"
              :value="formData.physical_address"
              @changed="updatePhysicalAddress"
              @removed="updatePhysicalAddress(null)"
            ></search-select>
          </div>
          <span
            v-if="isInvalid('physical_address')"
            class="text-xs text-danger"
          >
            {{ errorMessage("physical_address") }}
          </span>
        </div>
        <div class="col-1 d-flex justify-content-center align-items-center">
          <a href="#">
            <i
              id="new-address-from-tab"
              @click.prevent="
                open({
                  form: 'new-address',
                  client: formData.client,
                  initializedFrom: 'tab',
                })
              "
              class="las la-plus-circle"
            ></i>
          </a>
        </div>
        <!--Physical address-->
      </div>

      <div class="form-group row">
        <label
          for="input-debut"
          class="col-2 col-form-label d-flex justify-content-start align-items-center"
          >Début</label
        >
        <div class="col-4">
          <div class="input-group">
            <input
              :key="formData.start_date"
              :class="{ 'border-danger': isInvalid('start_date') }"
              type="date"
              class="form-control d-flex justify-content-center align-items-center"
              style="
                border-radius: 1.5rem !important;
                height: 50.2333px !important;
                border: 1px solid rgb(231, 232, 232);
                padding-right: 1.5rem !important;
              "
              v-model="formData.start_date"
              @input="clearError('start_date')"
            />
          </div>
          <span v-if="isInvalid('start_date')" class="text-xs text-danger">
            {{ errorMessage("start_date") }}
          </span>
        </div>
        <!-- fin -->
        <label
          for="input-fin"
          class="col-1 col-form-label d-flex justify-content-center align-items-center"
          >Fin</label
        >
        <div class="col-4">
          <div class="input-group">
            <input
              :key="formData.end_date"
              type="date"
              class="form-control"
              :class="{ 'border-danger': isInvalid('end_date') }"
              id="input-fin"
              v-model="formData.end_date"
              style="
                border-radius: 1.5rem !important;
                height: 50.2333px !important;
                border: 1px solid rgb(231, 232, 232);
                padding-right: 1.5rem !important;
              "
              @input="clearError('end_date')"
            />
          </div>
          <span v-if="isInvalid('end_date')" class="text-xs text-danger">
            {{ errorMessage("end_date") }}
          </span>
        </div>
        <!-- End fin -->
      </div>

      <div class="form-group row">
        <label
          for="estimates_end_date"
          class="col-2 col-form-label d-flex justify-content-start align-items-center"
          >Fin de soumission
        </label>
        <div class="col-4">
          <div class="input-group">
            <input
              :key="formData.estimates_end_date"
              :class="{ 'border-danger': isInvalid('estimates_end_date') }"
              type="date"
              id="estimates_end_date"
              class="form-control d-flex justify-content-center align-items-center"
              style="
                border-radius: 1.5rem !important;
                height: 50.2333px !important;
                border: 1px solid rgb(231, 232, 232);
                padding-right: 1.5rem !important;
              "
              v-model="formData.estimates_end_date"
              @input="clearError('estimates_end_date')"
            />
          </div>
          <span
            v-if="isInvalid('estimates_end_date')"
            class="text-xs text-danger"
          >
            {{ errorMessage("estimates_end_date") }}
          </span>
        </div>
      </div>

      <div class="form-group row">
        <!-- PO -->
        <label
          for="input-po"
          class="col-2 col-form-label d-flex justify-content-start align-items-center"
          >#PO</label
        >
        <div class="col-9">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              style="
                border-radius: 1.5rem;
                border: 1px solid rgb(231, 232, 232);
              "
              :class="{ 'border-danger': isInvalid('po_number') }"
              id="input-po"
              v-model="formData.po_number"
            />
          </div>
          <span v-if="isInvalid('po_number')" class="text-xs text-danger">
            {{ errorMessage("po_number") }}
          </span>
        </div>
        <!-- End PO -->
      </div>

      <div class="form-group row">
        <label
          for="input-statut"
          class="col-2 col-form-label d-flex justify-content-start align-items-center"
        >
          Statut
          <span>*</span>
        </label>
        <div class="col-9">
          <div class="input-group">
            <search-select
              id="status-select-client-content"
              :key="formData.status ? formData.status.key : ''"
              :style="
                isInvalid('status')
                  ? 'border: 1px solid #dc3545 !important; border-radius: 1.5rem'
                  : ''
              "
              placeholder="Statut"
              :value="formData.status"
              label="short_label"
              :route="statusesIndexRoute"
              :items="statuses"
              @changed="updateStatus"
              @removed="updateStatus(null)"
            ></search-select>
          </div>

          <span v-if="isInvalid('status')" class="text-xs text-danger">
            {{ errorMessage("status") }}
          </span>
        </div>
        <div class="col-1 d-flex justify-content-center align-items-center">
          <a href="#">
            <i
              id="new-status-from-tab"
              @click.prevent="
                open({
                  form: 'new-status',
                  initializedFrom: 'tab',
                })
              "
              class="las la-plus-circle"
            ></i>
          </a>
        </div>
      </div>
      <div
        class="d-flex align-content-center justify-content-end space-x-2 pt-4 mr-5 w-full"
      >
        <button
          v-if="!projectIsChild"
          id="new-child-project"
          @click="
            open({
              form: 'new-project',
              initializedFrom: 'tab',
              parent_project: project,
            })
          "
          class="btn btn-green d-inline-flex justify-content-center align-items-center"
        >
          <i class="las la-plus-circle"></i>
          CRÉER UN PROJET ENFANT
        </button>

        <button
          class="btn btn-green d-inline-flex justify-content-center align-items-center"
          :disabled="submitting"
          @click="submit"
        >
          <div
            class="d-flex justify-content-center align-items-center space-x-2"
            v-if="submitting"
          >
            <span class="loader"></span>
            <span>SAVING</span>
          </div>
          <div v-else>
            <i class="las la-check-circle"></i>
            <span>SAUVEGARDER</span>
          </div>
        </button>
      </div>
    </div>
    <div v-else>
      <loading-spinner></loading-spinner>
    </div>
  </div>
</template>

<script>
import _ from "lodash";
import SearchSelect from "../../../Sidebar/Forms/partials/SearchSelect.vue";
import LoadingSpinner from "../../../Layouts/LoadingSpinner.vue";
import { EventBus } from "../../../../event-bus";

export default {
  name: "ClientComponent",

  components: { SearchSelect, LoadingSpinner },

  props: {
    project: {
      type: Object,
      default: null,
    },

    client: {
      type: Object,
      default: null,
    },

    statuses: {
      type: Array,
      default: () => null,
    },

    isActive: {
      type: Boolean,
      default: false,
    },
  },

  data() {
    return {
      loaded: false,
      submitting: false,
      formData: {},
      clients: [],
      clientDivisions: [],
      divisionBuyers: [],
      divisionAccountingContacts: [],
      physicalApprovalContacts: [],
      physicalApprovalAddresses: [],
      selectedBuyer: {},
      selectedAccounting: {},
      selectedPhysicalApprovalContact: {},
      selectedPhysicalAddress: {},
      errors: {},
      defaultDivisionName: "clients_default_division",
    };
  },

  created() {
    this.fetchClients();
    this.fetchDivisionBuyers(this.project.division_id);
    this.fetchDivisionAccountingContacts(this.project.division_id);
    this.fetchPhysicalApprovalContacts(this.project.division_id);
    this.fetchPhysicalApprovalAddresses(this.project.client_id);
  },

  mounted() {
    /*
     * We let some time pass before we render form data
     * so everything gets fetched
     */
    setTimeout(() => {
      // Need to load everything first then init form data.
      // Use promise, then resolve
      this.initializeFormData();
      this.loaded = true;
    }, 500);

    EventBus.$on("created-client", (payload) => {
      this.$toasted.show(payload.data.message);
      this.updateClient(payload.data.client);
    });

    EventBus.$on("contact-created-from-tab", (payload) => {
      if (payload.role === "buyer") {
        return (this.formData.buyer = payload.contact);
      }
      if (payload.role === "accounting") {
        this.formData.accounting = payload.contact;
        return (this.$refs["contact-accounting-role"].model = payload.contact);
      }

      if (payload.role === "physical_approval") {
        this.formData.physical_approval = payload.contact;
        return (this.$refs["physical_approval-client-content"].model =
          payload.contact);
      }
    });

    EventBus.$on("division-created", (payload) => {
      this.formData.division = payload.data.division;
      this.updateDivision(payload.data.division);
      if (this.formData.client.divisions) {
        return this.formData.client.divisions.push(payload.data.division);
      }

      this.formData.client.divisions = [];
      this.formData.client.divisions.push(payload.data.division);
    });

    EventBus.$on("address-created", (payload) => {
      console.log(payload.address);
      this.selectedPhysicalAddress = payload.address;
      this.formData.physical_address = payload.address;
      this.$refs["physical-address-client-content"].model = payload.address;
    });
  },

  computed: {
    clientsIndexRoute() {
      return "/api/clients";
    },

    clientDivisionsRoute() {
      return this.formData.client
        ? `/api/clients/${this.formData.client.id}/divisions`
        : `/api/clients/${this.project.client_id}/divisions`;
    },

    divisionBuyerRoute() {
      return this.formData.division
        ? `/api/divisions/${this.formData.division.id}/contacts/buyer`
        : `/api/divisions/${this.project.division_id}/contacts/buyer`;
    },

    divisionAccountingRoute() {
      return this.formData.division
        ? `/api/divisions/${this.formData.division.id}/contacts/accounting`
        : `/api/divisions/${this.project.division_id}/contacts/accounting`;
    },

    divisionPdfApprovalRoute() {
      return this.formData.division
        ? `/api/divisions/${this.formData.division.id}/contacts/pdf_approval`
        : `/api/divisions/${this.project.division_id}/contacts/pdf_approval`;
    },

    divisionPhysicalApprovalRoute() {
      return this.formData.division
        ? `/api/divisions/${this.formData.division.id}/contacts/physical_approval`
        : `/api/divisions/${this.project.division_id}/contacts/physical_approval`;
    },

    clientPhysicalAddressRoute() {
      return this.formData.client
        ? `/api/clients/${this.formData.client.id}/addresses/physical_approval`
        : `/api/clients/${this.project.client_id}/addresses/physical_approval`;
    },

    statusesIndexRoute() {
      return "/api/statuses";
    },

    shouldDisableDivision() {
      return this.formData.client === null;
    },

    shouldDisableBuyer() {
      return this.formData.division === null;
    },

    shouldShowDivisionAccounting() {
      return this.formData.buyer !== null;
    },

    shouldDisablePhysicalApproval() {
      return (
        this.formData.division === null ||
        !this.formData.requires_physical_approval
      );
    },

    shouldDisablePhysicalAddress() {
      return (
        this.formData.client === null ||
        !this.formData.requires_physical_approval
      );
    },

    formattedStatus() {
      return this.statuses.find((s) => s.key === this.project.status);
    },

    newDivisionStyle() {
      return this.formData.client === null
        ? "pointer-events: none !important;"
        : "";
    },

    newContactStyle() {
      return this.formData.client === null || this.formData.division === null
        ? "pointer-events: none !important;"
        : "";
    },

    projectIsChild() {
      return this.project.parent_id !== null;
    },
  },

  methods: {
    fetchClients() {
      let url = "/api/clients";
      axios
        .get(url)
        .then((response) => (this.clients = response.data.data))
        .catch((errors) =>
          console.log(
            "client content component - fetchClients()",
            errors.response
          )
        );
    },

    fetchDivisionBuyers(division) {
      // let url = `/api/division/${division}/contacts/buyer`;
      let url = `/api/divisions/${this.project.division_id}/contacts/buyer`;

      axios
        .get(url)
        .then((response) => {
          this.divisionBuyers = response.data.data;
          this.selectedBuyer = response.data.data.find(
            (buyer) => buyer.id === this.project.buyer
          );
        })
        .catch((errors) =>
          console.log(
            "client content component - fetchDivisionBuyer()",
            errors.response
          )
        );
    },

    fetchDivisionAccountingContacts(division) {
      // let url = `/api/division/${division}/contacts/accounting`;
      let url = `/api/divisions/${this.project.division_id}/contacts/accounting`;
      axios
        .get(url)
        .then((response) => {
          this.divisionAccountingContacts = response.data.data;
          this.selectedAccounting = response.data.data.find(
            (a) => a.id === this.project.accounting
          );
        })
        .catch((errors) =>
          console.log(
            "client content component - fetchDivisionAccountingContacts()",
            errors.response
          )
        );
    },

    fetchPhysicalApprovalContacts(division) {
      // let url = `/api/division/${division}/contacts/physical_approval`;
      let url = `/api/divisions/${this.project.division_id}/contacts/physical_approval`;
      axios
        .get(url)
        .then((response) => {
          this.physicalApprovalContacts = response.data.data;
          this.selectedPhysicalApprovalContact = this.physicalApprovalContacts.find(
            (a) => a.id === this.project.physical
          );
        })
        .catch((errors) =>
          console.log(
            "client content component - fetchDivisionPhysicalApprovalContacts()",
            errors.response
          )
        );
    },

    fetchPhysicalApprovalAddresses(client) {
      // let url = `/api/client/${client}/addresses/physical_approval`;
      let clientId = this.formData.client
        ? this.formData.client.id
        : this.project.client.id;
      let url = `/api/clients/${clientId}/addresses/physical_approval`;

      axios
        .get(url)
        .then((response) => {
          this.physicalApprovalAddresses = response.data.data;
          this.selectedPhysicalAddress = this.physicalApprovalAddresses.find(
            (a) => a.id === this.project.address_id
          );
        })
        .catch((errors) =>
          console.log(
            "client content component - fetchPhysicalApprovalAddresses()",
            errors.response
          )
        );
    },

    submit() {
      this.submitting = true;
      let url = `/api/projects/${this.project.id}/update`;
      axios
        .patch(url, this.formData)
        .then((response) => {
          this.$toasted.show(response.data.message);
          this.submitting = false;
        })
        .catch((error) => {
          console.log("here");
          this.submitting = false;
          this.errors = error.response.data.errors;
          console.log(
            "ClientContent component, submit() method",
            error.response.data.errors
          );
        });
    },

    initializeFormData() {
      // Dont show the default name.
      if (this.project.division.name === this.defaultDivisionName) {
        this.project.division.name = "";
      }

      this.formData = {
        title: this.project.title,
        short_description: this.project.short_description,
        client: this.client,
        division: this.project.division,
        buyer: this.selectedBuyer,
        accounting: this.selectedAccounting,
        requires_pdf_approval: false,
        pdf_approval: null,
        requires_physical_approval: this.project.require_physical,
        physical_approval: this.selectedPhysicalApprovalContact,
        physical_address: this.selectedPhysicalAddress,
        start_date: this.project.startDate,
        end_date: this.project.endDate,
        po_number: this.project.po_number,
        status: this.formattedStatus,
        notes: this.project.notes,
        estimates_end_date: this.project.estimatesEnd,
        choose_estimates_automatically: this.project
          .choose_estimates_automatically,
      };
    },

    updateClient(payload) {
      this.clearError("client");
      this.formData.client = payload;
      this.formData.division = null;
      this.formData.buyer = null;
      this.formData.accounting = null;

      this.$refs["contact-accounting-role"].model = null;
      this.formData.physical_approval = null;

      this.$refs["physical_approval-client-content"].model = null;
      this.formData.physical_address = null;
    },

    updateDivision(payload) {
      this.clearError("division");
      this.formData.division = payload;
      console.log(this.formData.client.divisions);
      this.formData.buyer = null;
      this.formData.accounting = null;

      this.$refs["contact-accounting-role"].model = null;
      this.formData.physical_approval = null;

      this.$refs["physical_approval-client-content"].model = null;
      this.updatePhysicalAddress(null);
    },

    updateBuyer(payload) {
      this.clearError("buyer");
      this.formData.buyer = payload;
    },

    updateAccounting(payload) {
      this.formData.accounting = payload;
      this.clearError("accounting");
    },

    updatePhysicalApproval(payload) {
      this.formData.physical_approval = payload;
      this.$refs["physical_approval-client-content"].model = null;
      this.clearError("physical_approval");
    },

    updatePhysicalAddress(payload) {
      this.formData.physical_address = payload;
      this.clearError("physical_address");
    },

    updateStatus(payload) {
      this.clearError("status");
      this.formData.status = payload;
    },

    updateStatus(payload) {
      this.clearError("status");
      this.formData.status = payload;
    },

    isInvalid(attribute) {
      return this.errors.hasOwnProperty(attribute);
    },

    errorMessage(attribute) {
      if (this.errors[attribute]) {
        return this.errors[attribute][0];
      }
    },

    clearError(field) {
      delete this.errors[field];
    },

    open(form) {
      EventBus.$emit("open-sidebar", form);
    },
  },
};
</script>

<style lang="scss" scoped>
.custom-checkbox-big {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
  display: inline-block;
  vertical-align: middle;
  background-origin: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  flex-shrink: 0;
  height: 1.5em;
  width: 1.5em;
  color: #61d824;
  border: 4px solid #ffff !important;
  background-color: #a50f10;
  border-radius: 1rem;
  margin-top: 0;
  cursor: pointer;
  padding: 1.3rem !important;
  outline: none;
}

.custom-checkbox-big:checked {
  border: 4px solid #ffff !important;
  background-color: currentColor;
  background-size: 100% 100%;
  width: 30px;
  height: 30px;
}
</style>
