<template>
  <div id="fournisseurs_content" :class="{ active: isActive }">
    <div v-if="loading">
      <carte-loading-placeholder />
    </div>
    <div v-else>
      <div v-if="data.length > 0">

        <div v-for="i in data" :key="`${i.key}`">
          <!-- <fournisseurs-content-single-item
            :data="item"
            :project="project"
            @toggle-dropdown="toggleItemDropdown"
          ></fournisseurs-content-single-item> -->
          <single-item-estimates :data="i" :project="project" @toggle-dropdown="toggleItemDropdown" />
        </div>
      </div>
      <div v-else>No suppliers chosen yet.</div>
    </div>
  </div>
</template>

<script>
import SingleItemEstimates from "./FournisseursContentPartials/SingleItemEstimates.vue";
import CarteLoadingPlaceholder from "../../../Layouts/CarteLoadingPlaceholder.vue";

export default {
  name: "FournisseursContent",

  components: {
    SingleItemEstimates,
    CarteLoadingPlaceholder,
  },

  props: {
    isActive: {
      type: Boolean,
      default: false,
    },

    project: {
      type: Object,
      default: null,
    },
  },

  data() {
    return {
      data: [],
      loading: false,
    };
  },

  mounted() {
    this.initializeComponent();
  },

  computed: {
    fetchSubmissionsUrl() {
      return `/api/projects/${this.project.id}/submissions`;
    },
  },

  methods: {
    initializeComponent() {
      this.fetchSubmissions();
    },

    fetchSubmissions() {
      this.loading = true;
      axios
        .get(this.fetchSubmissionsUrl)
        .then((response) => {
          this.loading = false;
          this.data = response.data.data;
        })
        .catch((error) => {
          this.loading = false;
          console.log(error.response.data.errors);
        });
    },

    toggleItemDropdown(id) {
      document
        .getElementById(`fournisseur-item-${id}`)
        .classList.toggle("block");

      let dropdownIcon = document.getElementById(`fournisseur-tab-icon-${id}`);
      dropdownIcon.classList.toggle("la-chevron-circle-down");
      dropdownIcon.classList.toggle("la-chevron-circle-up");
      dropdownIcon.classList.toggle("text-success");
    },
  },
};
</script>
