<template>
  <div :class="{ active: isActive }">
    <!-- Item content -->
    <no-items-found v-if="items.data === undefined || items.data.length == 0" />
    <div v-for="(item, index) in items.data" :key="item.id">
      <single-item-new
        :data="item"
        :items="items.data"
        :has_more_than_one_item="items.data.length > 1"
        :project="data"
        :key="item.id"
        :client="client"
        :index="index"
        :errors="errors"
        @toggle-dropdown="toggleItemDropdown"
        @quantitiesUpdated="handleQuantityUpdates"
        @suppliersUpdated="handleSupplierUpdates"
        @addressUpdated="handleAddressUpdates"
        @contactUpdated="handleContactUpdates"
        @item-deleted="handleItemDeleted"
        @duplicate="handleDuplicate"
      />
    </div>
    <div class="d-flex align-content-center justify-content-between">
      <button :class="greenBtn" @click="newItem">
        <i class="las la-plus-circle"></i>
        NOUVEL ITEM
      </button>
      <div>
        <button :class="greenBtn" @click="persist((notifySuppliers = false))">
          <i class="las la-check-circle"></i>
          SAUVEGARDER
        </button>
        <button
          :class="greenBtn"
          :disabled="loading"
          @click="persist((notifySuppliers = true))"
        >
          <div
            class="d-flex justify-content-center align-items-center space-x-2"
            v-if="loading"
          >
            <span class="loader"></span>
            <span>SENDING EMAILS</span>
          </div>
          <div v-else>
            <i class="las la-paper-plane"></i>
            <span>ENVOYER AUX FOURNISSEURS</span>
          </div>
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import NoItemsFound from "./ItemContentPartials/NoItemsFound";
import SingleItemNew from "./ItemContentPartials/SingleItemNew";

export default {
  name: "ItemContent",

  components: {
    SingleItemNew,
    NoItemsFound,
  },

  props: {
    isActive: {
      type: Boolean,
      default: false,
    },

    client: {
      type: Object,
      default: null,
    },

    project: {
      type: Object,
      default: null,
    },
  },

  computed: {
    greenBtn() {
      return "btn btn-green d-inline-flex justify-content-center align-items-center";
    },
  },

  data() {
    return {
      value: null,
      data: this.project,
      items: [],
      oldItems: [],
      itemOpen: null,
      newItemMould: {},
      errors: {},
      isChanged: false,
      loading: false,
    };
  },

  watch: {
    items: {
      // This will let Vue know to look inside the array
      deep: true,

      handler() {
        return JSON.stringify(this.items) !== this.oldItems
          ? (this.isChanged = true)
          : (this.isChanged = false);
      },
    },
  },

  mounted() {
    this.fetchItems();
  },

  methods: {
    toggleItemDropdown(id) {
      document.getElementById(`content-${id}`).classList.toggle("block");
      let dropdownIcon = document.getElementById(`icon-${id}`);
      dropdownIcon.classList.toggle("la-chevron-circle-down");
      dropdownIcon.classList.toggle("la-chevron-circle-up");
      dropdownIcon.classList.toggle("text-success");
    },

    fetchItems() {
      let url = `/api/projects/${this.data.id}/items`;
      axios
        .get(url)
        .then((response) => {
          this.items = response.data;
          this.oldItems = JSON.stringify(this.items);
          this.$emit("items-updated", this.items);
        })
        .catch((errors) => console.log("ItemContent.vue fetchItems()", errors));
    },

    persist(notifySuppliers) {
      this.loading = true;
      let url = `/api/projects/${this.data.id}/items`;

      axios
        .post(url, {
          items: this.items.data,
          notifySuppliers: notifySuppliers,
        })
        .then((response) => {
          this.$toasted.show(response.data.message);
          this.loading = false;
          this.fetchItems();
        })
        .catch((error) => {
          this.errors = error.response.data.errors;
          this.loading = false;
        });
    },

    newItem() {
      let emptyItem = {
        deliveryAddress: {},
        deliveryContact: {},
        delivery_deadline: "",
        description: "",
        id: Math.floor(Math.random() * Date.now()),
        hash_id: Math.floor(Math.random() * Date.now()),
        name: "ITEM" + Math.floor(Math.random() * Date.now()),
        options: [],
        option_groups: [],
        project_id: this.project.id,
        quantities: [],
        suppliers: [],
        is_linked: false,
        parent_item_id: null,
        parent_item_hash_id: null,
        parent_item: null,
        linked_items: [],
      };

      this.items.data.push(emptyItem);

      let vm = this;
      Vue.nextTick(function () {
        vm.toggleItemDropdown(emptyItem.id);
      });
    },

    handleItemDeleted(item) {
      if (item.linked_items && item.linked_items.length > 0) {
        this.$swal
          .fire({
            title: "Are you sure?",
            text:
              "Vous essayez de supprimer un élément parent. Tous les éléments qui y sont liés seront également supprimés.",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#49a610",
            cancelButtonColor: "#353841",
            confirmButtonText: "Yes, delete it!",
            reverseButtons: true,
          })
          .then((result) => {
            if (result.isConfirmed) {
              let obj = this.findById(item.id);
              let index = this.items.data.indexOf(obj);
              this.items.data.splice(index, 1);
            }
          });
        return;
      }

      let obj = this.findById(item.id);
      let index = this.items.data.indexOf(obj);

      return this.items.data.splice(index, 1);
    },

    handleQuantityUpdates(payload) {
      let obj = this.findById(payload.id);
      obj.quantities = payload.quantities;
    },

    handleSupplierUpdates(payload) {
      let obj = this.findById(payload.id);
      obj.suppliers = payload.suppliers;
    },

    handleAddressUpdates(payload) {
      let obj = this.findById(payload.id);
      obj.deliveryAddress = payload.address;
    },

    handleContactUpdates(payload) {
      let obj = this.findById(payload.id);
      obj.deliveryContact = payload.contact;
    },

    handleDuplicate(payload) {
      let emptyItem = {
        deliveryAddress: payload.deliveryAddress,
        deliveryContact: payload.deliveryContact,
        delivery_deadline: payload.delivery_deadline,
        description: payload.description,
        id: Math.floor(Math.random() * Date.now()),
        hash_id: Math.floor(Math.random() * Date.now()),
        name: payload.name + ` (duplicate)`,
        options: payload.options,
        option_groups: payload.option_groups,
        project_id: this.project.id,
        quantities: payload.quantities,
        suppliers: payload.suppliers,
        is_linked: false,
        parent_item_id: null,
        parent_item_hash_id: null,
        parent_item: null,
        linked_items: [],
      };

      this.items.data.push(emptyItem);
    },

    findById(element) {
      return this.items.data.find((item) => item.id === element);
    },
  },
};
</script>

<style lang="scss">
.multiselect__tags {
  min-height: 40px;
  display: block;
  border: 1px solid #e8e8e8;
  background: #fff;
  padding: 1rem;
  padding-bottom: 0.5rem;
  font-size: 16px;
  border-radius: 1.5rem;
}

.multiselect__placeholder {
  margin-bottom: 0 !important;
  padding-top: 0 !important;
}

.multiselect__option--highlight {
  background: #59db00;
  outline: none;
  color: #fff;
}

.multiselect__option--highlight:after {
  content: attr(data-select);
  background: #59db00;
  color: #fff;
}

.multiselect__input,
.multiselect__single {
  margin-bottom: 0 !important;
  padding: 0 !important;
}

.multiselect__select {
  z-index: 49 !important;
  right: 8px;
  top: 8px;
}

.multiselect__tag {
  line-height: 1;
  background: #59db00;
  margin-bottom: -5px !important;
  margin-top: -6px;
  padding: 8px 27px 5px 10px !important;
  border-radius: 1rem;
}

.multiselect__tag-icon {
  padding-top: 4px;
}

.multiselect__content-wrapper {
  border-bottom-left-radius: 1.5rem !important;
  border-bottom-right-radius: 1.5rem !important;
}
</style>
