<template>
  <div id="facturation_content" :class="{ active: isActive }">
    <!-- facturation item -->
    <div v-if="loading">
      <carte-loading-placeholder />
    </div>
    <div v-else>
      <div v-if="!data.line_items || data.line_items.length === 0">
          No line items created.
      </div>

      <div v-else>
        <div v-for="(item, index) in data.line_items" :key="item.id">
          <InvoiceLineItem
            :data="item"
            :index="index"
            :errors="errors"
            :project="project"
            @toggle-dropdown="toggleItemDropdown"
            @item-deleted="handleItemDeleted"
          />
        </div>

        <ProjectManagementFee
          :data="data.project_management"
          :project="project"
          :errors="errors"
          @toggle-dropdown="toggleItemDropdown"
        />
        <!-- end fourth facturation item -->
        <div id="invoice-footer" class="d-flex justify-content-between">
          <!-- left side of facturation footer -->

          <div
            class="d-flex align-content-center justify-content-start space-x-2 w-60percent"
            style="margin-left: -1rem; max-height: 50px"
          >
            <button
              id="facturation-save"
              @click.prevent="submit()"
              :disabled="submitting"
              class="btn btn-green d-inline-flex justify-content-center align-items-center"
            >
              <div
                class="d-flex justify-content-center align-items-center space-x-2"
                v-if="updatingInvoice"
              >
                <span class="loader"></span>
                <span>SOUMISSION</span>
              </div>
              <div
                v-else
                class="d-flex justify-content-center align-items-center space-x-2"
              >
                <i class="las la-check-circle"></i> <span>SAUVEGARDER</span>
              </div>
            </button>
            <button
              id="facturation-new-item"
              @click.prevent="addCustomItem"
              :disabled="submitting"
              class="btn btn-green d-inline-flex justify-content-center align-items-center"
            >
              <i class="las la-plus-circle"></i> <span>NOUVEL ITEM</span>
            </button>
            <button
              id="facturation-notify-client"
              @click.prevent="submit(requestClientApproval = true)"
              :disabled="submitting"
              class="btn btn-green d-inline-flex justify-content-center align-items-center"
            >
              <div
                class="d-flex justify-content-between align-items-center space-x-2"
                v-if="notifyingClient"
              >
                <span class="loader"></span>
                <span>ENVOYER POUR APPROBATION</span>
              </div>
              <div
                v-else
                class="d-flex justify-content-between align-items-center space-x-2"
              >
                <i class="las la-paper-plane"></i>
                <span>ENVOYER POUR APPROBATION</span>
              </div>
            </button>
            <button
              id="facturation-pdf-version"
              @click.prevent="pdf_version"
              :disabled="submitting"
              class="btn btn-green d-inline-flex justify-content-center align-items-center"
            >
              <i class="las la-file-pdf"></i> <span>VERSION PDF</span>
            </button>
          </div>
          <!-- end left side of facturation footer -->

          <!-- right side of facturation footer -->
          <div class="text-xl">
            <div class="d-flex justify-content-between">
              <div>SOUS-TOTAL:</div>
              <div class="text-right pl-8">{{ formattedSubTotal }}</div>
            </div>
            <div class="d-flex justify-content-between pt-4">
              <div>TPS:</div>
              <div class="text-right pl-8">{{ tps_amount }}$</div>
            </div>
            <div class="d-flex justify-content-between">
              <div>TVQ:</div>
              <div class="text-right pl-8">{{ tvq_amount }}$</div>
            </div>
            <div class="d-flex justify-content-between pt-4 text-2xl font-medium">
              <div>TOTAL:</div>
              <div class="text-right pl-8">{{ formattedTotalAmount }}$</div>
            </div>
            <div class="d-flex justify-content-between pt-4">
              <div>BÉNÉFICE:</div>
              <div class="text-right pl-8">{{ formattedTotalProfit }}$</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import CarteLoadingPlaceholder from "../../../Layouts/CarteLoadingPlaceholder.vue";
import InvoiceLineItem from "./SoumissionContentPartialsNew/InvoiceLineItem.vue";
import ProjectManagementFee from "./SoumissionContentPartialsNew/ProjectManagementFee.vue";
import _ from "lodash";

export default {
  name: "SoumissionContentNew",

  components: {
    CarteLoadingPlaceholder,
    InvoiceLineItem,
    ProjectManagementFee,
  },

  props: {
    isActive: {
      type: Boolean,
      default: false,
    },

    project: {
      type: Object,
      default: null,
    },
  },

  data() {
    return {
      data: [],
      errors: {},
      loading: false,
      submitting: false,
      updatingInvoice: false,
      notifyingClient: false,
    };
  },

  created() {
    // AdminSoumissionController
    this.initializeComponent();
  },

  computed: {
    fetchPREInvoiceUrl() {
      return `/api/projects/${this.project.id}/pre-invoice`;
    },

    updatePreInvoiceUrl() {
      // ProjectInvoiceController@update
      return `/api/projects/${this.project.id}/invoice/${this.data.id}/update`;
    },

    approvedPrices() {
      return _.sum(
        this.data.line_items.map((i) => _.toNumber(i.approved_price))
      );
    },

    adminProfits() {
      return _.sum(this.data.line_items.map((i) => _.toNumber(i.admin_profit)));
    },

    tps_rate() {
      return _.toNumber(this.data.tps_tax_rate);
    },

    tvq_rate() {
      return _.toNumber(this.data.tvq_tax_rate);
    },

    project_management_fee() {
      return _.toNumber(this.data.project_management.fee);
    },

    formattedSubTotal() {
      return parseFloat(
        this.approvedPrices + this.adminProfits + this.project_management_fee
      ).toFixed(2);
    },

    tps_amount() {
      return parseFloat(this.formattedSubTotal * this.tps_rate).toFixed(2);
    },

    tvq_amount() {
      return parseFloat(this.formattedSubTotal * this.tvq_rate).toFixed(2);
    },

    formattedTotalProfit() {
      return parseFloat(
        this.adminProfits + this.project_management_fee
      ).toFixed(2);
    },

    taxes() {
      return parseFloat(this.tps_amount) + parseFloat(this.tvq_amount);
    },

    formattedTotalAmount() {
      // sum of approved_prices, admin profits, and project management fee, + tax on that sum.
      return parseFloat(
        parseFloat(this.formattedSubTotal) + this.taxes
      ).toFixed(2);
    },
  },

  methods: {
    initializeComponent() {
      this.fetchPreInvoice();
    },

    fetchPreInvoice() {
      this.loading = true;

      axios
        .get(this.fetchPREInvoiceUrl)
        .then((response) => {
          this.data = response.data.data;
          this.loading = false;
        })
        .catch((error) => {
          this.loading = false;
          console.log(error.response.data.errors);
        });
    },

    submit(requestClientApproval = false) {
      this.submitting = true;

      if (requestClientApproval) {
        this.notifyingClient = true;
      } else {
        this.updatingInvoice = true;
      }
      const invoiceData = this.data;

      axios
        .post(this.updatePreInvoiceUrl, {
          invoice: invoiceData,
          sendForClientApproval: requestClientApproval
        })
        .then((response) => {
          this.submitting = false;
          this.updatingInvoice = false;
          this.notifyingClient = false;
          this.$toasted.show(response.data.message);
        })
        .catch((error) => {
          this.submitting = false;
          this.updatingInvoice = false;
          this.notifyingClient = false;
          if (error && error.response && error.response.status == 422) {
            this.$toasted.show(
              "Veuillez corriger les erreurs et remplir tous les champs obligatoires."
            );
            this.errors = error.response.data.errors;
          } else {
            this.$toasted.show("An unknown error occured.");
            console.log(
              "client-interface/Projects/RequestSubmissions/RequestSubmissions component, submit() method",
              error.response.data.errors
            );
          }
        });
    },

    addCustomItem() {
      const customItem = {
        admin_profit: "0.00",
        approved_price: "0.00",
        cost_price: "0.00",
        custom_made: true,
        customer_price: "0.00",
        delivery_date: null,
        description: "",
        title: "CUSTOM_ITEM" + Math.floor(Math.random() * Date.now()),
        id: Math.floor(Math.random() * Date.now()),
        invoice_id: this.data.id,
        project_id: this.data.project_id,
        profit_type: {
          key: "fixed_amount",
          name: "Montant fixe",
        },
        profit_types: this.data.line_items[0].profit_types,
        quantity: 1,
        supplier_id: null,
        supplier: {
          id: null,
          name: null,
        },
      };

      this.data.line_items.push(customItem);
    },

    handleItemDeleted(item) {
      let obj = this.findById(item.id);
      let index = this.data.line_items.indexOf(obj);

      return this.data.line_items.splice(index, 1);
    },

    findById(element) {
      return this.data.line_items.find((item) => item.id === element);
    },

    notifyClient() {
      this.submitting = true;
      this.notifyingClient = true;
      // ProjectPreInvoiceNotifyClientController
      const notifyClientUrl = `/api/projects/${this.data.project_id}/pre-invoice/${this.data.id}/notify-client`;
      axios
        .post(notifyClientUrl)
        .then((response) => {
          this.submitting = false;
          this.notifyingClient = false;
          this.$toasted.show(response.data.message);
        })
        .catch((error) => {
          this.submitting = false;
          this.notifyingClient = false;
          if (error && error.response) {
            this.$toasted.show("An unknown error occured.");
          } else {
            this.$toasted.show("An unknown error occured.");
            console.log(
              "admin-interface/Projects/SubmissionContentNew component, notifyClient() method",
              error.response.data.errors
            );
          }
        });
    },

    pdf_version() {
      let win = window.open(`/invoices/${this.data.unique_code}`, '_blank');
      win.focus();
    },

    toggleItemDropdown(id) {
      document
        .getElementById(`invoice-line-item-${id}`)
        .classList.toggle("block");

      let dropdownIcon = document.getElementById(
        `invoice-line-item-icon-${id}`
      );
      dropdownIcon.classList.toggle("la-chevron-circle-down");
      dropdownIcon.classList.toggle("la-chevron-circle-up");
      dropdownIcon.classList.toggle("text-success");
    },
  },
};
</script>

<style lang="scss" scoped>
</style>
