<template>
  <div
    class="header_content_option d-inline-flex justify-content-start align-items-center"
  >
    <i class="las la-user-alt"></i>
    <p class="option_title">Client :</p>
    <div class="dropdown">
      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        id="header_option_statut"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
        @click="handleOpen"
      >
        {{ value.name }}<i class="las la-angle-down"></i>
      </button>
      <div class="dropdown-menu" aria-labelledby="header_option_statut">
        <input
          ref="search"
          v-model="search"
          class="search-input p-2 pl-4"
          type="text"
          placeholder="Rechercher"
        />
        <div class="dropdown-divider mb-0"></div>
        <div
          v-show="filteredOptions.length > 0"
          class="search-select-options p-0"
        >
          <a
            v-for="option in filteredOptions"
            :key="option.id"
            :id="`selected-item-${option.id}`"
            class="dropdown-item"
            :class="{ active: value.id === option.id }"
            href="#"
            @click.prevent="select(option)"
          >
            {{ option.name }}
          </a>
        </div>
        <div v-show="filteredOptions.length === 0" class="py-2">
          <span class="dropdown-item disabled">Aucun résultat trouvé.</span>
        </div>
        <div class="dropdown-divider mt-0"></div>
        <a
          class="dropdown-item"
          :class="{ disabled: value.name === 'Tous' }"
          href="#"
          @click.prevent="select({ id: 'tous', name: 'Tous' })"
          >Tous</a
        >
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["options", "value"],

  data() {
    return {
      search: "",
    };
  },

  computed: {
    filteredOptions() {
      return this.options.filter((option) => {
        return option.name.toLowerCase().includes(this.search.toLowerCase());
      });
    },
  },

  methods: {
    select: function (option) {
      this.search = "";
      this.$emit("input", option);
    },

    handleOpen(e) {
      setTimeout(() => {
        this.$refs.search.focus();
        document
          .getElementById(`selected-item-${this.value.id}`)
          .scrollIntoView();
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.search-input {
  width: 100%;
  outline: none;
  border: none;
}

.dropdown-item:focus {
  background-color: #49a610;
}

.dropdown-item:active {
  background-color: #49a610;
}

.active {
  background-color: #49a610;
  pointer-events: none;
}

.search-select-options {
  overflow-y: auto;
  overflow-x: hidden;
  min-width: 14rem;
  max-height: 14rem;
}
</style>