<template>
  <div>
    <div class="container-fluid">
      <section id="header_content" class="row">
        <div class="col-8 d-flex justify-content-start align-items-center">
          <!-- A - Z -->
          <div
            class="header_content_option d-inline-flex justify-content-start align-items-center"
          >
            <i class="las la-filter"></i>
            <p class="option_title">Afficher :</p>
            <div class="dropdown">
              <button
                class="btn btn-secondary dropdown-toggle"
                type="button"
                id="header_option_afficher"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                {{ nameFilterLabel }}<i class="las la-angle-down"></i>
              </button>
              <div
                class="dropdown-menu"
                aria-labelledby="header_option_afficher"
              >
                <a
                  @click.prevent="
                    filter({ param: 'name', value: 'asc' }, 'A-Z')
                  "
                  class="dropdown-item"
                  :class="{ disabled: nameFilterLabel === 'A-Z' }"
                  href="#"
                  >A-Z</a
                >
                <a
                  @click.prevent="
                    filter({ param: 'name', value: 'desc' }, 'Z-A')
                  "
                  class="dropdown-item"
                  :class="{ disabled: nameFilterLabel === 'Z-A' }"
                  href="#"
                  >Z-A</a
                >
              </div>
            </div>
          </div>
          <!-- End A - Z -->

          <!-- /.header_content_option -->
          <div
            v-if="
              showStatusFilter &&
              (current_user.role === 'admin' || current_user.role === 'client')
            "
            class="header_content_option d-inline-flex justify-content-start align-items-center"
          >
            <i class="las la-info-circle"></i>
            <p class="option_title">Statut :</p>
            <div class="dropdown">
              <button
                class="btn btn-secondary dropdown-toggle"
                type="button"
                id="header_option_statut"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                {{ statusFilterLabel }}<i class="las la-angle-down"></i>
              </button>
              <div class="dropdown-menu" aria-labelledby="header_option_statut">
                <a
                  v-for="{ key, short_label } in statuses"
                  :key="key"
                  class="dropdown-item"
                  :class="{ disabled: statusFilterLabel === short_label }"
                  @click.prevent="
                    filter({ param: 'status', value: key }, short_label)
                  "
                  href="#"
                  >{{ short_label }}</a
                >
                <div class="dropdown-divider"></div>
                <a
                  @click="
                    filter(
                      { param: 'status', value: 'tous' },
                      'Tous' /** label */
                    )
                  "
                  class="dropdown-item"
                  :class="{ disabled: statusFilterLabel === 'Tous' }"
                  href="#"
                  >Tous</a
                >
              </div>
            </div>
          </div>

          <!-- Date -->
          <div
            v-if="showDateFilter"
            class="header_content_option d-inline-flex justify-content-start align-items-center"
          >
            <i class="las la-calendar"></i>
            <p class="option_title">Date :</p>
            <div class="dropdown">
              <button
                class="btn btn-secondary dropdown-toggle"
                type="button"
                id="header_option_statut"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                {{ monthFilterLabel }}<i class="las la-angle-down"></i>
              </button>
              <div class="dropdown-menu" aria-labelledby="header_option_statut">
                <a
                  @click.prevent="
                    filter(
                      { param: 'month', value: 'current' },
                      'Ce mois-ci' /** label */
                    )
                  "
                  data-name="current-month"
                  class="dropdown-item"
                  :class="{ disabled: monthFilterLabel === 'Ce mois-ci' }"
                  href="#"
                  >Ce mois-ci</a
                >
                <a
                  @click="
                    filter(
                      { param: 'month', value: 'previous' },
                      'Mois précédent' /** label */
                    )
                  "
                  data-name="previous-month"
                  class="dropdown-item"
                  :class="{ disabled: monthFilterLabel === 'Mois précédent' }"
                  href="#"
                  >Mois précédent</a
                >
                <a
                  @click="
                    filter(
                      { param: 'month', value: 'lastThree' },
                      'Les trois derniers mois' /** label */
                    )
                  "
                  data-name="last-three-months"
                  class="dropdown-item"
                  :class="{
                    disabled: monthFilterLabel === 'Les trois derniers mois',
                  }"
                  href="#"
                  >Les trois derniers mois</a
                >
                <div class="dropdown-divider"></div>
                <a
                  @click="
                    filter(
                      { param: 'month', value: 'all' },
                      'Tous' /** label */
                    )
                  "
                  class="dropdown-item"
                  :class="{ disabled: monthFilterLabel === 'Tous' }"
                  href="#"
                  >Tous</a
                >
              </div>
            </div>
          </div>
          <!-- Date -->

          <!-- /.header_content_option -->
          <!-- Client -->
          <custom-search-select
            v-if="showClientFilter && current_user.role === 'admin'"
            :options="clients"
            v-model="client"
          >
          </custom-search-select>
          <!-- Client -->
          <!-- /.header_content_option -->
          <!-- @endif -->
        </div>

        <!-- Quick Search -->
        <div class="col-4">
          <div id="wrap_header_content_search" class="input-group">
            <input
              id="header_content_search"
              type="text"
              class="form-control col-12"
              placeholder="Recherche rapide ..."
              @input="$emit('quick-search', $event.target.value)"
            />
            <div class="input-group-append">
              <button
                class="btn btn-outline-secondary"
                type="button"
                id="header_content_search_button_addon"
              >
                <i class="las la-search"></i>
              </button>
            </div>
          </div>
        </div>
        <!-- End Quick Search -->
      </section>
    </div>
  </div>
</template>

<script>
import CustomSearchSelect from "./CustomSearchSelect.vue";

export default {
  name: "HeaderComponent",

  components: {
    CustomSearchSelect,
  },

  props: {
    quickSearchUrl: {
      type: String,
      default: "/",
    },

    showStatusFilter: {
      type: Boolean,
      default: true,
    },

    showDateFilter: {
      type: Boolean,
      default: true,
    },

    showClientFilter: {
      type: Boolean,
      default: true,
    },
  },

  data() {
    // @TODO Refactor, move filters to objects, and make it data driven component.
    // A nice exercise.
    return {
      nameFilterLabel: "A-Z",
      monthFilterLabel: "Ce mois-ci",
      statusFilterLabel: "Tous",
      clientDefaultFilter: "Tous",
      search: "",
      queryParams: null,
      client: {
        id: "",
        name: "Tous",
      },
      clients: [],
      statuses: [],
    };
  },

  watch: {
    client(newValue, oldValue) {
      this.$emit("filter", {
        param: "client",
        value: newValue.id,
      });
    },
  },

  mounted() {
    if (this.shouldShowClients) {
      this.fetchClients();
    }

    if (this.shouldShowStatuses) {
      this.fetchStatuses();
    }
  },

  computed: {
    shouldShowClients() {
      return this.showClientFilter && current_user.role === "admin";
    },
    shouldShowStatuses() {
      return (
        this.showStatusFilter &&
        (current_user.role === "admin" || current_user.role === "client")
      );
    },
  },

  methods: {
    filter({ param, value }, label) {
      this[`${param}FilterLabel`] = label;

      this.$emit("filter", {
        param: param,
        value: value,
      });
    },

    fetchClients() {
      axios
        .get("/api/clients")
        .then((response) => (this.clients = response.data.data));
    },

    fetchStatuses() {
      axios
        .get("/api/statuses")
        .then((response) => (this.statuses = response.data.data));
    },
  },
};
</script>

<style lang="scss" scoped>
</style>