<template>
    <default-field :errors="errors" :field="field" :full-width-content="true">
        <template slot="field">
            <div class="flex">
                <multiselect
                    :deselectLabel="deselectLabel"
                    :multiple="true"
                    :options="options"
                    :placeholder="placeholder"
                    :selectLabel="selectLabel"
                    :selected="selected"
                    :showNoResults="true"
                    @open="fetchSuppliers"
                    label="name"
                    openDirection="below"
                    track-by="id"
                    v-model="suppliers"
                >
                    <span slot="noResult" v-text="noResults"></span>
                </multiselect>

                <button
                    v-if="field.createSupplierButton"
                    @click.prevent="openCreateSupplierTab"
                    :class="newSupplierBtnClasses"
                    v-text="field.createSupplierButton.title">
                </button>
            </div>
        </template>
    </default-field>
</template>

<script>
    import {FormField, HandlesValidationErrors} from "laravel-nova";
    import Multiselect from "vue-multiselect";

    export default {
        mixins: [FormField, HandlesValidationErrors],

        props: ["resourceName", "resourceId", "field"],

        components: {
            Multiselect
        },

        data() {
            return {
                suppliers: [],
                options: [],
                suppliersRoute: `/api/suppliers`,
            };
        },

        watch: {
            suppliers() {
                this.value = JSON.stringify(this.suppliers);
            }
        },

        computed: {
            placeholder() {
                return this.__("Type to search for supplier");
            },

            selectLabel() {
                return this.__("Press enter to select");
            },

            selected() {
                return this.__("Selected");
            },

            deselectLabel() {
                return this.__("Press enter to remove supplier");
            },

            noResults() {
                return this.__("No suppliers found. Consider changing the search query.");
            },

            newSupplierBtnClasses() {
                return `btn btn-default btn-white
                        btn-sm bg-30 hover:bg-50
                        inline-flex items-center
                        whitespace-no-wrap ml-2
                        text-xs text-90`;
            }
        },

        mounted() {
            this.initializeField();
        },

        methods: {
            /*
             * Set the initial, internal value for the field.
             */
            setInitialValue() {
                this.value = this.field.value || "";
            },

            /**
             * Fill the given FormData object with the field's internal value.
             */
            fill(formData) {
                formData.append(this.field.attribute, this.value || "");
            },

            /**
             * Update the field's internal value.
             */
            handleChange(value) {
                this.value = value;
            },

            /**
             * Update the field's internal value.
             */
            initializeField() {
                if (this.field.value) {
                    this.suppliers = JSON.parse(this.field.value);
                }

                this.fetchSuppliers();
            },

            /**
             * Get the suppliers.
             */
            fetchSuppliers() {
                Nova.request()
                    .get(this.suppliersRoute)
                    .then(response => {
                        this.options = response.data;
                    });
            },

            /**
             * Open the new tab for supplier creation.
             */
            openCreateSupplierTab() {
                const newTab = window.open(this.field.createSupplierButton.path, '_blank');
                newTab.focus();
            }
        }
    };
</script>
