<template>
  <div class="col-12">
    <!-- Select row -->
    <div
      class="col-12 d-flex align-items-center justify-content-center space-x-2"
      style="margin-left: -1rem !important"
    >
      <multiselect
        v-model="value"
        :options="items"
        :multiple="false"
        open-direction="bottom"
        track-by="id"
        label="label"
        :placeholder="placeholder"
        :selectLabel="selectLabel"
        :selected="selected"
        :allow-empty="false"
        :deselectLabel="deselectLabel"
        @input="change"
        @open="initializeField()"
      ></multiselect>
      <button
        :disabled="shouldAddingBeDisabled"
        class="btn btn-green d-inline-flex justify-content-center align-items-center py-2"
        @click="addOption"
      >
        <i class="las la-plus-circle"></i>
        AJOUTER
      </button>
      <button
        class="btn btn-green d-inline-flex justify-content-center align-items-center py-2"
        @click="removeGroup()"
        style="margin-right: -2rem; background-color: #A50F0F;"
      >
        <i class="las la-minus-circle"></i>
        Groupe
      </button>
    </div>
    <!-- End Select row -->

    <!-- Display input -->
    <div
      style="
        min-height: 40px;
        display: block;
        border: 1px solid #e8e8e8;
        background: #fff;
        padding: 2rem;
        font-size: 16px;
        border-radius: 1.5rem;
        margin-right: -1rem;
      "
      v-if="options && options.length > 0"
      class="mt-2 space-y-2"
    >
      <div class="item-options" v-for="(option, index) in options" :key="index">
        <option-container
          :key="index"
          :data="option"
          @optionDeleted="removeOption"
        ></option-container>
      </div>
    </div>
    <!-- End display input -->
  </div>
</template>

<script>
import OptionContainer from "./options-partials/OptionContainer";

export default {
  name: "MultiselectOptions",

  props: {
    options: {
      type: Array,
      default: [],
    },

    model: {
      type: Object,
      default: null,
    },

    group_id: {
      type: Number,
      default: null,
    },
  },

  components: {
    OptionContainer,
  },

  data() {
    return {
      value: this.model,
      items: [],
    };
  },

  mounted() {
    this.initializeField();
  },

  computed: {
    placeholder() {
      return "Add Option";
    },

    selectLabel() {
      return "Press enter to select";
    },

    selected() {
      return "Selected";
    },

    deselectLabel() {
      return "";
    },

    tagPlaceholder() {
      return "Press enter to add tag";
    },

    shouldAddingBeDisabled() {
      return (
        this.value == null || JSON.stringify(this.value) === JSON.stringify({})
      );
    },
  },

  methods: {
    initializeField() {
      let url = "/api/options";
      axios
        .get(url)
        .then((response) => {
          this.items = response.data;
        })
        .catch((errors) =>
          console.log("MultiselectOptions initializeField()", errors)
        );
    },

    change(option) {
      this.value = option;
    },

    addOption() {
      // Create new option from the "mould" option
      let newObject = {};

      Object.assign(newObject, this.value);

      if (newObject.type === "checkbox") {
        newObject.choices.forEach((choice) => delete choice.checked);
      }

      // Assign a unique code to the option
      newObject.unique_code =
        newObject.label.substring(0, 2) +
        Math.floor(Math.random() * Date.now());

      // Push it to options
      this.options.push(newObject);
    },

    removeOption(payload) {
      let item = this.options.find(
        (option) => option.unique_code === payload.unique_code
      );

      let index = this.options.indexOf(item);

      return this.options.splice(index, 1);
    },

    removeGroup() {
      this.$emit('remove_group', this.group_id);
    }
  },
};
</script>

<style lang="scss" scoped>
.item-options:first-child {
  border-top: none;
  padding-top: 0;
}

.item-options {
  padding-top: 1.75rem;
  border-top: 1px solid #e8e8e8;
}
</style>