<template>
  <transition name="fade">
    <div :class="{ active: isActive }" v-show="isActive">
      <div id="client_content" v-if="loaded">
        <!-- Title -->
        <div class="form-group row">
          <label
            for="input-titre_projet"
            class="col-2 col-form-label d-flex justify-content-start align-items-center"
          >
            Titre du projet
            <span>*</span>
          </label>
          <div class="col-9">
            <div class="input-group">
              <input
                type="text"
                class="form-control custom-text-input"
                :class="{ 'text-input-invalid': isInvalid('title') }"
                id="input-titre_projet"
                v-model="formData.title"
                @keydown="clearError('title')"
              />
              <span
                v-if="isInvalid('title')"
                class="input-error"
                style="margin-botom: -0.25rem !important"
                >{{ errorMessage("title") }}</span
              >
              <span></span>
            </div>
          </div>
          <div
            class="col-1 d-flex justify-content-center align-items-center"
          ></div>
        </div>
        <!-- End title -->

        <!-- Short description -->
        <div class="form-group row">
          <label
            for="input-titre_projet"
            class="col-2 col-form-label d-flex justify-content-start align-items-center"
          >
            Description court
            <span>*</span>
          </label>
          <div class="col-9">
            <div class="input-group">
              <input
                type="text"
                class="form-control custom-text-input"
                :class="{
                  'text-input-invalid': isInvalid('short_description'),
                }"
                id="input-court_description"
                v-model="formData.short_description"
                @keydown="clearError('short_description')"
              />
              <span
                v-if="isInvalid('short_description')"
                class="input-error"
                style="margin-botom: -0.25rem !important"
                >{{ errorMessage("short_description") }}</span
              >
              <span></span>
            </div>
          </div>
          <div
            class="col-1 d-flex justify-content-center align-items-center"
          ></div>
        </div>
        <!-- End short descripion -->

        <!-- Division -->
        <div class="form-group row">
          <label
            for="input-division"
            class="col-2 col-form-label d-flex justify-content-start align-items-center"
          >
            Division
            <span>*</span>
          </label>
          <div class="col-9">
            <div class="input-group">
              <!-- <input type="text" class="form-control" id="input-division" /> -->
              <search-select
                id="division-search-select"
                ref="division-search-select"
                :key="
                  formData.division
                    ? formData.division.id
                    : 'division-search-select'
                "
                :style="
                  isInvalid('division')
                    ? 'border: 1px solid #dc3545 !important; border-radius: 1.5rem'
                    : ''
                "
                :route="clientDivisionsRoute"
                :disabled="shouldDisableDivision"
                placeholder="Division"
                :value="formData.division"
                @changed="updateDivision"
                @removed="updateDivision(null)"
              ></search-select>
              <span
                v-if="isInvalid('division')"
                class="input-error"
                style="margin-botom: -0.25rem !important"
                >{{ errorMessage("division") }}</span
              >
            </div>
          </div>
          <div class="col-1 d-flex justify-content-center align-items-center">
            <a href="#">
              <i
                :style="newDivisionStyle"
                id="content-client-division-new"
                @click.prevent="
                  open({
                    form: 'new-division',
                    client: formData.client,
                    initializedFrom: 'tab',
                  })
                "
                class="las la-plus-circle"
              ></i>
            </a>
          </div>
        </div>
        <!--End division-->

        <!-- Client contact with buyer role-->
        <div class="form-group row">
          <label
            for="input-acheteur"
            class="col-2 col-form-label d-flex justify-content-start align-items-center"
          >
            Acheteur
            <span>*</span>
          </label>
          <div class="col-9">
            <div class="input-group">
              <search-select
                id="client-contact-buyer"
                :key="formData.buyer ? formData.buyer.id : ''"
                :style="
                  isInvalid('buyer')
                    ? 'border: 1px solid #dc3545 !important; border-radius: 1.5rem'
                    : ''
                "
                :route="divisionBuyerRoute"
                :disabled="shouldDisableBuyer"
                :value="formData.buyer"
                placeholder="Acheteur"
                @changed="updateBuyer"
                @removed="updateBuyer(null)"
              ></search-select>
            </div>
            <span v-if="isInvalid('buyer')" class="text-xs text-danger">
              {{ errorMessage("buyer") }}
            </span>
          </div>
          <div class="col-1 d-flex justify-content-center align-items-center">
            <a>
              <i
                :style="newContactStyle"
                id="client-content-new-contact"
                @click.prevent="
                  open({
                    form: 'new-contact',
                    client: formData.client,
                    role: 'buyer',
                    division: formData.division,
                    initializedFrom: 'tab',
                  })
                "
                class="las la-plus-circle"
              ></i>
            </a>
          </div>
        </div>
        <!--End client contact with buyer role. -->

        <!--Accounting -->
        <div class="form-group row">
          <label
            for="input-comptabilite"
            class="col-2 col-form-label d-flex justify-content-start align-items-center"
          >
            Comptabilité
            <span>*</span>
          </label>
          <div class="col-9">
            <div class="input-group">
              <search-select
                ref="contact-accounting-role"
                id="contact-accounting-role"
                key="contact-accounting-role"
                :style="
                  isInvalid('accounting')
                    ? 'border: 1px solid #dc3545 !important; border-radius: 1.5rem'
                    : ''
                "
                :route="divisionAccountingRoute"
                :disabled="!shouldShowDivisionAccounting"
                placeholder="Comptabilité"
                :value="formData.accounting"
                @changed="updateAccounting"
                @removed="updateAccounting(null)"
              ></search-select>
            </div>
            <span v-if="isInvalid('accounting')" class="text-xs text-danger">
              {{ errorMessage("accounting") }}
            </span>
          </div>
          <div class="col-1 d-flex justify-content-center align-items-center">
            <a>
              <i
                :style="newContactStyle"
                id="client-content-new-contact"
                @click.prevent="
                  open({
                    form: 'new-contact',
                    client: formData.client,
                    role: 'accounting',
                    division: formData.division,
                    initializedFrom: 'tab',
                  })
                "
                class="las la-plus-circle"
              ></i>
            </a>
          </div>
        </div>
        <!--Accounting -->

        <div class="form-group row">
          <!-- Require physical checkbox -->
          <label
            for="input-approbation_physique"
            class="col-2 col-form-label d-flex justify-content-start align-items-center flex-wrap"
            >Requiert Approbation Physique?</label
          >
          <div class="col-1">
            <div
              class="input-group d-flex justify-content-start align-items-center"
            >
              <div
                id="requiert-approbation-physical"
                style="
                  border: 1px solid #e7e8e8 !important;
                  border-radius: 1rem;
                "
              >
                <input
                  v-model="formData.requires_physical_approval"
                  @change="
                    clearError('physical_approval'),
                      clearError('physical_address')
                  "
                  type="checkbox"
                  class="custom-checkbox-big"
                />
              </div>
            </div>
          </div>
          <!-- End require physical checkbox -->

          <div class="col-8">
            <!-- Choose a physical approval contact -->
            <div class="input-group">
              <search-select
                ref="physical_approval-client-content"
                id="physical_approval-client-content"
                key="physical_approval-client-content"
                :style="
                  isInvalid('physical_approval')
                    ? 'border: 1px solid #dc3545 !important; border-radius: 1.5rem'
                    : ''
                "
                :route="divisionPhysicalApprovalRoute"
                placeholder="Approbation Physical"
                :disabled="shouldDisablePhysicalApproval"
                :value="formData.physical_approval"
                @changed="updatePhysicalApproval"
                @removed="updatePhysicalApproval(null)"
              ></search-select>
            </div>
            <span
              v-if="isInvalid('physical_approval')"
              class="text-xs text-danger"
            >
              {{ errorMessage("physical_approval") }}
            </span>
          </div>
          <div class="col-1 d-flex justify-content-center align-items-center">
            <a>
              <i
                :style="newPhysicalApprovalContactStyle"
                id="client-content-new-contact"
                @click.prevent="
                  open({
                    form: 'new-contact',
                    client: formData.client,
                    role: 'physical_approval',
                    division: formData.division,
                    initializedFrom: 'tab',
                  })
                "
                class="las la-plus-circle"
              ></i>
            </a>
          </div>
          <!-- End physical approval contact -->
          <label
            for="input-approbation_physique"
            class="col-2 col-form-label d-flex justify-content-start align-items-center flex-wrap"
          ></label>
          <div class="col-1">
            <div class="input-group"></div>
          </div>
          <div class="col-8">
            <div class="input-group">
              <search-select
                ref="physical-address-client-content"
                id="physical-address-client-content"
                :key="
                  formData.physical_address ? formData.physical_address.id : ''
                "
                :style="
                  isInvalid('physical_address')
                    ? 'border: 1px solid #dc3545 !important; border-radius: 1.5rem'
                    : ''
                "
                :route="clientPhysicalAddressRoute"
                :disabled="shouldDisablePhysicalAddress"
                placeholder="Adresse physique"
                :value="formData.physical_address"
                @changed="updatePhysicalAddress"
                @removed="updatePhysicalAddress(null)"
              ></search-select>
            </div>
            <span
              v-if="isInvalid('physical_address')"
              class="text-xs text-danger"
            >
              {{ errorMessage("physical_address") }}
            </span>
          </div>
          <div class="col-1 d-flex justify-content-center align-items-center">
            <a>
              <i
                :style="newAddressStyle"
                id="new-address-from-tab"
                @click.prevent="
                  open({
                    form: 'new-address',
                    client: formData.client,
                    initializedFrom: 'tab',
                  })
                "
                class="las la-plus-circle"
              ></i>
            </a>
          </div>
          <!--Physical address-->
        </div>

        <div class="form-group row">
          <label
            for="input-debut"
            class="col-2 col-form-label d-flex justify-content-start align-items-center"
            >Début</label
          >
          <div class="col-4">
            <div class="input-group">
              <input
                :key="formData.start_date"
                :class="{ 'border-danger': isInvalid('start_date') }"
                type="date"
                class="form-control d-flex justify-content-center align-items-center"
                style="
                  border-radius: 1.5rem !important;
                  height: 50.2333px !important;
                  border: 1px solid rgb(231, 232, 232);
                  padding-right: 1.5rem !important;
                "
                v-model="formData.start_date"
                @input="clearError('start_date')"
              />
            </div>
            <span v-if="isInvalid('start_date')" class="text-xs text-danger">
              {{ errorMessage("start_date") }}
            </span>
          </div>
          <!-- fin -->
          <label
            for="input-fin"
            class="col-1 col-form-label d-flex justify-content-center align-items-center"
            >Fin</label
          >
          <div class="col-4">
            <div class="input-group">
              <input
                :key="formData.end_date"
                type="date"
                class="form-control"
                :class="{ 'border-danger': isInvalid('end_date') }"
                id="input-fin"
                v-model="formData.end_date"
                style="
                  border-radius: 1.5rem !important;
                  height: 50.2333px !important;
                  border: 1px solid rgb(231, 232, 232);
                  padding-right: 1.5rem !important;
                "
                @input="clearError('end_date')"
              />
            </div>
            <span v-if="isInvalid('end_date')" class="text-xs text-danger">
              {{ errorMessage("end_date") }}
            </span>
          </div>
          <!-- End fin -->
          <!-- PO -->
        </div>

        <div class="form-group row">
          <label
            for="input-titre_projet"
            class="col-2 col-form-label d-flex justify-content-start align-items-center"
          >
            #PO
            <span>*</span>
          </label>
          <div class="col-9">
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                style="
                  border-radius: 1.5rem;
                  border: 1px solid rgb(231, 232, 232);
                "
                :class="{ 'border-danger': isInvalid('po_number') }"
                id="input-po"
                v-model="formData.po_number"
                @keydown="clearError('po_number')"
              />
            </div>
            <span v-if="isInvalid('po_number')" class="text-xs text-danger">
              {{ errorMessage("po_number") }}
            </span>
          </div>
        </div>
        <!-- End fin -->
      </div>
      <div v-else>
        <loading-spinner></loading-spinner>
      </div>
    </div>
  </transition>
</template>

<script>
import SearchSelect from "../../../../Sidebar/Forms/partials/SearchSelect.vue";
import LoadingSpinner from "../../../../Layouts/LoadingSpinner.vue";
import { EventBus } from "../../../../../event-bus";

export default {
  name: "NewDescriptionTab",

  components: { SearchSelect, LoadingSpinner },

  props: {
    project: {
      type: Object,
      default: null,
    },

    client: {
      type: Object,
      default: null,
    },

    isActive: {
      type: Boolean,
      default: false,
    },

    formData: {
      type: Object,
      default: null,
    },

    errors: {
      type: Object,
      default: null,
    },
  },

  data() {
    return {
      loaded: false,
      submitting: false,

      clients: [],
      clientDivisions: [],
      divisionBuyers: [],
      divisionAccountingContacts: [],
      physicalApprovalContacts: [],
      physicalApprovalAddresses: [],
      selectedBuyer: {},
      selectedAccounting: {},
      selectedPhysicalApprovalContact: {},
      selectedPhysicalAddress: {},
      divisionBuyerRoute: `/api/clients/${this.client.id}/contacts/buyer`,
      divisionAccountingRoute: `/api/clients/${this.client.id}/contacts/accounting`,
      divisionPhysicalApprovalRoute: `/api/clients/${this.client.id}/contacts/physical_approval`,
    };
  },

  mounted() {
    this.loaded = true;

    EventBus.$on("created-client", (payload) => {
      this.$toasted.show(payload.data.message);
      this.updateClient(payload.data.client);
    });

    EventBus.$on("contact-created-from-tab", (payload) => {
      if (payload.role === "buyer") {
        return (this.formData.buyer = payload.contact);
      }
      if (payload.role === "accounting") {
        this.formData.accounting = payload.contact;
        return (this.$refs["contact-accounting-role"].model = payload.contact);
      }

      if (payload.role === "physical_approval") {
        this.formData.physical_approval = payload.contact;
        return (this.$refs["physical_approval-client-content"].model =
          payload.contact);
      }
    });

    EventBus.$on("division-created", (payload) => {
      this.formData.division = payload.data.division;
      this.updateDivision(payload.data.division);
      if (this.formData.client.divisions) {
        return this.formData.client.divisions.push(payload.data.division);
      }

      this.formData.client.divisions = [];
      this.formData.client.divisions.push(payload.data.division);
    });

    EventBus.$on("address-created", (payload) => {
      console.log(payload.address);
      this.selectedPhysicalAddress = payload.address;
      this.formData.physical_address = payload.address;
      this.$refs["physical-address-client-content"].model = payload.address;
    });
  },

  computed: {
    clientsIndexRoute() {
      return "/api/clients";
    },

    clientDivisionsRoute() {
      return this.formData.client
        ? `/api/clients/${this.formData.client.id}/divisions`
        : `/api/clients/${this.client.id}/divisions`;
    },

    divisionPdfApprovalRoute() {
      if (!this.formData.division) {
        return `/api/clients/${this.formData.client.id}/contacts/pdf_approval`;
      }

      // if division is set
      if (this.formData.division) {
        return `/api/divisions/${this.formData.division.id}/contacts/pdf_approval`;
      }

      return null;
    },

    clientPhysicalAddressRoute() {
      return this.formData.client
        ? `/api/clients/${this.formData.client.id}/addresses/physical_approval`
        : "";
      // : `/api/clients/${this.client.divisions[0].id}/addresses/physical_approval`;
    },

    shouldDisableDivision() {
      return this.formData.client === null;
    },

    shouldDisableBuyer() {
      return false; // because division is optional
    },

    shouldShowDivisionAccounting() {
      return true;
    },

    shouldDisablePhysicalApproval() {
      return !this.formData.requires_physical_approval;
    },

    shouldDisablePhysicalAddress() {
      return (
        this.formData.client === null ||
        !this.formData.requires_physical_approval
      );
    },

    newDivisionStyle() {
      return this.formData.client === null
        ? "pointer-events: none !important;"
        : "";
    },

    newContactStyle() {
      return this.formData.client === null
        ? "pointer-events: none !important;"
        : "";
    },

    newPhysicalApprovalContactStyle() {
      return this.shouldDisablePhysicalAddress
        ? "pointer-events: none !important;"
        : "";
    },

    newAddressStyle() {
      return this.shouldDisablePhysicalAddress
        ? "pointer-events: none !important;"
        : "";
    },
  },

  methods: {
    updateDivision(payload) {
      this.clearError("division");
      this.formData.division = payload;

      if (payload === null) {
        this.divisionBuyerRoute = `/api/clients/${this.client.id}/contacts/buyer`;
        this.divisionAccountingRoute = `/api/clients/${this.client.id}/contacts/accounting`;
        this.divisionPhysicalApprovalRoute = `/api/clients/${this.client.id}/contacts/physical_approval`;
      } else {
        this.divisionBuyerRoute = `/api/divisions/${payload.id}/contacts/buyer`;
        this.divisionAccountingRoute = `/api/divisions/${payload.id}/contacts/accounting`;
        this.divisionPhysicalApprovalRoute = `/api/divisions/${payload.id}/contacts/physical_approval`;
      }

      this.formData.buyer = null;
      this.formData.accounting = null;

      this.$refs["contact-accounting-role"].model = null;
      this.formData.physical_approval = null;

      this.$refs["physical_approval-client-content"].model = null;
      this.updatePhysicalAddress(null);
    },

    updateBuyer(payload) {
      this.clearError("buyer");
      this.formData.buyer = payload;
    },

    updateAccounting(payload) {
      this.formData.accounting = payload;
      this.clearError("accounting");
    },

    updatePhysicalApproval(payload) {
      this.formData.physical_approval = payload;
      this.$refs["physical_approval-client-content"].model = null;
      this.clearError("physical_approval");
    },

    updatePhysicalAddress(payload) {
      this.formData.physical_address = payload;
      this.clearError("physical_address");
    },

    isInvalid(attribute) {
      return this.errors.hasOwnProperty(attribute);
    },

    errorMessage(attribute) {
      if (this.errors[attribute]) {
        return this.errors[attribute][0];
      }
    },

    clearError(field) {
      delete this.errors[field];
    },

    open(form) {
      EventBus.$emit("open-sidebar", form);
    },
  },
};
</script>

<style lang="scss" scoped>
.custom-checkbox-big {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
  display: inline-block;
  vertical-align: middle;
  background-origin: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  flex-shrink: 0;
  height: 1.5em;
  width: 1.5em;
  color: #61d824;
  border: 4px solid #ffff !important;
  background-color: #a50f10;
  border-radius: 1rem;
  margin-top: 0;
  cursor: pointer;
  padding: 1.3rem !important;
  outline: none;
}

.custom-checkbox-big:checked {
  border: 4px solid #ffff !important;
  background-color: currentColor;
  background-size: 100% 100%;
  width: 30px;
  height: 30px;
}
</style>
