<template>
  <div v-if="isActive" :class="{ active: isActive }">
    <!-- Item content -->
    <no-items-found
      class="border-danger"
      v-if="items.data === undefined || items.data.length == 0"
    />
    <div
      class="d-flex align-content-center d-flex justify-content-end"
      style="margin-top: -20px"
      v-if="hasErrors && (items.data === undefined || items.data.length == 0)"
    >
      <span class="text-danger" v-text="itemErrors"></span>
    </div>
    <div v-for="(item, index) in items.data" :key="item.id">
      <single-item
        :data="item"
        :generalFormData="generalFormData"
        :key="item.id"
        :client="client"
        :index="index"
        :errors="errors"
        @toggle-dropdown="toggleItemDropdown"
        @quantitiesUpdated="handleQuantityUpdates"
        @addressUpdated="handleAddressUpdates"
        @contactUpdated="handleContactUpdates"
        @item-deleted="handleItemDeleted"
        @duplicate="handleDuplicate"
      />
    </div>
    <div class="d-flex align-content-center justify-content-between">
      <button :class="greenBtn" @click="newItem">
        <i class="las la-plus-circle"></i>
        NOUVEL ITEM
      </button>
    </div>
  </div>
</template>

<script>
import NoItemsFound from "./ItemContentPartials/NoItemsFound";
import SingleItem from "./ItemContentPartials/SingleItem";

export default {
  name: "ItemTab",

  components: {
    SingleItem,
    NoItemsFound,
  },

  props: {
    isActive: {
      type: Boolean,
      default: false,
    },

    client: {
      type: Object,
      default: null,
    },

    generalFormData: {
      type: Object,
      default: null,
    },

    errors: {
      type: Object,
      default: null,
    },
  },

  computed: {
    greenBtn() {
      return "btn btn-green d-inline-flex justify-content-center align-items-center";
    },

    hasErrors() {
      return this.errors.hasOwnProperty("items") ? true : false;
    },

    itemErrors() {
      return this.errors.items[0] ? this.errors.items[0] : "";
    },
  },

  data() {
    return {
      value: null,
      data: this.generalFormData,
      items: {
        data: [],
      },
      oldItems: [],
      itemOpen: null,
      newItemMould: {},
      isChanged: false,
      loading: false,
    };
  },

  watch: {
    items: {
      // This will let Vue know to look inside the array
      deep: true,

      handler() {
        return JSON.stringify(this.items) !== this.oldItems
          ? (this.isChanged = true)
          : (this.isChanged = false);
      },
    },
  },

  mounted() {
    this.oldItems = JSON.stringify(this.items);
  },

  methods: {
    toggleItemDropdown(id) {
      document.getElementById(`content-${id}`).classList.toggle("block");
      let dropdownIcon = document.getElementById(`icon-${id}`);
      dropdownIcon.classList.toggle("la-chevron-circle-down");
      dropdownIcon.classList.toggle("la-chevron-circle-up");
      dropdownIcon.classList.toggle("text-success");
    },

    persist(notifySuppliers) {
      this.loading = true;
      let url = `/api/projects/${this.data.id}/items`;

      axios
        .post(url, {
          items: this.items.data,
          notifySuppliers: notifySuppliers,
        })
        .then((response) => {
          this.$toasted.show(response.data.message);
          this.loading = false;
          this.fetchItems();
        })
        .catch((error) => {
          this.errors = error.response.data.errors;
          this.loading = false;
        });
    },

    newItem() {
      const emptyItem = {
        deliveryAddress: {},
        deliveryContact: {},
        delivery_deadline: "",
        description: "",
        id: Math.floor(Math.random() * Date.now()),
        name: "ITEM" + Math.floor(Math.random() * Date.now()),
        options: [],
        project_id: "TEMP_PROJECT_ID" + Math.floor(Math.random() * Date.now()),
        quantities: [],
        suppliers: [],
        option_groups: []
      };

      this.items.data.push(emptyItem);
      this.generalFormData.items.push(emptyItem);

      let vm = this;
      Vue.nextTick(function () {
        vm.toggleItemDropdown(emptyItem.id);
      });
    },

    handleDuplicate(payload) {
      let duplicateItem = {
        deliveryAddress: payload.deliveryAddress,
        deliveryContact: payload.deliveryContact,
        delivery_deadline: payload.delivery_deadline,
        description: payload.description,
        id: Math.floor(Math.random() * Date.now()),
        hash_id: Math.floor(Math.random() * Date.now()),
        name: payload.name + `(duplicate)`,
        options: payload.options,
        project_id: "TEMP_PROJECT_ID" + Math.floor(Math.random() * Date.now()),
        quantities: payload.quantities,
        suppliers: [],
      };

      this.items.data.push(duplicateItem);
      this.generalFormData.items.push(duplicateItem);
    },

    handleItemDeleted(item) {
      let obj_local = this.findById(item.id);
      let obj_general = this.findById(item.id, this.generalFormData.items);

      let index_local = this.items.data.indexOf(obj_local);
      let index_general = this.generalFormData.items.indexOf(obj_general);

      this.items.data.splice(index_local, 1);
      return this.generalFormData.items.splice(index_general, 1);
    },

    handleQuantityUpdates(payload) {
      let obj = this.findById(payload.id);
      obj.quantities = payload.quantities;
    },

    handleAddressUpdates(payload) {
      let obj = this.findById(payload.id);
      obj.deliveryAddress = payload.address;
    },

    handleContactUpdates(payload) {
      let obj = this.findById(payload.id);
      obj.deliveryContact = payload.contact;
    },

    findById(element, hay = null) {
      if (hay !== null) {
        return hay.find((item) => item.id === element);
      }
      return this.items.data.find((item) => item.id === element);
    },
  },
};
</script>

<style lang="scss">
.multiselect__tags {
  min-height: 40px;
  display: block;
  border: 1px solid #e8e8e8;
  background: #fff;
  padding: 1rem;
  padding-bottom: 0.5rem;
  font-size: 16px;
  border-radius: 1.5rem;
}

.multiselect__placeholder {
  margin-bottom: 0 !important;
  padding-top: 0 !important;
}

.multiselect__option--highlight {
  background: #59db00;
  outline: none;
  color: #fff;
}

.multiselect__option--highlight:after {
  content: attr(data-select);
  background: #59db00;
  color: #fff;
}

.multiselect__input,
.multiselect__single {
  margin-bottom: 0 !important;
  padding: 0 !important;
}

.multiselect__select {
  z-index: 49 !important;
  right: 8px;
  top: 8px;
}

.multiselect__tag {
  line-height: 1;
  background: #59db00;
  margin-bottom: -5px !important;
  margin-top: -6px;
  padding: 8px 27px 5px 10px !important;
  border-radius: 1rem;
}

.multiselect__tag-icon {
  padding-top: 4px;
}

.multiselect__content-wrapper {
  border-bottom-left-radius: 1.5rem !important;
  border-bottom-right-radius: 1.5rem !important;
}
</style>
