<template>
  <transition name="fade">
    <div :class="{ active: isActive }"  v-show="isActive" >
    <textarea
      ref="textarea"
      style="border-radius: 1rem; padding: 1rem"
      class="border form-control"
      :class="{ 'border-danger': isInvalid('notes') }"
      name="message"
      id="message"
      rows="14"
      v-model="formData.notes"
      @keydown="clearError('notes')"
      placeholder="Notes et details supplementaires..."
    ></textarea>

      <span v-if="isInvalid('notes')" class="text-xs text-danger">
      {{ errorMessage("notes") }}
    </span>
    </div>
  </transition>
</template>

<script>
export default {
  name: "NewNotesTab",

  props: {
    isActive: {
      type: Boolean,
      default: false,
    },

    client: {
      type: Object,
      default: null,
    },

    project: {
      type: Object,
      default: null,
    },

    generalFormData: {
      type: Object,
      default: null
    },

    errors: {
      type: Object,
      default: null
    }
  },

  data() {
    return {
      data: this.project,
      formData: this.generalFormData,
      isChanged: false,
      loading: false,
    };
  },

  methods: {
    isInvalid(attribute) {
      return this.errors.hasOwnProperty(attribute);
    },

    clearError(field) {
      delete this.errors[field];
    },

    errorMessage(attribute) {
      if (this.errors.hasOwnProperty(attribute)) {
        return this.errors[attribute][0];
      }
    },
  },
};
</script>

<style lang="scss">
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
{
  opacity: 0;
}
</style>
