<template>
  <div>
    <div class="row carte_affaire" style="cursor: auto">
      <div class="col-5 d-flex justify-content-start align-items-center">
        <p class="font-medium uppercase">
          {{ data.title }}
        </p>
      </div>
      <div class="col-3 d-flex justify-content-end align-items-center">
      </div>
      <div class="col-3 d-flex justify-content-end align-items-center">
        <p>
          <span class="font-light">PRIX:</span>
          <span class="font-medium">{{ formattedCustomerPrice }}$</span>
        </p>
      </div>
      <div
        class="col d-flex justify-content-end align-items-center"
        style="font-size: 1.5rem; color: rgb(136, 153, 169); margin-right: 1rem"
      >
        <i
          :id="`pre-invoice-line-item-icon-${data.id}`"
          @click="toggleItemDropdown(data.id)"
          class="las la-chevron-circle-down pointer toggle-menu"
        ></i>
      </div>
      <div
        :id="`pre-invoice-line-item-${data.id}`"
        class="col-12 carte_affaire-content pt-5"
      >
        <div>
          <div class="w-60percent pl-3">
            <div class="space-y-1 text-gray font-light">
              <pre>{{ data.description }}</pre>
              <span v-if="data.options.length > 0">
                <span
                  v-for="(option, index) in data.options"
                  :key="index"
                  class="font-light text-gray single-option mr-2"
                  >{{ option }}
                </span>
              </span>

              <span class="font-light text-gray single-option" v-else>
                No options
              </span>
            </div>
          </div>

          <!-- bottom of facturation item -->
          <div class="pl-3 d-flex justify-content-between pt-5">
            <!-- left side -->
            <div class="w-half">
              <p class="font-medium block pt-2">
                FORNISSEUR:
                <span class="font-light text-success uppercase">{{
                  data.supplier_name
                }}</span>
              </p>
              <p class="font-medium block pt-3">
                PRIX:
                <span class="font-light">{{ formattedCustomerPrice }}$</span>
              </p>
              <p class="font-medium block pt-3">
                DATE DU LIVRAISON:
                <span class="font-light">{{ data.delivery_date }}</span>
              </p>
            </div>

            <div class="w-60percent">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "InvoiceLineItem",

  props: {
    data: {
      type: Object,
      default: null,
    },

    project: {
      type: Object,
      default: null,
    },

    errors: {
      type: Object,
      default: null,
    },

    index: {
      type: Number,
      default: null,
    },
  },

  computed: {
    formattedCustomerPrice() {
      return (
        parseFloat(this.data.cost_price) + parseFloat(this.data.admin_profit)
      ).toFixed(2);
    },
  },

  methods: {
    toggleItemDropdown(id) {
      this.$emit("toggle-dropdown", id);
    },
  },
};
</script>

<style lang="scss">
.uppercase {
  text-transform: uppercase;
}

#invoice-select-profit_type {
  background: #ececec;
  border-radius: 0.6rem;
}

#invoice-select-profit_type .multiselect__tags {
  min-height: 40px !important;
  color: #8899a9;
  display: block !important;
  padding: 1rem 1.5rem 1rem 1.5rem !important;
  padding-bottom: 0.6rem !important;
  font-size: 15px !important;
  font-weight: 300 !important;
  border-radius: 0.5rem !important;
  border: transparent !important;
}

#invoice-select-profit_type .multiselect__input {
  font-size: 16px !important;
}

#invoice-select-profit_type
  .multiselect--active:not(.multiselect--above)
  .multiselect__current,
#invoice-select-profit_type
  .multiselect--active:not(.multiselect--above)
  .multiselect__input,
#invoice-select-profit_type
  .multiselect--active:not(.multiselect--above)
  .multiselect__tags {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-bottom: 0px !important;
}

#invoice-select-profit_type .multiselect__placeholder {
  margin-bottom: 0 !important;
  padding-top: 0 !important;
  font-size: 16px !important;
}

#invoice-select-profit_type .multiselect__option--highlight {
  background: 59 db00 !important;
  outline: none !important;
  color: #fff !important;
}

#invoice-select-profit_type .multiselect__option--highlight:after {
  content: attr(data-select) !important;
  background: #59db00 !important;
  color: #fff !important;
}

#invoice-select-profit_type .multiselect__input,
#invoice-select-profit_type .multiselect__single {
  margin-bottom: 0 !important;
  padding: 0 !important;
}

#invoice-select-profit_type .multiselect__select {
  z-index: 49 !important;
  right: 8px !important;
  top: 8px !important;
}

#invoice-select-profit_type .multiselect__tag {
  line-height: 1 !important;
  background: #59db00 !important;
  margin-bottom: -5px !important;
  margin-top: -6px !important;
  padding: 8px 27px 5px 10px !important;
  border-radius: 0.5rem !important;
}

#invoice-select-profit_type .multiselect__tag-icon {
  padding-top: 4px !important;
}

#invoice-select-profit_type .multiselect__content-wrapper {
  border-bottom-left-radius: 0.5rem !important;
  border-bottom-right-radius: 0.5rem !important;
  border: 1px solid #ced4da !important;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

#invoice-select-profit_type .multiselect__element {
  font-size: 14px !important;
}

#invoice-select-profit_type .multiselect--disabled .multiselect__current,
.multiselect--disabled .multiselect__select {
  background: #ffffff !important;
  color: #a6a6a6 !important;
}

#invoice-select-profit_type .multiselect--disabled {
  background: #ffffff !important;
  color: #a6a6a6 !important;
  pointer-events: none;
  opacity: 0.35;
}

#invoice-select-profit_type .multiselect__spinner {
  position: absolute;
  right: 1px;
  top: 1px;
  width: 48px;
  height: 35px;
  background: #fff;
  display: block;
  z-index: 50;
  right: 8px;
  top: 8px;
}

.invoice-input-sidebar-border {
  border-radius: 0.5rem;
  border: 2px solid rgb(231, 232, 232);
}

.disabled {
  pointer-events: none;
}
</style>
