<template>
    <div v-if="shouldShowButtons">
        <!-- Attach Related Models -->
        <router-link
            event=""
            v-if="shouldShowAttachButton"
            dusk="attach-button"
            :class="classes"
            :to="attachParams"
            @click.native="interceptClick($event)">
            <slot> {{ __('Attach :resource', { resource: singularName }) }}</slot>
        </router-link>

        <!-- Create Related Models -->
        <router-link
            event=""
            v-else-if="shouldShowCreateButton"
            dusk="create-button"
            :class="classes"
            :to="createParams"
            @click.native="interceptClick($event)">
            {{ __('Create :resource', { resource: singularName }) }}
        </router-link>
    </div>
</template>

<script>
    export default {
        props: {
            classes: { default: 'btn btn-default btn-primary' },
            singularName: {},
            resourceName: {},
            viaResource: {},
            viaResourceId: {},
            viaRelationship: {},
            relationshipType: {},
            authorizedToCreate: {},
            authorizedToRelate: {},
        },

        computed: {
            attachParams() {
                return {
                    name: 'attach',
                    params: {
                        resourceName: this.viaResource,
                        resourceId: this.viaResourceId,
                        relatedResourceName: this.resourceName,
                    },
                    query: {
                        viaRelationship: this.viaRelationship,
                        polymorphic: this.relationshipType == 'morphToMany' ? '1' : '0',
                    },
                };
            },
            createParams() {
                return {
                    name: 'create',
                    params: {
                        resourceName: this.resourceName,
                    },
                    query: {
                        viaResource: this.viaResource,
                        viaResourceId: this.viaResourceId,
                        viaRelationship: this.viaRelationship,
                    },
                }
            },

            /**
             * Determine if any buttons should be displayed.
             */
            shouldShowButtons() {
                return this.shouldShowAttachButton || this.shouldShowCreateButton
            },

            /**
             * Determine if the attach button should be displayed.
             */
            shouldShowAttachButton() {
                return (
                    (this.relationshipType == 'belongsToMany' ||
                        this.relationshipType == 'morphToMany') &&
                    this.authorizedToRelate
                )
            },

            /**
             * Determine if the create button should be displayed.
             */
            shouldShowCreateButton() {
                return this.authorizedToCreate && this.authorizedToRelate
            },
        },

        methods: {
            interceptClick($event) {
                $event.preventDefault();
                this.$emit('navigate', $event.toElement.href);
            },
        }
    }
</script>
