<template>
  <div>
    <section>
      <label for="newUser" class="font-medium text-xl pb-4">{{
        formTitle
      }}</label>
      <div class="space-y-2">
        <div class="form-group">
          <input
            type="text"
            class="form-control input-sidebar"
            :class="{ 'border-danger': isInvalid('name') }"
            placeholder="Nom"
            v-model="formData.name"
            @keydown="clearError('name')"
          />

          <span v-if="isInvalid('name')" class="text-xs text-danger">
            {{ errorMessage("name") }}
          </span>
        </div>

        <div class="form-group">
          <search-select
            :key="formData.user ? formData.user.id : ''"
            class="input-sidebar-border"
            :style="
              isInvalid('user.id')
                ? 'border: 2px solid #dc3545 !important;'
                : ''
            "
            :value="formData.user"
            :route="usersIndexRoute"
            @changed="updateUser"
            @removed="updateUser(null)"
            placeholder="Utilisateur"
          ></search-select>

          <span v-if="isInvalid('user.id')" class="text-xs text-danger">
            {{ errorMessage("user.id") }}
          </span>
        </div>

        <div class="form-group">
          <input
            type="text"
            class="form-control input-sidebar"
            :class="{ 'border-danger': isInvalid('phone') }"
            placeholder="Telephone"
            v-model="formData.phone"
            @keydown="clearError('phone')"
            @input="enforcePhoneFormat('phone')"
          />

          <span v-if="isInvalid('phone')" class="text-xs text-danger">
            {{ errorMessage("phone") }}
          </span>
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control input-sidebar"
            :class="{ 'border-danger': isInvalid('address') }"
            placeholder="Addresse"
            v-model="formData.address"
            @keydown="clearError('address')"
          />

          <span v-if="isInvalid('address')" class="text-xs text-danger">
            {{ errorMessage("address") }}
          </span>
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control input-sidebar"
            :class="{ 'border-danger': isInvalid('city') }"
            placeholder="Ville"
            v-model="formData.city"
            @keydown="clearError('city')"
          />

          <span v-if="isInvalid('city')" class="text-xs text-danger">
            {{ errorMessage("city") }}
          </span>
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control input-sidebar"
            :class="{ 'border-danger': isInvalid('province') }"
            placeholder="Province"
            v-model="formData.province"
            @keydown="clearError('province')"
          />

          <span v-if="isInvalid('province')" class="text-xs text-danger">
            {{ errorMessage("province") }}
          </span>
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control input-sidebar"
            :class="{ 'border-danger': isInvalid('country') }"
            placeholder="Pays"
            v-model="formData.country"
            @keydown="clearError('country')"
          />

          <span v-if="isInvalid('country')" class="text-xs text-danger">
            {{ errorMessage("country") }}
          </span>
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control input-sidebar"
            :class="{ 'border-danger': isInvalid('postal_code') }"
            placeholder="Code Postal"
            v-model="formData.postal_code"
            @keydown="clearError('postal_code')"
          />

          <span v-if="isInvalid('postal_code')" class="text-xs text-danger">
            {{ errorMessage("postal_code") }}
          </span>
        </div>
      </div>
    </section>

    <section data-title="procedes" v-if="userType === 'supplier'">
      <label for="newContact" class="font-medium text-xl pb-4">Procedes:</label>
      <div class="space-y-1" v-if="processesExist">
        <div
          class="form-group form-check d-flex align-items-center"
          v-for="process in formData.processes"
          :key="process.id"
        >
          <input
            type="checkbox"
            class="form-check-input custom-check-sidebar"
            id="supplier-process"
            v-model="process.checked"
          />
          <span class="form-check-label ml-3 text-gray-700" for="process">{{
            process.name
          }}</span>
        </div>
      </div>

      <span v-if="isInvalid('processes')" class="text-xs text-danger">
        {{ errorMessage("processes") }}
      </span>
    </section>

    <button
      @click.prevent="submitForm"
      :disabled="loading"
      class="btn btn-green d-inline-flex justify-content-center align-items-center mt-5"
    >
      <div
        class="d-flex justify-content-center align-items-center space-x-2"
        v-if="loading"
      >
        <span class="loader"></span>
        <span>SOUMISSION</span>
      </div>
      <div v-show="!loading">
        <i class="las la-check-circle"></i> SAUVEGARDER
      </div>
    </button>
  </div>
</template>

<script>
import SearchSelect from "./SearchSelect.vue";
import { EventBus } from "../../../../event-bus";

export default {
  name: "CreateUserForm",

  components: {
    SearchSelect,
  },

  props: {
    userType: {
      type: String,
      default: "client",
    },

    formTitle: {
      type: String,
      default: "Nouveau client",
    },

    formData: {
      type: Object,
      default: null,
    },

    postUrl: {
      type: String,
      default: "/api/clients",
    },

    initializedFrom: {
      type: String,
      default: "nav",
    },
  },

  data() {
    return {
      usersIndexRoute: `/api/available-users`,
      processesGet: `/api/processes`,
      loading: false,
      errors: {},
    };
  },

  computed: {
    processesExist() {
      return (
        this.formData.processes !== null && this.formData.processes.length > 0
      );
    },
  },

  mounted() {
    if (this.userType === "supplier") {
      this.fetchProcesses();
    }
  },

  methods: {
    submitForm() {
      this.loading = true;
      const url = this.postUrl;

      axios
        .post(url, this.formData)
        .then((response) => {
          this.loading = false;
          this.handleSuccess(response);
        })
        .catch((error) => {
          this.loading = false;
          this.errors = error.response.data.errors;
          console.log(
            "Sidebar/Forms/CreateClientForm submitForm()",
            error.response.data.errors
          );
        });
    },

    fetchProcesses() {
      axios
        .get(this.processesGet)
        .then((response) => {
          this.formData.processes = response.data.data;
        })
        .catch((error) => {
          console.log(
            "fetchProcesses() on Suppliers/GeneralInformation ",
            error.response.data.errors
          );
        });
    },

    handleSuccess(response) {
      switch (this.initializedFrom) {
        case "tab":
          this.$emit("created", response);
          EventBus.$emit(`created-${this.userType}`, response);
          break;

        case "item":
          this.$emit("created", response);
          break;

        default:
           this.$swal.fire({
            title: "Success!",
            text: response.data.message,
            icon: "success",
            showConfirmButton: false,
          });
          setTimeout(() => {
            window.location.href = response.data.redirect_route;
          }, 400);
          break;
      }

      return;
    },

    isInvalid(attribute) {
      return this.errors.hasOwnProperty(attribute);
    },

    errorMessage(attribute) {
      if (this.errors.hasOwnProperty(attribute)) {
        return this.errors[attribute][0];
      }
    },

    clearError(field) {
      delete this.errors[field];
    },

    updateUser(payload) {
      this.formData.user = payload;
      this.clearError("user");
    },

    enforcePhoneFormat(property) {
      let x = this.formData[property]
        .replace(/\D/g, "")
        .match(/(\d{0,3})(\d{0,3})(\d{0,4})/);

      this.formData[property] = !x[2]
        ? x[1]
        : "(" + x[1] + ") " + x[2] + (x[3] ? "-" + x[3] : "");
    },
  },
};
</script>
