<template>
  <div class="flex" style="width: 100%" id="sidebar-multiselect">
    <multiselect
      v-model="model"
      track-by="id"
      :options="options"
      label="name"
      :placeholder="placeholder"
      :selectLabel="selectLabel"
      :selected="selected"
      :deselectLabel="deselectLabel"
      :showNoResults="true"
      :allow-empty="true"
      :disabled="disabled"
      open-direction="bottom"
      @select="change"
      @remove="remove"
    >
      <span slot="noResult" v-text="noResults"></span>
    </multiselect>
  </div>
</template>

<script>
export default {
  name: "NoAjaxSearchSelect",

  props: {
    placeholder: {
      type: String,
      default: "Type to search",
    },

    disabled: {
      type: Boolean,
      default: false,
    },

    value: {
      type: Object,
      default: null,
    },

    items: {
      type: Array,
      default: null,
    },
  },
  data() {
    return {
      options: this.items,
      model: this.value,
    };
  },

  computed: {
    selectLabel() {
      return "";
    },

    selected() {
      return "";
    },

    deselectLabel() {
      return "";
    },

    noResults() {
      return "No results found.";
    },
  },

  methods: {
    change(model) {
      this.$emit("changed", model);
    },
    remove() {
      this.$emit("removed");
    },
  },
};
</script>
