<template>
  <div class="flex" style="width: 100%" :id="id">
    <multiselect
      v-model="model"
      track-by="id"
      :label="label"
      :options="options"
      :placeholder="placeholder"
      :selectLabel="selectLabel"
      :selected="selected"
      :deselectLabel="deselectLabel"
      :showNoResults="true"
      :allow-empty="true"
      :disabled="disabled"
      :loading="isLoading"
      open-direction="bottom"
      @select="change"
      @remove="remove"
      @open="fetch"
    >
      <span slot="noResult" v-text="noResults"></span>
    </multiselect>
  </div>
</template>

<script>
export default {
  name: "SearchSelectUser",

  props: {
    placeholder: {
      type: String,
      default: "Type to search",
    },

    disabled: {
      type: Boolean,
      default: false,
    },

    value: {
      type: Object,
      default: null,
    },

    route: {
      type: String,
      default: null,
    },

    id: {
      type: String,
      default: "sidebar-multiselect",
    },

    label: {
      type: String,
      default: "name",
    },

    items: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      options: this.items,
      model: this.value,
      isLoading: false,
    };
  },

  computed: {
    selectLabel() {
      return "";
    },

    selected() {
      return "";
    },

    deselectLabel() {
      return "";
    },

    noResults() {
      return "No results found.";
    },
  },

  mounted() {
    if (!this.disabled) {
      this.initializeField();
    }
  },

  methods: {
    initializeField() {
      this.fetch();
    },

    fetch() {
      this.isLoading = true;

      axios
        .get(this.route)
        .then(({ data }) => {
          this.options = data.data;
          this.isLoading = false;
        })
        .catch((error) =>
          console.log("forms/partials/SearchSelect.vue, fetch()", error)
        );
    },

    change(model) {
      this.$emit("changed", model);
    },
    remove() {
      this.$emit("removed");
    },
  },
};
</script>
