<template>
  <div>
    <project-details-header
      :project="project"
      :statuses="statuses"
      :invoice_count="invoice_count"
      :invoice_amount="invoice_amount"
    ></project-details-header>
    <div class="container-fluid">
      <section id="wrap_single_project" class="row no-gutters">
        <div id="single_project_content" class="col-10">
          <client-content
            :isActive="isActive('Client')"
            :project="project"
            :client="client"
            :statuses="statuses"
          ></client-content>
          <item-content
            :isActive="isActive('Items')"
            :project="project"
            :client="client"
            @items-updated="handleItemsUpdated"
          ></item-content>
          <fournisseurs-content
            v-if="isActive('Fournisseurs')"
            :isActive="isActive('Fournisseurs')"
            :project="project"
          ></fournisseurs-content>
          <soumission-content-new
            v-if="isActive('Soumission')"
            :isActive="isActive('Soumission')"
            :project="project"
          ></soumission-content-new>
          <epreuves-content
            v-if="isActive('Épreuves')"
            :isActive="isActive('Épreuves')"
            :project="project"
          ></epreuves-content>
          <facturation-content
            v-if="isActive('Facturation')"
            :isActive="isActive('Facturation')"
            :project="project"
          ></facturation-content>
        </div>

        <div id="single_project_tabs" class="col-2">
          <!-- Active class toggling -->
          <div
            class="row"
            @click="openTab('Client')"
            :class="{ active: isActive('Client') }"
            data-show="#client_content"
          >
            <div class="col-3 align-self-center">
              <i class="las la-user"></i>
            </div>
            <div class="col-9 align-self-center tabs_title">
              <p>Client</p>
              <p>Information générale</p>
            </div>
          </div>

          <div
            class="row"
            @click="openTab('Items')"
            :class="{ active: isActive('Items') }"
            data-show="#items_content"
          >
            <div class="col-3 align-self-center">
              <i class="las la-copy"></i>
            </div>
            <div class="col-9 align-self-center tabs_title">
              <p>Items</p>
              <p>Items du projet</p>
            </div>
          </div>

          <div
            class="row"
            @click="openTab('Fournisseurs')"
            :class="{
              active: isActive('Fournisseurs'),
              'is-disabled': fournisseurTabShouldBeDisabled,
            }"
            data-show="#fournisseurs_content"
          >
            <div class="col-3 align-self-center">
              <i
                :class="{ 'is-disabled': fournisseurTabShouldBeDisabled }"
                class="las la-newspaper"
              ></i>
            </div>
            <div class="col-9 align-self-center tabs_title">
              <p :class="{ 'is-disabled': fournisseurTabShouldBeDisabled }">
                Fournisseurs
              </p>
              <p :class="{ 'is-disabled': fournisseurTabShouldBeDisabled }">
                Choix et soumissions
              </p>
            </div>
          </div>

          <div
            class="row"
            @click="openTab('Soumission')"
            :class="{
              active: isActive('Soumission'),
              'is-disabled': soumissionTabShouldBeDisabled,
            }"
            data-show="#fournisseurs_content"
          >
            <div class="col-3 align-self-center">
              <i
                :class="{ 'is-disabled': soumissionTabShouldBeDisabled }"
                class="las la-dollar-sign"
              ></i>
            </div>
            <div class="col-9 align-self-center tabs_title">
              <p :class="{ 'is-disabled': soumissionTabShouldBeDisabled }">
                Soumission
              </p>
              <p :class="{ 'is-disabled': soumissionTabShouldBeDisabled }">
                Soumission client
              </p>
            </div>
          </div>

          <div
            class="row"
            @click="openTab('Épreuves')"
            :class="{
              active: isActive('Épreuves'),
              'is-disabled': epreuveTabShouldBeDisabled,
            }"
            data-show="#epreuves_content"
          >
            <div class="col-3 align-self-center">
              <i
                :class="{
                  'is-disabled': epreuveTabShouldBeDisabled,
                }"
                class="las la-check-circle"
              ></i>
            </div>
            <div class="col-9 align-self-center tabs_title">
              <p
                :class="{
                  'is-disabled': epreuveTabShouldBeDisabled,
                }"
              >
                Épreuves
              </p>
              <p
                :class="{
                  'is-disabled': epreuveTabShouldBeDisabled,
                }"
              >
                Fichiers approuvés
              </p>
            </div>
          </div>

          <div
            class="row"
            @click="openTab('Facturation')"
            :class="{
              active: isActive('Facturation'),
              'is-disabled': factureTabShouldBeDisabled,
            }"
            data-show="#facturation_content"
          >
            <div class="col-3 align-self-center">
              <i
                :class="{
                  'is-disabled': factureTabShouldBeDisabled,
                }"
                class="las la-dollar-sign"
              ></i>
            </div>
            <div class="col-9 align-self-center tabs_title">
              <p
                :class="{
                  'is-disabled': factureTabShouldBeDisabled,
                }"
              >
                Facturation
              </p>
              <p
                :class="{
                  'is-disabled': factureTabShouldBeDisabled,
                }"
              >
                Facture client
              </p>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</template>

<script>
import { EventBus } from "../../../event-bus";
import ProjectDetailsHeader from "./Tabs/ProjectDetailsHeader";
import ClientContent from "./Tabs/ClientContent";
import ItemContent from "./Tabs/ItemContent";
import FournisseursContent from "./Tabs/FournisseursContent";
import SoumissionContentNew from "./Tabs/SoumissionContentNew";
import EpreuvesContent from "./Tabs/EpreuvesContent";
import FacturationContent from "./Tabs/FacturationContent";

export default {
  name: "ProjectDetails",

  components: {
    ProjectDetailsHeader,
    ClientContent,
    ItemContent,
    FournisseursContent,
    SoumissionContentNew,
    EpreuvesContent,
    FacturationContent,
  },

  props: {
    project: {
      type: Object,
      default: null,
    },
    client: {
      type: Object,
      default: null,
    },

    admin_approved_quotes_count: {
      type: Number,
      default: 0
    },

    statuses: {
      type: Array,
      default: () => null,
    },
    invoice_count: {
      type: Number,
      default: 0,
    },
    invoice_amount: {
      type: Number,
      default: 0,
    },
  },

  data() {
    return {
      tabNames: ["Client", "Items", "Fournisseurs", "Soumission", "Épreuves", "Facturation"],
      activeTab: "Client",
      itemsCount: this.project.project_items.length,
    };
  },

  computed: {
    tabShouldBeDisabled() {
      return this.itemsCount === 0;
    },

     fournisseurTabShouldBeDisabled() {
      return (
        this.project.status === "quote_requests_to_be_made"
      );
    },

    soumissionTabShouldBeDisabled() {
      return this.admin_approved_quotes_count === 0; // need to get the logic for this
    },

    epreuveTabShouldBeDisabled() {
      return (
        this.project.status === "quote_requests_to_be_made" ||
        this.project.status === "awaiting_supplier_prices" ||
        this.project.status === "submissions_sent_awaiting_client_approval"
      );
    },

    factureTabShouldBeDisabled() {
      return (
        this.project.status === "quote_requests_to_be_made" ||
        this.project.status === "awaiting_supplier_prices" ||
        this.project.status === "submissions_to_prepare" ||
        this.project.status === "submissions_sent_awaiting_client_approval" ||
        this.project.status === "submissions_approved_waiting_for_the_tests" ||
        this.project.status === "tests_sent_awaiting_client_approval" ||
        this.project.status === "tests_approved_work_in_production" ||
        this.invoice_count === 0
      );
    },
  },

  mounted() {
    if (sessionStorage.flash) {
      this.$toasted.show(JSON.parse(sessionStorage.getItem("flash")));
      sessionStorage.clear();
    }
  },

  methods: {
    openTab(name) {
      return (this.activeTab = name);
    },

    isActive(tab) {
      return this.activeTab === tab;
    },

    open(form) {
      EventBus.$emit("open-sidebar", form);
    },

    handleItemsUpdated(items) {
      this.itemsCount = items.data.length;
    },
  },
};
</script>

<style lang="scss" scoped>
.is-disabled {
  color: gainsboro !important;
  pointer-events: none !important;
}
</style>
