<template>
  <div>
    <div
      class="single_liste_projet d-flex align-items-center"
      style="border-radius: 0.5rem !important"
    >
      <div class="couleur_indicateur">
        <div class="cercle_status bg_green"></div>
      </div>
      <h2 class="nom_client">
        <!-- Text-->
        <a :href="editProjectUrl">{{ headingText }}</a>
      </h2>
      <!-- Short description (check if it has short description for now, swap it later)  -->
      <p class="desc_courte" v-if="current_user.role === 'admin'">{{ project.title }}</p>
      <p class="desc_courte" v-else>{{ shortDescription }}</p>
      <div class="date_projet">
        <i class="las la-calendar-alt"></i>
        <p>{{ project.formattedDate }}</p>
      </div>
      <div class="status_projet">
        <div
          v-if="current_user.role === 'admin'"
          id="status_dropdown"
          class="dropdown"
        >
          <button
            class="btn btn-secondary dropdown-toggle"
            type="button"
            id="header_option_afficher"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            {{ projectStatus.short_label }}
            <i class="las la-angle-down"></i>
          </button>
          <div class="dropdown-menu" aria-labelledby="header_option_afficher">
            <a
              class="dropdown-item"
              href="#"
              v-for="status in statuses"
              :class="{ active: isSelected(status) }"
              :style="isSelected(status) ? 'pointer-events: none;' : ''"
              :key="status.key"
              @click="update(status)"
              >{{ status.short_label }}
            </a>
          </div>
        </div>
        <div class="text-gray" v-else>
          {{ projectStatus.short_label }}
        </div>
      </div>
      <div v-if="current_user.role === 'admin'" class="dropdown more_projet">
        <button
          class="btn btn-secondary dropdown-toggle"
          type="button"
          id="header_option_afficher"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <i class="las la-ellipsis-h"></i>
        </button>
        <div class="dropdown-menu" aria-labelledby="header_option_afficher">
          <a class="dropdown-item disable_text" :href="editProjectUrl">Edit</a>
          <a class="dropdown-item disable_text" href="#" @click="destroy"
            >Delete</a
          >
        </div>
      </div>
      <div v-else class="dropdown more_projet">
        <a
          class="btn text-gray"
          style="font-size: 1.75rem"
          type="button"
          id="header_option_afficher"
          aria-haspopup="true"
          aria-expanded="false"
          :href="editProjectUrl"
        >
          <i style="color: #59db00;" class="las la-arrow-circle-right"></i>
        </a>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "SingleProject",

  props: ["data", "statuses", "showProjectUrl"],

  data() {
    return {
      project: this.data,
      projectUrl: `/api/projects/${this.data.id}`,
      editProjectUrl: this.showProjectUrl,
    };
  },

  computed: {
    projectStatus() {
      return this.statuses.filter(
        (status) => status.key === this.project.status
      )[0];
    },

    shortDescription() {
      return this.project.short_description
        ? this.project.short_description
        : this.project.title;
    },

    headingText() {
      switch (current_user.role) {
        case 'admin':
          return this.data.client.name
          break;

        default:
          return this.data.title
          break;
      }
    },
  },

  methods: {
    isSelected(status) {
      return status.key === this.project.status;
    },

    update(status) {
      const url = `${this.projectUrl}/update-status`;
      axios
        .patch(url, { status: status })
        .then((response) => {
          this.$toasted.show(response.data.message);
          return (this.project = response.data.project);
        })
        .catch((error) => {
          console.log(error.response.data.errors);
        });
    },

    destroy() {
      const url = `${this.projectUrl}/delete`;

      this.$swal
        .fire({
          title: "Are you sure?",
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#49a610",
          cancelButtonColor: "#353841",
          confirmButtonText: "Yes, delete it!",
          reverseButtons: true,
        })
        .then((result) => {
          if (result.isConfirmed) {
            axios
              .delete(url)
              .then((response) => {
                this.$emit("deleted", this.data.id);
                this.$toasted.show(response.data.message);
              })
              .catch((error) => {
                console.log(error.response.data.errors);
              });
          }
        });
    },
  },
};
</script>
