<template>
  <div>
    <div v-if="!loaded">
      <div class="mt-5 py-5 bg-white custom-text-input text-center text-xl">
        <loading-spinner></loading-spinner>
      </div>
    </div>
    <div v-if="loaded">
      <header-component
        @filter="handleFilters"
        @quick-search="handleSearch"
      ></header-component>
      <div id="liste_projets" class="container-fluid">
        <div class="row wrap_liste_projet" v-if="projectsExist">
          <div class="col-12" v-for="project in items" :key="project.id">
            <project-list-item
              :data="project"
              @deleted="updateData"
              :statuses="statuses"
              :showProjectUrl="projectUrl(project.id)"
            />
          </div>
        </div>

        <div v-else class="py-5 bg-white custom-text-input text-center text-xl">
          No results found.
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ProjectListItem from "./ProjectListItem";
import LoadingSpinner from "../../Layouts/LoadingSpinner.vue";

export default {
  name: "ProjectsList",

  components: {
    ProjectListItem,
    LoadingSpinner,
  },

  props: {
    getProjectsRoute: {
      type: String,
      default: "/api/projects",
    },
  },

  data() {
    return {
      items: [],
      statuses: null,
      search: "",
      queryString: null,
      loaded: false,
    };
  },

  beforeMount() {
    this.initializeQueryString();
    this.initializeComponent();
  },

  mounted() {
    if (sessionStorage.flash) {
      this.$toasted.show(JSON.parse(sessionStorage.getItem("flash")));
      sessionStorage.clear();
    }
  },

  computed: {
    projectsExist() {
      return this.items.length > 0;
    },
  },

  methods: {
    initializeComponent() {
      this.initializeQueryString();
      this.fetchProjects();
      this.fetchStatuses();
    },

    fetchProjects() {
      let params = this.queryString.toString();

      axios
        .get(`${this.getProjectsRoute}?${params}`)
        .then((response) => {
          return (this.items = response.data);
        })
        .catch((errors) => {
          console.log(errors);
        });
    },

    fetchStatuses() {
      axios.get("/api/statuses").then((response) => {
        this.statuses = response.data.data;
        this.loaded = true;
      });
    },

    updateData(deletedItem) {
      return (this.items = this.items.filter(
        (project) => project.id !== deletedItem
      ));
    },

    initializeQueryString() {
      let params = "?name=asc&month=current";
      return (this.queryString = new URLSearchParams(params));
    },

    projectUrl(projectId) {
      switch (current_user.role) {
        case "admin":
          return `/projects/${projectId}`;
          break;
        case "supplier":
          return `/supplier/projects/${projectId}`;
          break;
        case "client":
          return `/client/projects/${projectId}`;
          break;

        default:
          break;
      }
    },

    handleFilters: function (payload) {
      this.queryString.set(payload.param, payload.value);

      this.fetchProjects();
    },

    handleSearch: _.debounce(
      function (e) {
        this.search = e;
        this.queryString.set("search", e);

        if (this.search === "") {
          this.queryString.delete("search");
        }

        this.fetchProjects();
      },
      75,
      {
        leading: true,
        trailing: true,
      }
    ),
  },
};
</script>
