.graphx-view {
    margin: -3.125rem;
}

.graphx-sidebar {
    width: 385px;
}

.graphx-content {
    flex: 1;
}


.graphx-border-b-3 {
    border-bottom-width: 3px;
}

.flex-shrink-0 {
    flex-shrink: 0 !important;
}
