<template>
  <div>
    <transition name="fade">
      <section
        id="sidebar"
        class="sidebar-container ml-auto right-0"
        v-show="open"
        data-name="sidebar"
      >
        <on-click-outside :do="close">
          <section id="sidebar-menu" class="graphx-sidebar-menu">
            <create-client-form
              v-if="shouldShow('create-client')"
              :initializedFrom="initializedFrom"
            ></create-client-form>
            <new-project-form
              v-if="shouldShow('new-project')"
              :initializedFrom="initializedFrom"
              :parent_project="parent_project"
            ></new-project-form>
            <new-client-contact-form
              @contact-saved="handleContactSaved"
              v-if="shouldShow('new-contact')"
              :client="client"
              :current_division="current_division"
              :role="role"
              :item-key="itemKey"
              :initializedFrom="initializedFrom"
            ></new-client-contact-form>
            <edit-client-contact-form
              @contact-saved="handleContactSaved"
              v-if="shouldShow('edit-contact')"
              :client="client"
              :contact="contact"
            ></edit-client-contact-form>
            <new-supplier-contact-form
              @supplier-contact-saved="handleSupplierContactSaved"
              v-if="shouldShow('new-supplier-contact')"
              :supplier="supplier"
            ></new-supplier-contact-form>
            <edit-supplier-contact-form
              @supplier-contact-saved="handleSupplierContactSaved"
              v-if="shouldShow('edit-supplier-contact')"
              :supplier="supplier"
              :contact="contact"
            ></edit-supplier-contact-form>
            <create-supplier-form
              v-if="shouldShow('create-supplier')"
              :initializedFrom="initializedFrom"
              :item-key="itemKey"
              @created="close"
            ></create-supplier-form>
            <epreuve-refused-form
              v-if="shouldShow('epreuve-refused')"
            ></epreuve-refused-form>
            <new-address-form
              @address-saved="handleSaveAddress"
              v-if="shouldShow('new-address')"
              :initializedFrom="initializedFrom"
              :client="client"
              :address_type_from_tab="address_type"
              :item-key="itemKey"
            ></new-address-form>
            <edit-address-form
              @address-saved="handleSaveAddress"
              v-if="shouldShow('edit-address')"
              :client="client"
              :address="address"
            ></edit-address-form>
            <new-option-form
              v-if="shouldShow('new-option')"
              @option-saved="close()"
              :initializedFrom="initializedFrom"
              :item-key="itemKey"
            ></new-option-form>
            <new-process-form
              v-if="shouldShow('new-process')"
              @process-saved="close()"
            ></new-process-form>
            <new-question-form
              v-if="shouldShow('new-question')"
            ></new-question-form>
            <new-division-form
              @created="handleCreatedDivision"
              v-if="shouldShow('new-division')"
              :client="client"
            ></new-division-form>
            <new-user-form
              @new-user-created="handleCreatedUser"
              v-if="shouldShow('new-user-form')"
              :initializedFrom="initializedFrom"
            ></new-user-form>
            <new-rule-form v-if="shouldShow('new-rule')"></new-rule-form>
            <new-status-form v-if="shouldShow('new-status')"></new-status-form>
          </section>
        </on-click-outside>
      </section>
    </transition>
  </div>
</template>

<script>
import OnClickOutside from "../Layouts/OnClickOutside.vue";
import NewProjectForm from "./Forms/NewProjectForm.vue";
import CreateClientForm from "./Forms/CreateClientForm.vue";
import CreateSupplierForm from "./Forms/CreateSupplierForm.vue";
import NewClientContactForm from "./Forms/NewClientContactForm.vue";
import EpreuveRefusedForm from "./Forms/EpreuveRefusedForm.vue";
import NewAddressForm from "./Forms/NewAddressForm.vue";
import NewOptionForm from "./Forms/NewOptionForm.vue";
import NewQuestionForm from "./Forms/NewQuestionForm.vue";
import NewDivisionForm from "./Forms/NewDivisionForm.vue";
import EditAddressForm from "./Forms/EditAddressForm.vue";
import EditClientContactForm from "./Forms/EditClientContactForm.vue";
import NewSupplierContactForm from "./Forms/NewSupplierContactForm.vue";
import EditSupplierContactForm from "./Forms/EditSupplierContactForm.vue";
import NewUserForm from "./Forms/NewUserForm.vue";
import NewProcessForm from "./Forms/NewProcessForm.vue";
import NewRuleForm from "./Forms/NewRuleForm.vue";
import NewStatusForm from "./Forms/NewStatusForm.vue";
import { EventBus } from "../../event-bus";

export default {
  name: "SidebarContainer",

  components: {
    OnClickOutside,
    NewProjectForm,
    CreateClientForm,
    CreateSupplierForm,
    NewClientContactForm,
    EpreuveRefusedForm,
    NewAddressForm,
    NewOptionForm,
    NewQuestionForm,
    NewDivisionForm,
    EditAddressForm,
    NewSupplierContactForm,
    EditSupplierContactForm,
    EditClientContactForm,
    NewUserForm,
    NewProcessForm,
    NewRuleForm,
    NewStatusForm,
  },

  data() {
    return {
      open: false,
      activeForm: null,
      initializedFrom: "nav",
      current_division: null,
      parent_project: null,
      role: null,
      client: null,
      supplier: null,
      address: null,
      address_type: null,
      contact: null,
      itemKey: null,
    };
  },

  mounted() {
    EventBus.$on("open-sidebar", (payload) => {
      // @TODO Refactor this.
      if (payload.form) {
        this.activeForm = payload.form;
        this.initializedFrom = payload.initializedFrom;

        if (payload.form === "new-option" && this.initializedFrom === "item") {
          this.itemKey = payload.key;
        }

        if (payload.form === "new-address" && this.initializedFrom === "item") {
          this.address_type = payload.address_type;
          this.itemKey = payload.key;
        }

        if (payload.form === "new-contact" && this.initializedFrom === "item") {
          this.current_division = payload.division;
          this.itemKey = payload.key;
        }

        if (payload.form === "new-contact" && this.initializedFrom === "tab") {
          this.current_division = payload.division;
        }

        if (payload.form === "new-project" && this.initializedFrom === "tab") {
          this.parent_project = payload.parent_project;
        }

        if (
          payload.form === "create-supplier" &&
          this.initializedFrom === "item"
        ) {
          this.itemKey = payload.key;
        }

        if (payload.role) {
          this.role = payload.role;
        }

        if (payload.client) {
          this.client = payload.client;
        }

        if (payload.supplier) {
          this.supplier = payload.supplier;
        }

        if (payload.address) {
          this.address = payload.address;
        }

        if (payload.contact) {
          this.contact = payload.contact;
        }
      } else {
        this.activeForm = payload;
      }

      document.getElementById("main-content").classList.add("fixed-important");
      document.getElementById("footer-content").classList.add("hidden");
      return (this.open = true);
    });

    EventBus.$on("created-client", (payload) => {
      this.close();
    });
  },

  methods: {
    close(e) {
      document
        .getElementById("main-content")
        .classList.remove("fixed-important");
      document.getElementById("footer-content").classList.remove("hidden");
      this.activeForm = "";
      this.address = null;
      this.client = null;
      this.initializedFrom = null;
      this.itemKey = null;
      this.current_division = null;
      this.parent_project = null;
      this.address_type = null;
      this.role = null;
      this.contact = null;
      return (this.open = false);
    },

    shouldShow(form) {
      return this.activeForm == form;
    },

    handleCreatedDivision(payload) {
      this.close();
      EventBus.$emit("division-created", payload);
    },

    handleSaveAddress(payload) {
      this.close();
      EventBus.$emit("address-saved", payload);
    },

    handleContactSaved(payload) {
      this.close();
      EventBus.$emit("contact-saved", payload);
    },

    handleSupplierContactSaved(payload) {
      this.close();
      EventBus.$emit("supplier-contact-saved", payload);
    },

    handleCreatedUser(payload) {
      this.close();
    },
  },
};
</script>

<style lang="scss" scoped>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>