<template>
    <default-field :field="field" :errors="errors">
        <template slot="field">
            <multiselect
                v-model="tag"
                label="value"
                :options="items"
                :multiple="true"
                track-by="code"
                :taggable="true"
                :showNoResults="false"
                :tagPlaceholder="tagPlaceholder"
                :placeholder="placeholder"
                :selectLabel="selectLabel"
                :selected="selected"
                :deselectLabel="deselectLabel"
                @tag="addTag"
            >
            </multiselect>
        </template>
    </default-field>
</template>

<script>
    import {FormField, HandlesValidationErrors} from 'laravel-nova'
    import Multiselect from 'vue-multiselect'

    export default {
        mixins: [FormField, HandlesValidationErrors],

        props: ['resourceName', 'resourceId', 'field'],

        components: {
            Multiselect
        },

        data() {
            return {
                tag: [],
                items: [],
            }
        },

        watch: {
            tag() {
                this.handleTagsChange(this.tag);
            }
        },

        mounted() {
            if (this.field.value) {
                this.tag = JSON.parse(this.field.value);
                this.items = JSON.parse(this.field.value);
            }
        },

        computed: {
            placeholder() {
                return this.__('Add quantity');
            },

            selectLabel() {
                return this.__('Press enter to select');
            },

            selected() {
                return this.__('Selected');
            },

            deselectLabel() {
                return this.__('Press enter to remove tag');
            },

            tagPlaceholder() {
                return this.__('Press enter to add tag')
            }
        },


        methods: {
            /*
             * Set the initial, internal value for the field.
             */
            setInitialValue() {
                this.value = this.field.value || ''
            },

            /**
             * Fill the given FormData object with the field's internal value.
             */
            fill(formData) {
                formData.append(this.field.attribute, this.value || '')
            },

            /**
             * Update the field's internal value.
             */
            handleChange(value) {
                this.value = value;
            },

            /**
             * Add a new tag.
             */
            addTag(newTag) {
                const tag = {
                    code: newTag.substring(0, 2) + Math.floor((Math.random() * 10000000)),
                    value: newTag,
                }
                this.items.push(tag)
                this.tag.push(tag)
            },

            /**
             * Update the field's value, when tag changes.
             */
            handleTagsChange(tags) {
                this.value = JSON.stringify(tags);
            }
        },
    }
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
