<template>
  <div class="d-flex align-items-start justify-content-between">
    <div class="col-2 pl-0">{{ data.label }}</div>
    <!-- <input class="checkbox mr-2" type="checkbox" :value="choice.value" v-model="query.value"> {{ choice.label }} -->
    <div class="col-4">
      <div
        v-for="(choice, index) in data.choices"
        :key="index"
        class="form-group form-check d-flex align-items-start mb-0"
      >
        <input
          type="checkbox"
          class="form-check-input custom-check-smaller mt-1"
          :value="choice.value"
          v-model="model"
        />
        <span
          for="optionCheck"
          class="form-check-label ml-1 text-gray-700 font-smaller"
          >{{ choice.label }}</span
        >
      </div>
    </div>
    <div
      class="space-x-2 col-6 d-flex justify-content-between align-items-start"
    >
      <div
        class="d-flex justfy-content-start align-items-center"
        v-if="data.notes"
      >
        <span>Notes: &nbsp;</span>
        <span class="pt-0 text-gray font-light" v-text="data.notes"></span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "CheckboxOption",

  props: {
    data: {
      type: Object,
      default: null,
    },
    value: {
      type: Array,
      default: () => [],
    },
  },

  data() {
    return {
      model: this.value,
    };
  },
};
</script>

<style lang="scss" scoped>
</style>