<template>
  <div>
    <text-option :data="data" v-if="shouldShow('text')" />
    <numeric-option :data="data" v-if="shouldShow('numeric')" />
    <radio-option :data="data" v-if="shouldShow('radio')" />
    <checkbox-option
      :data="data"
      v-model="data.checked"
      v-if="shouldShow('checkbox')"
    />
    <select-option :data="data" v-if="shouldShow('select')" />
  </div>
</template>

<script>
import { EventBus } from "../../../../../../event-bus";
import TextOption from "./TextOption";
import NumericOption from "./NumericOption";
import RadioOption from "./RadioOption";
import CheckboxOption from "./CheckboxOption";
import SelectOption from "./SelectOption";

export default {
  name: "OptionContainer",

  components: {
    TextOption,
    NumericOption,
    RadioOption,
    CheckboxOption,
    SelectOption,
  },

  props: {
    data: {
      type: Object,
      default: null,
    },
  },

  data() {
    return {
      items: [],
    };
  },

  methods: {
    shouldShow(type) {
      return this.data.type == type;
    },
  },
};
</script>