<template>
  <div class="d-flex align-items-center justify-content-between">
    <div class="col-2 pl-0">{{ data.label }}</div>
    <div class="col-4">
      <div
        class="form-group form-check d-flex align-items-center mb-0"
        style="padding-left: 0 !important"
      >
        <span type="text" v-text="data.textValue"></span>
      </div>
    </div>
    <div
      class="space-x-2 col-6 d-flex justify-content-between align-items-center"
    >
      <div
        class="d-flex justfy-content-start align-items-center"
        v-if="data.notes"
      >
        <span>Notes: &nbsp;</span>
        <span class="pt-0 text-gray font-light" v-text="data.notes"></span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "TextOption",

  props: {
    data: {
      type: Object,
      default: null,
    },
  },
};
</script>